[2020-01-13 09:14] sneko opened #10 "Cannot install CRDs (schema issue?)"
Hi @jpkrohling,

When trying to install the first YAML file containing CRD definitions I get this error:
`The CustomResourceDefinition "opentelemetrycollectors.opentelemetry.io" is invalid: spec.validation.openAPIV3Schema: Invalid value: apiextensions.JSONSchemaProps{ID:"", Schema:"", Ref:(*string)(nil), Descripti...`

It says at the end `must only have "properties", "required" or "description" at

[2020-01-13 09:54] jpkrohling commented on #10
You can probably just remove the `validation` node from the CRD, but you might end up facing other compatibility problems down the road.

[2020-01-13 19:35] sneko commented on #10
I decided to upgrade my cluster 👍

Thank you for the answer :)

[2020-01-13 19:35] #10 closed

[2020-02-05 16:06] jpkrohling opened #11 "Update the Operator SDK to 0.15.1"
Looks like there's a new version out there, and we are still on 0.12.0.

[2020-02-12 16:35] objectiser opened #12 "Support `metrics-level/port/prefix` parameters to the collector"
The collector has [three metrics related parameters](https://github.com/open-telemetry/opentelemetry-collector/blob/master/service/telemetry.go#L36-L38) that need to be configurable via the CR.

For example, the deployment should be able to pass the metrics level as detailed:
[code]

[2020-02-17 09:39] #11 closed

[2020-03-04 11:55] jpkrohling opened #14 "Create a service account per CR"
One of the resources that the operator should create for each CR is a service account. This way, admins can grant permissions to specific instances to perform special operations. For instance, an OpenTelemetry Collector might be configured with Prometheus sd_configs, which might ultimately lead the instance to list services.

Similarly, the spec should allow a service account to be specified.

[2020-03-05 11:03] jpkrohling opened #15 "Allow volumes to be specified/mounted"
When a receiver/exporter has TLS configured, it's common to have the certs mounted somewhere. As such, the operator needs to accept volume information and use it as part of the collector's deployment.

[2020-03-06 12:41] #14 closed

[2020-03-09 10:51] #15 closed

[2020-04-15 19:13] damemi opened #18 "Example CRD leads to error in collector pod: "unknown processors type 'queued_retry'""
I ran the default CRD as shown in the main readme:

[code]

and once the pod was available it entered a CrashloopBackoff state, with the following logs:

[code]

I tried removing the processor from the config (because they are optional according to the [collector docs](https://opentelemetry.io/docs/collector/configuration/), which then led to this error:

[code]

Which is odd because there is a pi

[2020-04-15 19:16] damemi commented on #18
Update: I removed the `queued_retry` processor from the otelcol spec, but still see the "must have at least one pipeline" error

[2020-04-15 19:39] damemi commented on #18
Update2: I fixed this by setting `image: quay.io/opentelemetry/opentelemetry-collector:v0.2.0` in the `otelcols/simplest` CRD.

Would it be reasonable to update the default image version the operator uses to `v0.2.0`, or add this `image` field to the example CRD?

[2020-04-16 11:27] objectiser opened #20 "Operand image version not being referenced from the version file"
When reproducing issue #18 found that the operand image version referenced was v0.0.2 - according to the version file it should have been using 0.2.0.

[2020-04-17 09:58] objectiser opened #21 "Service ports need to be derived from OpenTelemetry Collector config"
As discussed in https://github.com/open-telemetry/opentelemetry-operator/pull/19#discussion_r410050992, currently if the Jaeger gRPC endpoint is changed to a different port, this will not be reflected in the created service.

The other issue is, if a custom collector image is used with additional receivers, how will the operator know what ports to expose?

[2020-04-19 18:32] sneko opened #22 "Issue "Not the leader""
Hi,

I migrated my cluster with Velero to a new cluster and it seems since then the operator is unable to do anything. It doesn't recreate deployment for the `OpenTelemetryCollector` resource I create.

I tried to remove the operator deployment and recreate but here are the logs I get:
[code]

Do you have any idea what could cause that?

Thank you,

[2020-04-20 13:49] objectiser commented on #22
Looks like the relevant code is here: https://github.com/operator-framework/operator-sdk/blob/master/pkg/leader/leader.go#L45

Appears that a `ConfigMap` is being used as a lock - so that exists still preventing the new operator from becoming the leader.

[2020-06-11 14:29] jpkrohling opened #23 "Upgrade to operator-sdk 0.19.x"
We are a few versions behind, and one open issue might even get fixed by upgrading (#22).

[2020-06-23 06:38] #21 closed

[2020-06-29 11:30] jpkrohling opened #28 "OTLP receiver to be split by protocol"
Context: https://github.com/open-telemetry/opentelemetry-collector/pull/1223

We recently added support for inferring the ports based on the configuration, and the change above would require changes on that logic as well.

[2020-07-15 13:12] cybervagabond commented on #23
@jpkrohling do you mean to 0.19?

[2020-07-15 14:01] jpkrohling commented on #23
I did mean 0.18, and it was done already (#24). Given that I forgot to close this issue, I'll change the title to track the upgrade to 0.19 :-)

[2020-07-21 12:00] jpkrohling commented on #23
We are currently blocked by https://github.com/kubernetes-sigs/kubebuilder/issues/1404 (unless I can figure out a workaround).

[2020-08-05 01:26] nextrevision opened #30 "Release v0.0.3"
Would love to take advantage of a couple of the newest commits, specifically the port derivation. Is a new release in the works?

[2020-08-17 12:08] jpkrohling commented on #30
Sorry, I missed this request. Sure, I'll tag and release 0.0.3, which is a good idea anyway before the major refactoring coming as part of #31.

[2020-08-17 12:44] jpkrohling commented on #30
v0.2.0 released!

[2020-08-17 12:44] #30 closed

[2020-08-17 12:46] jpkrohling commented on #22
I've seen a few mentions to this logic being fixed due to quite a few bugs. I believe this might be made irrelevant by #23, but I'll keep this here open until we have a confirmation that the upgrade does fix the issue.

[2020-08-17 12:47] jpkrohling commented on #20
This might be fixed in the current master. Using the Operator 0.2.0 brings the operand 0.2.0.

[2020-08-17 13:00] jpkrohling opened #32 "Detect when gRPC TLS is being used by the remote endpoint"
When using Jaeger provisioned by the Jaeger Operator in OpenShift, most of the servers are configured to enable TLS.

When using the OpenTelemetry Operator, the provisioned OpenTelemetry Collector doesn't configure the exporter to talk TLS to the counterpart, causing data to not be transmitted. On the server side, a "TLS handshake" error is shown.

We need to, by default in OpenShift, set 'CAFile'

[2020-08-17 13:03] jpkrohling opened #33 "Auto-detect platform"
As a prerequisite of #32, we need to be able to determine the platform the operator is running in, similar to what we have in the Jaeger Operator.

[2020-08-18 06:15] jpkrohling commented on #20
Sorry, misunderstood the issue. This is probably indeed happening.

[2020-08-19 08:01] jpkrohling opened #34 "Black-box vs. white-box testing"
The Operator SDK (and most other Go projects I've seen) has a white box testing approach by default. Kubebuilder has, apparently, opinions about it and follows a black box approach, using specific test packages (`foo` vs `foo_test`) so that the API can be validated as well. The problem with this is that it requires the subject to have features that are needed only by the tests at first, and potent

[2020-08-19 08:02] jpkrohling commented on #34
cc @objectiser, @kevinearls

[2020-08-19 08:02] #23 closed

[2020-08-19 08:04] jpkrohling opened #35 "Tests for reconcilers"
The reconcilers (`pkg/collector/reconcile`) are currently untested. This issue is to track building the unit tests for them.

[2020-08-19 08:06] jpkrohling opened #36 "Publish container images"
After the migration to kubebuilder, we don't have scripts anymore that publish container images to a repository.

[2020-08-19 08:10] jpkrohling opened #37 "Align operator version with the tooling around it"
We currently get the operator's version based on git tags, which brings a `v` prefix to the version. Some of the tooling around the operator/kubebuilder expects numeric versions, so, we should adjust the `Makefile` to use the appropriate notations.

Example:

[code]

[2020-08-19 09:05] objectiser commented on #34
I think better to stick with white box testing, and only use black box testing approach when that is a specific requirement - to fit in better with go convention, and make it more familiar for contributors.

[2020-08-20 11:49] jpkrohling opened #39 "Allow logger to be configured via CLI"
The kubebuilder bootstrap code comes with a default logger configuration for development purposes, but allows flags to be bound, so that users can configure it. We should be using that.

[2020-08-20 13:27] #39 closed

[2020-08-20 14:00] jpkrohling opened #41 "Update to otelcol 0.10.0"
Besides the bump to the versions.txt, need to take a look at the migration steps.

[2020-08-20 14:18] jpkrohling commented on #22
@sneko, could you please try the operator from master? It has been updated to use kubebuilder, and I believe this problem should have been fixed there.

[2020-08-20 14:19] jpkrohling commented on #20
Master is indeed fixed: I just tried changing the versions.txt to 0.8.0 as part of testing #42 and it did attempt to bring the otel-col 0.8.0.

[2020-08-20 14:19] #20 closed

[2020-08-20 14:21] jpkrohling opened #43 "Use otel/opentelemetry-collector image"
Since a few releases, OpenTelemetry Collector images are available under [`otel/opentelemetry-collector`](https://hub.docker.com/r/otel/opentelemetry-collector). We should switch from quay.io/open-telemetry to this new namespace:

https://github.com/open-telemetry/opentelemetry-operator/blob/0fecbd546060eefc11f132d9e83c353795407e98/internal/config/main.go#L49

[2020-08-20 15:40] #33 closed

[2020-08-20 15:41] #32 closed

[2020-08-25 09:40] jpkrohling opened #45 "Sidecar injection using admission webhooks"
Kubebuilder provides a facility to provision certs and install webhooks. We can use that when doing the sidecar injection, instead of the approach followed by the jaeger-operator.

[2020-08-26 09:16] jpkrohling opened #46 "Validating/Defaulter webhooks"
As preparation for #45, it would be good to have a simpler, noop Validating/Defaulter webhook. This is useful to test the webhook setup and configuration, and will provide the skeleton for allowing complex CR validation in the future.

[2020-08-26 14:31] #46 closed

[2020-08-28 14:20] jpkrohling opened #48 "Set default deployment mode via webhook"
Now that we have a Defaulter webhook, we can use it to set the default values to the CR. This way, we can simplify the code in places like the `deployment` reconciler:

https://github.com/open-telemetry/opentelemetry-operator/blob/696719931ea60a54065ffa16036d5a0d9aa846db/pkg/collector/reconcile/deployment.go#L35-L37

[2020-08-28 14:31] jpkrohling opened #50 "Unify naming in specific package"
In preparation for #45, we should unify the code that determines the names of objects into its own package.

[2020-08-28 15:01] #48 closed

[2020-08-31 09:43] #50 closed

[2020-09-01 15:44] #45 closed

[2020-09-15 08:10] #43 closed

[2020-09-17 04:55] Sam8301-arch commented on #22
I am having same issue while restoring keda from velero and getting same message.
 Does someone fix that?

[2020-09-17 05:02] Sam8301-arch commented on #22
Logs first install:-
{"level":"info","ts":1600305090.2607338,"logger":"cmd","msg":"KEDA Version: 1.5.0"}
{"level":"info","ts":1600305090.2607734,"logger":"cmd","msg":"Go Version: go1.14.4"}
{"level":"info","ts":1600305090.2607784,"logger":"cmd","msg":"Go OS/Arch: linux"}
{"level":"info","ts":1600305090.2607815,"logger":"cmd","msg":"Version of operator-sdk: v0.11.0"}
{"level":"info","ts":1600305090

[2020-09-17 07:13] jpkrohling commented on #22
What's Keda? What's Velero? Are you able to reproduce with the latest from master?

[2020-09-18 01:47] Sam8301-arch commented on #22
Velero is for taking backup/restore k8's clusters. KEDA is for scaling up k8's. I am having this issue while restoring KEDA from Velero similar to @sneko(telemetry/velero) so thought to share my issues on this thread however I have also share same on KEDA and velero githubs.

[2020-09-18 07:00] jpkrohling commented on #22
If you can reproduce this in the latest version from master, let us know. You might have found an edge-case problem that we might need to address.

[2020-09-22 11:42] jpkrohling opened #54 "Change calls to Update() to Patch()"
Instead of doing `Update()` calls for the changes we detect, we should attempt to use `Patch()`, to reduce the number of failures caused by stale objects.

From:
[code]

To:
[code]

[2020-09-22 14:21] vigneshashokan commented on #54
Can I take a stab at this issue if it is still open?

[2020-09-22 14:54] jpkrohling commented on #54
It is still open, just give me a few hours to another PR in, otherwise you'll likely get merge conflicts :-)

[2020-09-22 15:32] jpkrohling opened #56 "Deletion of resources shouldn't fail if the webhook server isn't available"
When the operator isn't up and running, removing resources will fail with:

[code]

[2020-09-23 09:07] jpkrohling opened #57 "Create webhook to trim messages from the status object"
As part of #55, we added a new array of messages to the Status object. For long lived instances, this might potentially become a big list of messages, so, we might want to consider trimming it to the last N messages.

Questions:

- [ ] should we add a timestamp to the message?
- [ ] should we remove by date, or by number of messages?
- [ ] what would be a good age/number to keep?
- [ ] should we a

[2020-09-23 10:04] objectiser commented on #57
Rather than webhook, can't we just trim at the point a new message is added (i.e. have a common function that appends the messages to the status object and cleans up when necessary)? Think restricting by number may be adequate initially, as it shouldn't happen that often - although I guess it will depend upon how many messages are reported per version upgrade. May be start with 20?

[2020-09-24 08:31] jpkrohling opened #58 "Rethink what "Replicas" mean in the status object"
We might want to think again what "replicas" mean, especially when talking about `mode: sidecar`. Also, do we count all currently running replicas, or the desired ones? Should we have multiple values, like desired/current that the Deployment has?

[2020-09-24 08:38] jpkrohling commented on #54
The PR is now merged. It's your turn, @vigneshashokan!

[2020-09-24 08:56] objectiser commented on #58
As replicas could be dynamic, would it be better to just expose as metric instead of via status?

[2020-09-24 09:04] jpkrohling commented on #58
For an operations person using `kubectl`, it might be easier to expose the number of replicas on `kubectl get otelcols`. Nothing prevents us from adding that as a metrics as well, though.

[2020-09-24 09:12] objectiser commented on #58
Guess so - although how often would the "current replicas" be updated. Desired count is more stable so easer to include.

[2020-09-24 09:41] objectiser opened #60 "Enable opentelemetry collector image to be supplied to operator as a CLI flag"
It is possible to build custom opentelemetry collectors that contain a specific subset of receivers, processors, exporters, etc that are of interest to a user.

Although this image can be specified as part of a CR - it may be better to hide that level of detail from the CR author and instead enable the operator to be configured to know the specific collector image to use, e.g. defined via a CLI fl

[2020-09-24 09:56] jpkrohling commented on #58
Current replicas might have a high variance in case of `mode: sidecar`, if we are to count them, as it would basically reflect the number of pods that include the sidecar.

[2020-09-24 10:04] objectiser commented on #58
Also when using horizontal pod autoscaling.

[2020-09-28 12:59] jpkrohling commented on #41
Closed by #55

[2020-09-28 12:59] #41 closed

[2020-09-28 12:59] jpkrohling opened #66 "Update to OpenTelemetry v0.11.0"

[2020-09-28 13:59] #66 closed

[2020-09-28 14:06] jpkrohling commented on #66
No changes needed: https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.11.0

[2020-09-28 14:42] jpkrohling opened #68 "Build a release script"
From a new `release/v.*` tag, the release script should:

1. build the binaries
1. build the container images
1. create the github release
1. push the images

[2020-09-29 15:27] #68 closed

[2020-09-29 19:57] sneko commented on #22
@jpkrohling , sorry for the low reactvity 👎

Just taking a look at it, I wrote some notes months ago about how to install, it was basic:
[code]

But now, by reading the README.md I'm not even sure what's need to be done to deploy the operator (and previous links are no longer existing).

Is there anything specific that is straight forward? Or maybe I'm too tired to see the right section ^^

Thank

[2020-09-30 07:44] jpkrohling commented on #22
Right, I need to work on that readme file to clarify this.

Run locally means that the operator itself will be running locally, connecting to a Kubernetes cluster via the currently available kubeconfig (ie, whatever `kubectl` is configured to use). That's `make install run`. This does not create a `Deployment` with the operator, and having the webhooks to work here is tricky.

When you run `make m

[2020-09-30 09:26] jpkrohling opened #70 "Bump to Operator SDK 1.2.0"

[2020-09-30 09:26] jpkrohling opened #71 "Create a tools.go"
Create a tools.go with the imports for the tools we need to build the project, such as operator-sdk, kustomize, controller-gen, ...

[2020-09-30 18:55] ibraimgm commented on #71
Can I try this one? Is there a specific list of tools somewhere or should I do it based on the `Makefile` contents?

[2020-10-01 08:13] jpkrohling commented on #71
It's yours! I did give it a try yesterday but went into a dependency hell. If you can crack this one, a PR would be welcome! If you think it's not worth pursuing it, it's fine to just get all the tools to be installed via make targets, like `kustomize` right now.

The main idea behind this task is to install the tools we need before running the tasks that use them.

It's based on the Makefile, but

[2020-10-01 14:21] ocervell opened #77 "Add support for "distributions""
Currently, we cannot deploy `opentelemetry-collector-contrib` using this operator because although the `image` field can be configured to `opentelemetry-collector-contrib:<VERSION>`, the container command name is different than `opentelemetry-collector`.

Here is a sample deployment that we should be able to support with the operator:

[code]

We could add a field in the CRD to support a configura

[2020-10-01 15:34] naivcit commented on #77
Can I take this up ?

[2020-10-01 19:07] jpkrohling commented on #77
I thought about this a bit more, and I think it would be better to create a new type, `OpenTelemetryCollectorDistribution`, like this:

[code]

We can then resolve which distribution to use based on:

1. explicit mention in the `OpenTelemetryCollector` CR (new fields)
1. namespace annotation
1. existence of a single CR in the namespace

When none of them exists, we fallback to the core distributio

[2020-10-02 08:24] objectiser commented on #77
@jpkrohling like the idea of the new type - it could avoid the complexity in the OTCollector CR.

Not sure whether namespace annotation is appropriate though.

[2020-10-02 09:12] jpkrohling commented on #77
What do you think, @naivcit? Do you want to try it out?

[2020-10-02 09:34] ziksha-tech commented on #77
Hey @jpkrohling although  I might need some time to wrap my head around it , since I am new here , but would definitely love to take a stab at it

[2020-10-02 09:36] naivcit commented on #77
Hey @jpkrohling Sure, though I might need some time to wrap my head around it since I am new here , but would definitely love to take a dig at this

[2020-10-02 09:40] jpkrohling commented on #77
I'd recommend to start by reading the Operator SDK tutorial: https://sdk.operatorframework.io/docs/building-operators/golang/ . The new CRD can be created with the instructions from "Create an API".

[2020-10-04 01:44] ibraimgm commented on #71
Ok, I did manage to make `ginkgo` and `controller-gen` work on `tools.go`... but nothing else, really.

`kustomize`, AFAIK is currently **impossible** to add to `tools.go` simply beacause I cannot import  a `main`  package and all other packages of this command are `internal`.

I was unable to build `operator-sdk`. Tried with version `0.19.0` and had a lot of trouble with dependencies. We might ha

[2020-10-05 08:03] jpkrohling commented on #71
I think I'd prefer the `tools` target instead of #79. I can see now why there are no `tools.go` in the scaffolding created by `kubebuilder` :-) My biggest concern is that we'll eventually get inconsistent versions between the `Makefile` and `go.mod`.

Any specific reason? We don't have any topics (and we probably should), and this isn't required by Hacktoberfest rules. I typically add labels to is

[2020-10-05 12:00] jpkrohling commented on #36
Released images are now being published, but not the `latest` (or `master`).

[2020-10-08 15:24] jpkrohling opened #80 "Update to collector v0.12.0"
The collector v0.12.0 is being released today. This issue is to track the update to this version, including the upgrade procedure based on the changelog.

[2020-10-12 10:17] #80 closed

[2020-10-13 09:50] jpkrohling opened #86 "Testing the issue-labeler"
This issue should be labeled automatically.

[2020-10-13 09:51] jpkrohling commented on #86
Failed: https://github.com/open-telemetry/opentelemetry-operator/runs/1246881987?check_suite_focus=true

[2020-10-13 11:33] #86 closed

[2020-10-13 11:33] jpkrohling opened #88 "Testing the issue-labeler, part 2"
Same as #86

[2020-10-13 12:12] #88 closed

[2020-10-13 12:12] jpkrohling opened #90 "Testing the issue-labeler, part 3"
Same as #86

[2020-10-13 12:13] jpkrohling commented on #90
Works!

[2020-10-13 12:13] #90 closed

[2020-10-14 00:09] ibraimgm commented on #71
Take a look at #91. I added the missing installation for `operator-sdk` (sadly, a simple `go get` is not enought) and the `tools` target, which simply lists the required tools.

About the hacktoberfest thing, [they changed the rules](https://hacktoberfest.digitalocean.com/hacktoberfest-update) to reduce spam. Now you need to either put `hacktoberfest` as a topic on the repo or add the `hacktoberfe

[2020-10-14 02:46] treasurechristain commented on #54
Hi @jpkrohling
I'm Amadikwa Joy N, an outreachy applicant

Please is this issue still open?
I would like to work on it.

If I get the instruction very well, you want us to change calls from Update to Patch?

[2020-10-14 02:51] treasurechristain commented on #34
Please, what are we expected to do on this issue?

[2020-10-14 07:56] jpkrohling commented on #71
I just added the label to the PR. Thanks for the info!

[2020-10-14 08:00] jpkrohling commented on #54
It's yours, @treasurechristain. There's an example in the issue description on how to convert those calls. Here's a list of files to be changed:

pkg/collector/reconcile/service.go
pkg/collector/reconcile/deployment.go
pkg/collector/reconcile/daemonset.go
pkg/collector/reconcile/serviceaccount.go
pkg/collector/reconcile/configmap.go

[2020-10-14 08:02] jpkrohling commented on #34
@treasurechristain this is only a discussion on what we should prefer for the future, there's no specific outcome for this yet.

[2020-10-14 11:37] treasurechristain commented on #54
@jpkrohling what I'm to do is just to change it

from.
if err := params.Client.Update(ctx, updated); err != nil {
			return fmt.Errorf("failed to apply changes: %w", err)
		}

To
patch := client.MergeFrom(&params.Instance)
	if err := params.Client.Patch(ctx, &changed, patch); err != nil {
		return fmt.Errorf("failed to apply changes: %w", err)
	}

Hope I won't add anything else on it?

[2020-10-14 12:22] jpkrohling commented on #54
That's pretty much it. You should also test it, to make sure it's actually working. You can either run the instructions from the readme to install a CR and later on update it (which should trigger the code that you are changing), or you can try to add a new test for this case if there isn't one already.

[2020-10-15 18:11] treasurechristain commented on #54
Hi @jpkrohling  should I also replace this side of the code that have 'update' as variable ?
![serviceupdate](https://user-images.githubusercontent.com/20610726/96169559-36ecff80-0f1a-11eb-890e-bf9f2f6c0e27.PNG)

[2020-10-15 18:25] treasurechristain commented on #54
Could this be the modification you are expecting?
![serviceupdate1](https://user-images.githubusercontent.com/20610726/96170902-1cb42100-0f1c-11eb-9814-56b459c9f715.PNG)

[2020-10-15 19:34] treasurechristain commented on #54
@jpkrohling I just did a pull request now, Please check and confirm.

Outreachy Applicant

Thanks, Amadikwa Joy N.

[2020-10-15 19:46] jpkrohling commented on #54
No, that part is fine.

I'm out for a couple of days, but will review it next week. Thanks for the PR!

[2020-10-15 20:04] treasurechristain commented on #54
Ok @jpkrohling

I ran this code

	patch := client.MergeFrom(&params.Instance)
	if err := params.Client.Patch(ctx, &changed, patch); err != nil {
		return fmt.Errorf("failed to apply changes: %w", err)
	}

but I couldn't pass the unit test because it was saying 'changed; not defined
![unittesterror](https://user-images.githubusercontent.com/20610726/96180098-d5349180-0f29-11eb-93dd-22db183a1716.PNG

[2020-10-15 20:06] treasurechristain commented on #54
Mentor @jpkrohling Please is there anyother project i will be working on till you come back next week?

[2020-10-16 07:25] jpkrohling commented on #35
@treasurechristain, would you like to give this one a try?

[2020-10-17 02:09] treasurechristain commented on #35
OK, let me try it out

[2020-10-19 18:19] jpkrohling opened #93 "Update to collector v0.13.0"
The collector v0.13.0 is being released today. This issue is to track the update to this version, including the upgrade procedure based on the changelog.

[2020-10-20 19:18] #54 closed

[2020-10-20 20:49] treasurechristain commented on #34
@jpkrohling  Yes, I go with the white box testing because the need to test the integral path of the system/app is very necessary. It will give us the insight of how the system works and the interior components of the system, thereby w=you will be able to dictate bugs/error easily.

But adopt black box testing when a specific evaluation is needed.

[2020-10-20 20:55] treasurechristain commented on #35
@jpkrohling please what are my expected to do here.

[2020-10-21 08:27] jpkrohling commented on #35
We have a package that has no test coverage at all:

https://github.com/open-telemetry/opentelemetry-operator/blob/master/pkg/collector/reconcile/

This task here is about creating tests for the code in that package. For instance, for `pkg/collector/reconcile/configmap.go`, we'll need to:

1. test that `desiredConfigMap()` returns a config map with a `collector.yaml` entry in it (you can/should al

[2020-10-21 14:50] CyberHippo opened #100 "Cannot create Collector : Webhook deadline exceeded"
Hi,

I cannot create the `simplest` OpenTelemetryCollector. I get the following error when I try to create it from STDIN:

[code]
The Opentelemetry Operator Controller Manager is up and running in the namespace `opentelemetry-operator-system`:
[code]
And the logs of both containers (`manager` and  `kube-rbac-proxy`) do not show any error.

I installed the required resources using:
[code]

Is there

[2020-10-21 14:59] jpkrohling commented on #100
Do you have the `cert-manager` installed?

[2020-10-21 15:40] CyberHippo commented on #100
Hi @jpkrohling,

Yes it is installed and running.

[code]

Here are some logs from the cert-manager:

[code]

[2020-10-22 07:22] jpkrohling commented on #100
Could you try killing the pod? Is it possible that the operator deployment started before the cert-manager was ready? Are you able to consistently reproduce in `minikube`? I just tried it out, and it seems to work for me:

[code]

[2020-10-22 09:28] #93 closed

[2020-10-22 11:51] jpkrohling commented on #77
@naivcit are you still interested in this one?

[2020-10-22 12:56] CyberHippo commented on #100
Hi @jpkrohling,

I also tried to reproduce it on minikube and everything worked fine.
I am closing this issue until I have time for further investigation.

Thank you for your quick input !

[2020-10-22 16:35] naivcit commented on #77
Hey @jpkrohling ya , sorry there's been some health issues on my side , will work on this this weekend

[2020-10-24 10:45] treasurechristain commented on #35
I'm currently working on it. I will notify you when i'm done

[2020-10-29 10:39] jpkrohling opened #104 "godoc for packages"
Context: https://github.com/open-telemetry/opentelemetry-operator/pull/102#discussion_r514140707

This ticket is to convert the doc in written as part of that PR into godoc, changing the CONTRIBUTING.md to point users to a webpage with the doc (like: https://godoc.org/github.com/open-telemetry/opentelemetry-operator)

[2020-10-31 06:49] IanvsPoplicola commented on #104
Hi there! I've made a commit for this issue; please let me know if there's anything that needs to be updated, e.g. the style/content/wording 🙂

[2020-11-04 13:43] jpkrohling commented on #60
Apparently, this is implemented already with the flag `otelcol-image`:

[code]

[2020-11-04 13:59] objectiser commented on #60
@jpkrohling Yes that is perfect.

[2020-11-04 13:59] #60 closed

[2020-11-06 08:42] jpkrohling opened #111 "Update to collector v0.14.0"
The collector v0.14.0 was being released yesterday. This issue is to track the update to this version, including the upgrade procedure based on the changelog.

[2020-11-09 15:32] #111 closed

[2020-11-10 09:11] jpkrohling commented on #70
Blocked by https://github.com/operator-framework/operator-lifecycle-manager/issues/1839

[2020-11-10 11:51] jpkrohling commented on #77
@ocervell, I'm working on this right now, and I noticed that we don't actually specify the command for the container: we rely on whatever the `ENTRYPOINT` for the container is, which does seem correct for the contrib distribution:

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/e1a9ff10219bdf53cd51eb35fa1ba6268114037d/cmd/otelcontribcol/Dockerfile#L8

Could you please share

[2020-11-10 13:49] jpkrohling opened #113 "Move back to plain go tests"
With the move to kubebuilder, the tests we had in the old version of the operator were converted to ginkgo, as proposed by kubebuilder.

However, this move didn't make things better, making it actually worse in a few scenarios, like debugging or running individual tests.

This task is to convert the tests back to the plain go style.

[2020-11-11 13:54] ekarlso opened #114 "Wrong image repo path in published manifests"
latest v0.14.0 is published with
[code]

This is wrong and leads to failure.

[2020-11-11 14:03] jpkrohling commented on #114
That does look wrong in the latest version. The previous version was still correct:

        image: quay.io/opentelemetry/opentelemetry-operator:0.13.0

I think it might be related to this PR: https://github.com/open-telemetry/opentelemetry-operator/pull/105

Would you like to try to fix it?

[2020-11-11 14:22] ekarlso opened #115 "Error in operator logs when OTEL Collector CR instance is managed by Flux || GitOps"
It might seem that the operator is trying to do some update to the DS labels but doesnt copy the flux label down when creating the DS.

[code]

[2020-11-11 15:37] jpkrohling commented on #115
Please, provide your CR, as well as details about the other operator that is intercepting the `DaemonSet`/`Deployment` and adding the `fluxcd` labels.

[2020-11-13 13:57] jpkrohling opened #116 "Refresh go proxy module information on release"
When releasing the opentelemetry-operator, we might want to make an HTTP request to the Go module proxy, so that it knows about the new version. This should then cause the pkg.go.dev website to refresh the Godoc for this operator.

This is the URL that we should call for new releases: https://proxy.golang.org/github.com/open-telemetry/opentelemetry-operator/@v/v0.14.0.info , replacing `0.14.0` wit

[2020-11-16 21:48] ovidiubuligan commented on #77
@jpkrohling  do you know if there will be a `otel-collector-contrib` docker image alongside the binaries ? Since the binaries are already ``. (I need the azure exporter)

[2020-11-17 08:00] ovidiubuligan commented on #77
It looks looks there is an image ; https://hub.docker.com/r/otel/opentelemetry-collector-contrib

[2020-11-18 04:33] airhorns commented on #114
Would just like to note that I ran into this too -- not at all familiar with this repo's build scripts but I can take a stab at a fix! Editing the published manifest back to `quay.io/opentelemetry/opentelemetry-operator:0.14.0` fixed the container pull issue for me.

[2020-11-18 20:40] jpkrohling commented on #114
I'm out this week, so, I can't look into this until probably a couple of weeks. Your help would be highly appreciated, @airhorns!

[2020-11-23 10:02] jpkrohling opened #125 "Update to collector v0.15.0"
Same as #111, but for 0.15.0. Changelog: https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.15.0

[2020-11-24 13:56] jpkrohling commented on #113
Done.

[2020-11-24 13:56] #113 closed

[2020-11-24 14:10] jpkrohling opened #128 "Sync list of receivers"
The operator knows about a few receivers, but I'm not sure this list is up to date:
https://github.com/open-telemetry/opentelemetry-operator/tree/master/pkg/collector/parser

This ticket is to sync this list.

Current delta:

- [ ] awscontainermetrics
- [ ] awsxray
- [ ] dockerstats
- [ ] jmx
- [ ] k8scluster
- [ ] kubeletstats
- [ ] memcached
- [ ] nginx
- [ ] prometheusexec
- [ ] recever
- [ ] r

[2020-12-01 11:35] ocervell commented on #77
@jpkrohling Sure, but if we want to specify custom parameters, we have to input `command` as well, right ? Or are you saying that if we leave `command` empty, the command name will automatically be inferred from the ENTRYPOINT, hence `otelcontribcol` ?

[2020-12-01 12:54] jpkrohling commented on #77
You'll have to specify the args, not the command. What kind of parameters are you interested in overriding? I think I might need to add this to the #129, but I wanted to understand your use case first.

[2020-12-02 09:14] jpkrohling opened #134 "Update to collector v0.16.0"
Same as #125, but for 0.16.0. Changelog: https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.16.0

[2020-12-02 09:18] jpkrohling commented on #125
55680 during transition period (#2104).

For this change, we'll need to change the collector's service to expose the port 4317 in addition to 55680. The service port 55680 should send traffic to the remote port 4317, so that the deployment's port can be removed in the future without breaking existing users of the service.

[2020-12-02 09:19] jpkrohling commented on #134
55680 during transition period (#2104).

For this change, we'll need to change the collector's service to expose the port 4317 in addition to 55680. The service port 55680 should send traffic to the remote port 4317, so that the deployment's port can be removed in the future without breaking existing users of the service.

[2020-12-02 10:43] #114 closed

[2020-12-03 16:28] #125 closed

[2020-12-04 12:27] #134 closed

[2020-12-16 08:26] jpkrohling commented on #36
Fixed by #138

[2020-12-16 08:26] #36 closed

[2020-12-16 09:50] jpkrohling opened #142 "Update to collector v0.17.0"
Same as #134, but for 0.17.0. Changelog: https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.17.0

[2020-12-16 09:52] jpkrohling opened #143 "Change baseline branch to main"
s/master/main

[2020-12-17 09:11] jpkrohling opened #147 "Adjust container tags"
After #138, we started publishing sha tags in addition to branch/tag specific image tags. We want to revert this. Besides, the tag for the release is including the `v` prefix, when we need a tag without.

[2020-12-17 09:23] #147 closed

[2020-12-17 09:33] jpkrohling opened #149 "cannot get resource "leases" in API group "coordination.k8s.io""
Some recent update has introduced the following failure, reproducible by installing the operator v0.17.0 from the quickstart instructions:

[code]

[2020-12-17 09:50] jpkrohling opened #150 "Build args not being used correctly in the container images"
The change in the way the containers are built caused the build-args to not work anymore, affecting 0.17.0:

[code]

[2020-12-17 10:10] #149 closed

[2020-12-17 11:15] #150 closed

[2020-12-20 19:29] cemo commented on #77
What is the proper way to use "otel/opentelemetry-collector-contrib" currently? Is there a way with opentelemetry-operator?

[2020-12-20 20:47] jpkrohling commented on #77
Yes, you should be able to use it by just overriding the image in the CR.

[2020-12-21 17:50] cemo commented on #60
@jpkrohling How can I pass loglevel parameters to operator?

[2020-12-28 15:20] jpkrohling commented on #60
In the operator.yaml, set the args for the container using the flags from the previous comment ("--zap-log-level" for instance)

[2021-01-13 15:03] jpkrohling commented on #142
Closed via #144

[2021-01-13 15:03] #142 closed

[2021-01-13 15:03] jpkrohling opened #160 "Update to collector v0.18.0"
Same as #142, but for 0.18.0. Changelog: https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.18.0

[2021-01-22 08:12] jpkrohling opened #168 "Build broken due to bad controller-runtime dependency"
The build is currently broken since the automatic update to the controlller-runtime v0.8.0. The automatic merge still wasn't taking the E2E tests into consideration, which made this slip through.

[2021-01-22 08:27] #168 closed

[2021-01-22 23:22] gramidt opened #170 "Latest release (0.18.0) points to wrong image (local/opentelemetry-operator:e2e)"
The latest 0.18.0 release is pointing to the wrong image. Expectation is that it points to `quay.io/opentelemetry/opentelemetry-operator`.

[code]

[2021-01-22 23:22] gramidt commented on #170
@jpkrohling - I'll try to dig in and determine what may have went wrong with the release process.

[2021-01-23 04:06] gramidt commented on #128
I'll take this @jpkrohling

[2021-01-23 14:19] jpkrohling commented on #170
This happens because the e2e step will override the image to use, here:
https://github.com/open-telemetry/opentelemetry-operator/blob/e23224ee92ac86d9b31d70dc580a25c1883d2d9d/Makefile#L105

The target `set-image-controller` will then change the kustomize file here:
https://github.com/open-telemetry/opentelemetry-operator/blob/e23224ee92ac86d9b31d70dc580a25c1883d2d9d/Makefile#L68

On previous versi

[2021-01-23 16:24] gramidt commented on #170
@jpkrohling - I apologize, but may be misunderstanding you. I believe the issue stems from `set-test-image-vars` target is incorrect. First `IMG` is not indented with a tab, thus causing `IMG` to always be set to "local/opentelemetry-operator:e2e" for the entire Makefile. Second variable assignments in targets do not affect other targets by default. To get this to work as is without additional res

[2021-01-23 16:59] gramidt commented on #128
## The current deltas:

### collector

Currently update to date. May need to compare settings to make sure everything is still following convention.

### collector-contrib

- awscontainermetrics
- awsxray
- dockerstats
- jmx
- k8scluster
- kubeletstats
- memcached
- nginx
- prometheusexec
- recever
- redis
- simpleprometheus
- splunk
- stanza

[2021-01-23 17:04] gramidt commented on #128
@jpkrohling - What are your thoughts about the "collector-contrib" receivers? Was your plan to rely on `receiver_generic.go` for deltas?

[2021-01-23 17:29] gramidt commented on #56
@jpkrohling - One potential thought is to split the "validating-webhook-configuration" into two validating webhooks. The second one would be for the "DELETE" and would have `failurePolicy: Ignore`. This would allow deletion of the resource, but would leave the cleanup of the underlying resources to the user (including removing finalizers when applicable). Thoughts?

[2021-01-23 17:37] gramidt commented on #35
@amadikwajoyn - Any progress on this?

[2021-01-23 20:16] jpkrohling commented on #170
Sounds good. Would be good to confirm the cause of the issue by simulating the release workflow locally. If you can confirm that, and confirm that the fix works, I'll merge the PR and release 0.18.1

[2021-01-24 11:03] mneverov commented on #37
hi, i'd like to work on this

[2021-01-24 16:15] gramidt commented on #170
For future reference: https://github.com/open-telemetry/opentelemetry-operator/pull/171#discussion_r563197209

[2021-01-25 08:18] #170 closed

[2021-01-25 14:05] #37 closed

[2021-01-25 14:26] jpkrohling commented on #128
No, the generic is just an implementation detail, as most receivers can be managed in the same way. Basically, if the receiver has an `endpoint` property that accepts a `host:port` value, it can make use of the generic adapter.

[2021-01-25 14:28] jpkrohling commented on #128
Perhaps it was implicit in the comment above, but for now, all we care about is the `endpoint` property for the receiver, as we'll use this to automatically add the needed ports to the `Service`. So, there's no need to sync the other properties in each receiver.

[2021-01-25 15:14] jpkrohling commented on #56
Not sure we do anything at all in our code. When a CR is deleted, all the resources that are owned by this CR are deleted automatically. In our reconciliation function, we'll see the delete event but won't find the CR, in which case we'll just return. So, I think your idea would work nicely.

https://github.com/open-telemetry/opentelemetry-operator/blob/543ff618e40cc035648bf3569a522d3559562034/con

[2021-01-25 15:55] gramidt commented on #128
Perfect! That's exactly what I was thinking. I'll start tackling the deltas 1-by-1 with individual PRs for each. Should we also split this into multiple issues, @jpkrohling?

[2021-01-25 16:33] gramidt commented on #56
Great! This will be straightforward to implement then, @jpkrohling. This is now in my backlog to tackle.

[2021-01-26 08:50] jpkrohling commented on #128
This issue here has the list of receivers already, if we reference this issue in all individual PRs, it should be fine.

[2021-01-26 15:40] gramidt commented on #128
@jpkrohling - Could you add me as an assignee, so I can more easily track this work?

[2021-01-26 15:44] jpkrohling commented on #128
Done

[2021-01-26 15:49] gramidt commented on #128
Thank you!

[2021-01-27 08:28] jpkrohling commented on #160
Done via #169

[2021-01-27 08:28] #160 closed

[2021-01-27 08:29] jpkrohling opened #176 "Update to collector v0.19.0"
Same as #160, but for 0.19.0. Changelog: https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.19.0

[2021-01-27 08:30] jpkrohling commented on #104
This has been done as part of #109

[2021-01-27 08:30] #104 closed

[2021-01-27 08:31] jpkrohling commented on #70
This has been done already.

[2021-01-27 08:31] #70 closed

[2021-01-27 08:32] jpkrohling opened #177 "Bump to Operator SDK 1.3.0"
I think this is the only place referencing the operator-sdk version: https://github.com/open-telemetry/opentelemetry-operator/blob/b70d1e7f45638a0a3ab06b51a26e56437faeffeb/.github/workflows/release.yaml#L21

[2021-01-27 08:41] jpkrohling opened #178 "Incorrect conversion between integer types"
https://github.com/open-telemetry/opentelemetry-operator/blob/b70d1e7f45638a0a3ab06b51a26e56437faeffeb/pkg/collector/parser/receiver.go#L122-L122

The code mentioned above triggers a CodeQL security warning, as the boundaries aren't being checked here. This isn't a bit issue for us in this specific case, but we should take care of it anyway. Suggestions from CodeQL:

[code]

[2021-01-28 01:10] bogdandrutu opened #181 "Please follow the opentelemetry community rules for approvers and maintainers"
1. Please provide the list of maintainers and approvers in the README.md
2. Consider to remove anyone who is not a member of the opentelemetry org from the maintainers and approvers (https://github.com/objectiser). Alternative apply for org member status.
3. Ask a TC member to create approver/maintainers teams and set the right permissions. Right now 3 people individually have admin rights

/cc @o

[2021-01-28 01:12] bogdandrutu opened #182 "Consider to change default branch to main"
See https://github.com/open-telemetry/community/issues/402

[2021-01-28 07:30] jpkrohling commented on #181
I just removed @objectiser and @pavolloffay.

@open-telemetry/technical-committee, would one of you please create the following roles?

- approver (@ open-telemetry/collector-approvers)
- maintainer (@jpkrohling, @ open-telemetry/collector-maintainers)

For context: when I suggested this repository, I suggested a SIG Kubernetes to be created to manage this here. While some people thought it would

[2021-01-28 10:24] #176 closed

[2021-01-28 11:38] arminru commented on #181
@jpkrohling @open-telemetry/technical-committee I added both groups:
https://github.com/orgs/open-telemetry/teams/operator-approvers
https://github.com/orgs/open-telemetry/teams/operator-maintainers

Currently they're set up as:

* collector-approvers
  * collector-maintainers <- Juraci
* collector-triagers
  * collector-approvers
    * collector-maintainers

I don't think we can just put them in

[2021-01-28 13:55] jpkrohling commented on #181
Sounds good, ideally the lists would evolve independently.

[2021-01-28 14:04] jpkrohling commented on #182
Duplicate of #143

[2021-01-28 14:04] #182 closed

[2021-01-28 16:10] dyladan commented on #143
commenting so this issue is linked https://github.com/open-telemetry/community/issues/402

[2021-01-28 17:49] bogdandrutu commented on #181
@jpkrohling I made a mistake because the repo was not setup correctly to require PRs, and I created a commit directly on the webpage and default was to merge it directly in the master not to create PR (because branch was not requiring PRs, I fixed that), I am so sorry (my fault).

Can you double check that the last commit is ok, and send a fix or revert if that is not the case.

[2021-01-28 20:00] jpkrohling commented on #181
Looks fine, don't worry. Thanks for adding the codeowners!

[2021-01-28 20:08] #181 closed

[2021-01-29 19:28] jpkrohling commented on #143
Done as part of #185

[2021-01-29 19:28] #143 closed

[2021-01-31 20:16] markfink-splunk opened #186 "Add support for tolerations?"
In daemonset mode, it installs to worker nodes only, not master, which is normal and we can usually workaround with a toleration.  But I can't figure out how to apply a toleration to this operator and support for it may need to be added.  The use-case is for the kubelet metrics receiver that is available with otel-collector-contrib.  I'd like to get kubelet metrics on the master node.  I'm creatin

[2021-02-01 10:37] jpkrohling commented on #186
Sounds like a valid use case. Would you like to send a PR adding support to the operator?

[2021-02-03 02:46] gramidt commented on #128
@jpkrohling and community - Quick update: I'm planning to start this work either later this week or early next week. My current OSS queue includes finishing the Loki exporter ( https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/1894 ), adding a small feature to the F5 Cloud exporter, then circling back to this.

[2021-02-03 15:02] #178 closed

[2021-02-04 09:31] jpkrohling opened #188 "Bump deprecated apiversions"
When installing the operator in new Kubernetes versions, the following warnings are shown:

[code]

We should bump them before 1.22.

[2021-02-05 09:57] jpkrohling commented on #177
Closed by #180

[2021-02-05 09:57] #177 closed

[2021-02-05 09:58] jpkrohling opened #189 "Bump to Operator SDK 1.4.0"
Similar to #177, but for 1.4.0. Changelog: https://github.com/operator-framework/operator-sdk/releases/tag/v1.4.0

[2021-02-07 16:54] bhiravabhatla commented on #189
Hey @jpkrohling  - I am interested to learn more about open-telemetry and came across this open issue. This looks like a simple change, can I raise a PR for this?

[2021-02-08 06:42] bhiravabhatla commented on #189
Have submitted a PR for this - https://github.com/open-telemetry/opentelemetry-operator/pull/191.

@jpkrohling, kindly review

[2021-02-08 10:00] #189 closed

[2021-02-10 16:54] jpkrohling opened #193 "Update to collector v0.20.0"
Same as #176, but for 0.20.0. Changelog: https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.20.0

[2021-02-11 13:52] #71 closed

[2021-02-11 13:53] jpkrohling commented on #71
Closing, as the tools.go isn't the way to go for this.

[2021-02-12 12:45] #193 closed

[2021-02-12 12:46] jpkrohling opened #197 "Pod isn't restarted when configmap is updated"
When the collector's configuration has changed, the pods that are using the respective configmap should be restarted, and it currently isn't.

[2021-02-15 18:33] rubenvp8510 opened #199 "Support sidecar injection in another pod namespace different from the otel colletor instance."
If I have an OpenTelemetry collector on sidecar mode in one namespace (eg, test1) but want a pod on other namespace (test2) to be injected, this is not actually possible with the opentelemetry-operator.

Steps to reproduce:
1) Install opentelemetry-operator
2) Create namespace test1 `kubectl create namespace test1`
2) Create an opentelemetry collector instance mode=sidecar:

[code]
3) Create a pod

[2021-02-15 18:39] rubenvp8510 opened #200 "Injection when annotation=true fails when if there are other instances but only one in sidecar mode."
Side injection when `sidecar.opentelemetry.io/inject: true` doesn't work when there are other  opentelemetry collectors but only one in _sidecar_ mode.

Failed with the following message:

`Failed to select an OpenTelemetry Collector instance for this pod's sidecar","namespace":"","name":"","error":"multiple OpenTelemetry Collector instances available, cannot determine which one to select`

It is

[2021-02-15 18:57] rubenvp8510 opened #201 "Make file set IMG variable to local/opentelemetry-operator:e2e on all targets"
Following the [CONTRIBUTING.md ](https://github.com/open-telemetry/opentelemetry-operator/blob/main/CONTRIBUTING.md#deployment-with-webhooks) doc, I tried to test the webhook admission controller using the steps described there.

Unfortunately I got an error like this:
[code]
I think this is due the fact that the image I'm creating is tagged like the images of the e2e tests, which I think is incor

[2021-02-15 18:58] #201 closed

[2021-02-15 18:58] rubenvp8510 commented on #201
Was fixed on master. my mistake.

[2021-02-21 10:38] bhiravabhatla commented on #197
Hey @jpkrohling ,

I would like to work on this. I have gone through the code where we are handling updates to the configmap. I would like to understand couple things.

- Any specific reason we are using Client.Patch instead of Client.Update?

 https://github.com/open-telemetry/opentelemetry-operator/blob/16ca4cbd96126eb01d37e0c55ad63ce2b2bcffbc/pkg/collector/reconcile/configmap.go#L124
- Also, I

[2021-02-23 12:53] jpkrohling commented on #197
Thank you for helping out!

Patches are less likely to get in conflict with full object updates. See #54 for more info.

Do you have any references on what's the recommendation on Kubernetes' documentation? A rolling update would be my preference, so that pod using the new configuration will have to first get into a running state before they are killed, preventing bad configs from causing an outag

[2021-02-23 12:53] #200 closed

[2021-02-24 04:51] rubenvp8510 opened #211 "Failed reconciliation on OpenShift"
I tried to use the operator on OpenShift and when I created a CR the operator reconciliation fails with the following message:

`{"level":"error","ts":1614142166.5476513,"logger":"controller-runtime.manager.controller.opentelemetrycollector","msg":"Reconciler error","reconciler group":"opentelemetry.io","reconciler kind":"OpenTelemetryCollector","name":"opentelemetrycollector-sample","namespace":"

[2021-02-24 09:24] bhiravabhatla commented on #197
I was coming from the thought process behind the configmap reloaders out there. For example - https://github.com/stakater/Reloader. This actually does the same, kills the pod when config changes.

But as you said, as deployment itself is created/updated by controller, we could actually do a rolling update - which is better than simply killing the pod. I agree.

To achieve this
- can we may be add/

[2021-02-25 10:23] jpkrohling commented on #197
I might need to look into more details, but apparently, the rollout restart command does something similar to the first option:

https://github.com/kubernetes/kubectl/blob/ddb56dde55b6b8de6eba1efbd1d435bed7b40ff4/pkg/cmd/rollout/rollout_restart.go#L159

https://github.com/kubernetes/kubectl/blob/ddb56dde55b6b8de6eba1efbd1d435bed7b40ff4/pkg/polymorphichelpers/interface.go#L109-L110

https://github.

[2021-02-25 14:06] bhiravabhatla commented on #197
@jpkrohling , went through above code links, as you said - its doing the same - annotating with timestamp.
Shall I go ahead with first option then. Generate the checksum of configmap and annotate the deployment with same?

[2021-02-25 14:10] jpkrohling commented on #197
Sounds worth a try!

[2021-02-27 01:55] seanhoughton opened #214 "Sidecar injection by instance name not documented"
I've been looking through source code and issues to try to understand how to use the sidecar injection. It looks like the annotation can be either "true" or an OpenTelemetryCollector instance name.  I haven't been able to get it working yet, but I'm not sure if that's because the operator is misconfigured or my annotations are incorrect.

Here's what I've gathered from the source code and the CRD

[2021-02-28 12:08] bhiravabhatla commented on #18
I see this still happening, latest tag failing with same error.

[code]

[2021-02-28 14:55] bhiravabhatla commented on #35
@jpkrohling I would like to take a stab at this after I am done with reload config PR if it's ok?

[2021-03-01 09:21] jpkrohling commented on #18
@bhiravabhatla would you like to submit a PR? This processor has been removed, the solution is to just remove this processor from the examples.

[2021-03-01 12:13] bhiravabhatla commented on #18
Will do @jpkrohling. I also found couple more small issues.

1) If we apply the manifest for CR in the documentation(https://github.com/open-telemetry/opentelemetry-operator#deployment-modes) - Controller is not creating a deployment by default. I had to mention, `spec.mode=Deployment`

I see code also has check for the same while creating deployment -
[code]

Is this expected?

2) The CRDs create

[2021-03-01 12:59] jpkrohling commented on #18
Is this during the development, or when the controller is installed following the instructions? The default value is set via a webhook: https://github.com/open-telemetry/opentelemetry-operator/blob/ea579e0d1f8fd2308d7af6d6d04615ea77be1f05/api/v1alpha1/opentelemetrycollector_webhook.go#L37-L51

I think there's another issue recorded for this, feel free to send a PR for that as well!

[2021-03-01 13:10] bhiravabhatla commented on #18
@jpkrohling  That makes sense. It was during local development. Does it makes sense to add some kind of documentation to clarify this.

Also in kubebuilder we can add default values using kubebuilder tags (https://book.kubebuilder.io/reference/markers/crd-validation.html#crd-validation), not sure if its possible using operator-sdk. If its possible, is not it cleaner to use it instead of webhook de

[2021-03-01 14:03] jpkrohling commented on #214
Yes, it should indeed work. I'll take a look and see if anything recently broke this.

[2021-03-01 14:17] #211 closed

[2021-03-02 04:54] bhiravabhatla commented on #188
Picking this up

[2021-03-02 05:53] bhiravabhatla commented on #188
There is an open issue for preserveUnknownFields=false with crdVersions=v1

https://github.com/kubernetes-sigs/controller-tools/issues/476

Let me know how would you want to handle this @jpkrohling

[2021-03-02 09:33] jpkrohling commented on #188
Are you seeing this with recent Kubernetes versions as well?

[2021-03-02 10:09] jpkrohling commented on #18
Sure, it should be part of the contributing guidelines.

Is this new? I would also prefer to use a default there instead of the webhook. The webhook is still useful for other use cases that we might not have implemented yet. Like: when option X is set, the default value for Y should be Z, otherwise, it should be W.

[2021-03-02 10:12] jpkrohling opened #216 "Update to collector v0.21.0"
Same as #193, but for 0.21.0. Changelog: https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.21.0

[2021-03-02 10:39] bhiravabhatla commented on #188
This is issue with controller-gen, when it generates manifests -

[code]
If we mention V1 as CRD version, it omits adding preserveUnknownFields=false to the base CRDs.

[2021-03-02 10:41] bhiravabhatla commented on #18
I think so. Reference - https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#defaulting

controller-tools reference -
https://github.com/kubernetes-sigs/controller-tools/issues/250

[2021-03-02 10:45] jpkrohling commented on #188
Right, but if you apply the generted CRD in a recent Kubernetes cluster, does it complain?

[2021-03-02 11:04] bhiravabhatla commented on #188
Actually, I faced that issue in an earlier project. Currently when i install CRDs I am seeing something else altogether - Looking like something to do with kustomize:

[code]

[2021-03-02 11:12] bhiravabhatla commented on #188
Ok I figured it out - we need to modify patches mentioned for webhook

[2021-03-02 11:22] bhiravabhatla commented on #188
Also @jpkrohling  - controller-gen version 0.4.0 defaults apiversion to v1. Shall we upgrade the version of controller-gen.

https://github.com/kubernetes-sigs/controller-tools/releases/tag/v0.4.0

[2021-03-02 12:43] jpkrohling commented on #188
Sure, sounds good.

[2021-03-02 14:34] jpkrohling commented on #214
I found the problem with your example: the annotation should be part of the PodTemplate, not the Deployment. I opened a PR adding some doc about the sidecars, along with an e2e test for it.

[2021-03-02 14:45] bhiravabhatla commented on #188
Regarding conversionReviewVersions - This was introduced as mandatory field in v1 apiVersion for webhook spec ( Ref - https://github.com/kubernetes/kubernetes/pull/79604)

I am adding

[code]
But I also see that in k8s versions (1.17+) only v1 would be supported. What is the minimum supported version of k8s for our operator.

Ref:
https://github.com/kubernetes/kubernetes/issues/82023

[2021-03-02 14:48] jpkrohling commented on #188
We have not defined yet, but I think a good policy is what Kubernetes itself supports: up to N-2.

[2021-03-02 23:35] seanhoughton commented on #214
That was indeed the problem and now my actual service is working. Thanks for the operator, it's going to make things much easier and cleaner to manage!

[2021-03-02 23:35] #214 closed

[2021-03-03 07:04] bhiravabhatla commented on #199
I would like to take a jab at this

[2021-03-03 09:09] jpkrohling commented on #214
@seanhoughton would you mind reviewing the linked PR, to see if the readme has now enough information to prevent such misunderstandings?

[2021-03-03 09:14] jpkrohling commented on #199
There are a few things to consider for this one:

- I believe we have a `WATCH_NAMESPACES` env var, telling the operator which namespaces to watch for otelcol CRs. Should we reuse this for this feature, and only consider CRs in those namespaces as eligible to be injected? Or should we have another flag/env var?
- RBAC - what if the user creating the otelcol CR in the namespace `ns1` doesn't have p

[2021-03-03 12:42] AlkaDas991 commented on #216
@jpkrohling I would like to know a bit more about the issue, since I am new to open source. That would help me a lot!!

[2021-03-03 13:19] jpkrohling opened #219 "Relax requirement of having at least one code review"
@tigrannajaryan, unfortunately, I don't think we have enough approvers with knowledge on both otelcol and operators in general.

Would it be OK to change the settings of this repo to not require at least one code review approval? For PRs from other folks, I'll always review before merging, but getting my own PRs merged are a problem right now (see #217).

I will always try to get someone to approv

[2021-03-03 13:24] jpkrohling commented on #216
Sure! For this particular release, there doesn't seem to be a breaking change related to either the configuration file or the CLI flags. It should then be a similar change to what was done as part of #195.

[2021-03-03 13:54] seanhoughton commented on #214
Looks good

[2021-03-03 13:56] tigrannajaryan commented on #219
Otel [policies](https://github.com/open-telemetry/community/blob/b26795f9810f8615a700c16becb980fbe147b68c/docs/how-to-configure-new-repository.md#policies) explicitly require at least 1 approval:

Two possibilities here:
1. Convince Otel governance to change the policy.
2. Find someone else who is interested in the operator and wants to become an approver. I would argue that this is the right appr

[2021-03-03 15:28] jpkrohling commented on #219
That's what I prefer as well, just not sure how long it's going to take, as I don't currently have contributors with a steady history of contributions yet. If you don't mind, I'll try to get non-official approvals from the community as a whole, and get your "approval by proxy" for my own PRs.

[2021-03-04 03:30] bhiravabhatla commented on #199
Yes, But I think this should only solve the problem of providing namespaces to operator to look for collector CRs. Its best not to use the same thing for side car injection. (Seperation of concerns).

 I think right now, user can set the annotation for injection to either true/false or a otel collector name right (correct me If I am wrong). I guess we can use the same flag and look for namespaced

[2021-03-04 10:46] jpkrohling commented on #199
The operator is certainly able to inject, the concern is whether it should just trust what the user requested, or if it should do the authorization. This is a concern for multi-tenant environments, where each tenant is located on their own namespace.

That's a bit different: there's only one Istio control plane responsible for a given number of namespaces, and sidecars are injected to talk to that

[2021-03-04 10:48] jpkrohling commented on #199
I think that's the real action item here. We could either publish an event or add a message to the status object (my preference for this case). We do this for upgrades: https://github.com/open-telemetry/opentelemetry-operator/blob/c1ac1df2bf06cc84265ab6df99bbf37fd313338c/pkg/collector/upgrade/v0_9_0.go#L49

[2021-03-04 10:59] #197 closed

[2021-03-04 14:06] bhiravabhatla commented on #199
Pod status looks more appropriate for this use-case. Can I work on this ? @jpkrohling

[2021-03-04 15:14] jpkrohling commented on #199
Go ahead!

[2021-03-08 03:39] bhiravabhatla commented on #199
@jpkrohling  Was away on vacation. Would work on this in this week.

[2021-03-09 16:24] jpkrohling opened #222 "Update to collector v0.22.0"
Same as #216, but for 0.22.0. Changelog: https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.22.0

[2021-03-09 16:45] #216 closed

[2021-03-11 05:23] bhiravabhatla commented on #199
@jpkrohling  Pod status has a message field and I tried writing the error message to it. But looks like its being overwritten by k8s controller. I tried adding custom status condition as well, dint work out - overwritten.

It worked in upgrade case - as no other controller except ours mutates/changes the fields of CRD.

I guess we dont have a choice but to create an event for our case. Kindly shar

[2021-03-11 12:36] jpkrohling commented on #199
Have you tried using the `Status()` function from the client? Writing the status object should be done with a special writer, like this:

https://github.com/open-telemetry/opentelemetry-operator/blob/c1ac1df2bf06cc84265ab6df99bbf37fd313338c/pkg/collector/upgrade/upgrade.go#L64

If you did try that, then I'd be fine with creating an event instead.

[2021-03-11 14:51] #222 closed

[2021-03-12 05:45] bhiravabhatla commented on #199
@jpkrohling  - Nope dint try that. Will try and let you know

[2021-03-15 08:29] jpkrohling opened #226 "Bump to Operator SDK 1.5.0"
Similar to #189, but for 1.5.0. Changelog: https://github.com/operator-framework/operator-sdk/releases/tag/v1.5.0

[2021-03-24 10:44] jpkrohling opened #231 "Update to collector v0.23.0"
Same as #222, but for 0.23.0. Changelog: https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.23.0

[2021-04-02 22:26] amila-ku commented on #226
@jpkrohling I'm interested with getting familiar with open telemetry, thought this would be a good starting point. Can i take this one?

[2021-04-04 14:14] lastchiliarch commented on #231
I'd like to take this.

[2021-04-07 08:33] #231 closed

[2021-04-07 08:34] jpkrohling commented on #226
Yes, please!

[2021-04-07 08:49] jpkrohling opened #238 "Update to collector v0.24.0"
Same as #231, but for 0.24.0. Changelog: https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.24.0

[2021-04-07 08:51] jpkrohling commented on #238
There are a few breaking changes to this one, requiring an upgrade routine.

[2021-04-07 13:34] jason-truter opened #239 "manifest unknown error"
![image](https://user-images.githubusercontent.com/79902798/113873899-891a2980-97b5-11eb-8415-6538fe046f37.png)

Version 23.0

For some reason when I applied version 23 manifest to the cluster. The pod has an error "Failed to pull image "quay.io/opentelemetry/opentelemetry-operator:0.23.0": rpc error: code = Unknown desc = Error response from daemon: manifest for quay.io/opentelemetry/opentelemetr

[2021-04-07 13:34] #239 closed

[2021-04-07 13:34] JasonTruter opened #240 "Release script is updating the manifests with a wrong version pattern"
![image](https://user-images.githubusercontent.com/79902798/113873899-891a2980-97b5-11eb-8415-6538fe046f37.png)

Version 23.0

For some reason when I applied version 23 manifest to the cluster. The pod has an error "Failed to pull image "quay.io/opentelemetry/opentelemetry-operator:0.23.0": rpc error: code = Unknown desc = Error response from daemon: manifest for quay.io/opentelemetry/opentelemetr

[2021-04-07 13:39] jpkrohling commented on #240
Thanks for the report! For some reason, the release script generated the manifest without the v in the version. It should be `quay.io/opentelemetry/opentelemetry-operator:v0.23.0` instead. I just published a tag following what the released manifest expects, but will keep this open so that we fix it properly for 0.24.0.

[2021-04-07 14:32] JasonTruter commented on #240
No problem, I've just hopped on board to get started running a simple collector.
I'm using the previous version fine for now.

[2021-04-08 06:37] bhiravabhatla commented on #199
@jpkrohling  - Sorry for not responding soon. I was stuck in my day job. I tried Status() writer, dint work out. Its getting overwritten.

Can we publish an event instead?

[2021-04-08 13:27] jpkrohling commented on #199
I think you had a PR for this already, no?

[2021-04-09 10:09] bhiravabhatla commented on #199
Sure. I dont have a PR for this yet. I ll raise one with event approach - if you are able to write the status, we could close my PR

[2021-04-09 12:54] jpkrohling commented on #199
Sounds good!

[2021-04-12 16:17] krak3n commented on #100
I am hitting this as well but I cannot replicate it in minikube, everything there works fine but as soon as I try this in our cluster it times out. There is zero logging from the operator so I have no idea whats going on 😭

[2021-04-13 09:29] jpkrohling commented on #100
@krak3n, there's no logging in the operator because the problem is probably before the operator gets the chance to see the change. Do you have cert-manager installed? Anything suspicious when you run `kubectl get events`?

[2021-04-13 09:48] krak3n commented on #100
Yeah @jpkrohling I thought as much, sorry for my cries of desperation lol It is likely an issue with our cluster, permissions or something thats blocking the `Post https://opentelemetry-operator-webhook-service.opentelemetry-operator-system.svc:443/mutate-opentelemetry-io-v1alpha1-opentelemetrycollector?timeout=10s` webhook call 🤷

There is nothing in `kubectl get events` that look related to this

[2021-04-13 09:50] jpkrohling commented on #100
And I assume the operator itself is also up and running, right? Are you able to expose the service via, say, `kubectl port-forward` and run a curl call directly?

[2021-04-13 10:08] krak3n commented on #100
@jpkrohling yup opened a port forward to the service with:

[code]

Then made a `POST` request to the same endpoint and works fine:

[code]

And see the error in the operator.

[2021-04-13 10:24] jpkrohling commented on #100
Then either the TLS cert isn't being accepted by the Kubernetes API (the caller), or there's a networking issue. Not sure what I can do at this point to help you, though :-/

[2021-04-13 10:35] krak3n commented on #100
Yeah I am at a loss as well 🤷

The cert seems fine based on the sate of the resources.

[code]

[code]

[code]

And if I do the exact same setup in minikube it's all fine. I'll keep digging.

[2021-04-13 12:08] krak3n commented on #100
@jpkrohling so I managed to get it working by changing the `failurePolicy` from `Fail` for both `opentelemetry-operator-mutating-webhook-configuration` and `opentelemetry-operator-validating-webhook-configuration` webhooks. It took it's time but worked and now my `Deployment` is running.

[2021-04-13 12:22] krak3n commented on #100
Ok so here is the full set of events from the `opentelemetry-operator-system`:

[code]

So I am guessing the actual issue is the `FailedMount` of the certificate.

[2021-04-13 15:27] jfiedler opened #247 "Add support for configuring the K8s resources for injected collectors"
It would be nice if K8s resources of the injected collectors (for sidecar mode) could be configured via the operator CRD. This is an important requirement when using horizontal pod autoscalers later on. Containers in a pod that have no resource requests can cause issues with HPA.

[2021-04-13 15:39] krak3n commented on #100
@CyberHippo did you ever figure out what your issue was?

[2021-04-13 16:18] CyberHippo commented on #100
@krak3n No I did not. I am now using a custom version of the [otel-config.yaml for k8s](https://github.com/open-telemetry/opentelemetry-collector/blob/main/examples/k8s/otel-config.yaml) which works perfectly fine.

[2021-04-13 18:14] krak3n commented on #100
Thanks @CyberHippo thats a shame, I was really hoping to use sidecar injection, oh well.

[2021-04-13 19:27] jpkrohling commented on #247
Would you like to contribute with a PR? Should be relatively easy to do it: add a `Resources` node here, similar to what `v1.Container` has:

https://github.com/open-telemetry/opentelemetry-operator/blob/33f21cc8292f98c0a0170dde340ef571ff837008/api/v1alpha1/opentelemetrycollector_types.go#L23-L79

Then apply it here:
https://github.com/open-telemetry/opentelemetry-operator/blob/33f21cc8292f98c0a01

[2021-04-13 19:29] jpkrohling commented on #100
It is in my interest to have you both using the operator, please help me reproduce this issue so that I can fix it :-) If you can't consistently reproduce with minikube, would one of you be able to give me access to your cluster?

[2021-04-13 21:17] krak3n commented on #100
@jpkrohling it's a work cluster, though it is just staging, might be tricky, I'll run it past the team at stand up tomorrow, I was gonna try and set up my own GKE cluster and see if I can replicate there rather than minikube.

I'll do another fresh install on the cluster tomorrow morning and give you all the logs / events I can get my hands on.

[2021-04-14 07:14] jpkrohling commented on #100
A long shot, but which version of the cert-manager are you using? Have you tried using their latest version?

[2021-04-14 07:28] jfiedler commented on #247
Sure. I will give it a shot.

[2021-04-14 08:13] krak3n commented on #100
Morning @jpkrohling - we run cert-manager 1.3.0 which I believe is the latest, we've been running cert manager for a while in the cluster and is currently handling some lets encrypt certs a well.

I attempted a fresh install of the operator this morning using the example in the `README.md` and the time out issue still occurs, here are all the logs I could gather, let me know if you need anything e

[2021-04-19 12:20] #247 closed

[2021-04-20 10:02] krak3n commented on #100
HI @jpkrohling we can't give you direct access to the cluster but we could jump on a call or something and you could debug through me lol Not ideal I know 🤷

[2021-04-20 18:48] jnodorp-jaconi commented on #238
Taking this one.

[2021-04-20 19:46] jnodorp-jaconi commented on #238
I am not too familiar with opentelemetry-collector, but the breaking changes listed in the [changelog](https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.24.0) all look like breaking changes to the Go API. The operator should not be affected by those.

Am I missing something?

[2021-04-21 14:42] jpkrohling commented on #238
This one is a good candidate to be in the upgrade routine:

https://github.com/open-telemetry/opentelemetry-collector/pull/2782

I went over the other changes and I don't see any other change that we should take into consideration.

[2021-04-21 14:43] jpkrohling commented on #238
Oh, and thanks for volunteering!

[2021-04-21 15:45] jnodorp-jaconi commented on #238
Good catch! I only looked at the changes marked as breaking. I‘ll add an upgrade routine!

[2021-04-22 06:47] sanjaygopinath89 opened #252 "Is there an option to create hostport service using operator"
We are implementing opentelemetry collector as Agent(Daemonset) and collector(Deployment). For daemonset we need to open Hostport , we are using hostip:PORT to send traces to the agent.

https://github.com/open-telemetry/opentelemetry-operator/blob/main/config/crd/bases/opentelemetry.io_opentelemetrycollectors.yaml

As in this CRD , there is no option to give "Hostport".

Please let us know if the

[2021-04-22 08:31] jpkrohling commented on #252
Sorry, but could you give an example of the service YAML you need? Not quite sure what a service with hostport means.

[2021-04-22 10:19] bhiravabhatla commented on #252
@jpkrohling  - If I am not wrong @sanjaygopinath89  is looking to create NodePort service.

[2021-04-22 13:08] jpkrohling commented on #252
Wouldn't that make the node redirect the traffic to a non-determined pod that backs this service, not necessarily the one located in the same node? That kinds defeats the purpose of Daemonsets...

[2021-04-23 03:28] bhiravabhatla commented on #252
Correct me if I am wrong - you would be sending traces of apps running within cluster right - why cant we use a cluster IP service?

[2021-04-23 10:16] jpkrohling commented on #252
Correct. Note that a Daemonset is a resource telling Kubernetes to run N replicas per node. Agents are typically created as Daemonsets to receive data that is generated by workloads in the same node. In that case, you'd know the IP for the collector that is responsible for receiving your data: it's the same IP as the node. The only thing left to discover is the port. You can use the downward API t

[2021-04-23 12:43] stephenhong opened #254 "Is there a way to specify which Otel Collector to use within the Otel Operator?"
Hello team, I'm working on a project leveraging the OpenTelemetry Collector. I created a custom trace exporter and it is not on the OpenTelemetry Collector repo (https://github.com/open-telemetry/opentelemetry-collector) or the OpenTelemetry Collector Contrib repo (https://github.com/open-telemetry/opentelemetry-collector-contrib). Is there a way to configure the Otel Operator so that it uses the

[2021-04-23 14:58] jpkrohling commented on #254
You can wrap your collector in a container image and publish it in a registry where the operator has access, such as a registry within your Kubernetes cluster. Then, specify the image location  as part of the .Spec.Image property: https://github.com/open-telemetry/opentelemetry-operator/blob/db40230d99040201ba7b85a64700788392e96b62/api/v1alpha1/opentelemetrycollector_types.go#L42

[2021-04-23 14:58] #254 closed

[2021-04-23 15:15] stephenhong commented on #254
Thank you so much!

[2021-04-27 21:31] RichieSams opened #255 "Self-signed cert-manager Certificate will fail with current deployment"
With latest cert-manager, if you attempt to install opentelemetry-operator via the k8s manifest in the releases, all attempts to create a Collector will fail during webhook with:

[code]

This is due to the self-signed Issuer creating a cert with an empty DN.
See this issue: https://github.com/jetstack/cert-manager/issues/3634

To fix this, we can add a dummy subject section to the Certificate. Cu

[2021-04-28 10:10] jpkrohling commented on #255
I see that this is closed, with a PR linked to it. Will we have still have the problem once they release 1.3.2? I guess the question is: is this a problem that is going to affect us only when cert-manager 1.3.1 is used? What kind of effects can we have for downstream customizations of this? I assume none, but I'm no kustomize expert :-)

If we decide to fix it, this would be the right place:
https

[2021-04-28 10:56] bhiravabhatla opened #256 "expectedServices function not copying desired spec"
https://github.com/open-telemetry/opentelemetry-operator/blob/db40230d99040201ba7b85a64700788392e96b62/pkg/collector/reconcile/service.go#L182-L199

I guess, we should be copying desired.Spec to updated.Spec if I am not wrong. -

[code]
If we dont do that service spec wont be updated if some one adds a new receiver in config or explicit port in Spec.Ports of collector.

[2021-04-28 11:07] bhiravabhatla opened #257 "Service exposes ports for receivers which are not enabled"
If I understand open-telemetry config correctly, a receiver is enabled only if its mentioned in  service section of config

[code]
Reference - https://opentelemetry.io/docs/collector/configuration/

In our current implementation of service reconciliation, while fetching inferred Ports - I do not see this check.

https://github.com/open-telemetry/opentelemetry-operator/blob/db40230d99040201ba7b85a6

[2021-04-28 11:47] jpkrohling commented on #256
From what I remember, we can't simply copy the Spec, as the clusterIP has to either be empty or None. The service controller will then change the value to a real IP if it's empty, and an update of this resource will fail if we specify the IP ourselves. So, I prefer to cherry-pick the properties that we want to override.

[2021-04-28 11:48] jpkrohling commented on #257
You are absolutely correct. Our logic should indeed check if the receiver is being used in any pipelines before deciding to open the port.

[2021-04-28 12:06] bhiravabhatla commented on #257
I can work on this once I am done with unit test cases

[2021-04-28 12:08] bhiravabhatla commented on #256
As of now we are not cherrypicking Spec.Ports. I think we should then?

[2021-04-28 14:18] RichieSams commented on #255
It *is* closed, but the PR isn't a fix. It just adds an explicit warning when it happens:
https://github.com/jetstack/cert-manager/pull/3760

https://github.com/jetstack/cert-manager/issues/3634#issuecomment-808192149

Sure I can make a PR

[2021-04-28 15:24] valdemarpavesi opened #259 "opentelemetry-operator.yaml have wrong image"
https://github.com/open-telemetry/opentelemetry-operator/releases/latest/download/opentelemetry-operator.yaml

 image: quay.io/opentelemetry/opentelemetry-operator:0.24.0

 must be:

  image: quay.io/opentelemetry/opentelemetry-operator:v0.24.0

  from quay.io:

  docker pull quay.io/opentelemetry/opentelemetry-operator:v0.24.0

[2021-04-28 15:31] valdemarpavesi commented on #259
After fixing the image, now it is up and running:
`
NAMESPACE                       NAME                                                         READY   STATUS    RESTARTS   AGE
opentelemetry-operator-system   opentelemetry-operator-controller-manager-7df489cb85-nwjwl   2/2     Running   0          23s`

![image](https://user-images.githubusercontent.com/10376101/116430923-e3366980-a80c-11eb-8a3d-

[2021-04-29 08:35] jpkrohling commented on #259
This has hit us again... #240 had this but I didn't have the chance to fix it in time for this release. I'll close this in favor of that one, but I appreciate your report!

[2021-04-29 08:35] #259 closed

[2021-04-29 08:37] jpkrohling commented on #256
Could you clarify on "ports added"? Do you mean that users might add ports to a service?

[2021-04-29 08:44] #255 closed

[2021-04-29 09:34] bhiravabhatla commented on #256
I meant some one can add a new receiver in opentelemetry collector CR config or a new port in CR spec.ports

[2021-04-29 09:59] jpkrohling commented on #256
Right, the new desired ports should override the current list of ports.

[2021-04-29 10:02] bhiravabhatla commented on #256
Yep :).

[2021-04-29 16:46] valdemarpavesi commented on #259
thanks @jpkrohling

[2021-04-30 07:44] #226 closed

[2021-04-30 14:20] CyberHippo commented on #100
@krak3n Is your GKE cluster private ? If yes, which ports are open on your GCP Firewall rule `gke-<name>-<id>-master` ?

[2021-04-30 19:59] chasekiefer commented on #240
Mind if I give this a try? The fix would be to modify the creation of opentelemetry-operator.yaml so it has a version :v0.24.0 instead of :0.24.0, right?

[2021-05-03 08:49] jpkrohling commented on #240
Go ahead! Once you find the place to fix it, try to look at the git history for that file, as I think this was fixed and possibly reverted before. I think there's a place (goreleaser?) that needs the version to not have the v prefix, so, fixing this in one place might potentially break something else.

[2021-05-03 21:09] chasekiefer commented on #240
Updating the IMG var instead of VERSION should avoid any breaking changes.

[2021-05-04 08:28] krak3n commented on #100
It is private and allows `10250` and `443`

[2021-05-04 08:29] #240 closed

[2021-05-04 13:04] sanjaygopinath89 commented on #252
@jpkrohling @bhiravabhatla

We are looking for an option to open "hostPort"  in daemonset configuration, we used to give below port configuration in daemonset to open hostport (Not in service , I gave it by mistake in my initial comment )

`
ports:
- containerPort: 55681
          hostPort: 55681
          name: sfx-receiver
          protocol: TCP`

We used to make this configuration in daemonset

[2021-05-04 13:39] bhiravabhatla commented on #252
@sanjaygopinath89,  Are you trying to reach the  agent (daemonset) from outside cluster - using NodeIP:hostport ?

Are you pushing traces from applications which are not present in current cluster?

Basically if you running any application on HostPort, you are binding with one of the ports on worker node and you can reach the application from external world using <workerNodeIP:hostPort>. This is g

[2021-05-04 15:32] #35 closed

[2021-05-04 18:45] sanjaygopinath89 commented on #252
@bhiravabhatla  We are sending the trace from inside the cluster only . How we can make sure that a trace generated from a application reach the opentelemetry collector agent (daemonset) in same host.  Currently by using hostip:port (as described by @jpkrohling  is by using field status.hostIP ) the load from one host reach the same host otel-agent . If we use service endpoint for sending trace it

[2021-05-05 01:55] bhiravabhatla commented on #252
This is correct. If you use a cluster IP service, kube-proxy would load balance and there is no guarantee that the trace would reach the pod running in the same node as the application.

Let me ask you this.  If we want to do this, then you have to configure the agent IP:Port before deploying the applications, That would be different for different nodes - so you would have to know which worker nod

[2021-05-05 08:50] jpkrohling commented on #252
The best way to distribute load is to have collectors as sidecars so that you have one collector per pod. Those sidecars would then make a connection to a central collector cluster (`Deployment` instead of `DaemonSet`), with several replicas, exporting data to your backends.

[2021-05-05 08:57] jpkrohling opened #263 "Update to collector v0.25.0"
Same as #238, but for 0.25.0. Changelog: https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.25.0

[2021-05-05 08:58] jpkrohling opened #264 "Update to collector v0.26.0"
Same as #263, but for 0.26.0. Changelog: https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.26.0

[2021-05-05 22:06] chasekiefer commented on #263
I would like to give this a try. Looking at [breaking changes/enhancements](https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.25.0) I'm failing to see anything that requires an upgrade routine. Could you help point me in the correct direction if I'm missing something?

[2021-05-06 08:39] krak3n commented on #100
@CyberHippo do other ports need to be open?

[2021-05-06 09:16] jpkrohling commented on #263
I also don't see a change that would require an upgrade routine. Go ahead! :-)

[2021-05-06 09:26] kaskavalci opened #266 "Operator deployment fails with ImagePullBackOff"
[code]

It seems [operator image](https://quay.io/repository/opentelemetry/opentelemetry-operator?tab=tags) v0.24.0 is pushed with `v` prefix but operator refers it without the prefix `0.24.0`.

Workaround:

Update deployment `opentelemetry-operator-controller-manager` to use image tag `v0.24.0` in manager container.

[2021-05-06 09:54] jpkrohling commented on #266
Thanks for reporting this. This is a duplicate of #259 and should be fixed for the next release. In any case, I just pushed a new tag with the value that the published manifest expects: `quay.io/opentelemetry/opentelemetry-operator:0.24.0`. It should start working again without changes.

[2021-05-06 09:54] #266 closed

[2021-05-06 14:06] CyberHippo commented on #100
@krak3n I'm not sure. But I suspect that another port needs to be open as well. I encountered a [similar issue](https://github.com/kubernetes/ingress-nginx/issues/5401#issuecomment-617006161) with an ingress-controller and a private GKE cluster. @jpkrohling Do you know if specific ports need to be open on the master ?

[2021-05-07 09:47] kaskavalci commented on #77
@jpkrohling can you provide an example of how to set the image? I couldn't find a resource that documents this.

[2021-05-10 07:44] kaskavalci opened #268 "Configure zap EncoderConfig for operator"
Operator uses default configuration for zap encoder configuration. `levelKey` in this config defaults to `level`. This creates an issue in GCP Logging as it expects `severity` for log level. Below is an example of a log level interpreted as error.

I've noticed operator uses `sigs.k8s.io/controller-runtime/pkg/log/zap` package to bind directly from environment variables. As far as I can see, that

[2021-05-10 08:09] jpkrohling commented on #77
It's the `image` property as part of the spec: https://github.com/open-telemetry/opentelemetry-operator/blob/b6ac997b1ba13d756f8679870d49ee497b699c6f/api/v1alpha1/opentelemetrycollector_types.go#L39-L42

Example:

[code]

[2021-05-10 08:11] jpkrohling commented on #100
From the top of my head, I can't think of any other ports we might use, but I would check the kubebuilder docs.

[2021-05-10 08:19] jpkrohling commented on #100
There's some information scattered around this issue, so, let me consolidate it here:

- 8080 for the controller metrics (should not be exposed)
- 9443 for the webhook in the controller container (exposed as opentelemetry-operator-webhook-service, port 443)
- 8443 for the rbac sidecar proxy (exposed as opentelemetry-operator-controller-manager-metrics-service, port 8443, proxies to 8080)

[2021-05-10 10:17] #263 closed

[2021-05-10 13:57] kaskavalci commented on #77
For future reference, a copy paste solution :)

[code]

[2021-05-11 08:29] jpkrohling commented on #77
Would you be open to adding this example as part of our e2e tests? You can probably just copy the `simplest` test, and replace the `00-install.yaml` file with your example, adjusting the instance name at both the install and at the assert files.

https://github.com/open-telemetry/opentelemetry-operator/tree/main/tests/e2e

[2021-05-12 14:09] karthikinamanamelluri opened #276 "Question/Clarification: Any config changes that can be made to manage collector-contrib with this operator"
Hello,

Can someone please let me know if this operator can be used to manage the contrib distribution of collector.
I do see below statement in doc.
'At this point, it has OpenTelemetry Collector as the only managed component.'
Is parameterizing the image name here as an option would help?
https://github.com/open-telemetry/opentelemetry-operator/blob/main/internal/config/main.go#L70

Thanks

[2021-05-12 15:05] jpkrohling commented on #276
Yes, you can manage different distributions, like the contrib. You can override the default image for all the CRs managed by the operator using the flag you mentioned, or via the `.Spec.Image` property, as seen here: https://github.com/open-telemetry/opentelemetry-operator/issues/77#issuecomment-836340138

[2021-05-12 15:05] #276 closed

[2021-05-12 15:09] ruibinghao commented on #100
I am running into a similar issue on Openshift but with a different signature in the error msg. (BTW,  did have cert-manager installed without any issue):
[code]
The operator controller pod was initially running fine but as soon as I run the above command to create a collector instance, it got into a crashLoopBackoff situation.
[code]
Logs from the controller pod:
[code]

Not sure why the controll

[2021-05-12 21:51] KKelvinLo commented on #264
I can do this, looking - is there anything that requires an upgrade routine?

[2021-05-12 23:22] ruibinghao commented on #100
I modified the resource request and limit for the operator manager container to below:
[code]

[2021-05-13 13:54] sanjaygopinath89 commented on #252
@bhiravabhatla

`Let me ask you this. If we want to do this, then you have to configure the agent IP:Port before deploying the applications, That would be different for different nodes - so you would have to know which worker node exactly your application pod would be scheduled, how are we planning to achieve this.`

- If we use an env configuration like given below , we will be able to get the ho

[2021-05-13 19:12] KKelvinLo commented on #116
Hey I'd like to pick this up

[2021-05-13 23:58] bhiravabhatla commented on #252
@sanjaygopinath89 yep. I missed

Yep, my bad. I missed this.

I don't see any reason why we cant have hostPort supported in the operator. @jpkrohling any specific reason not to do it?

[2021-05-14 08:15] jpkrohling commented on #264
I don't think there's an upgrade routine necessary here. Thanks for the PR!

[2021-05-14 08:19] jpkrohling commented on #116
Here's our release script: https://github.com/open-telemetry/opentelemetry-operator/blob/main/.github/workflows/release.yaml

That script could just make a curl call to the URL mentioned earlier, based on the tag information. Check the GitHub Actions documentation to see which env var contains the tag, and use that when building the URL.

[2021-05-14 08:34] jpkrohling commented on #252
I have nothing against the `hostPort` in the `DaemonSet`. Note that this started with `hostPort` *Service*, which did sound odd to me.

Both modes can handle a high load, but if the connection between your collector and the backend uses a long-lived connection (gRPC, Thrift, HTTP/2, ...), then you need good load balancing on the client-side, otherwise, a few backend nodes might end up with too muc

[2021-05-14 08:36] #264 closed

[2021-05-14 08:39] jpkrohling commented on #100
@ruibinghao, would you be able to send in a PR bumping that? Here's the relevant place:

https://github.com/open-telemetry/opentelemetry-operator/blob/463e01417c6c491f2e0fef7214ddc35571ca65cf/config/manager/manager.yaml#L32-L38

[2021-05-14 08:45] jpkrohling opened #279 "Memory requests/limits too conservative"
Update. I did some research, exit code 137 indicates an out of memory for the container. So I modified the resource request and limit for the operator manager container to below:
[code]
With this change in place, the operator is no longer crashing and I was able to deploy the simplest collector successfully.

_Originally posted by @ruibinghao in https://github.com/open-telemetry/opentelemetry-oper

[2021-05-14 13:28] ruibinghao commented on #279
A PR has been submitted for this issue: https://github.com/open-telemetry/opentelemetry-operator/pull/280

[2021-05-14 16:38] sallyom commented on #100
nice! I was seeing exactly same w/ OpenShift (the `no endpoints available for service "opentelemetry-operator-webhook-service"`) and fixed by updating the limits, requests in the deployment for manager container.  :)

[2021-05-15 03:52] bhiravabhatla commented on #252
@jpkrohling  - If we decide to support hostPort in daemonsets. I think we already have the code to extract the ports from receiver config - which we are using for building service.

https://github.com/open-telemetry/opentelemetry-operator/blob/463e01417c6c491f2e0fef7214ddc35571ca65cf/pkg/collector/adapters/config_to_ports.go#L35

We would need to modify Container.go to include ContainerPorts for d

[2021-05-16 10:56] bhiravabhatla commented on #257
@jpkrohling  - started working on this. Have a question, as of now in operator we are not umarshalling collector config to a struct. We are unmarshalling it to map[interface]interface{}.

To get the list of enabled receivers  it would be easier to unmarshall the config into a Config struct - rather than recursively parsing through a map[interface]interface{}.  opentelemetry-collector code base alr

[2021-05-17 07:34] #279 closed

[2021-05-17 08:22] jpkrohling commented on #257
I think @pavolloffay, @rubenvp8510, and now you have proposed that. While I think that not having a dependency on the otel-collector API is advantageous, as the interface the collector has with its users is indeed the config as a string (and we are one of such users), I do see the benefits of reusing their config structs.

If both @pavolloffay and @rubenvp8510 are still of this opinion, I'm OK wit

[2021-05-17 08:24] jpkrohling commented on #252
Sounds reasonable to me. Given that you pretty much gave the solution here, I'll label this as good-first-issue. If nobody volunteers, you can pick this up later.

[2021-05-17 09:08] bhiravabhatla commented on #252
Sure @jpkrohling. @sanjaygopinath89, would you be interested in raising a PR for this. Please feel free to.

[2021-05-19 08:57] jpkrohling opened #287 "Update to collector v0.27.0"
Same as #264, but for 0.27.0. Changelog: https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.27.0

[2021-05-19 23:02] IrisTuntun commented on #287
Hi, can I take this issue?

[2021-05-20 14:42] jpkrohling commented on #287
Sure1

[2021-05-21 11:36] #287 closed

[2021-05-21 17:36] krak3n commented on #100
Managed to get some time debugging this today, I set myself up a Private GKE cluster and was able to reproduce the context deadline exceeded issue. I can confirm that this is due ports `9443` and `8443` not being open to the master.

I created these firewall rules for the master and everything works as it should:

[code]

and

[code]

Maybe some documentation should be added regarding private clus

[2021-05-21 19:24] deepakkhetwal opened #291 "Error: cannot load configuration: unknown processors type "k8s_tagger" for k8s_tagger"
I am having below issue
rror: cannot load configuration: unknown processors type "k8s_tagger" for k8s_tagger

See below my collector yaml file -
# Reference - https://github.com/open-telemetry/opentelemetry-operator
apiVersion: opentelemetry.io/v1alpha1
kind: OpenTelemetryCollector
metadata:
  name: aks-otlp-collector
spec:
  mode: daemonset
  config: |
    receivers:
      otlp:
        protocols

[2021-05-22 16:27] timcosta commented on #291
You need to set the image of your collector by setting `spec.image: otel/opentelemetry-collector-contrib:0.27.0`. By default the operator deploys the core collector, and the k8s tagger is part of the contrib collector.

[2021-05-24 19:15] deepakkhetwal commented on #291
@timcosta  I added contrib image as shown in yaml file, but strangely, after getting exported using jaeger/kafka/zipkin. No where, I am seeing kubernetes host and pod information got imported. I am using K8_tagger. please advise, How i can add kubernetes host and pod information into exporters. below is my collector yaml
# Reference - https://github.com/open-telemetry/opentelemetry-operator
apiVer

[2021-05-24 19:50] timcosta commented on #291
Not sure on that one, I haven't used that tagger before, I just recognized this error from another receiver i was configuring.

[2021-05-25 14:21] jpkrohling commented on #100
@krak3n, would you be able to document this in the place you'd expect to see this documented?

[2021-05-25 14:27] jpkrohling commented on #291
@deepakkhetwal you should ask this one in the contrib repository, but make sure the pod IP is part of the resources for the data points reaching your collector.

[2021-05-25 14:27] #291 closed

[2021-05-25 15:09] krak3n commented on #100
Sure will do, assign to me 😄

[2021-05-26 15:57] thib92 opened #295 "OpenCensus port is not exposed by the Collector Service"
Hello,

I am deploying an OpenTelemetry Collector with an OpenCensus receiver.
According to [the comments on the `ports` parameter](https://github.com/open-telemetry/opentelemetry-operator/blob/36d59730af234c2bfc4f909fa2ff8a4659b90c86/api/v1alpha1/opentelemetrycollector_types.go#L72-L78), the operator should be able to detect well-known protocols in the `config` and expose their port. However, aft

[2021-05-26 16:16] bhiravabhatla commented on #295
Yep - you are right - On update the exposed ports are not getting updated. We have an open issue for the same.

https://github.com/open-telemetry/opentelemetry-operator/issues/256

I was supposed  to fix this, but have been occcupied in some other work. Feel free to raise a PR for this.

[2021-05-27 07:57] jpkrohling commented on #22
I'm closing this one, as I haven't seen reports of this happening lately.

[2021-05-27 07:57] #22 closed

[2021-05-27 07:58] jpkrohling commented on #18
I believe this one has been fixed already.

[2021-05-27 07:59] #18 closed

[2021-05-27 07:59] #34 closed

[2021-05-27 08:00] jpkrohling commented on #115
If this is still happening, feel free to reopen.

[2021-05-27 08:00] #115 closed

[2021-05-27 08:02] jpkrohling commented on #188
Closed by #220.

[2021-05-27 08:02] #188 closed

[2021-05-27 08:02] #219 closed

[2021-05-27 08:04] jpkrohling opened #298 "Bump to Operator SDK v1.8.0"
Similar to #226, but for v1.8.0. Changelog: https://github.com/operator-framework/operator-sdk/releases/tag/v1.8.0

[2021-05-27 08:55] thib92 commented on #295
I'm going to give it a try. It doesn't seem to hard.

[2021-05-27 08:57] thib92 commented on #256
Should we only copy the ports? Otherwise, which fields of the Service spec would we wish to copy?

[2021-05-27 12:12] jpkrohling commented on #256
Here's the reference docs for the Service object. I think copying the ports should be sufficient, but review it as well and see if you have another suggestion.

[2021-05-27 12:40] #256 closed

[2021-05-27 12:40] #295 closed

[2021-06-02 10:24] #298 closed

[2021-06-02 22:05] VineethReddy02 commented on #12
I can work on this. Is it still relevant? I do not think the link mentioned above points to the intended content anymore.

@objectiser could you share more info on this?

[2021-06-03 07:29] jpkrohling commented on #12
The flag still exists:

[code]

There could be a new property in the CR named `MetricsLevel`, which then becomes a command line argument for the generated containers.

[2021-06-07 12:15] #186 closed

[2021-06-07 13:34] VineethReddy02 commented on #12
I will work on this! :)

[2021-06-08 14:04] Mariusko82 commented on #100
Hi,
I am receiving this on openshift whe ntry to make instance from OpenTelemetryCollector:
Danger alert:An error occurred
Error "failed calling webhook "mopentelemetrycollector.kb.io": Post https://opentelemetry-operator-controller-manager-service.acn-dev02.svc:443/mutate-opentelemetry-io-v1alpha1-opentelemetrycollector?timeout=10s: dial tcp 10.131.4.237:443: connect: connection refused" for fiel

[2021-06-09 07:58] jpkrohling commented on #12
Great catch. We discussed this a few times in the past, on whether it's better to have a generic "args" property or a more typed approach. I think I prefer the generic (current) solution. We'd then just need to document how to get the metrics-level set for the container.

[2021-06-09 09:10] VineethReddy02 commented on #12
Any specific location you want me to add this as a point to note? Btw I didn't find any dedicated docs other than the `README.md`

[2021-06-09 09:18] VineethReddy02 commented on #56
@jpkrohling I can work on this!

[2021-06-09 10:02] jpkrohling commented on #12
A great source of documentation is the e2e test suite, which serves as an example repository. Add one generic test using `args`, perhaps setting the metrics and the log levels. You can add a new doc or new section in the readme for the CR configuration and mention this. Even better would be if you could figure out a way to generate good user docs out of our godocs. People have asked before about a

[2021-06-09 10:10] jpkrohling commented on #56
Go ahead! Can you please double-check the kubebuilder docs to see if they have a recommendation about this? What we have right now is following what was bootstrapped by kubebuilder when I first bootstrapped this operator, and things might have changed since then.

[2021-06-09 11:25] jpkrohling opened #308 "Properly secure monitor configuration"
As part of #306, the Prometheus monitor configuration added TLS to the connection, but is setting the "insecure skip verify" flag. However, I believe we have all the pieces to get this properly secure.

_Originally posted by @jpkrohling in https://github.com/open-telemetry/opentelemetry-operator/pull/306#discussion_r648208320_

[2021-06-09 13:56] jpkrohling opened #309 "Update to collector v0.28.0"
Same as #287, but for 0.28.0. Changelog: https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.28.0

[2021-06-10 08:22] Mariusko82 opened #310 "On Openshift - Error "failed calling webhook"
When I try to deploy/create instance of OpenTelemetryCollector I got this error:

Top of Form
Error
Error "failed calling webhook "mopentelemetrycollector.kb.io": Post https://opentelemetry-operator-controller-manager-service.acn-dev02.svc:443/mutate-opentelemetry-io-v1alpha1-opentelemetrycollector?timeout=10s: dial tcp 10.131.4.237:443: connect: connection refused" for field "undefined".
CreateCa

[2021-06-10 09:03] jpkrohling commented on #310
Could you please share the steps to reproduce? Make sure to include the versions of the components you are using and how you are provisioning the operator.

[2021-06-11 17:59] VineethReddy02 commented on #309
I can do this! :)

[2021-06-11 20:09] jpkrohling commented on #309
It's yours!

[2021-06-13 08:12] Mariusko82 commented on #310
We use ocp Client Version: openshift-clients-4.5.0-202006231303.p0-18-g6082e941e
Kubernetes Version: v1.18.3+fa69cae

operator version is opentelemetry-operator.v0.17.1

When I try to create OpenTelemetryCollector I got this error:

![image](https://user-images.githubusercontent.com/46222068/121800008-b957cb80-cc2f-11eb-97a0-5dfd0c42e27d.png)

An error occurred
Error "failed calling webhook "mopen

[2021-06-16 16:51] VineethReddy02 commented on #128
I can take this up! :)

[2021-06-17 07:19] VineethReddy02 commented on #116
I can take this up! :)

[2021-06-17 08:01] VineethReddy02 commented on #57
Rather creating a webhook for this. I think we can add a check in  reconcillation flow i.e opentelemetry `Self()`. If Messages array size is `> 10`, then drop the oldest messages i.e.
[code]

WDYT @jpkrohling

[2021-06-17 09:13] owais commented on #116
Should we call the URL directly or just run `go get/install` with the newly released version? I think the later is a bit more "future proof"?

[2021-06-23 15:26] #309 closed

[2021-06-23 16:07] jpkrohling commented on #116
These are the options:

![image](https://user-images.githubusercontent.com/13387/123131221-c9e91c80-d44d-11eb-8529-4e1299624ec8.png)

I would be fine with the `go get` approach :-)

[2021-06-23 16:08] jpkrohling commented on #128
It's yours, @VineethReddy02!

[2021-06-23 16:45] owais commented on #116
Ah, so making request to the specific URL is officially supported. I suggested `go get` just in case the underlying URL scheme changes in future but if it is officially supported then either way should be fine.

[2021-06-24 08:29] jpkrohling opened #322 "Bump to Operator SDK v1.9.0"
Similar to #298, but for v1.9.0. Changelog: https://github.com/operator-framework/operator-sdk/releases/tag/v1.9.0

[2021-06-24 08:29] jpkrohling commented on #322
@owais, do you remember which commands you had to run to update the bundles in https://github.com/open-telemetry/opentelemetry-operator/pull/311 ?

[2021-06-24 08:30] jpkrohling opened #323 "Update to collector v0.29.0"
Same as #309, but for 0.29.0. Changelog: https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.29.0

[2021-06-24 08:38] jpkrohling opened #324 "Add @VineethReddy02 as approver"
@VineethReddy02 has been making constant quality contributions to this repository. As such, I think it would be beneficial for the community to add them to the @open-telemetry/operator-approvers group.

cc @open-telemetry/operator-maintainers

[2021-06-24 08:50] jpkrohling commented on #57
The problem with doing it at the reconciliation is that it will trigger an object update, which will trigger another reconciliation routine. It's not bad per se, but a webhook would probably be cleaner.

Another thing to consider is using events instead of this. We have this pattern introduced recently: https://github.com/open-telemetry/opentelemetry-operator/pull/215#discussion_r584740400

More o

[2021-06-24 08:53] jpkrohling commented on #310
Could you please share the steps to reproduce? For instance, how did you install the operator? Was it via OLM, or was it by installing the YAML from this repository? Any logs from the operator itself?

[2021-06-24 11:47] #116 closed

[2021-06-24 11:50] #12 closed

[2021-06-24 13:49] #56 closed

[2021-06-24 13:58] VineethReddy02 opened #325 "Generate docs from CRD spec"
Currently, we introduced a [docs file ](https://github.com/open-telemetry/opentelemetry-operator/blob/main/docs/otelcol_cr_spec.md)for details on otelcol custom resource spec this needs to be manually maintained for all changes on CRD spec. So we should find an efficient way to generate the docs from CRD.

[2021-06-24 19:56] owais commented on #322
IIRC, I only ran `make bundle` to generate the bundle.

I used the following to build a docker image from the bundle so I could test locally.

[code]

[2021-06-25 04:53] Raul9595 commented on #323
Can I take this up?

[2021-06-25 06:41] VineethReddy02 commented on #322
I am working on this!

[2021-06-25 08:43] VineethReddy02 commented on #323
@Raul9595  It's yours!

[2021-06-25 09:18] #322 closed

[2021-06-25 19:28] #323 closed

[2021-06-29 13:19] Mariusko82 commented on #310
I found the issue - I had to edit target  port  of service opentelemetry-operator-controller-manager-service from 443 to 9443.

[2021-06-30 09:12] jpkrohling commented on #310
Is it a problem that we should be fixing on our side? Or was it due to a customization on your side?

[2021-06-30 16:07] bogdandrutu commented on #324
I am ok with this :) Thanks

[2021-06-30 17:33] tigrannajaryan commented on #324
I support.

[2021-06-30 19:49] jpkrohling commented on #324
Great! Who can make the changes? Looks like I don't have permissions to change the groups :-)

[2021-07-01 08:24] VineethReddy02 opened #331 "Validate auto-generated files in CI"
For the Jaeger Operator, we have a target that will fail the build in case make generate would yield changes, implying that the PR has changes that impact the auto-generated files.

[2021-07-01 08:25] VineethReddy02 commented on #331
I'm working on this!

[2021-07-01 23:45] owais opened #333 "Allow customizing role RBAC rules"
Today the operator creates a role with RBAC rules that make sense for the standard installation of Otel collector. However, some installations might not working with the default rules depending on the components selected and the k8s distribution being used. For example, a receiver might want to collect ClusterResourceQuota metrics from an OpenShift cluster but it needs additional RBAC rules.

Open

[2021-07-02 08:19] jpkrohling commented on #333
I think there are two aspects to this request, and I have different opinions depending on how we see it.

In this case, the operator should indeed create a service account with the required permissions. The operator is the right piece of code to hold the knowledge about which receivers need which resources.

In this case, I'm not sure I agree. I think this would belong to the provisioning tool use

[2021-07-02 08:22] jpkrohling commented on #324
ping @tigrannajaryan, @bogdandrutu

[2021-07-05 19:20] tigrannajaryan commented on #324
Added. Welcome as an approver @VineethReddy02 !

[2021-07-05 19:20] #324 closed

[2021-07-07 11:57] #331 closed

[2021-07-15 08:05] jpkrohling opened #339 "Update to collector v0.30.0"
Same as #323, but for 0.30.0. Changelog: https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.30.0

[2021-07-15 08:43] jpkrohling opened #340 "Update kuttl to v0.11.0"
kuttl v0.11.0 has just been released, and we should update our tests to use it.

[2021-07-15 09:59] #333 closed

[2021-07-15 13:01] #339 closed

[2021-07-16 13:54] #340 closed

[2021-07-19 11:47] jughead opened #349 "No release for v0.26.0"
Hello! I wanted to take v0.26.0 of the operator as it's the latest working with Kubernetes 1.18. But I don't see it in the releases, nor in the tags.

[2021-07-20 19:01] jpkrohling commented on #349
Looks like we jumped straight from 0.25 to 0.27. Would you be open to try 0.25 out? We need to fix the compat matrix as well.

[2021-07-21 07:57] jpkrohling opened #350 "Breaking change for influxdb receiver"
See https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/4277

We need an upgrade routine for v0.31.0 to handle this change. Basically, if this field exists, it has to be removed. Similar to this: https://github.com/open-telemetry/opentelemetry-operator/blob/7250758d04076b0e011b196d10bdea885b84fe80/pkg/collector/upgrade/v0_19_0.go#L47-L52

[2021-07-21 20:08] brianpham opened #352 "Can't Find Examples Dir Mentioned in README"
Hi,

I am looking at various ways to deploy OpenTelemetryCollector and in the README it mentions to take a look at`examples/daemonset.yaml` but I don't see it it in this repo.

https://github.com/open-telemetry/opentelemetry-operator#deployment-modes

[2021-07-21 20:21] VineethReddy02 commented on #352
Hi @brianpham

Thanks for pointing this out it looks like while restructuring the repo, we dropped this file and forgot to update the docs.

I will update the docs accordingly.

To run collector as daemonset, all you have to configure is:

[code]

[2021-07-21 20:23] brianpham commented on #352
Perfect thanks!

[2021-07-23 08:04] jpkrohling opened #355 "Bump gcr.io/kubebuilder/kube-rbac-proxy to latest"
We are currently using `gcr.io/kubebuilder/kube-rbac-proxy:v0.5.0` in front of our metrics port, to validate the incoming requests. Looks like there's a new version of it that we should be using:

https://console.cloud.google.com/gcr/images/kubebuilder/GLOBAL/kube-rbac-proxy?gcrImageListsize=30

This is likely the only place that needs to be changed:
https://github.com/open-telemetry/opentelemetry

[2021-07-23 08:31] jpkrohling opened #356 "Update cert-manager to v1.4.2"
Release notes: https://github.com/jetstack/cert-manager/releases/tag/v1.4.2

[2021-07-23 08:43] jpkrohling opened #357 "Create issues whenever a dependency is updated"
While dependabot can manage some dependencies for us, there are some things it can't. For instance: #356 or #355.

I [circulated the idea](https://twitter.com/jpkrohling/status/1415584737586995201) of using/building an action that acts on a "release" event of external repositories, creating issues here for things we care: cert-manager, Kubernetes, Operator SDK, RBAC Proxy, and kuttl. Other things

[2021-07-26 08:57] lastchiliarch commented on #355
I'd like to take this.

[2021-07-26 10:02] jpkrohling opened #358 "Bump to Operator SDK v1.10.0"
Similar to #322, but for v1.10.0. Changelog: https://github.com/operator-framework/operator-sdk/releases/tag/v1.10.0

[2021-07-26 10:22] jpkrohling opened #359 "Revert kustomization of the manager image"
In a previous update, a customization of the manager image got committed, causing all CSV and other generated resources to use this instead of newer versions.

https://github.com/open-telemetry/opentelemetry-operator/blob/7250758d04076b0e011b196d10bdea885b84fe80/config/manager/kustomization.yaml#L5-L8

Example of a side-effect: https://github.com/k8s-operatorhub/community-operators/pull/39

[2021-07-26 12:11] jpkrohling commented on #355
It's yours

[2021-07-27 12:47] #355 closed

[2021-07-28 08:02] Mariusko82 commented on #310
I think problem is on side of opentelemetry operator. I have just found out that that targetPort was set automatically to wrong value 443. I had to make command to change it:

oc patch svc opentelemetry-operator-controller-manager-service -p '{"spec": {"ports": [{"name": "443","port": 443,"protocol": "TCP","targetPort": 9443}]}}'

[2021-07-29 08:27] VineethReddy02 opened #366 "Update to collector v0.31.0"
Same as #323, but for 0.31.0. Changelog: https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.31.0

[2021-07-29 08:29] VineethReddy02 commented on #350
I would like to work on this!

[2021-07-29 08:57] VineethReddy02 commented on #128
This is the [list of receivers](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver) from contrib repo

**Below receivers already exist in the operator**
[code]

**Delta receivers that aren't scrapers**
[code]

**Scrapers (which should be ignored as we do not expose any ports for scrapers)**
[code]

[2021-07-29 13:16] jpkrohling commented on #310
Interesting. Are you able to reproduce it with a fresh OpenShift cluster, such as one provisioned via crc?

[2021-07-29 15:26] #350 closed

[2021-07-30 11:06] #366 closed

[2021-08-02 09:08] VineethReddy02 commented on #359
closing the issue as its been fixed #369

[2021-08-02 09:08] #359 closed

[2021-08-03 02:38] Saber-W opened #370 "Add `protocol: TCP` value under `ports` key to avoid the known limitation for Kubernetes 1.19"
**Is your feature request related to a problem? Please describe.**

The Operator supports Kubernetes 1.19, but an error will occur if we apply the Operator manifest with `--server-side` option on Kubernetes 1.19. The error is:

[code]

This error is caused by the fact that we omit the `protocol` option under `ports` key. This problem is a known limitation as in this [issue](https://github.com/kube

[2021-08-03 08:43] jpkrohling commented on #370
Would you like to work on it, @Saber-W?

[2021-08-03 09:54] jpkrohling opened #371 "New default port for OTLP HTTP"
Context: https://github.com/open-telemetry/opentelemetry-collector/pull/3743

We need to:

1. make sure we create a new -legacy port, for 55681
1. change the default port from 55681 to 4318
1. schedule a ticket to remove the legacy port in two releases

This PR can be used as a reference, which did the same when the gRPC port changed from 55680 to 4317: https://github.com/open-telemetry/openteleme

[2021-08-03 10:06] jpkrohling commented on #77
I'm closing this, as I'm not sure we actually need this.

[2021-08-03 10:06] #77 closed

[2021-08-03 10:06] jpkrohling commented on #28
I believe this to be fixed.

[2021-08-03 10:06] #28 closed

[2021-08-03 10:10] jpkrohling commented on #100
I'm closing this, as the original report has been fixed.

[2021-08-03 10:10] #100 closed

[2021-08-03 10:11] jpkrohling commented on #268
Are you still interested in this one, @kaskavalci?

[2021-08-03 10:12] jpkrohling commented on #349
I'm closing this, but feel free to reopen if you need 0.26 specifically, and not 0.25.

[2021-08-03 10:12] #349 closed

[2021-08-03 11:18] kaskavalci commented on #268
I do but it's been difficult to integrate this work with summer plans. I put a self imposed deadline but that didn't work either :) Is the issue prioritized? I'm happy to leave it to others or pick it up ASAP I find some time on my hands.

[2021-08-03 12:24] CyberHippo commented on #100
Thanks again for all your kind help @jpkrohling

[2021-08-03 12:37] joaopgrassi commented on #371
I'll take a look at this today/tomorrow and hopefully send a PR :)

[2021-08-03 14:11] jpkrohling commented on #268
It's not prioritized, I would love to have you do it whenever you have time for it.

[2021-08-03 16:03] Saber-W commented on #370
Yes, let me finish this. @jpkrohling

[2021-08-05 07:24] jpkrohling opened #378 "Add Kubernetes 1.22 to the test matrix"
Kubernetes 1.22 has just been released and we need to add it to the test and compat matrix.

[2021-08-05 09:38] jpkrohling opened #379 "Prevent the Makefile from installing kustomize"
#373 has shown that installing via `go install` or `go get` isn't particularly reliable. As such, we should switch to use the same approach we have for kuttl/kubebuilder.

[2021-08-05 10:33] #358 closed

[2021-08-05 10:34] #379 closed

[2021-08-05 12:42] ifelseend opened #383 "Will opentelemetry-operator support prometheus CRDs, like ServiceMonitor"
Hi, guys

It is hard to manager prometheus receiver configs when there are many scrape jobs.
I want to know is it a plan to support prometheus ServiceMonitor CRDs, so that we can manage prometheus receiver configs with a better way.

[2021-08-05 13:23] jpkrohling commented on #383
Perhaps a question for @alolita or @rakyll.

[2021-08-05 13:50] #378 closed

[2021-08-05 14:02] jpkrohling opened #384 "Refactor reconcilers"
In order to make the changes to #351 simpler, the generic part of the current reconcilers for the collector should be extracted into another package. The basic structs should also be moved to this new package, like `Params`.

[2021-08-05 16:18] Saber-W commented on #370
Closing this issue since it's been solved. Thanks.

[2021-08-05 16:18] #370 closed

[2021-08-06 07:52] #371 closed

[2021-08-06 09:49] jpkrohling opened #386 "Bump operator-sdk to v1.10.1"
The Operator SDK project just released a new patch version for 1.10 and are recommending projects on 1.10.0 to upgrade.

https://github.com/operator-framework/operator-sdk/releases/tag/v1.10.1

[2021-08-06 11:15] #386 closed

[2021-08-09 11:39] #356 closed

[2021-08-11 09:23] jpkrohling opened #391 "Bump kuttl to v0.11.1"
kuttl has a new version, v0.11.1

Release notes: https://github.com/kudobuilder/kuttl/releases/tag/v0.11.1

[2021-08-11 09:25] #384 closed

[2021-08-11 09:34] #391 closed

[2021-08-17 15:06] Ramilito opened #394 "Missing labels in ConfigMap and Lease"
There are two resources created by opentelemetry-operator that are missing recommended labels.
I would be satisfied with labels such as:

[code]

name: .opentelemtry.io, kind: ConfigMap
![image](https://user-images.githubusercontent.com/8473233/129751160-765a526f-71fa-4be4-bd73-ff693ba72ed5.png)

name: .opentelemtry.io, kind: Lease
![image](https://user-images.githubusercontent.com/8473233/1297514

[2021-08-18 15:42] Aneurysm9 commented on #383
This is definitely something we'd like to support.  I [added support upstream](https://github.com/prometheus-operator/prometheus-operator/pull/3972) so that we could re-use the config generation logic from the Prometheus operator.  I think the remaining work would be to cause the config reconciliation to happen when any of the *Monitor CRs are changed.  Since I'm not sure that the collector handle

[2021-08-19 07:29] jpkrohling opened #395 "Update to collector v0.33.0"
Same as #366, but for 0.33.0. Changelog: https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.33.0

Note that we do not have a release for 0.32.0, so, we need to check the changelog for 0.32.0 as well: https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.32.0

[2021-08-19 07:35] jpkrohling commented on #383
The collector does not handle that. While I kinda understand why target allocator is doing that, I would rather do a regular Kubernetes rollout instead or restarting the container from the pod. This way, we protect the collector from crashing in case the config file can't be used (deprecated/new options).

[2021-08-19 07:38] jpkrohling commented on #394
Could you please link to sources stating that this would be a recommended label? It would also help to understand the problems it's causing to you.

[2021-08-19 08:02] jpkrohling opened #396 "Target allocator tests are failing intermittently"
The CI seems to be broken at the moment and seems to have started with the target allocator commit.

cc @Aneurysm9, @Raul9595, @dashpole

[code]

[2021-08-19 08:42] Ramilito commented on #394
I was thinking about this:

https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/

A snippet from the above link:
![image](https://user-images.githubusercontent.com/8473233/130037516-a7f43a26-5683-48f4-b0b7-0a8e189f6b83.png)

My suggestion fit more with your existing labels, theirs are more generic.

[2021-08-19 11:37] Raul9595 commented on #396
The tests have been flaky since the target allocator was added. From what I noticed in the logs, its mostly the case of the volumeClaimTemplates for the StatefulSet being stuck in `Pending` state. Assuming this to the case, we can add an additional TestAssert command to ensure the StatefulSet is up and running before we proceed with the assertion of the other parameters. Something like the one bel

[2021-08-19 12:00] jpkrohling commented on #396
Sounds good to me.

[2021-08-19 14:45] jpkrohling commented on #394
In short, you are requesting the resources we generate to have the `app.kubernetes.io/version` label?

[2021-08-19 15:41] #396 closed

[2021-08-20 07:07] Ramilito commented on #394
Yes!
But if you go with their recommended labels I would also be needing app.kubernetes.io/name or app.kubernetes.io/managed-by label.
To make my query unique per app.

[2021-08-20 07:33] jpkrohling commented on #394
We can do that for name and version, probably. But the managed-by doesn't make sense, as we don't know who is managing the operator (helm? OLM? you?).

[2021-08-20 07:53] jpkrohling opened #402 "Update to Go 1.17"
Go 1.17 has been released, it would be good to switch to it. This includes changing the go.mod and Dockerfiles.

[2021-08-20 08:50] jpkrohling commented on #395
I could not spot anything in the changelogs that would require an upgrade procedure.

[2021-08-20 09:55] #402 closed

[2021-08-20 09:56] #395 closed

[2021-08-24 12:49] jpkrohling opened #408 "Update cert-manager to v1.5.2"
Similar to #356, but for 1.5.2.

Release notes: https://github.com/jetstack/cert-manager/releases/tag/v1.5.2

[2021-08-25 08:35] #408 closed

[2021-08-25 09:01] mimatache opened #411 "Add the `imagePullPolicy` attribute to the CR"
Currently the operator does not support setting the `imagePullPolicy` on the spec.

I would like to be able to set this policy, especially for development helping purposes, sice it would allow anyone developing their own custom collector to test it/demo it with the operator without actually having to push it to an image repository.

I am offering to add this functionality if it is desired.

[2021-08-25 09:10] jpkrohling commented on #411
If the image is available in the same cluster, you can use the digest format, like `quay.io/opentelemetry/opentelemetry-operator@sha256:c08f811f3db58ddaf4aa26e49fb235ba4fa1f1909659e995a3275795801a44a8`.

I'm OK in having this feature though. Feel free to send a PR for it.

[2021-08-25 11:09] mimatache commented on #411
I would love to do the PR. Are there any special versions of `kustomize` or `operator-sdk`  or any other dependencies I need to use? Or something special I need to do?
I get the following issue running `make bundle` as stated in the CONTRIBUTING.md:
[code]

[2021-08-27 04:15] alexperez52 opened #414 "Minimize mutex lock time in target allocator when updating collectors"
### Part of Target Allocator changes
Mutex is locked when collectors are being updated.
Instead, there could be a local var that stores the list of collectors which will replace `allocator.collectors`. The mutex would then only be locked when the change is ready.

Related PR: https://github.com/open-telemetry/opentelemetry-operator/pull/354

[2021-09-07 06:17] VineethReddy02 opened #420 "Update to collector v0.34.0"
Same as #395, but for 0.34.0. Changelog: https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.34.0

[2021-09-08 09:35] jpkrohling commented on #420
Once there's a release for the core distribution, this can be done. As discussed via Slack, the components that are part of the binary should be the same as the previous version.

[2021-09-09 05:37] rakyll opened #424 "Provide a reference to RBAC instructions for the Prometheus"
The deployment YAML don't set them up, we need to give an example for users who want to use the Prometheus receiver.

Example:

[code]

[2021-09-09 15:41] indrekj opened #426 "Provide a way to add annotations to Pods"
Hi,

We're using DataDog to collect metrics. I've noticed that `prometheus.io/scrape` is [added](https://github.com/open-telemetry/opentelemetry-operator/blob/ea688b527a5b1323413d18d6843ec02486c46350/pkg/collector/annotations.go#L29-L32) to Deployment. DD supports `prometheus.io/scrape` but it has to be in the Pod spec, not in the Deployment spec. Their current implementation is quite limited thou

[2021-09-12 20:43] rakyll opened #427 "Document how to expose the collector"
Document how to expose the collector, so users can quickly copy/paste the instructions and can get an endpoint to configure their binaries to export to the exposed endpoint.

[2021-09-12 20:54] rakyll opened #428 "Collector service created by the operator should expose the OTel ports"
Currently the collector service created by the operator is using the Jaeger ports. This is confusing for Otel users who will only use the Otel language SDKs. We should default to Otel port(s) and expect users to target 14250/TCP only if they are using Jaeger.

[code]

[2021-09-12 22:43] rakyll commented on #427
Duplicate of https://github.com/open-telemetry/opentelemetry-operator/issues/252.

[2021-09-12 22:43] #427 closed

[2021-09-13 09:13] VineethReddy02 commented on #428
Hey @rakyll

In the operator end, we only expose the collector ports based on the receiver's config. The operator only exposes the Jaeger default port if we notice Jaeger receiver in collector config. In operator, we expose the default receiver port to all receivers that aren't scrapers if the receiver is specified in config without the endpoint address.

[2021-09-13 12:47] jpkrohling commented on #426
Is this about the sidecar that is injected? Or is it about the `PodSpec` of a collector instance as `Deployment`/`Daemonset`/`Statefulset`?

[2021-09-13 14:59] #420 closed

[2021-09-14 09:25] indrekj commented on #426
The latter: PodSpec of a collector instance as deployment.

[2021-09-15 09:07] jpkrohling commented on #426
The only problem I have with this is that it leaks the detail about the pod(s) that is being created by the operator. For instance, right now we create only one pod for most CRs. In the future, we might create more (see the TargetAllocator feature that was just merged). In that case, should the annotations specified here be applied to all pods created as a result of a CR?

[2021-09-15 18:42] chhetripradeep commented on #252
@sanjaygopinath89 you are creating single point of failure (i.e when the otel collector agent on that host is down none of the applications on that host will be able to forward the traces) when k8s is providing you HA while using daemonsets. Also exposing port on host is not recommended from security perspective.

Curious why do you think connections across host isn't scalable to handle high load

[2021-09-16 14:45] VineethReddy02 opened #432 "Update to collector v0.35.0"
Same as #420, but for 0.35.0. Changelog: https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.35.0

[2021-09-17 04:33] RishiRavikumar opened #433 "Update Community OpenTelemetry Operator on Openshift/OKD to v0.34.0"
Hi,

The Community OpenTelemetry Operator on Openshift/OKD shows the latest version as v0.33.0. We require v0.34.0 for our requirements, and are looking for the update on the Operator Hub on the OKD platform.  Please let us know if there's a update lined up for the same

Thanks

[2021-09-17 10:31] jpkrohling commented on #433
cc @pavolloffay

[2021-09-19 10:24] or-shachar commented on #352
I think this issue should still be open as the docs still refer to an unknown file.

[2021-09-20 12:04] templarfelix opened #439 "On multiples crd controller-manager get OOMKilled"
After I install many crd's I get error's on controller-manager

for solve I update my resources limit:

`
apiVersion: v1
kind: Pod
metadata:
  annotations:
    kubernetes.io/psp: eks.privileged
  generateName: opentelemetry-operator-controller-manager-5674d6bff7-
  name: opentelemetry-operator-controller-manager-5674d6bff7-sg4tw
  namespace: opentelemetry-operator-system
spec:
  containers:
    -

[2021-09-27 10:33] indrekj commented on #426
In our case, we would like to annotate all the pods. Then in DataDog we can aggregate them and see how things are performing. It also allows showing how one particular pod is performing.

[2021-09-27 16:50] tigrannajaryan opened #443 "Is Mergify still needed"
GitHub App Mergify is requesting additional permissions which we are not sure we should grant. Is the app still necessary or we can use Github actions instead?

@jpkrohling I believe you are the most knowledgeable about this. Any thoughts.

[2021-09-27 16:51] SergeyKanzhelev opened #444 "Is mergify app still being used"
Just got this:

Additional requested permissions are borderline acceptable (https://github.com/open-telemetry/community/pull/841/). Is this app still being used?

CC: @jpkrohling
CC: @open-telemetry/technical-committee

[2021-09-27 16:52] #444 closed

[2021-09-27 16:52] SergeyKanzhelev commented on #444
sorry for the dup: https://github.com/open-telemetry/opentelemetry-operator/issues/443

[2021-09-27 19:39] jpkrohling commented on #439
CRDs, or CRs (instances)? How many CRs are you handling with the operator?

[2021-09-28 00:19] templarfelix commented on #439
in this moment 12 CRs on separated namespaces

[2021-10-01 10:20] jpkrohling commented on #443
No, it can be removed. If anything fails, I'll send a PR to fix it.

[2021-10-04 09:08] #443 closed

[2021-10-04 09:10] jpkrohling opened #445 "Promote @VineethReddy02 to maintainer of the operator"
@VineethReddy02 has made several contributions to the operator already, being the main contributor behind the newest releases. I think it's about time to promote him to a maintainer of this project by including him in the @open-telemetry/operator-maintainers group.

cc @open-telemetry/operator-maintainers

[2021-10-04 12:02] jpkrohling commented on #439
@VineethReddy02, @pavolloffay, would you have time to try out this scenario? I would expect the operator to be able to handle at least 20 instances with the current requests/limits. Perhaps there's something eating up too much memory/cpu?

[2021-10-04 14:51] pavolloffay opened #447 "Add configuration/flag to override collector image"
The default collector image is hardcoded https://github.com/open-telemetry/opentelemetry-operator/blob/f7b7b9385c302e5d2f73dfd2700ef3cee6a49506/internal/config/main.go#L74.

Vendors providing a custom build of the operator (and collector) should be able to change the default image.

[2021-10-04 20:39] nevosial commented on #432
Hello I would like to work on this .
Can you help me where to get started as I am a new contributor.

[2021-10-04 22:46] nevosial commented on #447
Hello I would like to work on this .
Can you help me where to get started as I am a new contributor.

[2021-10-05 05:25] RishiRavikumar commented on #433
@jpkrohling @pavolloffay
Hi,
Any updates on this?

[2021-10-05 07:50] jpkrohling commented on #433
I do not have any updates. @pavolloffay, are you planning on working on this?

[2021-10-05 07:52] jpkrohling commented on #432
This has been done already, but keep an eye on the release for the next OpenTelemetry Collector, which will require bumping this here to 0.36.0.

Take a look at the following docs:
https://github.com/open-telemetry/opentelemetry-operator/blob/main/CONTRIBUTING.md
https://github.com/open-telemetry/opentelemetry-operator/blob/main/RELEASE.md

See also the PR linked to this issue, and try to replicat

[2021-10-05 07:52] #432 closed

[2021-10-05 07:58] jpkrohling commented on #426
Just to double-check: if you are using the target allocator, you'd want the annotations to be present at both the pods for the target allocator and for the collector, right?

[2021-10-05 07:59] jpkrohling commented on #447
@nevosial, take a look at this doc: https://github.com/open-telemetry/opentelemetry-operator/blob/main/CONTRIBUTING.md

[2021-10-05 08:14] indrekj commented on #426
I'm not that familiar with the target allocator yet so pardon my ignorance. I assume you mean collector pods that target allocator creates (agents I guess?) and collector (as in gateway?), then yes. I would like to annotate all of them. If I could provide different annotations for them, then that would be even better but both should work for us.

[2021-10-05 08:15] pavolloffay commented on #447
I have already submitted a PR for this https://github.com/open-telemetry/opentelemetry-operator/pull/449.

[2021-10-05 08:36] jpkrohling commented on #426
The target allocator is a different deployment that is created when Prometheus is used. Sounds good to me, I think we can start by adding the annotation to all pods and see how it goes.

Would you like to open a PR with that?

[2021-10-05 12:21] indrekj commented on #426
Tried to put something together: https://github.com/open-telemetry/opentelemetry-operator/pull/451

[2021-10-05 18:18] VineethReddy02 opened #452 "Update collector to v0.36.0"
Same as #432, but for 0.36.0. Changelog: https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.36.0

[2021-10-06 10:42] #426 closed

[2021-10-06 16:01] Aneurysm9 commented on #445
+1!

👍 🚀 :shipit:

[2021-10-07 07:54] #447 closed

[2021-10-07 10:45] tigrannajaryan commented on #445
@jpkrohling please file a PR to update Maintainer's list in README.

[2021-10-07 10:47] tigrannajaryan commented on #445
Congrats @VineethReddy02!

Permissions updated.

[2021-10-11 07:24] anuraaga opened #455 "Auto instrumentation via pod mutation"
I'd like to propose a new feature for the k8s operator (which I can work on), the ability to inject and enable auto instrumentation with no user code changes to their dockerfiles. Being able to opt in pods, or even namespaces to auto instrumentation, could be a transformative experience on k8s where observability is ensured by the infrastructure team, without involvement from app teams.

This is s

[2021-10-11 07:56] jpkrohling commented on #455
I love this idea and I know @pavolloffay is interested in this topic as well. I'd say that you can go ahead with a PoC :-)

[2021-10-11 12:58] pavolloffay commented on #433
I see that 0.34.0 and 0.35.0 were released by @jpkrohling.

Updating the community operators is part of the release process https://github.com/open-telemetry/opentelemetry-operator/blob/main/RELEASE.md#release-instructions.

[2021-10-11 13:08] jpkrohling commented on #433
I don't currently have.

Good point, I'll remove it, as it's not a requirement for releases.

[2021-10-11 13:10] jpkrohling opened #456 "Move Operator Hub instructions to its own section"
The current release process includes submitting pull requests to update the operator on the Operator Hub. However, this is not really required to release the operator proper. We still want this documented there, though. This ticket is about moving that item from the release process into its own section.

[2021-10-11 13:28] pavolloffay commented on #456
This is related to https://github.com/open-telemetry/opentelemetry-operator/issues/433

The operator 0.34.0 and 0.35.0 were released without publishing changes to the operatorhub.io. There are users that noticing this and asking to publish the operator see #433

The operatorhub.io is a central location where users can find released operators. The release process should include publishing to the op

[2021-10-11 16:41] pavolloffay commented on #455
hi @anuraaga I have already build a POC but in a separate operator https://github.com/pavolloffay/opentelemetry-instrumentation-operator. I was planning to submit a PR to bring it here (at least for Java initially).

For languages, without "agent" feature we can still provide this functionality that would serve as a control plane - e.g. configure the SDK (reporting, sampling...)

I am willing to s

[2021-10-17 18:01] VineethReddy02 opened #457 "Update collector to v0.37.0"
Same as #452, but for 0.37.0. Changelog: https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.37.0

[2021-10-18 08:33] #457 closed, assigned to nobody

[2021-10-18 13:22] pavolloffay opened #460 "Restart collector on config change"
At the moment operator does not restart the collector when `spec.config` part of the CR changes (e.g. configure new processor). The operator could restart the collector if the config changes.

The config update could be implemented on the collector itself, but that seems like a long way to go https://github.com/open-telemetry/opentelemetry-collector/issues/273.

[2021-10-18 13:24] pavolloffay opened #461 "Allow running make run with webhooks"
Deploy the following CR. Only services are created.

[code]

[2021-10-19 13:48] jpkrohling opened #463 "TLS settings require migration"
The release v0.36.0 introduced a breaking change for TLS options: https://github.com/open-telemetry/opentelemetry-collector/pull/4063

This needs to be added as an upgrade routine so that collectors working with versions prior to 0.36.0 won't break after the upgrade.

[2021-10-22 14:48] VineethReddy02 opened #466 "Update collector to v0.37.1"
Same as #457, but for 0.37.1. Changelog: https://github.com/open-telemetry/opentelemetry-collector-releases/releases/tag/v0.37.1

[2021-10-24 16:13] ekarlso opened #468 "Allow setting podSecurityContext"
you should be allowed to set something like the below that will be applied to the Pod of the Statefulset etc except when in sidecar mode which is very uesful for rootless collection of logs etc
[code]

[2021-10-26 12:53] paulfantom opened #473 "CRD from this repository break kubernetes 1.22 cluster"
Applying just the CRD from this repository prevents kubernetes controller-manager GC from kicking in and removing child objects (kubernetes issue: https://github.com/kubernetes/kubernetes/issues/101078).

Steps to reproduce:
1. Start kubernetes 1.22 cluster
2. `kubectl apply -f https://raw.githubusercontent.com/open-telemetry/opentelemetry-operator/main/bundle/manifests/opentelemetry.io_openteleme

[2021-10-27 12:32] #463 closed, assigned to nobody

[2021-10-27 12:37] #466 closed, assigned to nobody

[2021-10-27 19:17] cheeseandcereal opened #477 "Not compatible with latest versions of cert-manager"
cert-manager 1.6.0 was released recently: https://github.com/jetstack/cert-manager/releases/tag/v1.6.0

This latest version of cert manager (and all versions moving forwards) no longer serve the `cert-manager.io/v1alpha2` CRD api. This makes all current releases of this operator incompatible since they currently use this api in the release manifests for their certificate and issuer: https://github

[2021-10-28 08:13] jpkrohling opened #478 "Update Kubernetes images for kuttl"
There are new Kubernetes patch versions for the matrix we use for testing. We need to update our kuttl files to use them. For instance, the following file needs to be updated as soon as a new kuttl image is created tracking v1.19.16.

https://github.com/open-telemetry/opentelemetry-operator/blob/f4273b84f9da6f8ec0a296bdf67653e3a8da69d4/kind-1.19.yaml#L1-L5

[2021-10-28 13:29] #477 closed, assigned to nobody

[2021-10-29 13:42] jpkrohling opened #486 "Convert messages to events"
We have a facility to record events in the operator, like this:

https://github.com/open-telemetry/opentelemetry-operator/blob/7455eede6ae9347cf86cfc39cb2c90a6648ced0f/pkg/collector/reconcile/configmap.go#L179

But so far, we have been using the messages field in the status object, like this:

https://github.com/open-telemetry/opentelemetry-operator/blob/02dc4901d7ceefa630539374226665969f3191f2/pk

[2021-10-30 07:24] VineethReddy02 opened #488 "Update collector to v0.38.0"
Same as #466, but for 0.38.0. Changelog: https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.38.0

[2021-11-01 08:16] jpkrohling commented on #488
I changed the link to the changelog, as it's more relevant to have the one for core than for releases.

[2021-11-01 08:17] jpkrohling commented on #488
This might need to be in the upgrade mechanism: https://github.com/open-telemetry/opentelemetry-collector/pull/4213

[2021-11-01 15:45] jsirianni opened #490 "Installation fails when using Cert Manager 1.6 or newer."
Cert Manager 1.6 removes support for alpha APIs. This commit https://github.com/open-telemetry/opentelemetry-operator/commit/eedf44e1c0f3731f59a1b614c9cec6211c3f3b67 to main resolves the issue but it is not released.

As a work around, I need to use Cert Manager v1.5.4 while using the latest Open Telemetry Operator release.

[2021-11-01 15:46] RomeroGaliza commented on #490
Exactly same issue here.

[2021-11-01 16:23] jpkrohling commented on #490
We will be having a release soon (#488), but this issue here is also evidence that we need a compatibility matrix in the readme with the cert-manager we tested for each release.

cc @VineethReddy02

[2021-11-02 12:21] VineethReddy02 commented on #488
FYI, I created the upgrade routine PR. #491

Now, all we need is to bump the Otelcol version PR. #466 includes all the changes that need to be made to this PR.

[2021-11-02 13:02] BronzeDeer commented on #460
@bhiravabhatla I just encountered the same problem as @pavolloffay with a Deployment not updating. The Annotation needs to go on the pod spec template not the Deployment/Daemonset itself, otherwise kubernetes does not trigger a rolling update

[2021-11-02 13:21] jpkrohling opened #492 "Use GitHub Container Repository instead of Quay"
Switched to quay. I'd recommend separately considering migrating to GHCR for everything. For an OSS contributor project like OTel I think there is a lot to like about having creds / permissions tied to the repo itself rather than a backchannel

_Originally posted by @anuraaga in https://github.com/open-telemetry/opentelemetry-operator/pull/475#discussion_r740972480_

[2021-11-02 14:34] yuriolisa commented on #490
Hi @jpkrohling , I'll prepare this Matrix tomorrow.

[2021-11-02 14:40] bhiravabhatla commented on #460
@BronzeDeer  -> As far as I remember, I used annotations on deployment knowingly, whenever configmap is updated, we are publishing an event.

https://github.com/open-telemetry/opentelemetry-operator/blob/dd248a328fd020dc387df79ffba4ddde3a90598c/pkg/collector/reconcile/configmap.go#L178-L180

And deployment reconciller listens for configMap events -

https://github.com/open-telemetry/opentelemetry-

[2021-11-02 14:43] bhiravabhatla commented on #460
But I see your point even if deployment annotation is change, new replicaset wont be rolledout unless pod spec is not updated. May be that is the issue, not sure how missed this. Thanks for pointing it out.

[2021-11-02 17:29] bhiravabhatla commented on #460
Yep - this was miss. would make required changes and raise another PR. Apologies for the same. I guess we should add an e2e test for this as well.

 @jpkrohling  and @pavolloffay  had a question, I see that we are adding prometheus scrape annotations to deployment.metadata.annotations.

https://github.com/open-telemetry/opentelemetry-operator/blob/dd248a328fd020dc387df79ffba4ddde3a90598c/pkg/colle

[2021-11-02 19:22] BronzeDeer commented on #460
@bhiravabhatla Is there a reason that we want to manually trigger a new rollout via the event? Just updating the pod template is fine and quite a bit more light weight. If we are calculating the cm hash to update the deployment anyway we can just always do that on the pod template and get the rolling update for free, no?

[2021-11-03 01:51] bhiravabhatla commented on #460
@BronzeDeer - One reason I could think of was - if some one directly updates configmap ( I know this should not be done, but no one is stopping anyone with access to do so), reconciler should get triggered and sync it back. Or else the config in opentelemetry CR and the actual configmap would be different.

[2021-11-03 07:10] BronzeDeer commented on #460
@bhiravabhatla fair point

[2021-11-03 07:23] bhiravabhatla commented on #460
@jpkrohling @pavolloffay, if you could confirm on my above question about prometheus annotations, I can raise a PR fixing both

[2021-11-03 08:42] jpkrohling commented on #460
To be honest, I do not know the answer to the Prometheus annotation question. Can you find a place on their documentation about it? In any case, it would be a different PR, not related to this issue here.

[2021-11-03 10:40] bhiravabhatla commented on #460
As far as I understand the kubernetes_sd_config in prometheus, we have  roles for discovering pods, services, endpoints, nodes and ingress only. I dont think we have role for deployment. More on this here -

https://prometheus.io/docs/prometheus/latest/configuration/configuration/#kubernetes_sd_config

Sure I can raise another issue for this. I was asking because the change for config reload fix i

[2021-11-03 18:27] lionelvillard commented on #460
I ran into the issue as well. I hope this will get fixed.

[2021-11-04 00:36] anuraaga opened #500 "Register java instrumentation image with Quay"
Currently the java image publish is failing with this

[code]

The login step is there so presumably the image has to be registered in quay.

@jpkrohling Are you able to register the image? Or should I just go with GHCR under the assumption of #492?

[2021-11-04 08:22] jpkrohling commented on #500
I tried logging in, but apparently, my account is still tied to my redhat.com address, which I no longer have access. Looks like @pavolloffay's quay.io account, which is also admin to that organization, is also disabled. We both emailed Red Hat's support to regain access to our accounts, and I believe @bogdandrutu and @tigrannajaryan both have admin rights to that organization, so, we can resort t

[2021-11-04 08:23] jpkrohling commented on #500
I'm assigning this to Pavol, as he might be able to get access to the repository by the same time as I do.

[2021-11-04 08:37] pavolloffay commented on #500
if we are planning to migrate I don't see value of publishing the java agent image to quay as it has never been published there.

[2021-11-04 08:42] pavolloffay commented on #500
Here is PR to move java image to GHCR only. https://github.com/open-telemetry/opentelemetry-operator/pull/501

[2021-11-04 08:44] jpkrohling commented on #500
Agree. Closing this.

[2021-11-04 08:44] #500 closed

[2021-11-05 09:24] #490 closed

[2021-11-08 10:30] #488 closed

[2021-11-08 15:09] rkukura commented on #433
I updated operator hub to 1.37.1 for Kubernetes, but ran into an issue with 1.37.1 (and also 1.33.0) on OpenShift 4.9 where the opentelemetry-operator-controller-manager exits with an error in client-go and keeps getting restarted, then fails to uninstall cleanly. I see the same behavior on Kubernetes 1.22. I'm going to move to testing the just-released 1.38.0 on both today, and updating operator

[2021-11-08 22:23] rkukura commented on #473
I can work on this now if nobody else is. I'm convinced its the same issue causing https://github.com/redhat-openshift-ecosystem/community-operators-prod/pull/402 to fail CI on OpenShift 4.9, which is based on kubernetes 1.22.

[2021-11-10 06:41] anuraaga opened #522 "Don't checkin autogenerated resources"
It's quite difficult to develop on this repo since it's basically not possible to have code in a state where it builds locally and CI equally. This is because of version and kustomize manifests which reflects the git state - a local build requires a different value _committed_ to be able to run, but this then causes the CI to not run and needs to be reverted. Most problematic is that `make bundle`

[2021-11-10 07:05] anuraaga opened #523 "Clean up namespaces after unit test run"
I suspect this affects `make test` too though I'm currently having trouble with that command and have only checked with running tests in GoLand directly, including with debugger. It seems that namespaces get created and not deleted, and then tests cannot be re-ran until I manually delete the namespaces. The tests should have a cleanup hook to delete namespaces, regardless of test success or failur

[2021-11-10 09:09] pavolloffay commented on #522
I agree with you that it's annoying how it is setup right now. At the same time I like that generated valid CRD is committed to the main branch, but perhaps this can be done only for the release commit.

nit I run the following before submitting PR
[code]

[2021-11-10 09:35] jpkrohling commented on #523
Are you talking about integration tests, or e2e (kuttl) tests?

[2021-11-10 10:14] anuraaga commented on #523
Integration tests I guess (I thought they are called unit tests ;) ). Normal _test.go files, at least the ones in the instrumentation package seem to have this issue.

[2021-11-10 12:26] pavolloffay commented on #522
Also, I would prefer to keep check-in in all files to be compliant with the sample project https://github.com/operator-framework/operator-sdk/tree/master/testdata/go/v3/memcached-operator.

There are some assuptions that `operator-sdk` uses and we should be compatible with them.

[2021-11-10 12:51] jpkrohling commented on #523
Right, those are integration tests, even though they look like regular unit tests :-) If you don't have a cluster running, it would just bootstrap an environment of its own and use it. See https://book.kubebuilder.io/reference/envtest.html

[2021-11-10 17:50] rkukura commented on #473
We should be able to close this now.

[2021-11-10 18:36] pavolloffay opened #526 "Pass all scorecard pass"
https://github.com/open-telemetry/opentelemetry-operator/pull/517 added basic scorecard tests.

We should add missing tests to align with https://github.com/operator-framework/operator-sdk/blob/master/testdata/go/v3/memcached-operator/bundle/tests/scorecard/config.yaml

[2021-11-10 20:51] BinaryFissionGames opened #527 "Add a mechanism to ignore certain receivers when deriving service from config"
The specific receiver configuration that sparked this issue:

[code]

This fails, because the service derives that there are two endpoints, each with port 10250, giving this error:
[code]

The problem here is that `endpoint` doesn't define an endpoint for something connecting to the collector, rather it's an endpoint that is scraped by the collector. These ports shouldn't be mapped in the service,

[2021-11-11 02:47] anuraaga commented on #523
I was using `USE_EXISTING_CLUSTER` as recommended in CONTRIBUTING.md :-) Not using that variable fails with `cannot find etcd` - presumably I could install deps to get it to create a cluster, but I suspect the test feedback loop would generally be faster if able to use an existing cluster and the tests cleaned up after themselves

[2021-11-11 02:52] anuraaga commented on #523
Realized that the namespace creation isn't a part of testEnv but just our ad-hoc test code

https://github.com/open-telemetry/opentelemetry-operator/blob/main/pkg/instrumentation/podmutator_test.go#L402

So, unless creating an internal test framework or something to handle that sort of thing, at the least it's probably good to have a `defer k8sClient.Delete(context.Background(), ns)` when doing th

[2021-11-11 03:12] anuraaga commented on #522
Any approach that solves the dance would be fine, if it can support the merged autogen code. I think currently, it's in a really bad place when local code and CI code can't build with the same repo state, or may require some opaque flags.

[2021-11-11 03:23] anuraaga opened #529 "Handle case where multiple instrumentations can be applied to a pod"
Currently, both `inject-java` and `inject-nodejs` can be applied to the same pod. This creates some awkwardness, especially if the instrumentation instance referenced is different, common SDK configuration will be applied from two unrelated instrumentations.

One approach that could solve this is to split the current annotations into "whether to inject" and "what language to inject"

[code]

_Orig

[2021-11-11 03:25] anuraaga commented on #523
By the way I realized one reason for the confusion on unit vs integration is, at least in the pkg/instrumentation package, all tests are "effectively" integration tests - for example, I can't run only `TestInjectNodeJS` without a cluster because `TestMain` gets run for these unit tests as well, setting up the otherwise unused testEnv. Wonder if there is a way to split tests to allow these to be ru

[2021-11-11 06:26] anuraaga opened #531 "OTEL_EXPORTER_OTLP_ENDPOINT set to empty string if not set in spec"
It should not be injected if it's not set in the instrumentation config.

[2021-11-11 09:56] jpkrohling commented on #473
@paulfantom, would you please confirm the CRD we have in the main branch fixes the problem?

[2021-11-11 10:04] mritunjaysharma394 commented on #527
Hi @jpkrohling, I have understood some parts of the issue and some parts I am processing more, I would love to work on this issue 😄

[2021-11-11 10:11] jpkrohling commented on #527
I think @VineethReddy02 worked recently on this so he might have a clear understanding of what needs to be done, but from what I remember, the problem is that we are using a generic parser for this receiver, which is a scraper, and we shouldn't parse scrapers at all.

If you need more help, let me or @VineethReddy02 know.

[2021-11-11 10:13] #325 closed

[2021-11-11 10:14] jpkrohling commented on #529
Can we create a validation webhook that will block the creation of the podspec in that case?

[2021-11-11 10:21] shree007 commented on #527
@jpkrohling
i may take as second choice.😊

[2021-11-11 10:33] anuraaga commented on #529
Validating is definitely an option. Personally I don't see a real advantage to validate / errors vs just structuring it into the annotations though where it stops being a problem. The assumption is two annotations is equivalent to one since they're almost always copy-pasted.

[2021-11-11 12:54] pavolloffay commented on #529
I think allowing multiple injections to a single pod can be actually useful. I have this use-case in mind:

A pod with {java,python,whatnot} application container is instrumented but the pod also has a sidecar proxy (e.g. envoy) that does tracing as well (e.g. to capture payloads or headers). Now user might want to inject javaagent into the first application container and then sdk configuration to

[2021-11-11 13:59] jsirianni commented on #527
I can assist in replicating this issue if needed. The workaround for me was to use `spec.hostNetwork: true` instead of setting `endpoint` (this is specific to the [kubeletstats receiver](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/kubeletstatsreceiver)).

[code]

[2021-11-11 17:55] mritunjaysharma394 commented on #527
Thanks a lot for all the help and making it much more easier for me to understand it better @jpkrohling :pleading_face:

I will try to replicate the issue to understand it even better and then will suggest the approach to fix this as PR and will surely ping you or @VineethReddy02 or @jsirianni for any help that is needed, thanks a lot again for all the help to everyone :smile:

[2021-11-11 18:55] VineethReddy02 commented on #527
I'm able to reproduce this issue. It looks like we expect `endpoint` field in the config only for receivers to expose the port via k8s services. So this needs to be handled with a special validation in the generic receiver parser to ignore scarpers with the field `endpoint`. To be more precise the fix needs to be added [here](https://github.com/open-telemetry/opentelemetry-operator/blob/main/pkg/c

[2021-11-11 21:30] rkukura commented on #433
OpenShift PR: https://github.com/redhat-openshift-ecosystem/community-operators-prod/pull/430 (note CI is currently broken, but has passed all tests)
Kubernetes PR: https://github.com/k8s-operatorhub/community-operators/pull/396

We should be able to close this once those merge.

[2021-11-12 10:24] jpkrohling opened #538 "Nominate pavolloffay to approver"
I would like to nominate @pavolloffay to the @open-telemetry/operator-approvers group.

Pavol has reviewed about [30 PRs](https://github.com/open-telemetry/opentelemetry-operator/pulls?q=is%3Apr+reviewed-by%3Apavolloffay) and is the author of more than [30 PRs](https://github.com/open-telemetry/opentelemetry-operator/pulls?q=is%3Apr+author%3Apavolloffay+), including the one introducing the auto-in

[2021-11-12 10:28] VineethReddy02 commented on #538
+1

[2021-11-12 10:38] pavolloffay commented on #492
#536 switched operator image to GHCR.

The only remaining image in quay is the target allocator.

[2021-11-12 15:45] jpkrohling opened #539 "Upgrade not handling TLS changes from 0.36.0 for all components"
All components that make use of configgrpc are affected by open-telemetry/opentelemetry-collector#4063. This was partially fixed by #465 (tracked by #463), but other exporters are missing, such as Jaeger's.

cc @rkukura, @VineethReddy02

[2021-11-12 19:44] rkukura commented on #433
Both the OpenShift and Kubernetes operator hubs have now been updated to 0.38.0, with the fixed CRD from https://github.com/open-telemetry/opentelemetry-operator/pull/521, so this issue can now be closed.

[2021-11-12 19:46] rkukura commented on #473
Both the OpenShift and Kubernetes operator hubs have now been updated to 0.38.0 with the fixed CRD from https://github.com/open-telemetry/opentelemetry-operator/pull/521 included.

[2021-11-15 11:57] paulfantom commented on #473
I confirm that #521 fixes the issue. Thank you all for the fix! :+1:

[2021-11-15 11:57] #473 closed

[2021-11-15 15:38] pavolloffay opened #540 "Add programmatic validatio for instrumentation kind"
Depends on https://github.com/open-telemetry/opentelemetry-operator/pull/535

We should validate if sampling ARG is double if sampler  is `traceidratio` or `parentbased_traceidratio`

[2021-11-15 15:38] pavolloffay commented on #540
Please assign this to me.

[2021-11-16 09:33] pavolloffay commented on #455
I think we can close this issue now and create dedicated well-defined followup issues.

[2021-11-16 09:53] pavolloffay opened #544 "Add status object for Instrumentation kind"
The instrumentation Kind does not expose any status at the moment. There are a couple of useful fields that the status object can expose:

1. sampling configuration
2. exporter config
3. which workloads are instrumented

I think that showing which workloads are instrumented can be super helpful.

[2021-11-16 11:05] #540 closed

[2021-11-16 17:16] mritunjaysharma394 commented on #527
Hi @VineethReddy02, thanks a lot for this detailed help, I think I understood some part of it but I have a few questions regarding how to ignore scrapers? And do we need another `case` before `default` which determines if we have to expose the port via k8s services or its just an if-else condition below default that will handle the validation? And if there are any existing or similar examples of s

[2021-11-16 18:17] pavolloffay opened #550 "Failed publish of node auto-instrumentation"
https://github.com/open-telemetry/opentelemetry-operator/runs/4228736205?check_suite_focus=true

[code]

[2021-11-17 04:23] anuraaga commented on #529
@pavolloffay Any ideas on structuring the annotations to support multiple containers? Perhaps something like this?

[code]

[code]

Or do you think it's valid to inject different OTel SDK settings into different containers in the pod? In that case I guess

[code]

[code]

And if multiple instrumentation names were defined for a single container, we'd need to log an error and disable injection. I g

[2021-11-17 05:26] VineethReddy02 commented on #527
The scrapers are by default ignored. In operator, we have custom logic for all receivers that aren't scrapers to expose the service ports as provided in receiver config, so the leftover receivers are considered as scrapers. The root cause behind this issue is we have a `generic_receiver` parser that looks for a field `endpoint` and tries exposing it. So this is corner case a receiver i.e. is a scr

[2021-11-17 05:43] #550 closed

[2021-11-17 07:31] pavolloffay opened #552 "Test reporting of data in e2e Instrumentation tests"
The e2e instrumentation tests verify the structure of the workload deployment (if all env vars are set etc.). However the test should execute an endpoint on the test app that will trigger span generation and then the test should verify if the span arrived to the collector or some mock storage.

@anuraaga the integration tests in the java auto-instrumentation are dosing something similar, is there

[2021-11-17 07:35] anuraaga commented on #552
I think this might be a good segway into filing an OTEP or something for a project-wide black-box instrumentation testing suite. I can't think of anything we would implement in an e2e test that wouldn't apply to every language at the same time - sending a request, verifying sent OTLP is a very common concern.

[2021-11-17 09:52] #433 closed

[2021-11-17 09:52] #468 closed

[2021-11-17 09:54] #455 closed

[2021-11-17 09:55] #523 closed

[2021-11-17 09:57] jpkrohling commented on #552
At the collector would be easy, as we have metrics already with the number of spans seen by each component, IIRC.

[2021-11-17 10:14] pavolloffay commented on #552
I would prefer to get the reported data. This is what the java auto-instrumentation tests do. The SDK reports to a collector and the collector reports to a service with in-memory storage that can be queried.

[2021-11-17 10:18] pavolloffay opened #553 "Add option to Instrumentation CR to restart depoyments if config changes"
I would like to have a way to trigger a rolling update if an instrumentation CR changes - e.g. the auto-instrumentation image is updated or sampling is changed.

[2021-11-17 10:22] jpkrohling commented on #553
Good idea, but I believe this should be opt-in, at least in the first version of the CRD.

[2021-11-17 10:29] pavolloffay commented on #553
exactly, that is what the title says :)

[2021-11-17 11:33] pavolloffay opened #554 "The pod name is empty in pod webhook"
The pod name is empty/not set in the pod webhook when the pod is created from higher-level object - deployment, statefulset. This also applies for pod UID. The only time pod name is present is when the pod is created from the pod object.

We should figure out how to get the pod name and set it in the resource attributes. One way to get the pod name is via k8s downward API, but we cannot use it out

[2021-11-17 12:54] jpkrohling commented on #554
We have something similar for the Jaeger operator, where we set it to an env var, and use that env var as part of JAEGER_TAGS. Wouldn't that solve the problem here?

[2021-11-17 13:00] pavolloffay commented on #554
That should work

[2021-11-17 15:54] pavolloffay commented on #554
the `JAEGER_TAGS` env var is not used in the Jaeger operator. The operator is using `---jaeger-tags` flag https://github.com/pavolloffay/jaeger-operator/blob/df4351001697e68e7fd99a3b886d34e86f4efef9/pkg/inject/sidecar.go#L203 as CMD argument. The CMD interprets all env variables.

In this operator, we set the resource attributes via env VAR `OTEL_RESOURCE_ATTRIBUTES`. IIRC the env var substitution

[2021-11-17 17:18] bogdandrutu commented on #538
+1

[2021-11-17 20:15] mritunjaysharma394 commented on #527
Thanks a lot for all the help and guidance @VineethReddy02 , I have created a PR which is an attempt to work on it after reading about it more from here https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/kubeletstatsreceiver

Looking forward for the feedback to make it better, thanks a lot!

[2021-11-18 08:49] jpkrohling commented on #478
New Kubernetes versions are available:

https://github.com/kubernetes/kubernetes/releases/tag/v1.23.0-beta.0 (new minor!)
https://github.com/kubernetes/kubernetes/releases/tag/v1.22.4
https://github.com/kubernetes/kubernetes/releases/tag/v1.21.7
https://github.com/kubernetes/kubernetes/releases/tag/v1.20.13

[2021-11-18 08:50] jpkrohling commented on #478
I believe it's a good opportunity to stop testing 1.19.

[2021-11-18 08:52] jpkrohling commented on #538
3 maintainer votes out of 4 maintainers, welcome @pavolloffay!

@bogdandrutu, I don't seem to have permission to change the group. Would you please do the honors?

[2021-11-18 09:09] jpkrohling commented on #554
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.22/#envvar-v1-core

[2021-11-18 09:51] yuriolisa commented on #478
It looks ok to me, however, I'd like to contact some Kind maintainer to release these new versions on Kind, then we'll be able to remove the 1.19 test.

[2021-11-18 09:59] pavolloffay commented on #554
that is awesone, I will use it once https://github.com/open-telemetry/opentelemetry-operator/pull/542 is in

[2021-11-18 10:12] pavolloffay commented on #526
Now two missing tests are `olm-spec-descriptors-test` and `olm-status-descriptors-test`.

These tests check if the description for fields used in the alm-examples are in the CSV.

The descriptions can be added via `+operator-sdk:csv:customresourcedefinitions:type=[spec,status]` on a field.

That said, I could not make this work for the instrumentation example, I have added the annotation to the ex

[2021-11-19 15:25] pavolloffay opened #565 "Add instrumentation for Kubernetes events"
Since version 0.38.0 the operator supports injecting instrumentation to workloads via the `Instrumentation.opentelemetry.io` Kind. I would like to extend the CR to add support for generating spans for k8s events. In other words instrumentation for k8s events.

Kspan: https://github.com/weaveworks-experiments/kspan

![example-2pod](https://user-images.githubusercontent.com/5618424/144408757-220ae81

[2021-11-19 15:27] pavolloffay commented on #565
Previously we had a couple of discussions with @jpkrohling about what is the right place for kspan and I more and more think that having it in this operator makes sense.

[2021-11-19 15:38] jpkrohling commented on #565
@bboreham, I thought you'd be interested in knowing about this.

[2021-11-21 15:53] ananda-chintalapati opened #567 "Auto instrumentation Error"
I am following the deployment steps and the auto instrument step is failing with the below error.

`error: error validating "inst.yaml": error validating data: [ValidationError(Instrumentation.spec): unknown field "nodejs" in io.opentelemetry.v1alpha1.Instrumentation.spec, ValidationError(Instrumentation.spec): unknown field "propagators" in io.opentelemetry.v1alpha1.Instrumentation.spec, Validati

[2021-11-22 09:13] pavolloffay commented on #567
@jpkrohling please do not assign issues ;)

@anuraaga does this sound familiar? This is from the nodejs part

[2021-11-22 09:16] anuraaga commented on #567
Could it be a version issue? There seem to be many newer fields including sampler and propagators in the log. Nothing else comes to mind

[2021-11-22 09:20] pavolloffay commented on #567
Version of the OTEL stack?

I don't know what the `inst.yaml` refers to from the log. It seems like user-defined file.

@ananda-chintalapati could you please paste here your dependency tree -e.g. package.json (I am not JS guy :-) )?

[2021-11-22 09:29] anuraaga commented on #567
The error is operator API validation isn't it? I guess it's an Instrumentation object.

@ananda-chintalapati Can you post your inst.yaml and verify the version of the operator?

[2021-11-22 09:34] pavolloffay commented on #567
lol that is correct it is incorrect `Instrumentation` CR. I need to grab Monday morning coffee :)

[2021-11-22 09:37] pavolloffay commented on #567
Note that nodejs is not supported in 0.38.0. It will come in the next version.

[2021-11-22 09:45] jpkrohling commented on #567
Aren't you one of the owners of the auto-instrumentation feature?

[2021-11-22 09:53] pavolloffay commented on #567
yes :))

In community projects, people are usually self-assing themselves.

[2021-11-22 10:00] jpkrohling commented on #567
That's not true. We do assign items to folks in the OpenTelemetry community ;-)

[2021-11-22 10:11] jpkrohling opened #568 "Refactor bootstrap of upgrade routines"
happy to do it in a separate refactoring PR

_Originally posted by @pavolloffay in https://github.com/open-telemetry/opentelemetry-operator/pull/548#discussion_r753086609_

[2021-11-22 20:55] ananda-chintalapati commented on #567
HiAnurag, Updated issue with inst.yaml file and I am using latest version of image for opentelemtry collector

[2021-11-22 21:20] adriankostrubiak-tomtom opened #571 "Sidecar injection does not create container probers"
When a `OpenTelemetryCollector` running in `sidecar` mode is configured with a `spec.config` containing a healthcheck extenstion, I would expect that the injected container contain at least a `LivenessProbe`. In the current state, this is not the case.

-------

With a configuration like
[code]

I would expect the injected sidecar to contain a readiness and liveness probe.

The running collector a

[2021-11-23 08:39] jpkrohling commented on #571
This is absolutely desirable. I think we did talk about this in the past, @VineethReddy02, perhaps you have further ideas on the topic?

[2021-11-23 09:02] pavolloffay commented on #567
@ananda-chintalapati please format the `inst.yaml` well, in the correct form it is not readable.

Could you please paste here the full image name with tag?

[2021-11-23 09:10] pavolloffay opened #573 "Inject Kubernetes resource attributes to collector"
I would like to configure the collector to automatically inject k8s resource attributes. This is absolutely achievable with the `sidecar` deployment mode. The instrumentation kind already supports it (see https://github.com/open-telemetry/opentelemetry-operator/blob/cb2472adcb8ca1e86091b750655c118a0c1df9e9/apis/v1alpha1/instrumentation_types.go#L54).

The auto-injection of k8s attributes will not

[2021-11-23 14:19] jpkrohling commented on #573
Not sure I understand this proposal. Isn't this mostly what the k8sprocessor does already?

https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/k8sattributesprocessor

[2021-11-23 14:29] pavolloffay commented on #573
I haven't played with k8s processor yet, so I am not sure if it handles all k8s attributes like the instrumentation.

That said maybe k8s processor is a way forward. However, even if there is no code change, we should think about improving the docs and improving the experience how to use this processor with the operator.

[2021-11-23 18:59] adriankostrubiak-tomtom commented on #571
Cool. I decided to take a stab at this based on what I think makes sense, at least for a first cut.  That's the above draft PR.

I welcome any feedback on the changes.

[2021-11-24 08:36] #554 closed

[2021-11-24 12:53] beba85 opened #576 "Use "OpenTelemetryCollector" in terraform for deploy to AWS"
Hi.

I don't know, maybe it's not a place for this issue. Maybe somebody has a similar situation.

I declarate in Terraform helm-chart and sidecar.
[code]

During the deployment to Azure all works. But when I try to deploy to AWS EKS, got the error "Experimental feature not enabled'.
After that, I add to provider.tf
[code]
But unfortunately, I got a new error:
[code]

But the object was created.
[

[2021-11-24 13:12] jpkrohling commented on #576
I'll leave this open, but not sure you'll get an answer to this question here. Perhaps try asking via Slack?

[2021-11-24 14:09] VineethReddy02 opened #577 "Update otel collector to 0.39.0"
As part of the upgrade, Make sure to upgrade the breaking changes on the collector config i.e.

1. `httpdreceiver` renamed to `apachereceiver` to match industry standards [(#6207)](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6207)
2. Remove deprecated config (already no-op) `ballast_size_mib` in memorylimiterprocessor [(#4365)](https://github.com/open-telemetry/opentelem

[2021-11-24 15:17] ananda-chintalapati commented on #567
Closing this issue as the issue as support for Python and NodeJS are planned for 0.39.0 version and I was trying for 0.38.0 version of collector

[2021-11-24 15:17] #567 closed

[2021-11-25 01:25] alolita commented on #576
Hi @beba85 Can you share more details about your EKS setup? Is it EKS on EC2? EKS on Fargate?

[2021-11-25 07:46] beba85 commented on #576
Hi @alolita. Thanks for your time. In AWS I used the EKS cluster.
My EKS config for deploy cluster.
[code]

[2021-11-25 09:33] pavolloffay commented on #526
Link for the descriptors explanation: https://github.com/operator-framework/operator-lifecycle-manager/blob/master/doc/design/building-your-csv.md#your-custom-resource-definitions

[2021-11-25 18:27] #577 closed

[2021-11-26 03:03] r0mdau opened #580 "Getting started yaml latest release is broken"
Right now, the getting started yaml file `https://github.com/open-telemetry/opentelemetry-operator/releases/latest/download/opentelemetry-operator.yaml` is pointing to the release v0.39.0 and contains a double slash line 2983 :
[code]

Applying the yaml, we get the following error message:
[code]

[2021-11-26 08:28] #571 closed

[2021-11-26 09:14] #580 closed

[2021-11-26 14:45] eyesopen opened #582 "The latest release has a faulty image path"
Hi,

I have just attempted to install latest otel operator and it failed  with invalid image name error. There is a double slash in the image name. Removing it enabled the pod to start.

[2021-11-26 14:52] #582 closed

[2021-11-29 09:30] yuriolisa opened #584 "Update collector to 0.40.0"
Otel Collector v0.40.0 is out. Perform the release v0.40.0 for Otel Operator.

[2021-11-29 13:59] sharathbana opened #588 "controller-manager failure with new release"
There seems to be references to old  image. I see below failure in controller-manager logs.
Please help to fix this.

`kubectl describe pod opentelemetry-operator-controller-manager-56677949c8-9msqm -n opentelemetry-operator-system
Name:         opentelemetry-operator-controller-manager-56677949c8-9msqm
Namespace:    opentelemetry-operator-system
Priority:     0
Node:         aks-nodepool1-4591128

[2021-11-29 14:04] jpkrohling commented on #588
See #580.

[2021-11-29 14:04] #588 closed

[2021-11-29 14:16] #584 closed

[2021-12-01 19:59] AWinterman opened #593 "Error when apply documented yaml"
I installed the operator with the following:

[code]

Then I defined a custom collector.yaml based on the docs

[code]

but when i apply it with `kubectl apply -f collector.yaml` I get
[code]

Indeed, looking at the specification for the Instrumentation kind, I see the following starting on line 49

[code]

[2021-12-02 08:15] jpkrohling commented on #593
Could you try that with the latest version instead?

[2021-12-02 11:25] ith-yurybebsh commented on #576
At now I used null_resources for deployment on AWS. It's solved my issues. I didn't get any information in Slack, in GitHub.
The task will be able to close.
Thanks all for your time. Have a nice day.

[2021-12-02 13:08] secustor commented on #565
What would be interesting is to integrate KSpan in the [k8clustereventreceiver](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/k8seventsreceiver) to allow it to export additionally traces instead of only logs.
This would also reduce maintenance complexity as we wouldn't have to create a CRD for an external service.

[2021-12-02 13:53] pavolloffay commented on #565
That is an excellent point.

On the other hand, the CR provides a better user experience. Right now the k8sclustereventreceiver has to be configured with additional k8s objects. We could put this logic to operator - e.g. the operator can recognize the receiver and create the RBAC on behalf of the user.

[2021-12-02 14:18] secustor commented on #565
I'm not against creating a CRD, far from it.
What you are describing, is how I have imagined it.

This way the user can consume the events outside of the cluster too, e.g. managed k8 cluster provider which want to give consumers "cluster admin" permissions and therefore don't want to setup there tooling inside of the cluster. In case of the CRD this would simply deploy one or more collectors and t

[2021-12-02 15:38] mimatache opened #596 "Collector instance not created if name + namespace exceeds 63 due to how the labels are built"
When applying a CR where the name + namespace length is over 63 characters the operator fails to create the instances dues to a failure when setting the labels:

[code]

As the Kubernetes standards state, a label can be no more than 63 characters. The same goes for instance names.

Since the names of items (CR & namespace) are allowed to be up to 63 characters, having the label set automatically t

[2021-12-02 17:17] AWinterman commented on #593
will do

[2021-12-02 17:31] AWinterman opened #597 "Attaching sidecar causes startup failure"
## Summary
I've been following the documentation on setting up open telemetry via the kubernetes operator in a EKS I set it up to run in sidecar mode. I'm seeing the failures arising from failing to find the indicated JAR when I annotate a pod.

## The failure:

[code]

## Context
The main container in the pod runs the following command

`FROM openjdk:11-jdk-slim`

`CMD ["sh", "-c", "java -Dserver

[2021-12-02 18:17] pavolloffay commented on #597
Are you running two javaagents at the same time? Note that this is not supported/recommended.

Could you please verify that `/otel-auto-instrumentation/javaagent.jar` is on the application container (`authz`) filesystem?

[2021-12-02 18:18] pavolloffay commented on #597
Could you please paste here JVM distro and version as well.

[2021-12-02 18:32] AWinterman commented on #597
I haven't changed the production image at all, which is why it's got newrelic still. How would that cause the issue?

It seems like it is definitely not on the filesystem.

[2021-12-02 18:50] #531 closed

[2021-12-02 19:01] VineethReddy02 commented on #593
@AWinterman From the above code snippet you shared it looks like you are using otel-operator `v0.38.0` which only includes java auto-instrumentation support. The `v0.39.0` includes auto-instrumentation support for python and nodejs. As the latest version `v0.40.0` I would recommend you to deploy the latest version of operator.

[2021-12-02 21:03] adriankostrubiak-tomtom opened #598 "Opt-out of managed instance upgrade"
As a cluster admin running the `opentelemetry-operator`, I would like to avoid having the controller automatically upgrade the configuration of `OpenTelemetryCollector`s and would rather manage that process myself.

---

Automatic upgrades can be an undesirable event, and lead to confusing situations. This is especially the case when using a custom `spec.image`.

The upgrade process assumes using

[2021-12-02 22:46] AWinterman commented on #597
I haven't been able to verify the file system presence because the container exits almost immediately on failure.

[2021-12-03 07:58] mmatache commented on #596
I would like to fix this issue. Are there any preferences on the approach? Are the labels used in the operator anywhere for lookups?
I am partial to the second approach since it would remain backwards compatible to anybody that is currently using the operator.

[2021-12-03 08:21] pavolloffay commented on #597
Using multiple agents is not causing this failure, but it is something that OTEL agent does not support and most APM vendors neither. Double bytecode manipulation is just dangerous.

I think this is the root cause of the issue - the agent is not on the filesystem. I don't know why at this point, maybe there are some filesystem constraints in your environment? The best would be to change the CMD of

[2021-12-03 08:58] pavolloffay commented on #597
Please try this image `pavolloffay/otel-javaagent:1.7.2` it is identical to the upstream but it does run `chmod o+r` on the javaagent file.

[2021-12-03 09:19] yuriolisa opened #599 "Community Operators - OpenTelemetry operator failing on Kiwi test"
After releasing v0.39.0 to community operators repo, I noticed that we are facing the following issue:

`TASK [check_image_availability : Print err message] ****************************
fatal: [localhost]: FAILED! => changed=false
  msg: |-
    Value of 'metadata.annotations.containerImage' not used in any container, please check.
    The operator is using some image which must have exactly the sa

[2021-12-03 09:24] jpkrohling commented on #598
Using `app.kubernetes.io/managed-by` is not the correct approach. I prefer having an explicit option to disable the automatic upgrade. I'm just not sure if this should be a per-CR config or if it should be a per-operator option. Or both, with the CR one taking precedence over the operator one.

[2021-12-03 09:25] jpkrohling commented on #599
I think those tests are new, added by @pavolloffay.

[2021-12-03 09:26] pavolloffay commented on #565
Yes, we should definitely consider implementing this as a receiver. Even if we go the receiver route we can still create a specific CRD that will deploy an opinionated version of the collector, or have a field in the existing collector CR to create additional RBAC etc.

I have other news to share. I am talking to people to figure out how useful it is. So far I am getting positive feedback and it s

[2021-12-03 09:30] jpkrohling commented on #596
To be clear, this is about the label `app.kubernetes.io/instance`, but we would have the same problem elsewhere if the name is too big. We have a routine for the Jaeger Operator to deal with this, perhaps we could have the same here:

https://github.com/jaegertracing/jaeger-operator/blob/91e3b69ee5c8761bbda9d3cf431400a73fc1112a/pkg/service/query.go#L69

[2021-12-03 09:37] pavolloffay commented on #599
TBH I don't know what Kiwi test is. I have added only scorecard tests that we run on CI in this repository and they pass.

[2021-12-03 09:45] pavolloffay commented on #599
The issue is not related to the scorecard.

We have renamed the image from quay to ghcr but we forgot to update this field https://github.com/open-telemetry/opentelemetry-operator/blob/1275f2e262c998879fc6f79ea88b55b9984cd1a1/bundle/manifests/opentelemetry-operator.clusterserviceversion.yaml#L33. It should be changed to `ghcr.io/open-telemetry/opentelemetry-operator/opentelemetry-operator`

[2021-12-03 09:51] pavolloffay commented on #599
This should fix this https://github.com/open-telemetry/opentelemetry-operator/pull/600.

For the 0.39.0 it will have to be done manually

[2021-12-03 09:54] yuriolisa commented on #599
I'll prepare the PR for the community operators.

[2021-12-03 15:43] #599 closed

[2021-12-03 15:57] adriankostrubiak-tomtom opened #602 "Controller manager does not expose healthz/readyz probes"
As a cluster admin running the `opentelemetry-operator`, I would like the controller manager to expose standard healthz & ready probes.

---

Currently the controller manager does not expose any probes and as such, can not be automatically managed by k8s in the event of application issues.

This is easily accomplished with the controller manager and something I intend to look into.

[2021-12-03 23:36] AWinterman commented on #597
absolutely. I won't be running it in prod like this.

I'll give it a shot-- at this point I'm planning to simply implement a common image services can use, and include the agent there.

[2021-12-05 12:59] ekarlso opened #605 "Propagated labels causes issues for Deployment, StatefulSet and DaemonSet"
Some labels like the ones used by GitOps tools and other controllers that would possible create OTEL resources such as and not limited to Flux V2, ArgoCD, and others will create issues for immutable labels passed to `X.spec.template.metadata.labels` giving errors like below

[code]

[2021-12-05 13:00] ekarlso commented on #605
2 suggestions to only pass OTEL managed labels to `X.spec.template.metadata.labels` and to maybe also filter whatever labels is passed down onto the deployment resource itself?

[2021-12-06 08:55] pavolloffay commented on #597
Let us know if the fix worked so we can include it in the upstream.

[2021-12-06 09:30] pavolloffay commented on #565
Another use-case: I have come across a user that could not store events in k8s with a long enough retention. Getting the events to another storage with correlation would solve the issue. I don't know the reasoning why the event store in k8s could not be configured to persist events for long period of time.

[2021-12-06 11:37] #602 closed

[2021-12-06 15:08] #568 closed

[2021-12-07 00:17] AWinterman commented on #597
@pavolloffay apologies for the delay, I started exploring an alternative deployment, but we'll circle back on this.

Also is the expected sidecar deployment:

1. add sidecars to some nodes?
2. add a otel collector instances running in a pod based workflow?

[2021-12-07 08:20] mmatache commented on #596
@jpkrohling thank you for the information!
Is it ok to use the same functions Jaeger is using?
If yes, should we make a copy of the functions, or add a dependency to Jaeger and use them directly?
If no, is there any specific functionality you are looking for?

[2021-12-07 09:09] jpkrohling commented on #596
Yes, I think it's OK to use the same, but copy them. There's no need to add a dependency just because of that.

[2021-12-07 09:11] mmatache commented on #596
My thoughts exactly, but since this is not my project, I still wanted to confirm with you.

[2021-12-07 14:25] mmatache opened #611 "Linter fails if adding a file from another project while preserving copyright"
This issue relates to: #596

During the implementation, the `util` functions from Jaeger were used, but since they were small, it was decided to simply copy the files over so as to not add a dependency.

The problem is that we were not able to properly preserve the Jaeger copyright as the `goheader` linter would error out:
[code]

As such I am opening this ticket to try and figure out a solution f

[2021-12-07 22:56] AWinterman commented on #597
Oof, as it turns out, according to the compatbility matrix we're on too early a version of kubernetes for this to work anyway. I'll close this for now.

[2021-12-07 22:56] #597 closed

[2021-12-08 08:14] jpkrohling opened #615 "Add Kubernetes 1.23 to the test matrix"
Similar to #378, Kubernetes 1.23 has just been released and we need to add it to the test and compatibility matrix.

https://github.com/kubernetes/kubernetes/releases/tag/v1.23.0

[2021-12-08 08:43] shree007 commented on #615
@jpkrohling  i can work on it.

[2021-12-08 19:07] jpkrohling opened #648 "Release the operator v0.41.0"

[2021-12-08 19:16] BronzeDeer opened #618 "Auto instrumentation injects into wrong container"
Currently, Autoinstrumentation seems to inject into the first container in the list, which is especially troublesome if used with istio, which injects its proxy ahead of the normal container.

[While injection into the first container](https://github.com/open-telemetry/opentelemetry-operator/blob/ae8f3a852623f465a6c1802d03ffa31651bf0888/pkg/instrumentation/javaagent.go#L31) is surely a good defaul

[2021-12-08 19:31] jpkrohling commented on #618
cc @pavolloffay, @anuraaga

[2021-12-09 08:15] pavolloffay commented on #618
hi @BronzeDeer, thanks for reaching out.

Generally speaking, where to inject can be controlled in a CR or via an annotation. The value of this config could be container index/position or container name.

#### CR

The CR could look like this:

[code]

The injection would be done if any of the criteria matched. It could be as well used to inject into init-containers.

#### Annotation

At the moment

[2021-12-09 08:49] VineethReddy02 opened #621 "Upgrade otel collector to 0.41.0"

[2021-12-09 11:08] pavolloffay commented on #597
I was able to reproduce this locally. The #622 fixes the file permissions if the container is running under non-root user.

[2021-12-09 12:47] pavolloffay commented on #618
Does istio inject sidecar always as a first container?

[2021-12-09 17:13] BronzeDeer commented on #618
@pavolloffay

Thanks for the speedy reply!

I'm a bit wary about injecting via index since this is not necessarily predictable if mutating webhooks (like istio) are in play. You might one day write your manifests and have everything be fine and then, months later a cluster wide change breaks your manifests while your manifests didn't change. I generally don't like the same git commit working today

[2021-12-09 17:14] BronzeDeer commented on #618
Oh and I don't know if Istio always injects as container 0 (haven't seen it otherwise yet), but even if the behaviour were random, it would still be random breakage for the current approach

[2021-12-09 17:16] BronzeDeer commented on #618
W.r.t injecting into init-containers, we could either support a special syntax like "init:container-name" in the annotation, a separate annotation or, assuming that init-container names are distinct from main containers (I don't think so), just filter by name over both arrays

[2021-12-09 17:29] pavolloffay commented on #618
very good points about pod author vs creator of the CR, and the webhooks changing container order.

I think we are reaching the consensus to use the annotation. Could be this annotation applied to a namespace as well? I fear if we allow it only on the pod then it will be too much work to override the default in large service mesh deployments.

[2021-12-09 19:18] BronzeDeer commented on #618
the namespace "author" would likely be the same as the CR "author" and can only possess limited forsight into what names containers inside pods will carry.

If we want an easy default that is more robust how about adding a "strategy" field to the CR, which governs the behaviour in absence of overriding annotations on the pod?

The default value for this strategy would be "inject-first" preserving

[2021-12-10 04:43] anuraaga commented on #529
@pavolloffay @bronzedeer Any thoughts on my syntax proposal?

[2021-12-10 09:22] pavolloffay commented on #529
It gives more flexibility, but I don't know/doubt it is needed. A use-case might be to use a different sampling rate for init and the main container.

small nit to the annotation name. I think it should be `instrumentation.opentelemetry.io/` to match the `kind.group` semantics.

The most I like is

[code]

cc) @BronzeDeer this is highly related to your proposal in #618

[2021-12-10 13:34] BronzeDeer commented on #529
@anuraaga @pavolloffay  Is there a precedent for "double slash" annotations in k8s? The way I read it, this would imply a hierarchical structure between values.
I think this is somewhat at odds with:
1) annotations being "simple" kv pairs, that are optionally  "namespaced" by kind.group
2)  The example setting both a value for the top-level key, and for sub-keys, meaning you could not even express

[2021-12-10 14:13] VineethReddy02 opened #623 "Add 0.41.0 upgrade routine"
Fix receiver `otlp.cors` restructuring in reference to https://github.com/open-telemetry/opentelemetry-collector/pull/4492

[2021-12-10 14:40] jpkrohling opened #626 "Flaky tests -- scorecard"
The scorecard tests are failing intermittently. Examples:

https://github.com/open-telemetry/opentelemetry-operator/runs/4484687728?check_suite_focus=true
https://github.com/open-telemetry/opentelemetry-operator/actions/runs/1563783393/attempts/2

Following the OpenTelemetry Collector Contrib practices, the test will be disabled soon if it's not made stable.

[2021-12-10 15:30] jpkrohling commented on #626
And again: https://github.com/open-telemetry/opentelemetry-operator/runs/4484937054?check_suite_focus=true

[2021-12-10 15:30] jpkrohling commented on #626
@pavolloffay, are you able to make this more stable?

[2021-12-10 15:38] #598 closed

[2021-12-10 15:45] #623 closed

[2021-12-10 16:16] pavolloffay commented on #626
I can try to increase the timeout

[2021-12-10 16:18] jpkrohling commented on #626
Another one: https://github.com/open-telemetry/opentelemetry-operator/runs/4485792715?check_suite_focus=true

[2021-12-10 16:22] #621 closed

[2021-12-10 16:30] jpkrohling opened #628 "Flaky test - Test0_41_0Upgrade"
Seen here: https://github.com/open-telemetry/opentelemetry-operator/runs/4485913697?check_suite_focus=true

[code]

[2021-12-10 16:30] jpkrohling commented on #628
cc @VineethReddy02

[2021-12-10 16:30] pavolloffay opened #629 "Flaky upgrade 0.41.0 tests"
cc) @VineethReddy02 it seems that the upgrade tests are again flaky

[code]

[2021-12-10 16:32] jpkrohling commented on #628
Closing in favor of #629

[2021-12-10 16:32] #628 closed

[2021-12-10 19:56] VineethReddy02 commented on #629
I'm just getting lucking during CI checks :)

[2021-12-13 08:51] #629 closed

[2021-12-13 10:53] #626 closed

[2021-12-14 18:19] #527 closed

[2021-12-14 18:22] VineethReddy02 commented on #615
Fixed in #633

[2021-12-14 18:22] #615 closed

[2021-12-14 18:23] VineethReddy02 commented on #538
Closing this issue, as Pavol is now the approver!! :)

[2021-12-14 18:23] #538 closed

[2021-12-15 10:16] pavolloffay commented on #538
I still don't have any Github permissions though not being listed in the readme

[2021-12-15 10:52] rbaumgar opened #635 "failed to push trace data via Jaeger exporter"
OpenSHift 4.9.8
Installed Jaeger Operator 1.28 with
[code]

...
Install OpenTelemetryCollector operator 0.33 with
[code]

in the log oc the collector
[code]
I can connect my application to port 4317 of the collector, but I do not see any span in Jaeger UI...

I have tried to connect to my-jaeger-collector: 14250, but then I get a ssl error.

[2021-12-15 15:19] tigrannajaryan commented on #538
@pavolloffay I added you to operator-approvers, you should have the permissions now.

[2021-12-16 10:59] minopolous opened #636 "Instrumentation example using java-agent fails (agent jar in container at wrong place)"
When trying the operator Intrumentation example in the main readme.dm of this project, using the opentelemetry-operator.yaml suggested there and as instrumentation the following file...

[code]

...the injection fails with this error:

$ k logs pod/xxxxxx-5fcb94b7b5-dhcft --tail=20
Picked up JAVA_TOOL_OPTIONS: -javaagent:/otel-auto-instrumentation/javaagent.jar
Error opening zip file or JAR manife

[2021-12-16 12:44] VineethReddy02 commented on #636
cc @pavolloffay

[2021-12-17 09:12] luigibk commented on #636
I was having what I think is the same issue. javaagent.jar is copied correctly to `/otel-auto-instrumentation/javaagent.jar` but permissions are 604 which make it non-readable in my container using securityContext:fsGroup. My issue is fixed by the linked PR.

[2021-12-17 09:35] pavolloffay commented on #636
This PR https://github.com/open-telemetry/opentelemetry-operator/pull/622/files was supposed to fix the issue with permissions by adding "others" read permission.

This seems that the javaagent does not have the "others" read permission. Could you please re-pull the image to your registry?

[2021-12-17 09:40] pavolloffay commented on #635
@rkukura you have been working on this, could you please provide some details how to connect to the secured jaeger collector?

[2021-12-17 09:53] luigibk commented on #636
I did have "others" read permission, but that wasn't enough. See: https://github.com/open-telemetry/opentelemetry-operator/pull/640#discussion_r771249107

[2021-12-17 10:01] mmatache commented on #596
@jpkrohling I have found an issue in the jaeger trimming code which was not covered by any tests.
I have created #641 to handle this case. You should probably also look into whether this should be fixed in the Jaeger code as well.

[2021-12-17 10:05] jpkrohling commented on #596
Would you be open to creating an issue there as well? Bonus points if you can send in a PR, which should be similar to this one here.

[2021-12-17 10:11] #596 closed

[2021-12-17 10:18] minopolous commented on #636
Thanks, that addresses a problem I hadn’t even seen. Can see r for o in version 1.7.2.

But it won’t fly when the jar is in the wrong folder: Error opening zip file or JAR manifest missing : /otel-auto-instrumentation/javaagent.jar (in the tests on my local machine to combine agent in the java call statically, that error indicated where the agent file was expected).

Further, I just saw the latest

[2021-12-17 10:27] mmatache commented on #596
@jpkrohling One hand scratches another 😄 : https://github.com/jaegertracing/jaeger-operator/pull/1678

[2021-12-17 12:57] #636 closed

[2021-12-18 10:07] BronzeDeer commented on #618
@pavolloffay did you have time to read my comment in the linked issue? Have we settled on the rough approach?

[2021-12-20 10:28] minopolous commented on #636
Brought up the operator env for a test again. Now the injection works using:
image: ghcr.io/open-telemetry/opentelemetry-operator/autoinstrumentation-java:1.7.2

[2021-12-20 13:25] pavolloffay commented on #618
yes, please move the discussion there to make it understandable.

[2021-12-20 13:26] pavolloffay commented on #529
@BronzeDeer I am maybe a bit lost. Coul you please write an example of the annotations in a similar format?

Please provide an example how it would look like. In general I like more `/` as it clearly distinguishes parts of the annotation.