[2022-09-19 04:52] PengWang-SMARTM commented on #902
Can someone summarize the current status regarding what's supported and what's not? I'm really confused. I'd appreciate if there is a sharable successfully story with details to follow.

I happened to work on this subject in the past week, and came here after reading [the blog](https://opentelemetry.io/blog/2022/k8s-otel-expose/), which is posted about ten days ago.

According to the blog, it soun

[2022-09-19 05:43] rogerogers commented on #1108
seems not supported yet.

#https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1060

[2022-09-19 08:07] famoushz commented on #1080
@pavolloffay  this is not some python issue, all has been tested in Docker file with autoinstrumenation lib is working properly, but if used autoinstrumenation from opentelemetry sidecar, got above errors said module not found.

[2022-09-19 12:50] Yamakaky commented on #1093
I understand this is not a PR you would be willing to accept?

[2022-09-19 14:05] pavolloffay commented on #1093
There is already an image field in the CR. I would prefer to avoid adding another config for it.

[2022-09-19 14:06] pavolloffay commented on #1108
Please comment on the issue above. This is not operator related issue.

[2022-09-19 14:06] #1108 closed

[2022-09-19 17:52] jaronoff97 commented on #1106
Alright, I began looking in to this and was able to reproduce this in my development cluster. The issue appears to be that the target allocator returns `linkJSON` which [solely contains a link](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/prometheusreceiver/metrics_receiver.go#L165-L185) for the http_sd job. When this is used, no scrape interval (or other co

[2022-09-20 07:42] svrnm opened #1113 "Update NodeSDK to 0.33 and add resource detectors"
The NodeSDK now allows to have additional resource detectors being loaded on startup:

https://github.com/open-telemetry/opentelemetry-js/releases/tag/experimental%2Fv0.33.0
&
https://deploy-preview-1767--opentelemetry.netlify.app/docs/instrumentation/js/resources/ (WIP)

The auto instrumentation of the operator could make use of that and auto-detect container resources (and [more](https://github.

[2022-09-20 08:28] pavolloffay commented on #1065
@moh-osman3 could you please as well comment why do you need a custom value fo HPA? What is the use-case?

[2022-09-20 08:36] pavolloffay commented on #1107
What is the main objection of this ticket?

Is it this line? That the auto-instrumentation fails to send data to the collector after image change?

Note that the version of the operator should match the collector version. The image is exposed in the CR to allow running a custom distributions (e.g. contrib) of the same version.

[2022-09-20 15:59] protopapa commented on #846
Hello, I would like to work on this.

[2022-09-20 20:43] moh-osman3 opened #1115 "Move MaxReplicas and MinReplicas to AutoscalerSpec in collector CRD"
In https://github.com/open-telemetry/opentelemetry-operator/pull/1077, an Autoscaler field and object was added to the collector CRD.  `MaxReplicas` and `MinReplicas` are fields specific to autoscaling so that should be moved to the AutoscalerSpec, and the HPA source code should be refactored to reflect this.

[2022-09-20 21:05] moh-osman3 commented on #1065
@pavolloffay The purpose of adding `TargetCPUUtilization` to the CRD is because we wish to tune this value and provide a recommended setting to users.  Previously with `90%` we are experiencing a lot of flapping when load testing.  If targets are uneven and one of the collectors has significantly fewer targets than other collectors, it becomes less likely that scale up will happen (average utiliza

[2022-09-21 07:59] xxfroxx commented on #1098
Hi @Aneurysm9 , Any chance you can advise on this one?, cheers.

[2022-09-21 19:40] pureklkl opened #1117 "Unable to upgrade the collector using operator before v0.52.0 to the newer version"
When try to upgrade the collector deployed by operator < 0.52 to a newer version, I met
``selector` does not match template `labels``

https://github.com/open-telemetry/opentelemetry-operator/pull/849 defined a set of static selector labels to fix that mutating the selectors will fail the upgrade reconciliation.

However, it will only work for the versions that are after the fix. I want to upgrade

[2022-09-21 22:30] angelokurtis commented on #1107
Hi @pavolloffay! Thanks for the support.

Yes, but not just auto-instrumentation. Other manually instrumented applications also fail.

In that case, should I just set my distro's repository in `spec.image` without a tag?

[2022-09-22 06:19] kristinapathak opened #1122 "Update linting to match other open-telemetry repo configs"
The golangci.yaml doesn't match other configurations in open-telemetry. A few other golanci configurations:

https://github.com/open-telemetry/opentelemetry-go-build-tools/blob/29a46c89ab69347be7d6f2c7f4f94135cb4d0d4f/.golangci.yml
https://github.com/open-telemetry/opentelemetry-collector/blob/b1329c94b3b31b9ffa4091ab5066d6f091d71f41/.golangci.yml
https://github.com/open-telemetry/opentelemetry-co

[2022-09-22 16:52] pureklkl commented on #1117
https://github.com/keycloak/keycloak-operator/pull/567
Similar scenario happened for keycloak, their solution is to delete the old deployment and recreate a new one when the immutable field need to be changed.
I would like to implement it in OT operator if possible.

[2022-09-22 18:16] hiagop opened #1123 "opentelemetry-operator skips auto-instrumentation to all pods"
I'm running opentelemetry-operator into a k8s cluster on Azure cloud. I'm trying to configure it to auto inject the Java agent of a specific vendor, but with no success. After adding the auto injection annotations to both the deployment and the container template spec, nothing seems to work.

I have increased the operator logs verbosity to see what was happening, and the only thing I could see was

[2022-09-23 07:49] pavolloffay commented on #1123
Could you please share
*  the workload deployment manifest file?
* the pod manifest that was created from that deployment

[2022-09-23 08:37] pavolloffay commented on #1117
IIRC this was recommended here in the past as well.

PRs are welcome to fix it.

[2022-09-23 11:44] hiagop commented on #1123
Sure! Here you go, the deployment manifest:
[code]
and the pod manifest generated by it:
[code]

[2022-09-24 04:11] sweetxiaodai opened #1125 "How to add the inject annotations to the namespace?"
Would you mind kindly let me know how to create the instrument inject annotations to a namespace so that all the pod in the namespace could be monitored?
Please provide the k8s yaml example. Thanks so much

[2022-09-26 09:50] frzifus commented on #902
@yuriolisa yes, Depending on the selected type, an ingress or route entry should be created.

@sergeyshevch Do you mean we should embed `networkingv1.Ingress` in the CRD? In my opinion, this would be equivalent to no CRD entry. It does not simplify the exposing of a collector. Also, the automatic setting/overwriting of e.g. service names and ports could lead to confusion.

Sounds ligitimate. I don

[2022-09-26 12:25] jpkrohling commented on #1089
instead of multiple configs, I would rather prefer to let users provide _either_ a single config block, or a set of config URIs. This way, the config file can still be simple for most use cases, while providing a construct for more complex use cases. In such case, users would be required to manage the external sources, including configmaps.

[2022-09-26 15:35] hiagop commented on #1123
hi, @pavolloffay! any updates on this?

[2022-09-26 18:42] kabhanus007 commented on #1089
Yeah, that should also work which will ultimately keep this simple config block the same, but having the capability of  extending the functionality of working with multiple configmaps through complex configuration.

[code]
[code]

Is this something we are looking forward to it?
@jpkrohling

[2022-09-27 19:16] sweetxiaodai opened #1129 "K8S otel-operator latency is too high and the auto-instrumentation number of traces are not accurate."
![Screenshot 2022-09-28 at 03 13 01](https://user-images.githubusercontent.com/90817719/192615816-6034a81d-7e40-4210-9a67-87c261a4109a.png)
You can see one traffic takes such a long time.
And I actually triggered 5 times traffic and only 1 displayed on APM.

[2022-09-28 04:14] PengWang-SMARTM commented on #902
@frzifus , I'm new to Kubernetes, and I haven't got a chance to learn how to use CRD yet. Since I have a working otlphttp connection, I'll come back to the otlp grpc connection later time.

Regarding the grpc configuration mentioned in your blog, I suspect `endpoint: "<REPLACE: your domain endpoint, e.g.: "traces.example.com:443">"` won't be enough.

That's because, from Ingress point of view, lik

[2022-09-28 04:45] tania-anand commented on #1095
Hi @kristinapathak can I take a look at this issue, if its not resolved.

[2022-09-28 08:12] pavolloffay commented on #1129
Could you be please more specific? Are you saying that the OTEL operator is slow (e.g. to inject auto-instrumentation and therefore blocking pod creation) or are you saying that workload is slow to handle requests with the auto-instrumentation?

If it is the second case then please open the issue against the auto-instrumentation repository. The operator only injects the auto-instrumentations.

[2022-09-28 16:34] kristinapathak commented on #1095
Sounds great!

[2022-09-28 17:26] m1o1 commented on #1018
I'd like to reopen this since I was pointed to the proper solution on Slack using [Service Internal Traffic Policy](https://kubernetes.io/docs/concepts/services-networking/service-traffic-policy/).

Basically I'd like to force pods to send their spans to the collector agent on the same node. This collector agent would then forward to the collector gateway, [as described here](https://opentelemetry

[2022-09-29 05:54] tania-anand commented on #1095
@kristinapathak is it okay to add config with name **skip_receivers**  with type as array of strings in config file

[2022-09-29 07:42] secustor commented on #1095
This should be part of the [Collector CRD](https://github.com/open-telemetry/opentelemetry-operator/blob/main/apis/v1alpha1/opentelemetrycollector_types.go#L89).

I suggest `ports_ignore_receivers` as `ports` already explains that the config will be used to extract ports.

[2022-09-29 11:01] yuriolisa commented on #986
@jpkrohling, I would like to hear your opinion about it.

[2022-09-29 11:03] yuriolisa opened #1130 "Release the operator v0.61.0"

[2022-09-29 11:22] #702 closed

[2022-09-29 11:37] yuriolisa commented on #268
@jpkrohling.

[2022-09-29 14:30] jaronoff97 opened #1133 "Add docker option for local building on ARM based computers"
In order to build containers for the operator, an option must be added in to set the build target i.e.:
[code]

this should be a preference in the makefile per @pavolloffay 's comment https://github.com/open-telemetry/opentelemetry-operator/pull/1124#discussion_r983138064

[2022-09-29 16:13] pavankrish123 commented on #1113
@kabhanus007

[2022-09-30 14:57] pavolloffay commented on #1125
Please read this section https://github.com/open-telemetry/opentelemetry-operator#opentelemetry-auto-instrumentation-injection it has instruction how the auto-instrumentation works.

Feel free to re-open if you have any specific questions.

[2022-09-30 14:57] #1125 closed

[2022-09-30 14:58] pavolloffay commented on #1115
cc) @kevinearls

[2022-09-30 14:59] pavolloffay commented on #1115
Also note that we can't remove fields from a published CRD. If we want to move things around we would have to do deprecation and support the deprecated options as well.

[2022-09-30 21:31] sweetxiaodai commented on #1129
Closed due to the traffic high traffic latency were caused by the hosting k8s cluster

[2022-10-01 00:37] sweetxiaodai commented on #1129
@pavolloffay The otel itself is not slow. But the service call that which has start with the java-instrumentation-agent has high latencies occasionally. We compared the latency of the service when the application deployed different apm agent. The commercial software didnt' have this issue.

[2022-10-01 00:37] sweetxiaodai commented on #1129
/reply

[2022-10-01 00:49] #1129 closed

[2022-10-01 01:28] wandersonwhcr commented on #1107
I am facing the same issue.

If I create this `OpenTelemetryCollector` custom resource:

[code]

This is the current `Service` selector labels:

[code]

... and `Pod` labels:

[code]

If I retrieve the current container image:

[code]

... and use it in my custom resource:

[code]

After applied, `Service` selector continues with label `app.kubernetes.io/version=latest`...

[code]

... and `Pod` c

[2022-10-01 22:37] sweetxiaodai opened #1135 "Is there a way to add java-agent extension to the instrumentation?"
The instrumentation annotation will inject a -javaagent option to the java execution command line during the pod initialization, if I am correct. Is there a way to modify this command line by adding some jvm options? like the following codes?
[code]

[2022-10-03 09:13] pavolloffay commented on #1135
The injection code configures `JAVA_TOOL_OPTIONS` with `-javaagent:/otel-auto-instrumentation/javaagent.jar` it does not allow any other configuration for the JVM.

Could you please describe your use-case what are you trying to achieve?

[2022-10-03 10:03] pavolloffay commented on #1107
This would be my preference, there is no need to add version label to the selector.

[2022-10-03 12:43] pavolloffay commented on #1107
Is anybody volunteering to fix this?

[2022-10-03 14:05] angelokurtis commented on #1107
I can do this and open a PR soon 👍🏽

[2022-10-03 14:07] sweetxiaodai commented on #1135
I just want to add javaagent extensions to filter some URLS. Is it possible?

[2022-10-03 19:17] codeboten commented on #1130
Will be fixed by https://github.com/open-telemetry/opentelemetry-operator/pull/1131

[2022-10-03 19:18] kabhanus007 commented on #1113
@pavankrish123  Sure I can take a look into this. thanks

[2022-10-04 07:21] #1106 closed

[2022-10-04 08:27] svrnm commented on #1113
@pavolloffay can you assign this to @kabhanus007 ?

[2022-10-04 16:21] jaronoff97 opened #1139 "Target Allocator builds are broken"
It seems the target allocator builds are failing to push new images. I'm seeing this error in the action logs:
[code]

The code for the action hasn't changed at all, but the fix seems like we just need to add a tag to the command. This may be a good time to begin versioning the target allocator rather than keeping it on `0.1.0`.

Maybe it makes sense to keep the TA in step with the operator and co

[2022-10-04 16:23] jaronoff97 commented on #1139
### Before
[code]

### Currently
[code]

[2022-10-04 16:39] secustor commented on #1139
It will slow down the releases but also ease the releasing process.

For now IMO we should keep it in step with the collector to ensure both work with the same API. That way we do not have to track the relation to each other, like we do now with CertManager and the KubernetesAPI.

[2022-10-05 03:17] alex88 commented on #1098
@frpataciertocom @xxfroxx you'd have to wait for aws to update to 0.59.0 and make that version available

[2022-10-05 05:42] sweetxiaodai commented on #1135
The main purpose are the Orel agent will capture health and liveness check of Nacos, it generated massive useless traffics, we needed to filtered it via a ETL process, just want to filter it before the agent send it to APM
@pavolloffay

[2022-10-05 10:47] avadhut123pisal commented on #1094
@Kielek  In case of .NET, during the validation phase, environment variables are set to the copy of container object and at last actual container object is updated.

[	pod.Spec.Containers[index] = container](https://github.com/open-telemetry/opentelemetry-operator/blob/10404ebe147630a070768f346a541524672700ec/pkg/instrumentation/dotnet.go#L112)

In case of other language instrumentation (Java, Pyt

[2022-10-05 11:55] pellared commented on #1094
@avadhut123pisal It is only a "shallow copy"  and the "original" container env vars can be modified here: https://github.com/open-telemetry/opentelemetry-operator/blob/10404ebe147630a070768f346a541524672700ec/pkg/instrumentation/dotnet.go#L133

[2022-10-05 12:20] avadhut123pisal commented on #1094
@pellared  I got your point. I will update the PR accordingly.

[2022-10-05 13:06] noMoreCLI opened #1142 "Add instrumentation state information to pods"
Hi

when working with auto-instrumentation I found no quick way to verify which pods auto-instrumentation has taken place,  applied successfully, ignored or failed.
I ended up describing pods and looking for init containers.

Having this information would greatly simplify operations & troubleshooting, if the operator would add state information to pods, when annotating namespace for auto-instrumen

[2022-10-05 14:41] Kielek commented on #1094
@avadhut123pisal, I agree with @pellared, I have one more comment, in your draft PR.

[2022-10-05 17:05] Aneurysm9 commented on #1098
The next ADOT collector release is in progress and a release of the EKS managed add-on using v0.61.0 of the Operator will follow.  I can't give a firm date at this time, and it is dependent on #1131 landing and the release happening, but would anticipate sometime next week.

[2022-10-06 13:38] frzifus opened #1143 "[bug] OpenTelemetryCollector reconcile loop panics"
It seems that the [last commit](https://github.com/open-telemetry/opentelemetry-operator/blob/10404ebe147630a070768f346a541524672700ec/pkg/collector/container.go#L171) on the main branch caused a panic to be triggered when logging. It should affect the planned [ v0.61.0](https://github.com/open-telemetry/opentelemetry-operator/pull/1131) release.

When applying this configuration:
[code]

I get th

[2022-10-06 18:07] pavolloffay commented on #1143
@kristinapathak could you please take a look? This seems to be caused by one of your code changes https://github.com/open-telemetry/opentelemetry-operator/commit/10404ebe147630a070768f346a541524672700ec#diff-a217bf24650bbe5f454d95c3480eb2a8353d8e9762f560e5d88b23571cbbcafeR171

[2022-10-06 18:42] kristinapathak commented on #1143
Yes, I will look at this today.

[2022-10-06 21:59] kristinapathak commented on #1143
@frzifus, I'm unable to recreate a panic - I do see a stacktrace in the error log:
[code]

Is this what you are experiencing?

[2022-10-07 03:17] aabmass opened #1148 "Python auto instrumentation fails with current version"
With a very basic Python app, injection causes the auto instrumentation to fail with `RuntimeError: Requested component 'otlp_proto_grpc' not found in entry points for 'opentelemetry_metrics_exporter'`. See https://github.com/open-telemetry/opentelemetry-python-contrib/issues/1361, but I'm happy to provide a repro as well.

What's happening is the default value for `OTEL_METRICS_EXPORTER` is `otl

[2022-10-07 04:52] avadhut123pisal commented on #1094
@pellared  Looking at the existing implementation, it seems that we need to validate only those env vars, whose value needs to be concatenated with the value defined in Operator code, for eg. JAVA_TOOL_OPTIONS, NODE_OPTIONS. Other env vars can have their value populated using valueFrom syntax.

@pellared  @Kielek  Please let me know your thoughts on this.

[2022-10-07 06:53] avadhut123pisal commented on #1123
Hi @hiagop, Can you please share the instrumentation (CR) manifest ? Looking at the logs, it seems that, Operator could not find the instrumentation instance specified using the annotation-` instrumentation.opentelemetry.io/inject-java: datadog-instrumentation`.

As per the annotation you have given in the manifest, Operator will look for the instrumentation instance with name datadog-instrumentat

[2022-10-07 07:04] #1143 closed

[2022-10-07 07:21] frzifus commented on #1143
@kristinapathak i apply the given configuration and call `make run`.
![image](https://user-images.githubusercontent.com/10403402/194495167-b39d74d4-f76a-406c-ba2e-3da9a8bd6473.png)

[2022-10-07 10:23] Ripurwar80 opened #1153 "ImagePullSecret not available"
**Describe the bug**
unknown field "imagePullSecrets" in io.opentelemetry.v1alpha1.OpenTelemetryCollector.spec

**Steps to reproduce**
Pulling Private image using credentials

[2022-10-07 11:19] hiagop commented on #1123
@avadhut123pisal, here it is
[code]
I'm deploying it alongside the rest of the operator's manifests and CRDs, but on the default namespace. I've also tried leaving it all on the same namespace, and referencing it by `opentelemetry-operator-system/datadog-instrumentation`, but it didn't work either.

[2022-10-07 15:25] #1139 closed, assigned to nobody

[2022-10-07 16:45] kristinapathak commented on #1143
Great, glad it's fixed! I'm not sure - I think it has to do with how the logs are printed, but I couldn't find anything special that I did to get JSON output. 😅

[2022-10-07 17:06] aabmass commented on #924
+1, @srikanthccv any thoughts on this? I'm happy to send a PR for this if we agree on the approach.

[2022-10-07 17:51] srikanthccv commented on #924
We have been using OTLP/gRPC as a default exporter in the auto instrumentation package https://github.com/open-telemetry/opentelemetry-python-contrib/blob/51ba801bfda31c3d57902d9f9df938cee1236eb8/opentelemetry-distro/src/opentelemetry/distro/__init__.py#L37-L38. This was the choice of default partly because we didn't have HTTP exporters for OTLP. Even outside this operator deployment, I have seen

[2022-10-07 18:06] aabmass commented on #924
For this issue, I wonder if instead of overriding `OTEL_EXPORTER_OTLP_TRACES_ENDPOINT` to port 4318, should the Python OTLP exporters set the default port based on whether the protocol is gRPC or HTTP?

See [here](OTEL_EXPORTER_OTLP_TRACES_ENDPOINT):
![image](https://user-images.githubusercontent.com/1510004/194621273-b3afea15-16ec-4c45-a457-15a5efb88c70.png)

[2022-10-07 18:36] srikanthccv commented on #924
Don't we do that already today? when the `OTEL_TRACE_EXPORTER` is set to [gRPC](https://github.com/open-telemetry/opentelemetry-python/blob/main/exporter/opentelemetry-exporter-otlp-proto-grpc/src/opentelemetry/exporter/otlp/proto/grpc/exporter.py#L215) it uses the default `http://localhost:4317` for the endpoint and `http://localhost:4318` for HTTP.

And the priority order `OTEL_EXPORTER_OTLP_TRA

[2022-10-07 18:47] aabmass commented on #924
You're right it needs to be fixed in the operator 👍 sorry for the confusion.

@pavolloffay @mat-rumian would you accept a PR setting the port to 4318 for Python?

[2022-10-10 13:26] pavolloffay commented on #1153
`ImagePullSecret` can be configured in the service account in the collector CR https://github.com/open-telemetry/opentelemetry-operator/blob/main/apis/v1alpha1/opentelemetrycollector_types.go#L66.

Please reopen if this does not solve your use-case.

[2022-10-10 13:26] #1153 closed

[2022-10-10 13:30] pavolloffay commented on #1148
+1 on the approach.

would you like to submit a PR?

[2022-10-10 13:34] pavolloffay commented on #1142
I totally agree.

This is related to old issue https://github.com/open-telemetry/opentelemetry-operator/issues/544

[2022-10-10 14:10] avadhut123pisal opened #1155 "Use application hosted in OTEL org for e2e test cases"
In e2e test cases for auto-instrumentation of all the languages, the application docker images used are from personal repositories.
Ideally, these e2e test cases should consume the application images hosted in OTEL org.

_Originally posted by_ @Kielek in https://github.com/open-telemetry/opentelemetry-operator/pull/1151#discussion_r990950801

[2022-10-10 15:51] pellared opened #1156 "Do not enable .NET instrumentation if OTEL_DOTNET_AUTO_HOME is already set"
I think that we should additionally validate that the `dotNetOTelAutoHomePath` env var was not set in the original container. Otherwise, we cannot auto-instrument the .NET app. If someone set it then it would mean that somebody has already set the .NET AutoInstrumentation in the container.

_Originally posted by @pellared in https://github.com/open-telemetry/opentelemetry-operator/pull/1141#discus

[2022-10-10 16:03] pavolloffay commented on #1098
I am closing this as the issue was fixed, please open ticket against AWS repo to track their release with the fix.

[2022-10-10 16:03] #1098 closed

[2022-10-10 16:04] frpataciertocom commented on #1098
Fine to me Brother, thank you.

[2022-10-10 16:20] pavolloffay commented on #1123
@hiagop I am not sure what is the root cause, but I would recommend trying the injection first on a simple app in a clean namespace without istio, datadog and new relic. It seems that your app is using various observability software that could collide together.

[2022-10-11 08:03] pavolloffay commented on #1148
@aabmass could you please book an issue in this repository to set the metrics exporter to HTTP once done in the SDK?

[2022-10-11 11:53] Efrat19 commented on #1133
/assign

[2022-10-11 19:31] moh-osman3 commented on #1028
After adding some logs found more info as to why this bug is occurring.

[code]
Pod watcher is stopped at some point on scale down and after that happens, only SetTargets is ever called and no calls to SetCollectors is made. This means an inaccurate representation of collectors is used by the TA.

This bug has been difficult to reproduce reliably, which is making testing difficult, but the issue s

[2022-10-12 08:24] #1117 closed

[2022-10-12 08:43] #1104 closed

[2022-10-12 12:43] #1094 closed

[2022-10-12 13:03] avadhut123pisal opened #1158 "Support multiple instrumentations for a container"
The current implementation of the Auto-instrumentation supports multiple instrumentation at pod level  (e.g. one container java and other python etc.).
But, as single container can have a multiple processes, so there should be support for the enabling the injection of multiple instrumentations in the single container.

_Originally posted by_ _@pellared in_ https://github.com/open-telemetry/opentel

[2022-10-12 13:31] carlreid opened #1159 "Add support for setting `priorityClassName`"
I'd like to be able to specify the [`priorityClassName`](https://kubernetes.io/docs/concepts/scheduling-eviction/pod-priority-preemption/) with f.x. `system-node-critical` for my daemonset pods created by the operator, so I can ensure that there is a collector pod running on each node.

I was looking into modifying the helm charts to support this (https://github.com/open-telemetry/opentelemetry-he

[2022-10-13 06:09] avadhut123pisal commented on #1156
@pavolloffay Can you please assign this issue on my name. I will raise a PR soon.

[2022-10-13 11:44] hiagop commented on #1123
hey, @pavolloffay! i've done that and it works, in part. the thing is the instrumentation do kick in, but there must be something wrong with the manager implementation, since the logs still bring the same messages indicating the workloads that do not have the annotations applied with no information on the pods being validated.

also, the fact that it doesn't work in our production clusters, makes

[2022-10-13 15:12] aabmass opened #1168 "Use python OTLP/proto metrics exporter once available"
Blocked by https://github.com/open-telemetry/opentelemetry-python/issues/2447

Right now I have set the `OTEL_METRICS_EXPORTER` to none to fix https://github.com/open-telemetry/opentelemetry-operator/issues/1148: https://github.com/open-telemetry/opentelemetry-operator/blob/992b681dd1bb8445b2744fb4f602f0faa0128ac9/pkg/instrumentation/python.go#L69-L72

Once https://github.com/open-telemetry/opente

[2022-10-13 15:12] aabmass commented on #1148
Done https://github.com/open-telemetry/opentelemetry-operator/issues/1168

[2022-10-13 15:12] #1148 closed

[2022-10-14 07:54] pavolloffay opened #1173 "Upgrade e2e test is flaky"
The upgrade test added in #1126 seems to be flaky https://github.com/open-telemetry/opentelemetry-operator/actions/runs/3247772222/jobs/5328173445#step:5:1363

@pureklkl could you please look at it?

[2022-10-14 22:33] bogdandrutu opened #1176 "Release the operator to use collector v0.62.1"

[2022-10-17 07:35] pellared opened #1179 "Enhance golangci-lint configuration"
When reviewing https://github.com/open-telemetry/opentelemetry-operator/pull/1177 I spotted that the current [.golangci.yaml](https://github.com/open-telemetry/opentelemetry-operator/blob/bc32d5175e4e4aa1b29e2ee9ff15edcc7a782f82/.golangci.yaml) is very minimalistic.

I would consider enabling the following linters:

- [gosimple](https://github.com/dominikh/go-tools/tree/master/simple)  -it is enab

[2022-10-18 09:11] Allex1 opened #1182 "OpenTelemetryCollectorReconciler errors related to replicas"
Running 0.60.0 operator deployed via the manifests provided.
My otelcol version is 0.62.1 and is defined as a deployment:
[code]

Although the pod is created I get the following errors from the controller pod:

[code]

Seems some kind of naming mismatch between the `otelcol` CR and the actual deployment name `deployment-collector`
Also the controller runs in a different ns than the `otelcol` CR, b

[2022-10-18 14:36] Allex1 commented on #1182
@pavolloffay Thanks. I will try to reproduce and report.

Happens with newly created CR. I have not tried editing the CR.

[2022-10-18 15:28] Allex1 commented on #1182
Deleted the image from the CR but I get the same error. I need to test in a clean kind cluster as well to be 100% it's not from our env.

[2022-10-18 21:13] sweetxiaodai opened #1183 "Is it possible to build a customized opentelemetry-operator"
We would like to use the contributed receiver and exporter in kubernetes. But I found the default opentelemetry collector which was defined in the yaml file is otel-collector, not otel-collector-contrib.
Is there anyway to change the collector to the otel-collecotr-contrib? Is it possible that provide me a instruction or guide to customize the otel-operator yaml file?

[2022-10-19 05:37] avadhut123pisal commented on #1183
Hi @sweetxiaodai, you can set the collector container image to the `.spec.image` of OpenTelemetryCollector CR.

For eg:

[code]

[2022-10-19 08:55] #1159 closed

[2022-10-19 09:09] pavolloffay commented on #1183
@sweetxiaodai could you please close the issue if the question was answered?

[2022-10-19 14:30] #1130 closed

[2022-10-19 14:48] #1156 closed

[2022-10-19 21:23] devrimdemiroz commented on #694
I want to add following  information for others if they face such mistake as we made. When switching back from daemonset to mode deployment , do not forget to remove  "hostNetwork: true" . Following error is a symptom from javaagent on such case. Note that "dnsPolicy: ClusterFirstWithHostNet" was not already in place and error observed on collector restarts or syncs.

[otel.javaagent 2022-....] [O

[2022-10-20 09:53] #1107 closed

[2022-10-20 09:56] frzifus commented on #902
In the example case it is specified in a ingress rule:
[code]
There you can map different paths to different service port numbers.

Since [v0.61.0](https://github.com/open-telemetry/opentelemetry-operator/blob/main/CHANGELOG.md#-new-components-) there is an Ingress entry in the CRD. Based on the specified ports and collectors, rules for routing the traffics are automatically created.

Example:
[co

[2022-10-20 10:15] Frapschen opened #1190 "Auto instrumentation for dotnet Error"
I install the opentelemetry-operator by helm and apply this :
[code]

I get errors:
[code]

env:
the operator chart version: 0.13.2
the operator image: v0.60.0

[2022-10-20 11:34] pavolloffay commented on #1190
The CR is not correct the images that you are showing are non-existent.

Either remove the images or use one of the released ones https://github.com/orgs/open-telemetry/packages?repo_name=opentelemetry-operator

Please re-open if there is another issue.

[2022-10-20 11:34] #1190 closed

[2022-10-20 12:40] pavolloffay opened #1191 "Increase resources / operator pod OOM"
One customer of ours is experiencing OOM of the operator pod.

The issue is happening in large clusters and they were able to get a stable operator deployment after increasing the memory to ~700 MB.  The memory stabilizes at around 450 MB (got via kubectl top).

Applying `ENABLE_WEBHOOKS: false` didn't help the memory was fluctuating from 300-500 MB.

[2022-10-20 12:49] pavolloffay commented on #1191
Operator is currently using  https://github.com/open-telemetry/opentelemetry-operator/blob/main/bundle/manifests/opentelemetry-operator.clusterserviceversion.yaml#L315-L321

[code]

For instance Jaeger operator is using https://github.com/jaegertracing/jaeger-operator/blob/main/bundle/manifests/jaeger-operator.clusterserviceversion.yaml#L424-L430

[code]

[2022-10-20 13:01] pavolloffay commented on #1191
Issue from the operator-sdk with some good info about memory consumption https://github.com/operator-framework/operator-sdk/issues/5060

[2022-10-21 15:20] jaronoff97 commented on #1133
This was closed by #1157

[2022-10-21 15:20] #1133 closed

[2022-10-22 13:56] sb185296 opened #1195 ".NET sidecard error when applaction start"
hi team ,

we did a POC with NodeJS and is working good
but when we add to our .NET Core 5.1 application

[code]
we get error and our app not start

[code]
![image](https://user-images.githubusercontent.com/66299621/197342842-e2f04036-e948-47ec-9327-6fd69b9facc0.png)

![image](https://user-images.githubusercontent.com/66299621/197342861-0c0e48d0-98ae-4a9f-b829-679b9ac3f9d2.png)

if we runing only

[2022-10-22 17:16] petrmac opened #1196 "Is there a way to provide the config in Instrumentation and OpenTelemetryCollector in the form of a configmap?"
Hello,

I cannot find any way how to pass the config as a configmap rather than the inline `config`
[code]

Applies for both `Instrumentation` and `OpenTelemetryCollector`.

.. or am I just missing something?

Thx

[2022-10-22 19:53] jsirianni opened #1197 "Setting maxReplicas causes runtime panic"
I can take any working configuration, set `maxReplicas` and observe this failure.

[code]

Removing maxReplicas resolves the problem. The client (kubectl) returns the following error, which seems to line up with the panic.
[code]

Example config:
[code]

[2022-10-23 11:18] sb185296 commented on #1195
we also add to our dockerfile this : https://github.com/open-telemetry/opentelemetry-operator/blob/main/autoinstrumentation/dotnet/Dockerfile

and add as ENV

            - name: CORECLR_ENABLE_PROFILING
              value: '1'
            - name: CORECLR_PROFILER
              value: '{918728DD-259F-4A6A-AC2B-B85E1B658318}'
            - name: CORECLR_PROFILER_PATH
              value: /autoinst

[2022-10-23 19:48] jsirianni opened #1198 "Support Pod spec.affinity"
I have a set of collectors running as a deployment. They are load balanced using a clusterIP service. I would like to have control over their affinity settings specifically spec.affinity.podAntiAffinity so I can ensure they are distributed among hosts and availability zones.

[2022-10-24 05:24] Kielek commented on #1195
Hi @sb185296,

I suppose that your issue could be related with the version of docker image you are trying to instrument. Could you please share you docker image details? Especially base image could be helpful.

This part should be injected by the opentelemetry-operator. It is not needed to do it manually.

[2022-10-24 06:51] pellared commented on #1195
My guess is that the container has too old glibc version (<2.30). I suggest updating to at least glibc 2.31.

[2022-10-24 07:46] sr185436 opened #1200 "Implementation of a "Kubernetes Operator" not work on .net project"
I appreciate if someone can share example that works on .net

[2022-10-24 08:16] kevinearls commented on #1197
I think I have a fix for this and will submit a PR shortly

[2022-10-24 08:38] Frapschen commented on #1190
the error is no about image but `error validating data: ValidationError(Instrumentation.spec): unknown field "dotnet" in io.opentelemetry.v1alpha1.Instrumentation.spec`

I have tried with right image.

[2022-10-24 08:53] sb185296 commented on #1195
FROM mcr.microsoft.com/dotnet/aspnet:.0 AS base
FROM mcr.microsoft.com/dotnet/sdk:.0-alpine AS build

[2022-10-24 08:54] sb185296 commented on #1195
``

ldd --version
ldd (Debian GLIBC 2.28-10+deb10u1) 2.28

let me update it and come back :)

[2022-10-24 09:02] pellared commented on #1195
Side note: if you would like to use an Alpine-based container then changing:

[code]

to

[code]

should do the work. I am mentioning it as I see you are using .NET SDK on Alpine. Usually people do the other way - build on Ubuntu and deploy on Alpine 😉

[2022-10-24 10:13] yuriolisa commented on #942
@pavolloffay, I believe this issue can be closed.

[2022-10-24 10:56] Allex1 opened #1202 "Missing create/delete verbs on default instrumentations role"
Deployed operator 0.61.0 on a multi tenant Kubernetes cluster where I am able to use the [default roles provided ](https://github.com/open-telemetry/opentelemetry-operator/blob/main/config/rbac/role.yaml#L138) and I cannot create an `otelinst` resource in my ns.
I've used the helm chart to deploy the operator in my ns which seems to have the [exact same role](https://github.com/open-telemetry/open

[2022-10-24 11:09] Irakus opened #1203 "Add metrics field to autoscaler"
Right now, OpenTelemetry Collector can only scale based on targetCPUUtilization field which has been replaced by metrics array. This will allow to scale on memory utilization as well.

[2022-10-24 11:35] Kielek commented on #1195
Auto Instrumentation for .NET is hosted under: https://github.com/open-telemetry/opentelemetry-dotnet-instrumentation
All tests application are available under: https://github.com/open-telemetry/opentelemetry-dotnet-instrumentation/tree/main/test/test-applications/integrations
You can find more under example folder: https://github.com/open-telemetry/opentelemetry-dotnet-instrumentation/tree/main/e

[2022-10-24 21:16] sb185296 commented on #1195
thanks for that

we looking on that
first we upgrade to .net6 to see if its fix the problem

thanks

[2022-10-25 05:07] avadhut123pisal commented on #1198
Hi @pavolloffay, I can work on this.

[2022-10-25 10:10] sb185296 commented on #1195
hi team ,

thanks for the help :)

we was getting error :
[code]
i found this : https://github.com/open-telemetry/opentelemetry-operator/issues/862

and we change Instrumentation to that

[code]

and now its working with .Dotnet6

is that ok ? or we need to undrestand why GRPC not working ?
or its bug in the operator ?

[2022-10-25 11:19] Kielek commented on #1195
OpenTelemetry Operator is using https://github.com/open-telemetry/opentelemetry-dotnet-instrumentation/releases/tag/v0.3.1-beta.1

This version does not support `b3`. You could try `b3multi` if it could be good alternative for you.

`b3` was not yet released. It should be included in the upcomming release. I expect that it will be called 0.4.0-beta.1. Please check unreleased sections https://githu

[2022-10-25 13:54] sb185296 commented on #1195
hi

its not for python i says that that fix was able to help with the .NET - https://github.com/open-telemetry/opentelemetry-operator/issues/862

this why i ask if something missing for GRPC ? because of the error

this fix help as and make it work
  exporter:
    endpoint: http://localhost:4318/v1/traces
    #endpoint: http://localhost:4317

ok thanks for the tip :)
we keep on trace it

great wor

[2022-10-25 13:54] #1195 closed

[2022-10-26 00:16] sairam866 commented on #1113
@svrnm - I am working on this.
[code]
cc: @pavankrish123

[2022-10-26 01:18] sairamnat commented on #1113
@svrnm - I am working on this.
[code]
cc: @pavankrish123

[2022-10-26 09:51] #1198 closed

[2022-10-26 09:52] #1197 closed

[2022-10-26 10:02] pavolloffay opened #1207 "Nominate @frzifus to approver"
I would like to nominate @frzifus to join @open-telemetry/operator-approvers. He has been contributing to the operator for several months. His biggest accomplishment is ingress support https://github.com/open-telemetry/opentelemetry-operator/pull/1128.

Facts:
* 39 PR reviews https://github.com/open-telemetry/opentelemetry-operator/pulls?q=is%3Apr+reviewed-by%3Afrzifus
* 5 merged PRs https://githu

[2022-10-26 10:05] pavolloffay commented on #1113
@svrnm sorry I missed the comment. Usually it's enough to just put a comment when somebody is working on something.

[2022-10-26 10:08] povilasv opened #1208 "Improve installation docs"
Ref https://github.com/open-telemetry/opentelemetry-operator/pull/1205#pullrequestreview-1156201922

I'm thinking maybe we can add a short guide how to install / upgrade operator using helm, but also leave the current `kubectl apply -f ` approach.

I'm not sure what are other ways to install the operator?

Any thoughts around this?

FYI: I can find some time to work on this :)

[2022-10-26 10:10] pavolloffay commented on #1196
Being able to patch the collector config is a valid use case.

@petrmac could you please elaborate what would you like to configure in the Instrumentation CR? The instrumentation CR does not have any `string` config like the collector CR (`.spec.config`).

[2022-10-26 10:13] pavolloffay commented on #1203
cc) @kevinearls

[2022-10-26 10:17] pavolloffay commented on #1190
I would suggest installing the operator via https://github.com/open-telemetry/opentelemetry-operator/releases/tag/v0.61.0 and see if the issue is still there.

[2022-10-26 10:19] pavolloffay commented on #1200
There is no demo application right now.

The only information is in readme https://github.com/open-telemetry/opentelemetry-operator#opentelemetry-auto-instrumentation-injection or you can take a look at dotnet e2e test but you will need to learn kuttl https://github.com/open-telemetry/opentelemetry-operator/tree/main/tests/e2e/instrumentation-dotnet.

I am closing the ticket as it is "too generic"

[2022-10-26 10:19] #1200 closed

[2022-10-26 10:43] #1191 closed

[2022-10-26 13:05] svrnm commented on #1113
no worries!

that would allow something like resourceDetectors: getNodeResourceDetectors()

This is something that belongs to the opentelemetry-js project, I would say it's a great idea, but should not block this feature here.

[2022-10-27 16:37] codeboten opened #1210 "Release the operator to use collector v0.63.0"

[2022-10-27 20:10] seankhliao commented on #1103
I ran the target allocator on a larger cluster (200+ servicemonitors).
Without being able to set resource reservations, it was frequently getting OOMKilled (~10 cpu, ~18Gi memory) as it had the lowest resource requests (0).

[2022-10-28 10:05] kevinearls commented on #1203
@Irakus @pavolloffay Are there any metrics you'd like to prioritize?  I've only taken an initial look at the code, but covering everything that autoscaler is capable of might be difficult.

[2022-10-28 10:13] Irakus commented on #1203
@kevinearls the issue is based on this paragraph in k8 documentation [Autoscaling on multiple metrics and custom metrics](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/#autoscaling-on-multiple-metrics-and-custom-metrics)
It's mentioned that "Notice that the targetCPUUtilizationPercentage field has been replaced with an array called metrics." it would be nice

[2022-10-28 11:22] sweetxiaodai commented on #1135
Thanks

[2022-10-28 11:22] #1135 closed

[2022-10-28 11:52] pavolloffay commented on #1135
@sweetxiaodai were you able to resolve your use-case?

If so could you please share how? Maybe it will be useful for other folks.

[2022-10-28 15:54] pavolloffay commented on #1103
@seankhliao would you like to fix it?

[2022-10-28 16:40] codeboten commented on #1210
Please hold off on this until v0.63.1 is released. A patch is required to address https://github.com/open-telemetry/opentelemetry-collector/issues/6433

[2022-10-29 02:36] codeboten commented on #1210
v0.63.1 is out https://github.com/open-telemetry/opentelemetry-collector-releases/releases/tag/v0.63.1

[2022-10-30 12:07] seankhliao commented on #1103
tbh I'm not sure how I would fix it in the current structure of the CRD.
In attempting to get it to run on one of our larger clusters, I eventually had to use the rest of the PodSpec to schedule it properly (I ran it as an independent deployment without the operator).

ref: https://cloud-native.slack.com/archives/C033BJ8BASU/p1666986594165909

[2022-10-31 15:19] frzifus commented on #1210
Should we go with a `v0.62.0` first? What do you think?

cc @pavolloffay

[2022-10-31 23:25] moh-osman3 opened #1213 "[target-allocator] create new target package"
In the ongoing implementation of the prehook in https://github.com/open-telemetry/opentelemetry-operator/pull/1127, there are common objects in the `allocation` package that need to be accessed by the `prehook` package.  This creates an import cycle because `allocation` already will depend on the `prehook` package.

This issue is to request and track the creation of a new package called `target` w

[2022-11-01 10:32] Allex1 commented on #1202
@pavolloffay As mentioned above, my user has the exact same roles as the otel operator (+ some others, but not cluster admin).

[2022-11-01 12:32] damemi commented on #1202
Does the operator create any Instrumentations? I don't see why it would need that role (not sure why it has `create` for Collectors either). In that case your user shouldn't be re-using the operator's roles

[2022-11-01 13:34] pavolloffay commented on #1202
The operator does not create/delete any OTEL  CRs.

[2022-11-01 13:41] Allex1 commented on #1202
Makes sense. Thanks. I was thrown off by the fact that the operator can create the collector cr.

[2022-11-01 13:52] damemi commented on #1202
@pavolloffay should create/delete for collectors be dropped from its role? https://github.com/open-telemetry/opentelemetry-operator/blob/main/config/rbac/role.yaml#L150-L151

[2022-11-01 14:00] Allex1 commented on #1202
I can do that both here and in the helm repo once we get confirmation.

[2022-11-01 14:01] frzifus commented on #1176
Oh and isn it `v0.62.0` instead of `v0.62.1`?

[2022-11-01 14:05] pavolloffay commented on #1176
we can probably go directly with 0.63.1

[2022-11-01 14:06] frzifus commented on #1176
ok, but isnt then 0.63.0?

https://github.com/open-telemetry/opentelemetry-collector-contrib/releases

[2022-11-01 17:42] #1210 closed

[2022-11-01 19:19] Aneurysm9 commented on #1176
I don't think this is appropriate as long as our guidance is that there is a 1:1 correspondence between operator and collector versions.

[2022-11-02 07:34] #1213 closed

[2022-11-02 08:53] pavolloffay commented on #1176
@Aneurysm9 could you please open a ticket to discuss and clarify this?

I totally agree on

but I had a different view if the operator has to be released for all collector versions.

[2022-11-02 08:54] pavolloffay commented on #1202
We can try, maybe some of the upgrade routines might delete the CR but I am not sure.

[2022-11-02 09:16] frzifus commented on #1176
There was also a comment from @vasireddy99 on that https://github.com/open-telemetry/opentelemetry-operator/pull/1215#issuecomment-1299638135.

What would you recommend? Creating another branch to release `v0.62.1` with a65ec2235e638e07955c5b7be107594685fee53f as a base?

[2022-11-02 18:16] Aneurysm9 commented on #1176
I think this issue works as well as any other.  We should decide here whether we need to release `v0.62.1` or not.

My view is that if there is a 1:1 correspondence between collector and operator versions then the operator must have a release that corresponds to every (non-retracted) collector release.  If the collector retracts a release before a corresponding operator release is made, that's fin

[2022-11-02 23:47] akhileshsingh85 commented on #1142
@noMoreCLI  is name "otel.auto-instrumentation.state" for label final?

[2022-11-03 10:13] #963 closed

[2022-11-03 10:14] secustor commented on #713
Solved in Release [v0.61.0](https://github.com/open-telemetry/opentelemetry-operator/releases/tag/v0.61.0)

[2022-11-03 10:14] #713 closed

[2022-11-03 10:14] secustor commented on #383
Solved in Release [v0.61.0](https://github.com/open-telemetry/opentelemetry-operator/releases/tag/v0.61.0)

[2022-11-03 10:14] #383 closed

[2022-11-03 10:53] frzifus commented on #1176
@open-telemetry/operator-maintainers could you create a release branch based on https://github.com/open-telemetry/opentelemetry-operator/commit/a65ec2235e638e07955c5b7be107594685fee53f? I will then prepare the release of `v0.62.1`.

[2022-11-03 15:05] Aneurysm9 commented on #1176
I have created [`release/v0.62.x`](https://github.com/open-telemetry/opentelemetry-operator/tree/release/v0.62.x).

[2022-11-03 16:30] kevinearls opened #1219 "Log errors are created if we try to reconcile while a namespace is being deleted"
This may only apply to kuttl tests, but sometimes we generate a lot of errors (like the one below) in the logs if the reconciler runs while a namespace is being deleted.   It would be nice to not produce these

[code]

[2022-11-03 16:51] secustor commented on #948
This should be fixed with https://github.com/open-telemetry/opentelemetry-operator/pull/949

[2022-11-03 16:51] #948 closed

[2022-11-04 08:18] noMoreCLI commented on #1142
@akhileshsingh85
no,  I don't think so. I used this as an illustrative example.
As I anticipate that in the future additional state information could be added, I think a structured approach could make sense, but open for comments.

[2022-11-04 12:04] #1064 closed

[2022-11-04 15:04] csquire opened #1224 "Do not auto-create service account if an existing one is specified"
**Problem:**
When ` serviceAccount` is set on an OpenTelemetryCollector, a service account based on the collector name still gets created even though it's unused. The extra serviceAccount is just noise and should not be created. From looking at the code, it appears a targetAllocator serviceAccount will also be auto-created by the operator when an existing serviceAccount is specified.

**Expected:*

[2022-11-04 15:41] kangsheng89 opened #1225 "webhook tls min version to tls_v1.2"
Currently the webhook on controller-manager is operate on port 9443. The webhook server of the https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/webhook/server.go#L77 is configurable

Is there any plan to support setting to use min tls v1.2 as open telemetry collector of v0.59.0? and
TLS 1.0 and 1.1 are deprecated due to known vulnerabilities and should be avoided.

[2022-11-04 19:47] mjrlgue opened #1226 "Opentelemetry auto instrumentation not working for java"
**Describe the bug**
Hello, I followed this [tutorial ](https://medium.com/opentelemetry/using-opentelemetry-auto-instrumentation-agents-in-kubernetes-869ec0f42377) (thanks for the straightforward steps (y)), but the command `kubectl logs deployment.apps/otel-collector` doesn't print any trace, metric or logs. Instead I get that the exporters are started and waiting for data:
![image](https://user

[2022-11-04 20:29] damemi commented on #1226
One idea: are the collector, Instrumentation, and petclinic app all in the same namespace?

Could you also `kubectl get -o yaml pod/...` for the petclinic pod to see if the auto-instrumentation container was actually injected by the operator after you created it?

[2022-11-06 12:07] avadhut123pisal commented on #1226
Hi [mjrlgue](https://github.com/mjrlgue), as per the configurations which are provided by you, application deployment is in `otel` namespace and the instrumentation instance (my-instrumentation) is in default namespace. That is why, your application is not getting instrumented.

[2022-11-07 06:12] kangsheng89 commented on #1225
Before add this, the controller-runtime has to be updated to v0.13.1
https://github.com/kubernetes-sigs/controller-runtime/compare/v0.13.0...v0.13.1

[2022-11-07 08:48] svrnm commented on #1142
Not an expert on K8s, but from an end user perspective it would be good to have a few kinds of information:

* on which workloads have we tried to apply auto-instrumentation (and maybe which one)? so I can identify if one was skipped or if the wrong auto instrumentation was applied for whatever reasons
* was the auto-instrumentation successful (YES, NO, PENDING, ...)
  * if NO, some error details

[2022-11-07 12:43] damemi commented on #1142
Would it be better for some of these to use the [`InstrumentationStatus`](https://github.com/open-telemetry/opentelemetry-operator/blob/main/apis/v1alpha1/instrumentation_types.go#L149) field, so that the information is in one spot vs applied over (possibly many) workloads?

[2022-11-07 12:45] pavolloffay commented on #1142
Correct, the information should be in the status field.

[2022-11-07 12:52] damemi commented on #1226
Right, so for `true` to work on the annotation, the Instrumentation needs to be in the same namespace. If it is in a different namespace, then `true` won't work, but you can set the annotation to `my-namespace/my-instrumentation` to reference an Instrumentation from another namespace.

The collector doesn't need to be in the same namespace either, you just need to update your endpoint to include t

[2022-11-07 12:53] pavolloffay commented on #1202
@Allex1 can we close this issue?

[2022-11-07 13:11] damemi commented on #1142
As a starting point then, what about just adding status conditions to the crd? https://sdk.operatorframework.io/docs/building-operators/golang/advanced-topics/#manage-cr-status-conditions

I see that CollectorStatus implemented its own fields, but I think at least the conditions @svrnm suggested could be expressed with the upstream type. Willing to help with this

[2022-11-07 13:14] Allex1 commented on #1202
@pavolloffay closing. Thanks

[2022-11-07 13:14] #1202 closed

[2022-11-07 13:41] pavolloffay commented on #1224
+1 @csquire would you like to submit a fix?

[2022-11-07 13:44] pavolloffay commented on #1219
@kevinearls is there any action item for this ticket?

Should the log statement be removed or perhaps changed? Outside of kuttl tests the log seems valuable.

[2022-11-07 15:20] kangsheng89 commented on #1225
i think we can update TLS config through this https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/manager/manager.go#L253

first using crypto/tls lib
[code]

[code]
[code]
This is my initial idea, need to be test and verify. And i need some help to understand the build and debug of opentelemetry-operator on local.

[2022-11-07 16:19] jpkrohling commented on #1207
I support

[2022-11-07 17:18] mjrlgue commented on #1226
thanks @avadhut123pisal  and @damemi  for replying, I did the following:

- The instrumentation instance + the collector and the app are all in the same namespace now, this is the output of `kubectl get all -n otel`:
[code]
- and `kubectl get instrumentation -n otel` returns:
[code]

but still the same problem, the collector doesn't log any trace, last line is always: `Everything is ready. Begin r

[2022-11-07 17:43] mjrlgue commented on #1226
How can I troubleshoot please if the petclinic app is instrumented but data not sent to the collector?

[2022-11-07 18:25] damemi commented on #1226
It looks like the app isn't getting instrumented by the operator. An instrumented pod would include additional environment variables and an init container such as:
[code]

That's how the operator adds auto-instrumentation to pods. Can you get the pod logs from the operator pod (`kubectl logs -n opentelemetry-operator-system pod/opentelemetry-operator-controller-manager... -c manager`) to see if it

[2022-11-07 18:47] mjrlgue commented on #1226
this is the output, took the last few lines:
[code]

[2022-11-07 21:54] damemi commented on #1142
I opened a POC pr at https://github.com/open-telemetry/opentelemetry-operator/pull/1228, happy to discuss other possibilities or suggestions

[2022-11-07 21:57] damemi commented on #1226
That looks like the operator is stuck trying to create the service for a collector deployment. I don't know why that would be blocking your app from being instrumented, but maybe that fails before auto-instrumentation is injected.

Are you using a different Collector config than the one in the blog post? Could you share that if so?

[2022-11-07 22:15] mjrlgue commented on #1226
yes sure, here is the collector configuration:
[code]
the instrumentation:
[code]
and the app:
[code]

[2022-11-08 07:29] vainikkaj commented on #1168
Also by this https://github.com/open-telemetry/opentelemetry-python/pull/3027
Both are merged but new release is needed.

[2022-11-08 08:58] moh-osman3 opened #1231 "[target-allocator] targets get dropped when using relabel-config Filter with serviceMonitor"
In https://github.com/open-telemetry/opentelemetry-operator/pull/1127 a new CRD field called `filterStrategy` was added. However, the `relabel-config` option drops all targets in the case of using a serviceMonitor that uses the `hashmod` action in the relabel_config. The resulting label will be matched with the environment variable `$(SHARD)`, but in the prehook no environment variable substitutio

[2022-11-08 10:24] kevinearls commented on #1219
@pavolloffay I have a fix for it and will create a PR shortly

[2022-11-08 14:14] mjrlgue commented on #1226
thanks @pavolloffay it worked after restarting the pod, here is the output:
[code]
is this the expected output from the collector?
[code]
Now I need to test the opentelemetry instrumentation with another app, I'll get back here if needed!

[2022-11-08 15:43] damemi commented on #1196
Working on a poc for this
/assign

[2022-11-08 19:56] csquire commented on #1224
sure, I can have a look soon

[2022-11-08 23:20] #1225 closed

[2022-11-09 00:25] VineethReddy02 commented on #1207
+1 in having @frzifus as the operator-approver.

[2022-11-09 00:50] Allex1 opened #1234 "Does the "configmaps/status" resource serve any purpose?"
According to https://github.com/kubernetes-sigs/kubebuilder/issues/1473 and https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.24/#configmap-v1-core the "configmaps/status" resource does not exist 😕 but it's still present in our roles in https://github.com/open-telemetry/opentelemetry-operator/blob/main/config/rbac/leader_election_role.yaml#L22 and https://github.com/open-telemetry/o

[2022-11-09 09:29] pavolloffay commented on #1207
Voting done, all maintainers agree.

@frzifus please add yourself to the readme. I have added @frzifus to the @open-telemetry/operator-approvers

[2022-11-09 09:29] #1207 closed

[2022-11-09 09:53] frzifus commented on #1207
Thank you, i do :)

[2022-11-09 20:25] mjrlgue commented on #1226
I'll close this as OTel worked as expected, thanks for the support 👍

[2022-11-09 20:25] #1226 closed

[2022-11-10 01:08] mingh2 commented on #898
+1 to this. A simple fix would be just changing the `app.kubernetes.io/name` label.
For ClusterIp object, the name is in the format `{}-collector` and for headless service, the name is `{}-headless`. However, the `app.kubernetes.io/name` label is the same for both object.

[2022-11-10 03:03] kangsheng89 opened #1238 "Add default cipher suites configuration for webhook server"
Currently the webhook server default cipher suite from crypto/tls package.
There are 2 cipher is vulnerable on SWEET32 attack
TLS_ECDHE_RSA_WITH_3DES_EDE_CBC_SHA, TLS_RSA_WITH_3DES_EDE_CBC_SHA

Since webhook server is default to TLSv1.2, we can add configure to default disable cipher suite of the above, and allow the strong cipher suite.

![image](https://user-images.githubusercontent.com/12370490

[2022-11-10 15:17] #1176 closed

[2022-11-10 15:18] frzifus opened #1239 "Release the operator to use collector v0.64.0"
https://github.com/open-telemetry/opentelemetry-collector-contrib/releases/tag/v0.64.0

[2022-11-10 15:59] damemi commented on #1196
Opened a PR at https://github.com/open-telemetry/opentelemetry-operator/pull/1240, ptal

[2022-11-10 18:49] bogdandrutu opened #1241 "Release the operator for collector v0.64.1"

[2022-11-10 21:39] bonclay7 opened #1243 "[Feature request] Ability to use `hostPorts` to expose the collectors ports locally to the instance"
I would like to be able to declare a list of ports that other pods on the same host can access using `localhost`. Right now `hostNetwork: true` seems to do the trick but it opens up to other security implications

[2022-11-11 08:36] kangsheng89 commented on #1238
Currently the #1244 only fix operator on port 9443, port 8443 need further investigation

[2022-11-11 09:10] kangsheng89 commented on #1238
@pavolloffay  as i understand port 8443 is metrics-server, do u mind to point me where is the entrypoint for setting the server?

[2022-11-14 11:16] pavolloffay commented on #1238
what is using 8443? Is it for metrics `8443`?

Are you looking to configure rbac proxy https://github.com/brancz/kube-rbac-proxy? The requests from the proxy are proxied to 8080 on the operator.

[2022-11-14 11:23] pavolloffay commented on #1239
@yuriolisa I would propose to close this ticket and release only 0.64.1 as part of https://github.com/open-telemetry/opentelemetry-operator/issues/1241

cc) @Aneurysm9

[2022-11-14 11:47] kangsheng89 commented on #1238
I have created this to fix it from helm-chart
https://github.com/open-telemetry/opentelemetry-helm-charts/pull/501

[2022-11-14 12:50] yuriolisa commented on #1239
look fine to me. I'll close, though.

[2022-11-14 12:50] #1239 closed

[2022-11-16 16:26] jaronoff97 opened #1255 "[target-allocator] Allow the target allocator to use a label selector for Prometheus CRDs"
Right now the target allocator pulls in every prometheus CRD (servicemonitor, podmonitor, etc.) in a cluster. This may not be desired for users that want to split up scraping among pools of collectors.

[2022-11-16 17:14] jaronoff97 commented on #1255
So there are a few options here on how we can implement this. The first is to match what the prometheus-operator does, which is a bit complex.

### Prometheus-Operator

Prometheus uses a combination of selectors for watching and then selecting. There is the [prometheus-instance-selector](https://github.com/prometheus-operator/prometheus-operator/blob/1d6c2dc2e5e5d1ead94af83ee8353a50d610db4b/cmd/op

[2022-11-16 22:28] jaronoff97 opened #1257 "[target-allocator] Investigate Target Allocator memory usage"
@seankhliao reported in the otel-operator channel [in slack](https://cloud-native.slack.com/archives/C033BJ8BASU/p1666986594165909) that the TA was using around 200 gigs of memory for 4k+ pods. This is definitely excessive and makes me think that we either have a memory leak and/or poor memory usage. I'm planning on going through the TA code, running some benchmarks/profiling, and doing some refac

[2022-11-17 02:13] frzifus opened #1258 "[Platform-Autodetect] running after reconciler has been created"
While working on #1206, i noticed that the platform detection runs after the otel reconciler has been created.
[code]
I would like to add [a route reconciler](https://github.com/open-telemetry/opentelemetry-operator/blob/c7c962d187eb1d6470719e347b573c395d9eb0ef/controllers/opentelemetrycollector_controller.go#L113-L115) only if the route api exists. Currently the platform is determined by the exis

[2022-11-17 16:43] iblancasa opened #1262 "Warning about PodSecurity when applying some manifests from the E2E tests in OpenShift 4.11"
When applying some of the manifest from the E2E tests, this error is shown:
[code]

The files with this problem are:
[code]

[2022-11-17 20:37] dlydiard opened #1401 "When using the `daemonset` mode, the services that are created by the controller should use `internalTrafficPolicy: Local`"
When using the `daemonset` mode, the services that are created by the controller should use `internalTrafficPolicy: Local` so that network traffic routing is optimal. https://kubernetes.io/docs/concepts/services-networking/service-traffic-policy/

Using
[code]

Results in a `Service`
[code]

`internalTrafficPolicy: Cluster` should be `internalTrafficPolicy: Local` when in the `daemonset` mode.

[2022-11-17 22:31] seankhliao commented on #1257
I think most of what I experienced is in that slack thread.
Some additional info:

I think it's mostly from the map copies generated from `TargetItems()` in `allocation`. Running the allocator without clients doesn't produce the increasing memory usage profile.

I made some attempt at using `sync.Pool` and/or some rate limiting on `TargetItems()`, it only slowed but didn't prevent the runaway memo

[2022-11-18 14:29] jawnsy opened #1264 "Documentation for restricted securityContext"
Hello there,

Thanks so much for this great operator! The otel-collector sidecar and deployment seem to work fine with some more restrictive securityContext settings, and I'd like to propose adding documentation to describe how to implement this, as these changes would be especially relevant for people running in a restricted environment, such as OpenShift.

Since changing the defaults would be a

[2022-11-18 16:27] #1255 closed

[2022-11-18 16:28] #898 closed

[2022-11-21 10:24] pavolloffay commented on #1264
@jawnsy thanks for getting back to us and contributing.

The only docs we have right now is the root readme or https://github.com/open-telemetry/opentelemetry-operator/blob/main/apis/v1alpha1/opentelemetrycollector_types.go#L74.

PR is highly appreciated ❤️

[2022-11-21 10:39] #1101 closed

[2022-11-21 10:40] #1224 closed

[2022-11-21 14:40] dominthomas opened #1267 "Understanding how Python Auto-Instrumentation works."
Hi, can someone give guidance on these:

1. What's the best way to understand how the python auto instrumentation init container works - do we have any docs for this?
2. Do we have any resources/documentation on how to debug auto instrumentation issues, i.e. no traces, debug logging etc.?

If we don't have documentation on the above, I'm willing to contribute some docs with my experience.

Regards

[2022-11-21 14:53] avadhut123pisal opened #1268 "Support ingressClassName in collector spec"
Ingress controller implementations use this field (`ingressClassName`) to know whether they should be serving the Ingress resource.

Before the IngressClass resource and `ingressClassName` field were added in Kubernetes 1.18, Ingress classes were specified with a `kubernetes.io/ingress.class` annotation on the Ingress. This annotation was never formally defined, but was widely supported by Ingress

[2022-11-22 10:35] #1241 closed

[2022-11-22 13:58] #1231 closed

[2022-11-22 13:59] #1268 closed

[2022-11-23 16:32] jaronoff97 opened #1272 "[target-allocator] Fix and run unit tests"
In working on #1257, i noticed that we have failing tests for the target allocator and that tests weren't running for the TA at all in CI/CD. I plan on fixing both of these issues.

[2022-11-24 14:38] armed opened #1275 "How to configure sidecar container to expose ports?"
Our setup currently consists of several replicas of opentelemetry-controllers + app pods with sidecar. Is there any way to configure the operator to expose specific ports from sidecar containers (prometheus exporter port, etc.)?

[2022-11-24 16:13] codeboten opened #1277 "Release the operator for collector v0.66.0"
This is the next release after v0.64.1. There was a problem during the release process of v0.65.0 and that version was never fully released.

[2022-11-25 02:24] VineethReddy02 commented on #1277
I'm working on the release PR :)

[2022-11-25 03:52] armed commented on #1275
Closing, I was using old version of operator.

[2022-11-25 03:52] #1275 closed

[2022-11-25 09:31] Kaitou786 opened #1280 "Multi Traces same service name causes confusion"
Hi, I have some services running in multiple namespaces with different versions. I am collecting the traces and sending it to the jaeger backend.

For example, I have  a deployment name `api` in namespaceA and in namespaceB

I have specific instrumentation object in both namespace and in both of them I have specified

[code]

But in the jaeger UI there are traces merged and I see a single service

[2022-11-25 15:48] pavolloffay commented on #1280
The instrumentation should collect the namespace resource attribute that can be used to filter the data.

The service name attribute could be perhaps overridden here https://github.com/open-telemetry/opentelemetry-operator/blob/main/apis/v1alpha1/instrumentation_types.go#L69 or via the `env` option

[2022-11-26 12:48] pavolloffay commented on #1280
- [ ] we should document how to override the service name, this seems like a common use case to me

[2022-11-26 13:31] #1238 closed

[2022-11-26 13:39] pavolloffay commented on #1267
you could perhaps check the python repository if they have some docs. The operator just injects the auto-instrumentation.

Here are some docs https://github.com/open-telemetry/opentelemetry-operator/blob/main/autoinstrumentation/python/Dockerfile

[2022-11-26 14:07] #1258 closed

[2022-11-27 07:42] Kaitou786 commented on #1280
Okay... I am already sending in the `resourceAttributes` from the Instrumentation object and I can see the namespace attribute being present on the traces, I think the problem is on the Jaegar UI side which lacks the filtering of these traces and the ability to customize the service name.

But thanks for your response!

P.S. I have also tried to send in the service.name in the resource attributes

[2022-11-27 16:54] ekarlso opened #1281 "OTEL Operator adds un-needed default volume for StatefulSet"
If you add a collector that has mode statefulset it will have a default volume added which is not-needed for a simple deployment unless you want to actively store state on a disk.

Here is the test for the functionality in question
https://github.com/open-telemetry/opentelemetry-operator/blob/57abb4df547ca6346bde7bd0cc8c1fe02e4c016e/pkg/collector/volumeclaim_test.go#L30

Here is the code actually

[2022-11-27 17:56] ekarlso commented on #1281
As ref disussion on #otel-operator  it should not be needed for the StatefulSet according to previous discussions and doc to have a PVC attached.
https://github.com/open-telemetry/opentelemetry-operator/pull/265

https://docs.google.com/document/d/1KO9mQf9owbEsxYMe1yevwEOo5S-J0AE3g3HZyY5fZMo/edit#

[2022-11-28 07:55] santoshkashyap opened #1283 "How to disable specific library instrumentation for `NodeJS` ?"
Hi,

I have setup [opentelemetry-operator](https://github.com/open-telemetry/opentelemetry-operator) on our cluster. For NodeJS workload on the cluster I have added the pod annotation :
[code]
I have configured daemonset for instrumentation. So far everything works fine, but the auto-instrumentation generates lots of spans for our NodeJS application. I'm only interested in spans from the library `

[2022-11-28 09:14] JaredTan95 opened #1286 "[bug] starting container process caused "chdir to cwd/home/nonroot" in config.json failed: permission denied: unknown"
Hi,

I use [opentelemetry-operator](https://github.com/open-telemetry/opentelemetry-helm-charts/blob/main/charts/opentelemetry-operator/README.md) helm chart deploy in Kubernetes v1.17.2.  but it works in Kubernetes v1.24.0

the operator could not start up normally with the following errors:

[code]

anything suggestions about how to solve this problem? thx~

[2022-11-28 09:40] JaredTan95 commented on #1286
solved by set `securityContext` to nil :
[code]

[2022-11-28 12:59] anh-oolio commented on #199
I already added the annotation `sidecar.opentelemetry.io/inject: 'true'` to the Pod, but it seems the sidecar can only be injected into the same namespace only (tested).

Do I need to add any other annotation for the collector sidecar to be injected into the pod? @yuriolisa @pavolloffay @naphta

[2022-11-28 14:00] #1183 closed

[2022-11-29 09:54] #1272 closed

[2022-11-29 15:22] fredthomsen commented on #902
How are people actually leveraging the ingress to get data into a OTEL collector running in a cluster now?
* You cannot add any path information to receiver endpoints in the CRD config ie `0.0.0.0:4318` is valid, but setting `0.0.0.0:4318/otlp-http/` is not.
* The ingress reconciliation process doesn't seem to account for the fact that these paths (like `otlp-http` in the example above) are not re

[2022-11-30 12:36] #1179 closed

[2022-11-30 13:48] pavolloffay commented on #1286
@JaredTan95 is this an operator issue or a helm chart?

[2022-11-30 13:57] kevinearls opened #1291 "TestSmartCollectorReassignment is flaky"
TestSmartCollectorReassignment in cmd/otel-allocator/allocation/least_weighted_test.go fails frequently.   I will add a t.skip() to prevent it from breaking CI

[2022-11-30 14:46] secustor commented on #1291
Fore reference, the PR which introduced the skip: https://github.com/open-telemetry/opentelemetry-operator/pull/1233

[2022-11-30 17:54] lukeplausin opened #1294 "OpenTelemetry `targetAllocator` component appears to include all endpoints in every job when using the `prometheusCR` setting"
Hi there, I am trying to configure OpenTelemetry to scrape Prometheus metrics via already existing `PodMonitor`/`ServiceMonitor` custom resource definitions.

It seems that when I deploy OpenTelemetry with the operator, the `targetAllocator` component does launch and it will return a list of Jobs when I hit the `/jobs` API endpoint of the allocator. However, the list of targets in each job seems t

[2022-11-30 17:58] frzifus commented on #1291
Same here:

https://github.com/open-telemetry/opentelemetry-operator/actions/runs/3584847719/jobs/6032050844#step:6:1174
https://github.com/open-telemetry/opentelemetry-operator/actions/runs/3585751516/jobs/6034118083#step:6:1172

[2022-11-30 19:35] krvajal opened #1295 "statsd reciever port not opening"
When adding a statsd receiver, the port is not being added to the container.
See https://github.com/open-telemetry/opentelemetry-operator/blob/main/pkg/collector/parser/receiver_statsd.go