[2021-12-20 13:42] Ne4to opened #642 "Windows nodes support"
Is there any plan to add Kubernetes Windows nodes support?
We have an application running on Windows nodes and would like to export traces.
Currently traces from the application are pushed to a Linux node using address hardcode in configuration.
It would be great to have a DeamonSet with corresponding tolerations to be able to send traces to the same node.

[2021-12-20 20:44] Apollorion opened #644 "Upgrading operator on k8s < 1.22 is broken"
[This change](https://github.com/open-telemetry/opentelemetry-operator/pull/521) broke upgrading existing operators in k8s < 1.22.

We attempted to upgrade our operator today, via:
[code]

And we're getting this error:
[code]

We were able to get around it by adding the default strategy back into `opentelemetry-operator.yaml` spec.
[code]

[2021-12-21 08:56] jpkrohling commented on #644
cc @rkukura, @VineethReddy02, @pavolloffay

[2021-12-21 09:03] jpkrohling commented on #642
To be honest, I have no idea what it takes to get something running on a Windows node. Is it opt-in? Is it failing with a specific error? Should it use a different container? If you can scratch a PR or a set of DaemonSet manifests, we can certainly give it a try.

[2021-12-21 14:28] yuriolisa opened #646 "Parsing httpd endpoint in Otel-operator is broken."
I'm trying to use the httpd receiver with a declared endpoint, like :

[code]

However, I'm getting the following error once the CR is deployed:
[code]

[2021-12-22 11:37] BronzeDeer commented on #529
@pavolloffay Many things in Kubernetes follow a `"<namespace>/<name>"` pattern, with the `"<namespace>/"` prefix being optional. Beyond  the namespace grouping in my mental model everything else about annotations/labels etc is a flat key-value structure. I'm not sure if we should try to flatten a hierarchical datastructure into the annotation space.

My second objection was about your third sugges

[2021-12-22 11:45] BronzeDeer commented on #529
Oh and Kubernetes actually forbids a second slash in the annotation key: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/#syntax-and-character-set

[2021-12-22 15:12] rkukura commented on #635
@rbaumgar Here is what has worked for me:

[code]

Note that the endpoint needs to include the jaeger instance's namespace name.

Also, the ca_file setting gets moved under tls in the config schema in (I think) 0.38.0, and the operator migration doesn't currently handle this.

[2021-12-22 16:53] rbaumgar opened #652 "failed calling webhook "mopentelemetrycollector.kb.io""
full error message

[code]

Reason:
- Operator is installed in openshift-operators
- some other operators are installed in the same namespace, like kogito, gitops
- service "opentelemetry-operator-controller-manager-service" has as podselector defined "control-plane=controller-manager"
--> the service is also pointing to the wrong pods from the other operators...
Sometimes it does not work, someti

[2021-12-22 20:31] rkukura commented on #635
Actually, you don't need the ConfigMap. This should work:

[code]

[2021-12-23 08:26] rbaumgar commented on #635
Works in my env with OpenTelemetryCollector 0.33 with following CRD (incl ConfigMap/Volume)
[code]
Thanks!

[2021-12-23 08:26] #635 closed

[2021-12-23 21:11] Ne4to commented on #642
Yes, it requires different container or adding support for multi-platform for an existing one.

[code]

It looks like I should start from https://github.com/open-telemetry/opentelemetry-collector/ and after a container is available I will try to add a PR to this repository.

[2021-12-27 09:18] jpkrohling commented on #652
This might be related to #521.

cc @rkukura, @VineethReddy02, @pavolloffay

[2021-12-27 09:19] jpkrohling commented on #652
Or not: perhaps we just need to better qualify the selector?

https://github.com/open-telemetry/opentelemetry-operator/blob/e7bb958d0f8a8956f1e32f84f13f376bfbda3afa/config/webhook/service.yaml#L12-L13

[2021-12-27 10:01] rbaumgar commented on #652
May be a good idea to add something like "app.kubernetes.io/name=simplest-collector"...
Should be a recommendation by the Operator SDK.

[2021-12-27 10:14] jpkrohling commented on #652
This sounds like a good first issue. Would you like to try it out, @rbaumgar?

[2021-12-27 10:27] rbaumgar commented on #652
@jpkrohling sorry looked at wrong pod.
The controller-manager has only the label "pod-template-hash: 69f7f56598".

So I added the last line to the service

[code]
Works perfect!

[2022-01-03 17:32] dlouvier commented on #100
Thank you!

This also resolve the issue in GKE Autopilot!

[2022-01-05 07:42] subbusquareshift opened #654 "Python flask is not able to auto instrument"
Failed to load configured propagators

[code]

[2022-01-05 09:20] jpkrohling commented on #654
cc @pavolloffay, @anuraaga, could one of you address this?

[2022-01-05 10:09] anuraaga commented on #654
@subbusquareshift Are you able to share a reproduction app to try with? If not, can you share information about the app such as flask version, docker base image?

[2022-01-05 10:32] subbusquareshift commented on #654
sponmuth/my_flask_app

[2022-01-05 13:43] pavolloffay commented on #648
Operator 0.41.0 has been released. Closing this.

[2022-01-05 13:43] #648 closed

[2022-01-05 14:18] dlouvier opened #655 "Collector is in a creation loop / GKE Autopilot"
Hello,

I am trying to deploy `opentelemetry-operator` in GKE Autopilot (v1.21) and I am finding a weird behavior when I create a collector, the control-plane operator seems to start to create new replicaSets out of control.

1. First I installed the latest cert-manager
2. Enable firewall in GKE
3. Installed the latest release of opentelemetry-operator
4. Created a collector.

I noticed too if I d

[2022-01-05 15:11] jpkrohling commented on #655
Can you reproduce this problem with vanilla Kubernetes, like via minikube?

[2022-01-05 15:36] jpkrohling commented on #655
I'm not familar with GKE Autopilot, but how does it know how to scale up/down the workloads? Via resource requests/limits perhaps?

[2022-01-05 18:48] dlouvier commented on #655
I don't think that is the problem, because there are no HPA but answering your question , Autopilot doest not  scale deployments,  it only scale the nodes and it does that depending of the pods limits (actually it set request = limits for workloads ), so only scale up workers nodes depending of the total amount of cpu/memory of the pods that needs to schedule.

But it combination with HPA, it does

[2022-01-06 19:02] dlouvier commented on #655
I tried in a fresh minikube cluster and everything work correctly, so this issue is only happening in GKE.

However, @jpkrohling your comment pointed me to an idea, the control-plane expect the controller deployment `spec.template.spec.containers[].requests: {}` be empty.

Once thing that GKE Autopilot does, it is to modify on the fly the container request to a certain values. It is documented [he

[2022-01-06 20:07] dlouvier commented on #655
So I tried to set the pods resources for the collector, but it didn't work. Still continues the loop. The new create pods, uses the specified resources as below. (cpu 250m/mem 512Mi/ephemeral-storage: 100Mi)

I'm trying to find in the source code of the operator where is this "watch" for the resources that could be creating this loop.

---
apiVersion: opentelemetry.io/v1alpha1
kind: OpenTelemetryC

[2022-01-10 04:18] subbusquareshift commented on #654
Are you able to replicate the issue ?

[2022-01-10 12:40] jpkrohling commented on #655
You mean, you manually changed the resources and it was reverted by the operator? That's indeed the desired behavior and would certainly explain what you are observing. The operator will watch deployments, pods, services, among others, and reapply the changes based on the otelcol CR.

This is the code that registers the watches for the otelcol CR: https://github.com/open-telemetry/opentelemetry-op

[2022-01-10 12:45] dlouvier commented on #655
Hi @jpkrohling, it seems we are synced, I was about to check up on this.

Thank you for you message.

And yes, you understood me well. Definitively this is the root cause, I didn't have time to dig more into the topics the past day. Thanks for referring me to the code.

Is it expected when setting `OpenTelemetryCollector.Spec.UpgradeStrategy` to 'none' this shouldn't be?

I tried that in the Minik

[2022-01-10 13:09] jpkrohling commented on #655
No, the upgrade strategy is about upgrading from one version of the collector to the next one. Other operators should behave in a similar way, this is actually a common pattern. The main reason is that operators should decide how the workloads should look like. The decision might be based on topography, the existence of other operators, differences between versions, and so on. So, the operator wil

[2022-01-10 13:42] dlouvier commented on #655
I am using prometheus-operator and for example this behavior is not seen, maybe the prometheus-operator is more relax for the specifications of the expected pod, however, the other day I left the deployment of the opentelemetry-operator control-plane running and a few hours later I had 15k ReplicaSet created.

Regarding this issue, to me is fine. I understood the root cause and I can work around i

[2022-01-10 14:24] templarfelix opened #656 "Allow set imagePullSecrets"
Today don't have method for set imagePullSecrets.

[2022-01-10 15:06] dlouvier commented on #655
I need to finish some stuff I am preparing for a PoC but as far I am done with that, I could take care of this issue, in case you want to assign to me.

[2022-01-10 15:15] jpkrohling commented on #656
We have support for service accounts, which allows setting image pull secrets. Can't you use that instead?

[2022-01-11 02:52] Duncan-tree-zhou opened #657 "Add more configuration for auto-instrumentations"
is't able to set instrument configs, like chose exporter, enable/disable instruments, instrument log level etc. ?

[2022-01-11 04:49] VineethReddy02 commented on #657
@Duncan-tree-zhou can you describe the issue with more details and if possible with an example usecase?

[2022-01-11 14:03] tejaswiniVadlamudi commented on #383
Does OTel Operator define its own CRDs and also support migration from Prometheus Operator CRDs to OTel CRDs?
or
Does OTel Operator support Prometheus Operator CRDs? => not inventing anything new

[2022-01-11 14:10] pavolloffay opened #658 "Release 0.42.0"
OTEL collector 0.42.0 has been released, we should release the operator and add an upgrade procedure if needed.

[2022-01-11 14:12] secustor commented on #383
Initially the second option is more likely  as we can reuse code from PrometheusOperator and their CRDs are widely used in the K8 ecosystem.
A minimal implementation of this is right now under review. https://github.com/open-telemetry/opentelemetry-operator/pull/653

[2022-01-11 15:20] #492 closed

[2022-01-11 19:14] #646 closed

[2022-01-12 02:11] Duncan-tree-zhou commented on #657
following the guide in README.md to instrument java app deployment. some "OTEL_" prefix env was automatically injected to the java app container. but I want to add more "OTEL_" prefix env for the java app container like "OTEL_TRACES_EXPORTER=jaeger". in other word, is't possible to config java/python/nodejs instruments in Instrumentation CRD?

for java autoinstrument configs, reffer to [java agent

[2022-01-12 12:36] pavolloffay commented on #657
This is not supported at the moment. The current CR supports only a minimal set of conf options.

@Duncan-tree-zhou exactly which configuration options would you like to configure?

[2022-01-13 12:10] pavolloffay commented on #658
@VineethReddy02 / @jpkrohling could you please finish the release by creating a tag?

[2022-01-13 15:14] pavolloffay commented on #658
Actually, I can create release and tag via Github UI.

[2022-01-13 16:34] edenkoveshi opened #665 "Sidecar not set up"
Hi,
I am now starting to work with this operator and OpenTelemetry.
I am trying to set up a collector as sidecar and another one as a Deployment.
The Deployment is set up but the sidecar isn't.
The operator does not provide any useful logs (not even for the Deployment actually).
Here are my YAMLs:

Opentelemetry Operator in namespace _operators_:
[code]

OpenTelemetry Collectors and application in

[2022-01-13 16:46] edenkoveshi commented on #665
Nevermind.
I now realized the sidecar is injected **within** the existing container and not as a sidecar container as in the Jaeger operator.
This is quite confusing.

[2022-01-13 16:50] langsamu opened #666 "opentelemetry-operator.yaml not published in 0.42"
I think due to [this failed run](https://github.com/open-telemetry/opentelemetry-operator/runs/4805213417?check_suite_focus=true).

This is `404`:
https://github.com/open-telemetry/opentelemetry-operator/releases/download/v0.42.0/opentelemetry-operator.yaml

[2022-01-13 17:06] #658 closed

[2022-01-13 17:07] pavolloffay commented on #666
now it is available https://github.com/open-telemetry/opentelemetry-operator/releases/tag/v0.42.0

[2022-01-13 17:07] #666 closed

[2022-01-13 17:47] yuriolisa opened #667 "Apache receiver is broken"
I'm trying to configure an `httpd` (apache) receiver on Otel-Collector `v0.38.0`, however, I'm getting the following error message:

[code]
[code]

Further details regarding the environment:

**- Kind Version:**
[code]

**Installed Operator:**
[code]

**Collector Sample:**
[code]
[code]

With that said, I also tried to create the same collector on OTEL-Operator version v0.41.0, changing from `http

[2022-01-13 17:51] jpkrohling commented on #667
Are you using the contrib image?

[2022-01-13 17:59] yuriolisa commented on #667
No, I've deployed the operator and the Collector.

[2022-01-13 18:33] jpkrohling commented on #667
Try the contrib image and let me know how to goes :-)

[2022-01-13 19:23] yuriolisa commented on #667
I've tested using the contrib Image:

[code]

And the contrib locally:

[code]

The error is still there.

[2022-01-14 09:46] pavolloffay commented on #657
thanks for more input @Duncan-tree-zhou.

The OTEL spec defined config should go into the main nodes in the CR (exporter, propagation..) https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md#jaeger-exporter
The language-specific configuration should go under language node in the CR.

Here is how the CR could look like:

[code]

[2022-01-14 15:03] MikeJOBirch opened #668 "OpenTelemetry with Jaeger on Openshift - Transient failure"
Hi i cant get communication between Opentelemetry Collector and Jaeger and i have trouble finding anything about this(Openshift).
I use the OpenTelemetry operator with the Jaeger operator from redhat: https://github.com/jaegertracing/jaeger-operator

When i try to provide an endpoint to the Jaeger-collector in the OpenTelemetry-Collector configuration i receive the following error with OpenTelemet

[2022-01-14 20:34] jpkrohling commented on #668
cc @pavolloffay

[2022-01-16 08:31] edenkoveshi commented on #665
Sorry I had a little confusion.
This indeed does not set up a sidecar container. The test case you provided does not work either.
These are the operator logs:
[code]
This is completely uninformative and I have no idea what's going on.
Any help?

[2022-01-16 13:38] edenkoveshi commented on #665
Tried playing with this a little bit more.
The operator does not seem to detect changes on the OpentelemetryCollector CR at all. I have one running in deployment mode (it **did** create the deployment) but when I change the configuration to include an additional exporter, for example, no changes are made (at least that's what I understand from the collector logs, I can't connect to the collector t

[2022-01-16 16:21] Duncan-tree-zhou commented on #657
@pavolloffay Agreed. But should we allow Instrumentation CR to inject any env by language spec envs? If so, I would like to meke summit a mr for it.

Besides, I look into the code [here](https://github.com/open-telemetry/opentelemetry-operator/blob/55a0dc2e86a930ff72aac54391f369520c0d8064/pkg/instrumentation/python.go?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org

[2022-01-17 10:28] pavolloffay commented on #310
I am closing this as it seems like a stalled issue.

If the problem is still relevant please re-open.

[2022-01-17 10:28] #310 closed

[2022-01-17 10:32] pavolloffay commented on #668
@MikeJOBirch please take a look at https://github.com/open-telemetry/opentelemetry-operator/issues/635#issuecomment-999855204.

@rkukura it would be great to document this somewhere in the upstream.

[2022-01-17 12:18] jpkrohling commented on #665
Are you able to provide us with your concrete steps and commands to reproduce this using minikube? Given that the test runs on every PR, I'm confident the feature is working, but you might be experiencing this in a situation we are not testing.

[2022-01-17 13:33] #668 closed

[2022-01-18 09:33] pavolloffay commented on #657
I can think of two ways how we could design CR:
1. define a property for each configuration option
2. allow users to define any env var

The 1. requires a lot of CR maintenance to keep up with the SDK and instrumentation changes. However, it might provide a better UX.  I would go with option 2 anyways because of the maintainability.

The python SDK probably supports only HTTP. cc) @anuraaga

[2022-01-18 14:47] edenkoveshi commented on #665
Simply applied all the YAMLs above with kubectl.
rbac taken from rbac directory, ClusterRoleBinding binds to the correct ServiceAccount in the operators namespace

[2022-01-18 16:05] Duncan-tree-zhou commented on #657
Following your idea, I think we could define two kind of envs in CR:

1. common env
2. language specific env

the CR may look like:

[code]

common envs would be injected into every containers with any instrument annotation, and language spec envs would be injected into containers with language spec instrument annotation.
when the same env was defined in both common and language spec, then the lan

[2022-01-18 17:11] pavolloffay commented on #657
Slight change

[code]

For exporter type it is worth defining a dedicated field under the `exporter` node.

+1

+1 can be done in the validating webhook

[2022-01-19 17:52] Duncan-tree-zhou commented on #657
code change done, I will test it tomorrow. : )

[2022-01-19 19:51] BronzeDeer commented on #529
@pavolloffay I think this got buried over the holidays, can we pick up where we left of?

[2022-01-20 10:55] pavolloffay commented on #529
Absolutely, let's move this forward ❤️

I am maybe missing something but the following could be supported on a single podspec as well.

[code]

[2022-01-20 14:42] Duncan-tree-zhou commented on #657
actual i had tried to add deficated filed for exporter type. but it looks like that python sdk didn't support "OTEL_TRACES_EXPORTER", "OTEL_METRICS_EXPORTER", "OTEL_LOGS_EXPORTER". At least i can't find them in docs: [link](https://opentelemetry-python.readthedocs.io/en/latest/sdk/environment_variables.html)

[2022-01-20 19:47] BronzeDeer commented on #529
@pavolloffay Agreed, I meant having two containers of the same language (say Java) be served by two different Instrumentation CRs. But as I already said, I can't see that happening unless there has been a major api breakage on the OTEL side (say v1 and v2 of Java instrumentation), but in that case I would just go with creating a new "language" as I already outlined.

So, are we agreed on the gener

[2022-01-21 07:34] domyway opened #675 "The OpenTelemetryCollector "opentelemetry-dev" is invalid: type: Required value"
here is my test.yaml, kubectl apply -f test.yaml .  output :
The OpenTelemetryCollector "opentelemetry-dev" is invalid: type: Required value

anything wrong?

[code]

[2022-01-23 01:03] Duncan-tree-zhou commented on #657
Hi @pavolloffay , can you help to review the code change? It looks like the process is blocking in review stat?

[2022-01-23 08:09] Duncan-tree-zhou commented on #675
Hi @domyway ,

try like this:

[code]

OpenTelemetryCollector is a CR, and `spec.config` is an attribute of this CR. I think we can not mount a folder to a CR.

It looks like the opentelemetry-operator is on developing, the attributes in CR may be changed in different version. So you can reffer [opentelemetrycollector_types.go](https://github.com/open-telemetry/opentelemetry-operator/blob/main/api

[2022-01-24 03:57] domyway commented on #675
use spec.config work well. but I want mount the /conf/collector.yaml  this way .   I have seen the operator yaml and opentelemetrycollector_types.go , it supports spec.VolumeMounts and spec.Volumes . I run a busybox demo to confirm the mount config, it was worked fine.  but in OpenTelemetryCollector failed.

[2022-01-24 10:28] subbusquareshift commented on #654
Any findings on this ?

[2022-01-24 10:52] anuraaga commented on #654
Sorry haven't been able to take a look at it yet but will check this week. Thanks for the patience

[2022-01-24 11:52] Duncan-tree-zhou commented on #675
@domyway Look into the code, i think It should be work. But it may only work in some later version? you may check if your operator is the latest one?

[daemonset](https://github.com/open-telemetry/opentelemetry-operator/blob/main/pkg/collector/daemonset.go)

[2022-01-24 12:05] jpkrohling commented on #675
This is not supported. The configmap is managed via the CR, especially to set the expectations right: the only supported way to change the config of an otelcol is by changing the CR.

[2022-01-24 12:47] pavolloffay commented on #657
I have just submitted a review

[2022-01-24 12:55] pavolloffay commented on #529
something to document :)

It looks good to me. @anuraaga you were looking into this as well, any concerns?

[2022-01-25 02:01] anuraaga commented on #529
LGTM thanks

[2022-01-26 02:13] domyway commented on #675
ok, thanks

[2022-01-26 13:33] BronzeDeer commented on #529
Okay, I'l continue work on the PR for this

[2022-01-27 12:39] #460 closed

[2022-01-27 15:20] pavolloffay commented on #593
Closing as the issue is waiting for @AWinterman feedback.

If the problem still persists please re-open.

[2022-01-27 15:20] #593 closed

[2022-01-27 16:16] AWinterman commented on #593
We're on your fork at this moment, and it's working great. Thanks!

[2022-01-28 08:41] yuriolisa opened #679 "Release 0.43.0"
We should start the operator release due to be already available the OTEL-Col 0.43.0.

[2022-01-28 13:36] #657 closed

[2022-01-28 17:30] henrikrexed opened #682 "Issues with Python AutoInstrumentation"
Hi,

I'm currently building content to promote the Operator.
Side of the content I'm building a tutorial showing how the operator injec the auto instrumentation library.
For the moment the nodejs, java services are very well instrumented , but I'm getting errors with my python services.

Here is the log generated on the container :

[code]

How can i resolve this?

[2022-01-28 17:39] jpkrohling commented on #682
cc @anuraaga, @pavolloffay

[2022-01-31 13:27] pavolloffay commented on #682
@henrikrexed were you able to resolve this? If yes could you please share what was the problem and if no would it be possible to share a docker image with the reproducer?

I am not working on the python ecosystem but @anuraaga could perhaps help here.

[2022-01-31 13:29] pavolloffay commented on #654
@anuraaga this issue might be related to https://github.com/open-telemetry/opentelemetry-operator/issues/682

[2022-01-31 13:39] henrikrexed commented on #682
Hi,
No, I didn't find a solution to my issue.

here is the repo related to the episode :
https://github.com/isItObservable/OpenTelemetryOperator
The tutorial is not finalized, so don't pay attention to the readme.md.

The image generating the issue are :
hrexed/recommendationservice-otel:0.1
and hrexed/emailservice-otel:0.1
Here is the link to the deployment file :
https://github.com/isItObservabl

[2022-01-31 14:41] henrikrexed commented on #682
No i have created a specific version with for a dedicated content explaining how to instrument your code using openTelemetry.
For the content on the operator I have created a "no otel" version that excludes all the opentelemetry , opensensus, opentracing libraries.

Here is the link to the repo :
https://github.com/isItObservable/OpenTelemetry-Instrumentation/tree/mixotel_nonotel/src

[2022-01-31 15:48] pavolloffay commented on #539
The 0.36.0 is out. Is this issue relevant?

[2022-01-31 15:49] pavolloffay commented on #461
Closing this is something that operator-sdk should provide a solution for

[2022-01-31 15:49] #461 closed, assigned to nobody

[2022-01-31 16:40] jpkrohling commented on #539
I think this is not relevant anymore.

[2022-01-31 16:40] #539 closed

[2022-01-31 19:26] mat-rumian commented on #682
Hey @henrikrexed ,
I'm in the middle of testing of OT-Operator capabilities. I think you've faced an issue with default instrumentation yamls :) I mean they are not accurate. Probably you have configured in your **Instrumentation CR** propagators which are not supported by Python instrumentation. What I found is OT Operator Python instrumentation supports only `tracecontext` and `baggage`. All oth

[2022-01-31 19:44] mat-rumian commented on #654
Beside propagators issue mentioned here - https://github.com/open-telemetry/opentelemetry-operator/issues/682#issuecomment-1026128843
If your Flask application has `debug=true` then there's known problem with instrumentation - it doesn't work. Set `debug=False` and your instrumentation should work fine.

[2022-01-31 19:49] BronzeDeer commented on #618
@pavolloffay  I have added a "draft" (full changes for java, missing python and nodejs for now) pull request in #683. Could you take a look at it?

[2022-01-31 23:32] anuraaga commented on #682
Thanks @mat-rumian! I think it makes sense to add the other propagators to the instrumentation image too.

[2022-02-01 03:13] anuraaga commented on #654
Sorry for not following up, @mat-rumian thanks a lot for the help!

[2022-02-01 07:16] pavolloffay commented on #654
In that case #684 will resolve this issue for propagators. I don't think we can control `debug=false` in the operator.

[2022-02-02 04:27] #682 closed

[2022-02-02 09:14] pavolloffay commented on #654
Closing as we cannot control `debug=*` in the operator. Please refer to the https://github.com/open-telemetry/opentelemetry-python-contrib/issues/546 and continue discussion there.

Please re-open if you think otherwise.

[2022-02-02 09:14] #654 closed

[2022-02-06 11:17] gai6948 opened #690 "Uses "ClusterFirstWithHostNet" DNS policy when `hostNetwork` is set to true"
Per the current operator, when trying to deploy otel-collector as agent (using daemonset), setting to `hostNetwork` is required for pods running on same host to reach the agent, but then communication to otel-collector deployed as gateway inside the cluster fails because of DNS error. Upon investigation it turns out pods using `hostNetwork` should also set `dnsPolicy` to `ClusterFirstWithHostNet`.

[2022-02-08 05:26] elvis-cai opened #693 "multiple OpenTelemetry Instrumentation doesn't work"
we are using java auto injection and it works as expected, and recently we added another nodejs Instrumentation kind, after we added it in the same ns, no pods could be created, from the kube events it's reporting
[code]
also from the controller, it's reporting

[code]

this is the yaml file we are using
[code]
Also had a quick search in issue list, just wondering is it related to https://github.c

[2022-02-08 08:07] pavolloffay commented on #693
How are you assigning instrumentation to a pod? Instead of using `"true"` as the value just specify the instrumentation name and it should work.

[2022-02-08 12:34] rcooper85 opened #694 "Injected Instrumentation object unable to connect to OT Collector daemonset service"
Hi, i’m using the opentelemetry-operator with kubernetes and i’ve deployed the collector as a daemonset. I have also deployed an Instrumentation custom resource. I have then annotated my java application with `instrumentation.opentelemetry.io/inject-java: “true”`.
When I deploy the application, I am seeing the following error: `ERROR: io.opentelemetry.exporter.otlp.internal.grpc.DefaultGrpcExporte

[2022-02-08 19:08] yuriolisa commented on #694
@jpkrohling , could you please assign this issue to me?

[2022-02-08 19:09] pavolloffay commented on #694
In this case you exporter endpoint should be configured to report data to localhost.

[2022-02-08 21:05] elvis-cai commented on #693
Thanks @pavolloffay , using named instrumentation works 👍
also notised when using namesapce annotation for java, if there's another app in the same ns using nodejs, I need explicitly set instrumentation.opentelemetry.io/inject-java: "false" and instrumentation.opentelemetry.io/inject-nodejs: "my-instrumentation" to make it work, otherwise, java and nodejs will be injected at the same time.

[2022-02-08 22:16] rcooper85 commented on #694
The exporter endpoint configuration is for the Instrumentation CR which gets injected into the Java app. Setting that to localhost would only work if I was running the collector as a sidecar, no? I want to set the endpoint to be the Collector Service which is created by the Daemonset deployment so that it is loadbalanced between the collector pods on each node.

[2022-02-09 07:18] awxfeix commented on #679
We're waiting for this release

[2022-02-09 07:24] binjip978 opened #696 "istio protocol selection"
Hi, we are using opentelemetry collector with Istio and facing issue with protocol selection on istio side. According to istio [documentation](https://istio.io/latest/docs/ops/configuration/traffic-management/protocol-selection/) protocol selection can be configured in two ways:

- By the name of the port, in format: "name: \<protocol\>\[-\<suffix\>\]"
- By specifying appProtocol, work with Kubern

[2022-02-09 08:45] pavolloffay commented on #696
Defining the correct `appProtocol` seems like the best way forward to me.

[2022-02-09 08:51] pavolloffay commented on #694
In the first sense you mention that the collector is deployed as daemonset, in this case the app can report data to the localhost if I am not mistaken.

[2022-02-09 09:10] pavolloffay commented on #694
I would be helpful if you posted full otelcol and instrumentation CRs and as well `kubectl get all` from the namespace where the collector is deployed.

[2022-02-09 09:16] pavolloffay commented on #652
Adding some debug info

[code]

[code]

[code]

[2022-02-09 10:24] #652 closed

[2022-02-09 10:29] yuriolisa opened #700 "Release 0.44.0"

[2022-02-09 10:38] jpkrohling commented on #700
@erichsueh3, would you like to work on this one?

[2022-02-09 10:43] rcooper85 commented on #694
I managed to fix this issue last night. I noticed that in the daemonset yaml file (I followed the pattern from [here](https://github.com/open-telemetry/opentelemetry-operator/blob/main/tests/e2e/daemonset-features/00-install.yaml)) I noticed hostNetwork was set. So I added the following to my java application's deployment.yaml:
[code]
I could then see the collector logs receiving spans.

[2022-02-09 10:51] pavolloffay commented on #694
I wonder if we should add `dnsPolicy` to the instrumentation kind? When thinking about this, it does not seems like a great idea and this shouldn't be probably controlled in the instrumentation kind. The operator should choose the correct deployment model for the collector to make it work in the environment.

[2022-02-09 10:51] #694 closed

[2022-02-09 10:55] rcooper85 commented on #694
It looks like this issue is related to this issue - https://github.com/open-telemetry/opentelemetry-operator/issues/690

[2022-02-09 11:05] binjip978 commented on #696
thx, for the fast feedback, will create a PR.

[2022-02-09 11:33] jpkrohling commented on #644
It might indeed have been a bug in the manifest files.

[2022-02-09 11:55] pavolloffay commented on #644
@Apollorion I will close this issue as "won't fix" as I cannot think of any way to fix your issue.

The `spec.conversion` should not be in the webhook and you should be fine by removing it.

If you encounter other findings please comment back.

[2022-02-09 11:55] #644 closed

[2022-02-09 12:03] yuriolisa opened #701 "Change structure of our changelog to align with OTELcol core/contrib"
Should we use the same changelog scheme of OTEL Core / Contrib?

[2022-02-09 12:21] pavolloffay commented on #701
We should as well add links to core and contrib changelogs.

[2022-02-09 13:13] yuriolisa opened #702 "Create Test to check if spec.args are being used properly"
On release v0.43.0 some spec.args got removed from any tests. With that said, we have to create a test to check if another spec.args is being used/accepted as expected.

Referenced by this [comment](https://github.com/open-telemetry/opentelemetry-operator/pull/680/files/61e9e18f91b9a8d0c81e8314f6af6b64dad23704#diff-e731effc79036b0cecfa9cb37ffa37e62996f0d2b6eb2a8e6d542c48424e774d).

[2022-02-10 09:28] jpkrohling opened #705 "Promote @pavolloffay to maintainer of the operator"
@pavolloffay has been very active in the operator repository and demonstrated a sense of ownership, attention to detail, and care for the overall code quality of the project. Given Pavol has also submitted precious code contributions, I would like to nominate him as maintainer of this repository.

Here's a complete list of PRs Pavol submitted: https://github.com/open-telemetry/opentelemetry-operat

[2022-02-10 09:41] VineethReddy02 commented on #705
+100 for @pavolloffay 🚀

[2022-02-10 15:31] #679 closed

[2022-02-10 17:14] codeboten commented on #705
+100

[2022-02-11 08:46] pavolloffay commented on #642
@Ne4to is this resolved?

The collector image is now published for multiple archs https://github.com/open-telemetry/opentelemetry-collector-releases/pkgs/container/opentelemetry-collector-releases%2Fopentelemetry-collector.

However, I doupt that the operator fully supports multi-arch e.g. the target allocator and instrumentation images are only published for linux.

[2022-02-11 10:57] jpkrohling commented on #705
@bogdandrutu, @tigrannajaryan, looks like I don't have the rights to add @pavolloffay to the @open-telemetry/operator-maintainers group. Would you please do the honors?

[2022-02-11 11:25] elvis-cai opened #706 "inject env begining with prefix "OTEL_""
Hi

we are using otel operator to inject splunk otel java library, and from the doc https://docs.splunk.com/observability/gdi/get-data-in/application/java/instrumentation/instrument-java-application.html#deploy-the-java-agent-in-kubernetes, we also need inject env starting with prefix SPLUNK_, and from the code https://github.com/open-telemetry/opentelemetry-operator/blob/main/apis/v1alpha1/instru

[2022-02-11 12:38] pavolloffay commented on #706
@elvis-cai would you like to submit a PR to fix this?

[2022-02-11 13:54] slenky commented on #690
@pavolloffay using that we could reference agent address:
[code]

[2022-02-11 16:22] pavolloffay commented on #693
That is expected, `instrumentation.opentelemetry.io/inject-java` applied to a namespace enables injection to all workloads in that namespace.

[2022-02-11 16:24] #693 closed

[2022-02-11 21:22] Ne4to commented on #642
No, it isn't resolved.
I tried to setup it on a local environment and faced an issue. DaemonSet with hostPort does not work on Windows nodes. Based on [documentation](https://docs.microsoft.com/en-us/virtualization/windowscontainers/kubernetes/common-problems#hostport-publishing-is-not-working) this feature should be enabled in the configuration file. Also, it requires CNI plugins `v0.8.6` but we

[2022-02-14 10:51] yuriolisa commented on #486
@jpkrohling , @pavolloffay

[2022-02-14 11:37] pavolloffay commented on #486
First, what is the motivation to convert `status.messages` to events? When should be events used and when status messages?

The ticket says messages should be recorded as events, does @jpkrohling mean that status messages should be migrated to events (and e.g. deprecated)?

My understanding is that events are more standard way of indicating changes on an object. However can all our current status

[2022-02-14 12:01] elvis-cai commented on #706
sure.

[2022-02-14 15:09] tigrannajaryan commented on #705
Done!

[2022-02-14 16:34] yuriolisa commented on #428
Should we close this issue?

[2022-02-14 16:53] yuriolisa commented on #394
/assign

[2022-02-14 20:49] erichsueh3 commented on #700
Hi @jpkrohling @yuriolisa, I'd be happy to!

[2022-02-15 08:38] jpkrohling commented on #705
Thank you!

[2022-02-15 08:38] #705 closed

[2022-02-15 10:26] Duncan-tree-zhou opened #710 "otelinst did not support other exporters config in nodejs app."
I try to config nodejs and config to chose jaeger exporter, but it's not work.

[code]

And it looks like that the trace exporter is hardcoded to otel exporter.

ref here: https://github.com/open-telemetry/opentelemetry-operator/blob/main/autoinstrumentation/nodejs/src/autoinstrumentation.ts

Are there any problem if we implement the exporter configs for nodejs app?

[2022-02-15 10:45] yuriolisa commented on #257
@bhiravabhatla are you still working on that issue?

[2022-02-15 11:35] pavolloffay commented on #710
@anuraaga is there a way to create `NodeSDK` from env vars?

[2022-02-15 13:56] #706 closed

[2022-02-15 14:11] jpkrohling commented on #486
To let users know when something relevant happened during a process they might not be watching. The operator doesn't have a UI, and we rarely want to block something from happening, such as a pod creation, just because something didn't work out (like a sidecar injection).

An upgrade, for instance, might be an unattended event, so we should make sure users know when something happened. Events are

[2022-02-15 16:17] yuriolisa opened #711 "Metrics Args name convention"
On the v.0.43.0 we change the `metrics-addr` and `metrics-level` to Spec.Config. However, we're still using the both args into controller manager Deployment:

https://github.com/open-telemetry/opentelemetry-operator/blob/704ff26e02ffb4874de553ab195f47c90f0fa30c/config/default/manager_auth_proxy_patch.yaml#L32

https://github.com/open-telemetry/opentelemetry-operator/blob/704ff26e02ffb4874de553ab19

[2022-02-16 16:29] secustor opened #713 "Use `/job` endpoint instead of generated promconfig"
Currently the operator uses jobs generated by the `promconfig` to extract a list of relevant jobs from the target allocator.

This is working as long as all target updates are generated by the operator reconciliation, but this prevents the implementation of other sources in the TargetAllocator, e.g. custom implementation of the TargetAllocatorAPI or PrometheusCR.

To resolve this following solutio

[2022-02-16 19:06] Aneurysm9 commented on #713
Sure, I guess it makes sense to keep a tracking issue here.

[2022-02-17 09:04] domyway opened #715 "is there a way to add annotation to service of the collector"
I want add some custom annotation to the svc that operator auto create. But it seems only support podAnnotation.

[2022-02-17 09:18] jpkrohling opened #716 "Release v0.45.0"
Follow-up from https://github.com/open-telemetry/opentelemetry-collector/issues/4876

[2022-02-17 10:24] frzifus commented on #544
Regarding the workloads, what would you recommend as an indicator?
I thought it might make sense to split them by type and store the pod names there.

e.g.:
[code]

Another thing, what do you think about rejected injections as a status field?
We could save the pod names too. However, it is not quite clear to me when they should be removed. Probably when the pod is deleted or the injection was succ

[2022-02-17 11:04] etiennejournet commented on #424
Is it possible to implement this in some way through the operator ?

Multiple options :
- Adding a `rbac bool` field, the operator creates roles and rolebinding
- Adding a `role string` field, the operator creates the rolebinding to it
- Adding a `role v1.role` field, the operator creates the role and binds it the pod SA
- Adding both `role v1.role` and `serviceAccount v1.serviceAccount`, the oper

[2022-02-17 14:03] etiennejournet opened #718 "Allow spec fields override in operator configuration"
Hello Team !

What do you think of making it possible to override fields provided to the `OpentelemetryCollectorConfig` when configuring the operator ?

Example:
You want to force users to use a specific opentelemetry image. This would be configurable using a variable in the operator, provided by Helm for example.

Thanks :)

[2022-02-18 05:33] bharathiram opened #721 "Add support to specify custom propagator in the instrumentation CRD"
We are using Opentelemetry Operator in a combination with Istio Tracing + Zipkin (using B3 Headers)

B3 header propagation works fine. Istio relies on Envoy to support distributed tracing. In addition to `B3 headers`, Envoy expects the `x-request-id` header to be propagated between services.
[Envoy Tracing Info](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/observability/tracing#

[2022-02-18 09:43] jpkrohling commented on #721
cc @pavolloffay , @anuraaga

[2022-02-18 12:06] jpkrohling opened #727 "Nominate @anuraaga to approver"
I would like to nominate @anuraaga to the https://github.com/orgs/open-telemetry/teams/operator-approvers group.

Anuraag has reviewed about [17 PRs](https://github.com/open-telemetry/opentelemetry-operator/pulls?q=is%3Apr+reviewed-by%3Aanuraaga) and is the author of more than [10 PRs](https://github.com/open-telemetry/opentelemetry-operator/pulls?q=is%3Apr+author%3Aanuraaga+), including the one i

[2022-02-21 08:47] pavolloffay commented on #721
The custom propagator can be specified in `OTEL_PROPAGATORS` as an environment variable - see https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md#general-sdk-configuration. In the CR it can be specified via `spec.env` https://github.com/open-telemetry/opentelemetry-operator/blob/main/docs/api.md#instrumentationspec

If `customXRequestI

[2022-02-21 08:47] #721 closed

[2022-02-21 08:49] pavolloffay commented on #718
This is already doable by flag https://github.com/open-telemetry/opentelemetry-operator/blob/main/main.go#L87

Could you please be more specific and define exactly what fields you want to configure and what is the use case?

[2022-02-21 09:45] yuriolisa commented on #716
Please assign to me.

[2022-02-21 10:02] binjip978 opened #729 "Collector replicas count and HorizontalPodAutoscaler"
Hi, I want to use opentelemetry collector with Horizontal Pod Autoscaler, with help of OpenTelemetry Operator but OpenTelemetryCollectorSpec can have only fixed number of replicas allowed. And obviously both controllers does not work well together.

[code]

and both opentelemetry collector and HPA controller will update the deployment:
[code]

So currently my option are:
- don't use HPA at all and

[2022-02-21 10:38] pavolloffay commented on #729
There might be several ways how to solve this:

For instance jaeger operator creates HPA on behalf of the user https://github.com/jaegertracing/jaeger-operator/pull/856.

he other approach might be something like described here https://github.com/operator-framework/operator-sdk/issues/5181: otel-operator would recognize that HPA is used and will not revert to the replicas defined in the CR.

[2022-02-21 13:14] pavolloffay commented on #696
Done in #704

[2022-02-21 13:14] #696 closed

[2022-02-21 16:08] pavolloffay commented on #611
Done in #609

[2022-02-21 16:08] #611 closed

[2022-02-21 16:08] binjip978 commented on #729
Jaeger approach looks good to me, will try to come with a PR.

[2022-02-21 17:36] pavolloffay commented on #690
@gai6948 CI is failing - unit tests

[2022-02-21 20:57] pavolloffay commented on #729
cc) @kearls

[2022-02-22 12:58] #486 closed

[2022-02-23 05:47] yuriolisa commented on #478
/assign

[2022-02-23 09:11] edenkoveshi commented on #665
Any news on that? Still not working

[2022-02-23 13:13] #700 closed

[2022-02-25 04:50] Duncan-tree-zhou commented on #710
I think the logic  where to choose and compose the configured exporter should be in sdk.start() rather than in autoinstrumentation.ts. And what's your opinpion? @pavolloffay @anuraaga

[2022-02-25 09:29] #690 closed

[2022-02-25 15:50] pavolloffay opened #744 "Operator image 0.45.0 was not published"
[code]

https://github.com/open-telemetry/opentelemetry-operator/pkgs/container/opentelemetry-operator%2Fopentelemetry-operator

The 0.45.0 image is correctly set in the manifests https://github.com/open-telemetry/opentelemetry-operator/releases/download/v0.45.0/opentelemetry-operator.yaml

[2022-02-25 16:20] #744 closed

[2022-02-28 19:39] svrnm opened #752 "Using custom auto-instrumentation distributions/images"
Auto-instrumentation injection is a great feature for people to get started with OpenTelemetry easily ([because of that it's also mentioned in the docs now](https://opentelemetry.io/docs/instrumentation/) 😄  ).

It would be great if the end-user would have more flexibility on configuring the different injections:

* Add additional instrumentation packages (or extensions) in package.json / requirem

[2022-03-01 08:02] jpkrohling commented on #752
cc @anuraaga, @pavolloffay

[2022-03-01 08:05] jpkrohling commented on #727
@open-telemetry/technical-committee, would one of you please do the honors in adding @anuraaga to @open-telemetry/operator-approvers?

[2022-03-01 08:23] anuraaga commented on #752
Hi @svrnm - The operator allows using a different docker image for sourcing instrumentation, so I think that the operator probably has the needed extension point for this.

We probably need better documentation on how to build a custom docker image for user needs. For first point, `Add additional instrumentation packages`, I think it's relatively simple by using our published image as a base and j

[2022-03-01 08:31] etiennejournet commented on #718
Hello,

Thanks for getting back to me, this is exactly what I'm looking for but for
some reason I was unable to find this in the chart config so considered it
wasn't possible.

Regards

Le lun. 21 févr. 2022 à 09:49, Pavol Loffay ***@***.***> a
écrit :

[2022-03-01 10:07] svrnm commented on #752
Agreed, as you can see from me opening this issue people might not be aware of this.

I think a _quick fix_ is just writing that in simple words at the end of the relevant section in the docs, e.g. (reusing your words):

[code]

Next step would be adding some simple examples.

So, far java someone would replace the URL in this line:

[code]

with something like

[code]

Correct?

For python & node

[2022-03-01 12:15] yuriolisa commented on #716
@jpkrohling, this issue can be closed.

[2022-03-01 12:51] #716 closed

[2022-03-01 14:20] tigrannajaryan commented on #727
Done.

[2022-03-01 15:48] #727 closed

[2022-03-01 15:48] jpkrohling commented on #727
@anuraaga, could you add yourself to the readme?

[2022-03-01 17:39] bogdandrutu commented on #727
@jpkrohling usually the maintainers do that :)

[2022-03-01 17:41] bogdandrutu commented on #727
Also you are a maintainer of the team now, so you can change things :)

[2022-03-02 19:01] Sprakhar97 commented on #553
Also on a slightly different lines there should be a way to handle failed deployments caused by the mutation of pods by the instrumentation webhooks, there should be a mechanism to revert these changes or reapply the settings so that it doesnot affect the deployment of users application.

[2022-03-03 08:35] pavolloffay opened #756 "Add support for dotnet C# auto-instrumentation"
It seems that the dotnet instrumentation can be easily enabled by env. variables https://github.com/open-telemetry/opentelemetry-dotnet-instrumentation#instrument-a-net-application-on-linux.

Please upvote this issue 👍🏼 if you would like to see support for dotnet.

[2022-03-03 08:36] anuraaga commented on #756
I guess we should wait for at least one published release :P https://github.com/open-telemetry/opentelemetry-dotnet-instrumentation/releases

[2022-03-03 10:47] pavolloffay opened #757 "Support k8s 1.19 and higher"
Currently from our readme:

https://github.com/open-telemetry/opentelemetry-operator#opentelemetry-operator-vs-kubernetes-vs-cert-manager

I propose to change the policy and support k8s 1.19 and higher. There is no technical reason why the operator could not run on k8s 1.19 (it doesn't even import any betav1 APIs) and also our team at Red Hat is committed to provide resources for this.

There are

[2022-03-03 14:50] yuriolisa opened #759 "Release 0.46.0"
/assign

[2022-03-03 17:28] VineethReddy02 commented on #759
@yuriolisa would appreciate it if you reference the release details here for the others to understand what does this release actually contain
https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.46.0
https://github.com/open-telemetry/opentelemetry-collector-contrib/releases/tag/v0.46.0

[2022-03-04 09:00] pavolloffay commented on #759
We should start adding these links to the changelog

[2022-03-05 11:26] avadhut123pisal commented on #199
I also tried to update the status of the Pod using the Status() function but it is getting overwritten. I also tried to publish the event, the event is getting published (i.e. I can see it in Kubectl get events output ) but it is not showing in the pod describe output. Is it expected behavior?

$kubectl get events

[code]

$Kubectl describe pod/myapp

[code]

[2022-03-05 12:19] avadhut123pisal opened #760 "Add support for configuring the initalDelaySeconds for liveness probe of the collector container"
As per the current implementation, the liveness probe for the collector container is derived from the health check extension.

From health check extension value of the endpoint is used for configuring the liveness probe but there should be some way to specify the other attributes related to the liveness probe like initalDelaySeconds, periodSeconds, etc.

It will help in the case when some operatio

[2022-03-07 02:50] cuichenli commented on #752
i will try to document it.

[2022-03-07 14:34] jpkrohling commented on #757
Does it mean we'll start supporting N-4, or do we support N-2 plus 1.19? What should be the trigger to stop supporting 1.19?

[2022-03-07 17:47] jpkrohling commented on #757
I'd rather have a clear and predictable rule that we can announce and is easy to remember and reason about (Kubernetes follows the same N-2 pattern), and surprise our users by having the operator work just fine on older versions, than claiming support for a version, only to revoke it after we find a bug that would involve too much work to fix. We actually had this problem before, and it results in

[2022-03-07 18:06] pavolloffay commented on #757
The proposal here is predictable as well, the supported k8s version will be documented in the readme during the release the same way like it is right now. The support for a particular k8s version won't be revoked after the operator is released.

[2022-03-07 19:01] jpkrohling commented on #757
It's clear and documented, but not predictable: we cannot tell whether we are going to support 1.19 by the time we support 1.32. The N-2 rule is simple enough. It also creates the expectation that users should run on relatively recent Kubernetes.

[2022-03-07 19:38] Aneurysm9 commented on #757
The span of versions that any given operator release supports would be fixed at the time of release.  That gets to the predictability that @pavolloffay was talking about.  While it's true that we don't know at this point the widest that span of versions will be for any given future release, we should have reasonable ability to predict the release in which it will change when it becomes apparent th

[2022-03-08 05:40] anuraaga commented on #757
+1 to Pavol's proposal - especially with auto instrumentation the operator is very useful in adding OTel based observability to a running system which could be running on an older version of k8s. Older systems tend to benefit more from a managed approach like an operator than newer ones even where there is less resistance to updating deployment scripts.

Notably this, as long as there is no real m

[2022-03-08 08:30] #729 closed

[2022-03-08 08:44] pavolloffay commented on #760
Out of curiosity, for what use-case is this feature needed?

[2022-03-08 08:56] pavolloffay commented on #757
It seems there is a consensus between major contributors (except @jpkrohling) to go forward with this proposal (@VineethReddy02 approved the #734, please comment if you think otherwise).

How should we move forward if @jpkrohling is against it?

[2022-03-08 09:04] svrnm commented on #752
@pavolloffay , @anuraaga: @cuichenli took care of it, see #762, this looks good to me.

[2022-03-08 09:53] avadhut123pisal commented on #760
Actually, in our case, we use some script as an entry point for the container, which after performing some operations starts the collector. So, when the health-check extension is configured, the operator uses it as a liveness probe which fails because even if the container is running but the collector is not stated yet.

[2022-03-08 12:14] jpkrohling commented on #757
Your proposal is accepted ;-) Thank you all for sharing your perspectives. I'm still of the opinion that we have limited resources here at upstream and that testing that wide range of versions will become a burden, but given that all other maintainers (and @Aneurysm9) are in favor of this proposal, I'm not going to stay in the way of it.

[2022-03-09 08:30] yuriolisa commented on #257
/assign

[2022-03-09 12:36] pavolloffay commented on #757
Done in #734

[2022-03-09 12:36] #757 closed

[2022-03-09 12:37] pavolloffay commented on #760
Thanks for sharing.

@avadhut123pisal would you like to take this one and propose a solution and submit a PR?

[2022-03-09 12:54] avadhut123pisal commented on #760
Yeah sure.

[2022-03-09 15:15] #478 closed

[2022-03-10 11:46] #759 closed

[2022-03-10 13:43] templarfelix commented on #642
hi guys, the feature for allowing set nodeSelector is a good idea.

[2022-03-10 14:58] pavolloffay opened #766 "Docker image 0.46.0 was not published"
https://github.com/open-telemetry/opentelemetry-operator/pkgs/container/opentelemetry-operator%2Fopentelemetry-operator

[2022-03-10 14:59] pavolloffay commented on #766
https://github.com/open-telemetry/opentelemetry-operator/actions/runs/1962882696

[2022-03-10 15:52] avadhut123pisal commented on #760
The health-check extension is the optional component for the collector. If the health-check extension is not configured then there is no port or endpoint in the collector that can be used for configuring the liveness or readiness probe. In that case, the health-check extension will be like a mandatory component, if probes are needed to configure.
@pavolloffay I would like to know your views on thi

[2022-03-10 21:00] marciosoftfocus commented on #766
Thanks to report the issue, when I tried to install on my cluster the error below happened

`Warning  Failed       30m (x2 over 30m)   kubelet            Failed to pull image "ghcr.io/open-telemetry/opentelemetry-operator/opentelemetry-operator:v0.46.0": rpc error: code = NotFound desc = failed to pull and unpack image "ghcr.io/open-telemetry/opentelemetry-operator/opentelemetry-operator:v0.46.0":

[2022-03-11 12:05] jpkrohling commented on #766
Didn't this happen as well for the previous version? Is the workflow not being triggered automatically?

[2022-03-11 15:58] pavolloffay commented on #766
The workflow was triggered but the tagging is seems to be broken.

[2022-03-11 22:39] geoffreytran opened #767 "Syslog receiver doesn't properly set UDP/TCP protocol for k8s service"
Unable to use the syslog receiver endpoints for UDP because the k8s server port protocol is always TCP. It doesn't appear to detect the proper protocol type for the syslog receiver.

[code]

The configuration above results in just the k8s service definition for the port 5514 as TCP. It should result in both the TCP 1428 and UDP 5514.

[code]

This configuration results in the k8s service definitio

[2022-03-14 06:15] umarkhan17 opened #768 "Instrumentation object not inserting instrumentation jar in Java application using Opentelemetry operator - Sidecar mode"
Hi,

I have deployed Opentelemtry operator and one opentelemetry collector instance. I have also successfully injected opentelemetry sidecar into my application, but i am somehow not able to inject instrumentation libraries to the application to add auto-instrumentation.

My side-car.yaml looks like :

apiVersion: opentelemetry.io/v1alpha1
kind: OpenTelemetryCollector
metadata:
  name: sidecar-for

[2022-03-14 06:34] umarkhan17 commented on #768
Adding this annotation resolved my issue to my app-service deployment:
instrumentation.opentelemetry.io/inject-into-conainers: "app-service" where app-service is the name of my container.

I guess this needs to be added if your application is running with a sidecar.

[2022-03-14 06:43] #768 closed

[2022-03-14 06:46] umarkhan17 opened #769 "Unable to add oauth2client extension to Sidecar pod created by Operator"
I am unable to add oauth2client extension to sidecar agent collector pod.

My side-car.yaml

apiVersion: opentelemetry.io/v1alpha1
kind: OpenTelemetryCollector
metadata:
  name: sidecar-for-ms
  namespace: central-observability
spec:
  mode: sidecar
  image: harbor-test.crisil.com/observability/opentelemetry-collector
  config: |
   extensions:
           oauth2client:
             client_id: agen

[2022-03-14 07:49] #769 closed

[2022-03-14 08:55] pavolloffay commented on #767
@geoffreytran would you like to submit a PR to fix this?

[2022-03-14 10:24] pavolloffay commented on #766
The root cause seems to be that the operator image workflow was not triggered https://github.com/open-telemetry/opentelemetry-operator/blob/main/.github/workflows/publish-images.yaml#L7.

[2022-03-14 13:49] #766 closed

[2022-03-14 15:01] mat-rumian opened #772 "[controller-runtime] no kind is registered for the type v1alpha1.InstrumentationList"
For [k8s-sigs.e2e-framework](https://github.com/kubernetes-sigs/e2e-framework) [ApiMachinery is not able to set type](https://github.com/kubernetes/apimachinery/blob/v0.23.4/pkg/runtime/scheme.go#L265) for probably all the OT-Operator K8s Objects.

Function used to list resources - https://github.com/kubernetes-sigs/e2e-framework/blob/v0.0.6/klient/k8s/resources/resources.go#L126-L141

Environment

[2022-03-14 15:08] pavolloffay commented on #772
@mat-rumian where is this error coming from?

The OTEL kinds are not part for the core k8s and need to be explicitly added:
https://github.com/open-telemetry/opentelemetry-operator/blob/main/pkg/collector/reconcile/suite_test.go#L83. Does this solve your issue?

[2022-03-14 15:09] pmalek-sumo commented on #772
@pavolloffay it's coming from: https://github.com/kubernetes/apimachinery/blob/v0.23.4/pkg/runtime/scheme.go#L265 when trying to list `Instrumentation` (or rather `InstrumentationList`)

[2022-03-14 15:14] pmalek-sumo commented on #772
BTW: can you help us understand then why is this working with `kubectl` but isn't working with apimachinery's runtime?

[2022-03-14 16:42] pavolloffay commented on #772
The kubectl is working because OTEL CRDs are installed and kubectl gets them from the cluster.

The API machinery test suite does not install CRD/types automatically from the cluster (it actually bootstraps a clean cluster).

[2022-03-14 16:43] #772 closed

[2022-03-14 16:48] pmalek-sumo commented on #772
Thanks @pavolloffay! Do you know how/through which mechanism does `kubectl` get those CRDs? Is this a standard or it "just" does it?

[2022-03-15 04:49] qgervacio opened #777 "awscontainerinsightreceiver using Opentelemetry Operator returns "failed to initialize NodeCapacity""
**Describe the bug**
Using the receiver `awscontainerinsightreceiver` using Opentelemetry Operator returns `failed to initialize NodeCapacity`

**Steps to reproduce**
I'm using a basic operator crd setup as discussed in `https://github.com/open-telemetry/opentelemetry-operator` configured to use `open-telemetry/opentelemetry-operator/opentelemetry-operator:v0.45.0 `

The collector is configured li

[2022-03-15 08:51] #752 closed

[2022-03-15 17:24] yuriolisa opened #774 "Release v0.47.0"
- Otel Collector release:
https://github.com/open-telemetry/opentelemetry-collector/issues/5003

[2022-03-16 02:04] secat opened #775 "Add missing scale subresource status in order to use an HPA resource over an OpenTelemetryCollector CR"
The `OpenTelemetryCollector` has a configuration field named `replicas` (see [openTelemetryCollector.spec.replicas](https://github.com/open-telemetry/opentelemetry-operator/blob/main/apis/v1alpha1/opentelemetrycollector_types.go#L38)). However it lacks some status info in order to configure an HPA on a it (see [scale subresource](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/

[2022-03-16 02:05] secat commented on #775
@jpkrohling I would be available to contribute a PR to this issue. Thank you in advance.

[2022-03-16 12:01] jpkrohling commented on #775
It's yours!

[2022-03-16 15:46] Aneurysm9 commented on #777
@erichsueh3 can you look at what our options are for getting this volume mounted when needed and not when it isn't?

[code]

[2022-03-16 23:20] jutley opened #779 "Collector CRD should support specifying a nodeSelector"
In environments where users want certain workloads to run on specific node pools, we can taint nodes and define our pods with nodeSelectors and tolerations. Currently the Collector CRD allows us to specify tolerations for a non-sidecar Collector, but not a nodeSelector. This means that we _may_ end up running our collector on the intended node pool, but it isn't guaranteed.

Adding support for thi

[2022-03-18 16:35] pavolloffay commented on #779
No objections, @jutley would you like to submit a PR to fix it?

[2022-03-18 19:14] jutley commented on #779
Gave it a shot in #789. Seems straightforward enough, though I'm not sure if there are any subtleties I may have missed.

[2022-03-19 08:47] binjip978 commented on #767
Right now generic receiver assumes that only one port will chosen and udp will be picked first, this is possible to fix by writing a new receiver, but what actual problem such configuration solves? What the point of streaming syslog data from UDP and TCP in parallel? From syslog protocol RFC https://datatracker.ietf.org/doc/html/rfc5424 they recommend to use tcp.

[2022-03-21 10:43] pavolloffay commented on #774
done

[2022-03-21 10:43] #774 closed

[2022-03-21 16:42] newhero911 commented on #656
Hi @jpkrohling ,

I got an error when used service account:
`
error: error validating "otel/instrumentation.yaml": error validating data: ValidationError(Instrumentation.spec): unknown field "serviceAccountName" in io.opentelemetry.v1alpha1.Instrumentation.spec; if you choose to ignore these errors, turn validation off with --validate=false
`

could you take a look ?

[2022-03-21 18:32] davidkarlsen opened #791 "label selectors on webhook service are not unique"
[code]

but other pods have same labels:
[code]

so you end up with an error from the webhook when applying a resource:

[code]

[2022-03-21 23:58] secat commented on #775
@pavolloffay as described in the **note** in the main description of this issue, the current implementation in #746 doesn't fulfill our needs since it creates a `v1` HPA based on CPU usage only without other configuration knobs. It also doesn't provide any advanced HPA `v2beta1` configurations.

We want to scale short/medium term based on `Memory`. Long term, we want to scale on a custom metric. W

[2022-03-22 09:39] pavolloffay commented on #775
thanks for the explanation @secat. If you could share your HPA configuration (`v2beta1`) here as well that would be helpful (also for other users) to provide a complete story/guide.

[2022-03-22 11:19] secat commented on #775
@pavolloffay here is an example of my HPA `v2beta2`:

[code]

[2022-03-22 12:06] yuriolisa commented on #58
@jpkrohling, Is this issue duplicated with #775? Or are they related?

[2022-03-22 12:33] yuriolisa commented on #199
@jpkrohling, @pavolloffay, This error still on 0.47.0, then I'll check it.

[2022-03-22 12:34] yuriolisa commented on #199
/assign

[2022-03-22 12:39] yuriolisa commented on #252
@jpkrohling, any thoughts regarding this topic? Should we proceed?

[2022-03-22 13:22] jpkrohling commented on #791
Good catch. Would you be open to sending in a PR?

[2022-03-22 13:47] jpkrohling commented on #58
One might affect the other, but they are different problems. Here, we want to tell the users how many replicas there are for a given CR. For sidecars, it would be the count of sidecars that were injected for a given CR. For a daemonset or deployment, it's the current number of replicas for the underlying daemonset/deployment, which is what #775 is handling.

[2022-03-22 13:52] jpkrohling commented on #252
I personally would not use a host port with my deployments or daemonsets. But if there are users interested enough about this to the point of contributing code to the project to support this, then I'd accept a contribution, given there are no bad side-effects of this (ie, this should be disabled by default).

[2022-03-22 14:38] pavolloffay commented on #656
The instrumentation CR does not have `serviceAccountName` field.

Note that the auto-instrumentation images are used as init-containers in the application pod. I don't think the operator can change the service account. The `imagePullSecrets` is a list maybe it could add an entry there.

@templarfelix could you please explain your use-case why do you need to set `imagePullSecrets` in the instrument

[2022-03-22 23:09] mat-rumian opened #793 "[Instrumentation] K8s metadata not set for some tags"
In case of auto-instrumentation for some of the tags like: `k8s.node.name` and `k8s.pod.name` values are not set correctly. It happens because of `OTEL_RESOURCE_ATTRIBUTES_NODE_NAME` and `OTEL_RESOURCE_ATTRIBUTES_NODE_NAME` are not set. Even OTel Collector with enabled k8s processor is not solving this issue.

Environment:
OpenTelemetry-Operator 0.46.0
AWS EKS 1.19

[2022-03-23 10:59] Dionmm opened #794 "Update kube-rbac-proxy image"
## Issue
The default install for the operator runs a sidecar HTTP proxy for the controller manager using kube-rbac-proxy. Currently this is pulled from gcr.io/kubebuilder/kube-rbac-proxy using the `v0.8.0` tag and has a number of CVEs in its dependencies, see attached example ouput from my image security scan.
[kube-rbac-proxy-cves.md](https://github.com/open-telemetry/opentelemetry-operator/files

[2022-03-24 01:08] fatsheep9146 commented on #791
@jpkrohling I would love to help with this, how about adding one more selector, for example `app: opentelemetry`

[2022-03-24 08:37] davidkarlsen commented on #791
@jpkrohling Please take a look. Note that one of the changes changes the selector on a deployment, and these are immutable. I don't know if that will cause problems - but I believe they should be changed to avoid conflicts.

[2022-03-24 12:01] jpkrohling commented on #791
We should definitely add this to the changelog!

[2022-03-24 17:13] #791 closed

[2022-03-25 10:00] pavolloffay commented on #793
@mat-rumian could you please paste here the pod spec?

[2022-03-25 10:20] pavolloffay commented on #793
As far as I know, the `OTEL_RESOURCE_ATTRIBUTES_POD_NAME` is not automatically added to the resource attributes. The feature request was not implemented https://github.com/open-telemetry/opentelemetry-specification/issues/2135

[2022-03-25 10:37] pavolloffay commented on #775
Notes about autoscaling API deprecation:

[code]

[2022-03-25 10:43] pavolloffay commented on #58
This sounds like different information than `replicas`. It is somehow similar to the instrumentation CR status, where we want to tell the user how many or to which workloads the auto-instrumentation was injected.

[2022-03-25 19:46] secat commented on #775
@pavolloffay thank you 🙏  for the heads up!

At least the `scale` subresource works with any HPA versions.

[2022-03-27 06:51] avadhut123pisal commented on #760
@pavolloffay we use the HC in collector config.

Proposed solution:
1. We can accept the input of the Liveness & Readiness Probes as a part of the Collector Specs.
2. If the Liveness probe is not specified explicitly by the user, then it will be derived from the Health check config (existing implementation) otherwise the one which is provided by the user will be used.
3. Same can be done for the r

[2022-03-28 07:34] thunko commented on #665
hi,

I'm also facing the same issue.
deploying the templates provided:

[code]

The assertion template seems to be missing the image field. And once deployed, no extra containers for sidecar are shown.
Could this be clarified please. Thank you.

[2022-03-28 09:07] kaskavalci commented on #268
@jpkrohling I'm sorry to keep this holding on me. It seems I cannot allocate any time to ship this feature. So, it's open for grabs!

[2022-03-29 13:12] #605 closed

[2022-03-31 01:26] templarfelix commented on #656
Sorry for late comment, service account solve my problems

[2022-03-31 01:28] #656 closed

[2022-03-31 08:22] pavolloffay opened #801 "Change our HorizontalPodAutoScaler (HPA) integration to use otelcol /scale subresource"
The https://github.com/open-telemetry/opentelemetry-operator/pull/746 introduced integration with HPA for collector deployment/~statefulset/daemonset~ objects.

https://github.com/open-telemetry/opentelemetry-operator/pull/785 / #775 added `/scale` subresource to the collector CRD, which allows configuring HPA on the otelcol CR directly. It seems like a better/cleaner approach and we should consid

[2022-03-31 10:03] trutty opened #802 "Error of admission webhook prevents scaling of deployment despite `falurePolicy: Ignore`"
We use auto-instrumentation via annotation with our pods. For that, there has to be an `Instrumentation` CRD in the same namespace as the pod. If this is not the case the following error occurs in the opentelemetry-operator:

[code]

The error message is fine, but what happens is that the pod/deployment does not get scaled up because the addmission webhook denies the request with the event:

[code

[2022-03-31 11:38] pavolloffay commented on #802
You are right, we shouldn't be blocking the deployment I think that should be the default behavior.

If there are folks that would like to fail the deployment we could add it as a config on the operator.

[2022-04-01 02:13] logamanig opened #803 "Setting maxReplicas in OpenTelemetryCollector crashes the Otel Operator"
Setting the maxReplicas: 2 crashes the Otel Operator. also tried explicitly set Replicas: null, still same result.

Operator starts successfully but crashes after few minutes with the following error from the log. Removing the maxReplicas solves problem

**Operator Log:**

[code]

**CRD**:
[code]
**Operator Helm Chart (Operator Chart Version: 0.6.5) Values.yaml**
[code]

[2022-04-01 07:32] pavolloffay commented on #803
PR #789  will resolve this issue

[2022-04-01 08:21] yuriolisa opened #804 "Release v0.48.0"
#https://github.com/open-telemetry/opentelemetry-collector/issues/5126

[2022-04-01 08:21] yuriolisa commented on #804
/assign

[2022-04-01 08:53] jpkrohling commented on #803
I knew I've seen something about this before, but couldn't find the issue. Turns out, it was a PR :-)

[2022-04-02 10:02] davidkarlsen opened #806 "can't install on openshift"
when I attempt installation on OCP 4.9 I get:
[code]

[2022-04-04 09:20] frzifus commented on #553
Hey I'm working on this and would like some feedback on a draft/proposal.
So far I added a field `AutoUpdate` of type `bool` to the `InstrumentationSpec`. By default this would be disabled.

Next, I introduced a reconciler to update corresponding pods when an `InstrumentationSpec` is created, deleted or modified.
To verify that a pod configuration is up-to-date, I store the `sha256` sum of the con

[2022-04-04 09:39] pavolloffay commented on #806
@davidkarlsen how exactly are you installing the operator on OCP?

Are you installing the upstream version or RH product?

 Which version are you installing?

[2022-04-04 11:17] davidkarlsen commented on #806
@pavolloffay through OLM / the openshift console. I am installing the RH flavour

[2022-04-04 11:19] medicharlachiranjeevi opened #807 "i/o timeout","stacktrace" for k8s Kubernetes svc"
Dear team,

I have installed the operator using

`kubectl apply -f https://github.com/open-telemetry/opentelemetry-operator/releases/latest/download/opentelemetry-operator.yaml`

we are running on EKS version:1.21

[code]

we are facing this issue did I miss anything?  and that IP is https://10.100.0.1:443 is the default "Kubernetes"  svc

[2022-04-04 17:01] yuriolisa commented on #804
#805

[2022-04-04 17:02] #804 closed

[2022-04-05 09:12] dofinn commented on #806
@davidkarlsen are you able to please provide a screenshot or raw log/events from the error? I am able to install the RH distributed tracing operator via OLM/console on 4.9.17.

![20220405_191220_grim](https://user-images.githubusercontent.com/21171128/161720927-97b8b991-ebe0-4cb2-bf7a-f2ddd19672c5.png)

[2022-04-05 12:02] medicharlachiranjeevi commented on #807
this is due some CNI issue' closing this ticket.

[2022-04-05 12:02] #807 closed

[2022-04-05 13:20] #775 closed

[2022-04-05 13:22] pavolloffay commented on #701
@yuriolisa is there any action item on this issue? Could we close this?

From my side I am happy that we are adding link to the core/contrib changelogs in our changelog. That is enough.

[2022-04-05 14:32] pavolloffay commented on #553
Some notes from the meeting with @frzifus:
* support only daemonset, statefulset, deployment (are these all replicate set based objects?). For instance it does not make sense to restart cronjob, job.
* gracefully restart the pod
* do we need to store SHA annotation at all? The injection should be idempotent and from the pod spec and instrumentation CR we should be able to recognize if something ch

[2022-04-05 19:24] jpkrohling commented on #701
While I appreciate the links to the changelogs for the operands, I think this is about the changelog for the operator, following what's common practice for contrib/core, where each PR should include a changelog entry. This way, the changelog is ready by the time the release is made.

[2022-04-05 19:29] #394 closed

[2022-04-05 20:59] davidkarlsen commented on #806
@dofinn

[code]

[2022-04-05 23:35] davidkarlsen commented on #806
@doffin have you tried installing it into a namespace containing other operators? Maybe 0.44 lacks https://github.com/open-telemetry/opentelemetry-operator/pull/796/files

[2022-04-06 03:20] logamanig opened #808 "After upgrading operator v0.48.0, operator doesn't respect the collectorImage configuration"
Following values.yaml is used to install the OpenTelemetery Operator helm chart (chart version is upgraded from 0.6.5 to 0.6.6). until operator v0.47.0, manager.collectorImage.repository value is used as default image for the OpenTelmeteryCollector CRD instances. after the upgrade to v0.48.0, it's not respecting this configuration in operator and uses the otel collector core docker image.

Have to

[2022-04-06 11:21] jpkrohling commented on #808
This should probably be reported against the Helm chart repository: https://github.com/open-telemetry/opentelemetry-helm-charts

Unfortunately, I can't move this issue there for you.

[2022-04-06 11:21] #808 closed

[2022-04-06 11:25] logamanig commented on #808
But the same chart version working with operator v0.47.0, that’s the reason I reported here instead of chart repository

[2022-04-06 11:35] jpkrohling commented on #808
If you can reproduce the same problem using the operator directly as described in the readme of this repo, I can help you, but without knowing what the Helm chart is doing and the manifests it creates, I wouldn't know what might be happening.

[2022-04-06 11:47] yuriolisa commented on #268
@jpkrohling, @kaskavalci. Could you please clarify what the expected results in this issue are?

[2022-04-06 11:49] yuriolisa commented on #308
/assign

[2022-04-07 02:32] dofinn commented on #806
@davidkarlsen thanks for info. I have been unable to replicate the issue you are facing. I tried both automatic and manual installation. The issue appears to be with OLM rather then otel-collector-operator.

[code]
Could you please try

- confirming all the pods/svcs in openshift-marketplace are healthy
- uninstall the operator - doublechecking that `csv,ip,subs,CRDS` have been removed
- reinstall

[2022-04-07 07:46] pavolloffay commented on #793
@mat-rumian any info for us?

[2022-04-07 07:49] #779 closed

[2022-04-07 07:51] pavolloffay commented on #777
@qgervacio were you able to solve the issue?

Can we close this ticket?

[2022-04-07 07:51] #794 closed

[2022-04-07 07:55] pavolloffay commented on #718
wasn't possible.

Please reach out to the helm chart community to add this.

@etiennejournet I am closing the issue as there does not seem to be any action item. Feel free to reopen if you think otherwise.

[2022-04-07 07:55] #718 closed

[2022-04-07 07:57] pavolloffay commented on #711
@yuriolisa is there any action item in this ticket? If no could it be closed?

[2022-04-07 07:59] pavolloffay commented on #701
I am fine with aligning the structure.

[2022-04-07 08:02] pavolloffay commented on #675
We are not planning to allow users to provide collector config via a config map specified in the CR.

Please reopen if there is any other action item.

[2022-04-07 08:02] #675 closed

[2022-04-07 08:06] pavolloffay commented on #526
I am closing this for now, the set of scorecard tests that are used in this repository is enough to asses the quality of the  CSV for the OLM.

[2022-04-07 08:06] #526 closed

[2022-04-07 08:09] pavolloffay commented on #357
This should be most likely implemented in the dependency repositories - e.g. collector release.

Now java auto-instrumentation has GHA job that will create a PR to update the agent version - https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/5710

[2022-04-07 08:14] pavolloffay commented on #715
The annotations specified in the CR should be propagated to service annotations.

e.g.

[code]

[2022-04-07 08:14] #715 closed

[2022-04-07 08:24] #711 closed

[2022-04-07 10:02] mat-rumian commented on #793
Hey @pavolloffay,
Sorry for late response. Here's the pod spec

[code]

[2022-04-07 10:04] #803 closed

[2022-04-07 12:05] jpkrohling commented on #357
This wouldn't work on the two examples I have, as they are very popular dependencies. We can't possibly expect them to have a GitHub Action creating an issue in our repos.

[2022-04-08 06:55] #257 closed

[2022-04-10 10:55] davidkarlsen commented on #806
@dofinn It fails consistently, I believe it's due to #796, which is why I wonder when 0.48.0 will be offered for openshift clusters. It works if I install the operator into a separate namespace where nothing else runs.

I believe you can replicate this if you first install the "Red Hat OpenShift GitOps" operator, then this one.

[2022-04-11 13:23] yuriolisa commented on #806
Hi @davidkarlsen , could you please provide the results of these two commands below:
- `kubectl logs --tail 150 -n openshift-operators <opentelemetry-operator-controller-manager-pod> -c manager`
- `kubectl get events -n openshift-operators`

[2022-04-11 18:25] davidkarlsen commented on #806
@yuriolisa there are no events:

[code]
and obviously no logs since it can't be installed:

k get subscriptions.operators.coreos.com  opentelemetry-product -o yaml|grep ^status --context=60
[code]

Did you try my instructions for provoking this as described above?

[2022-04-12 22:08] rkukura opened #818 "Create serving certs for headless services on OpenShift"
When running on OpenShift, the opentelemetry-operator should include a `service.beta.openshift.io/serving-cert-secret-name` annotation in the headless services it creates for the collector. This will cause a certificate to be generated for the service and stored in a secret that can be mounted and used in the associated receiver TLS configuration.

Without this feature in the operator, it is neces

[2022-04-13 18:32] dmitryax opened #819 "Release the operator v0.49.0"

[2022-04-14 09:16] yuriolisa commented on #819
/assign

[2022-04-14 09:23] yuriolisa opened #820 "Respect upstream Kubernetes (k8s) EOL policy"
Although we've been supporting the K8S v1.19 and higher since the #734, I would like to suggest obeying the EOL of Kubernetes versions, which we can see in the link below:

https://endoflife.date/kubernetes

If the idea is feasible, we should support 1.21.11 and higher.

[2022-04-14 09:43] frzifus opened #821 "consider using labels instead of annotations"
Hi, I would like to pick up on the [labeling/annotation](https://github.com/open-telemetry/opentelemetry-operator/pull/464#discussion_r733745139) topic raised by @pavolloffay here again. I recommend to read his comment first.

Recently we had a [problem in the Jaeger-operator](https://github.com/jaegertracing/jaeger-operator/pull/1850) that the operator itself (rolled out via deployment) had to go

[2022-04-14 10:45] frzifus commented on #820
As far as I know we are holding it because of Openshift 4.6 which is still [supported until the end of october this year](https://cloud.ibm.com/docs/openshift?topic=openshift-openshift_versions#openshift_release_history).

[2022-04-14 11:44] pavolloffay commented on #820
The support for 1.19 was added specifically for vendors (Red Hat, AWS) that support older Kubernetes distributions regardless of the upstream k8s EOL policy - https://github.com/open-telemetry/opentelemetry-operator/issues/757. This ticket essentially reverts that agreement.

If there is no technical reasoning why a specific k8s version cannot be supported and there are resources to support old k8

[2022-04-14 12:26] yuriolisa commented on #820
I see, however, that when I opened this ticket regarding the EOL, I thought that if we already have version compatibility tests on the Community Operators repo through different Openshift versions we could leave the tests on in supported k8s versions.
But on the other hand, I understand the requirement to support specific vendors' versions, then I'll close this issue.

[2022-04-14 12:26] #820 closed

[2022-04-14 13:54] rkukura commented on #818
@pavolloffay - Can you assign this to me? I expect to begin working on a PR today.

[2022-04-14 14:07] pavolloffay commented on #818
It's yours, no need to assign a comment is enough.

[2022-04-20 23:47] tillig opened #825 "Changing `env` in `OpenTelemetryCollector` does not cause the DaemonSet to update"
Given an `OpenTelemetryCollector` like this:

[code]

If you add an environment variable and use `kubectl apply` or Helm (if this is in a chart)...

[code]

...this does NOT cause the DaemonSet to be redeployed with the updated environment variables. If the configuration makes use of these environment variables, this will then cause the collector pods to fail on restart.

The only way to work arou

[2022-04-22 06:55] #819 closed

[2022-04-22 06:55] #701 closed

[2022-04-22 15:41] jaronoff97 opened #834 "Allow the target allocator to use a custom serviceaccount"
With the addition of increased target-allocator capabilities, from [this PR](https://github.com/open-telemetry/opentelemetry-operator/pull/653), i tried running the latest build but got some errors related to service accounts. Right now the target allocator CR only uses the default service account. It is unable to use a service account either injected via config or created by the operator. This ma

[2022-04-22 15:43] jaronoff97 commented on #834
I may just start working on this now :)

[2022-04-25 15:43] #802 closed

[2022-04-26 09:50] #818 closed

[2022-04-26 14:56] rkukura opened #839 "Document operator use cases involving service configuration"
It was pointed out in the review of https://github.com/open-telemetry/opentelemetry-operator/pull/824 that the service resources created by the opentelemetry-operator are not currently documented. We should provide guidance on using the headless and regular services that are created and how to secure them for in-cluster use and for ingress.

[2022-04-26 14:58] DWonMtl opened #840 "New "app.kubernetes.io/version" label added to collector deployment selector cause reconciliation error"
# Description

A new label has been introduced recently in the deployment selector

see https://github.com/open-telemetry/opentelemetry-operator/blob/v0.49.0/pkg/collector/labels.go#L51

[code]

This is perfectly legit to add a version in labels, however these labels are added to the deployment "Selector"

see https://github.com/open-telemetry/opentelemetry-operator/blob/v0.49.0/pkg/collector/depl

[2022-04-27 20:22] goatsthatcode opened #841 "Operator defaults Nodejs image to the Java auto instrumentation image."
The operator defaults for the annotation for which auto-instrumentation image to use is incorrect for node-js:
e.g.
[code]
 I would expect this to be `instrumentation.opentelemetry.io/default-auto-instrumentation-nodejs-image: ghcr.io/open-telemetry/opentelemetry-operator/autoinstrumentation-nodejs:1.11.1` instead.

[2022-04-29 06:19] pavolloffay commented on #841
Done in #842

[2022-04-29 06:19] #841 closed

[2022-04-29 06:47] pavolloffay commented on #840
@DWonMtl thanks for reporting. Would you like to submit a fix?

The version label was added in #797 by @yuriolisa (just pinging for FYI :))

[2022-04-29 06:50] pavolloffay commented on #839
@rkukura are you planning to work on this?

[2022-04-29 06:51] pavolloffay commented on #806
@davidkarlsen were you able to resolve this issue?

[2022-04-29 07:39] yuriolisa commented on #840
@pavolloffay, thank you for the heads up. I can sign up for this issue.

[2022-04-29 11:17] DWonMtl commented on #840
@pavolloffay , indeed I can work on it.

@yuriolisa let me know if you are already working on it, if not I will start.

Also I wasn't sure about the direction your team wanted to take according to this issue. Many solution are possible.

The simplest one would be to remove the version labels, but I think this make sense to have it as a label.

One we often do in my teams for these kind of "label"

[2022-04-29 13:03] marcules opened #846 "DaemonSet deloyment with private container registry unstable (imagePullSecrets not configurable)"
Hi,

when I configure the `OpenTelemetryCollector` to run as daemonset only nodes, that already contain images from our private image registry come up - as the nodes where such images are not present can't access the configured otel-collector image.

This is not an issue in sidecar mode, as the configured deployments already contain an `imagePullSecrets` configuration, which the sidecar can use. T

[2022-04-29 14:46] yuriolisa commented on #840
@DWonMtl, is all yours. You can start working on it.

The approach was to ensure that we have the required labels in place for our OTEL resources. However, I missed that Deployment Selector part which is causing this bug.

Thank you for reporting that.

[2022-04-29 15:26] davidkarlsen commented on #806
@pavolloffay no, the problem remains. Did you try my instructions in order to reproduce the error?

[2022-04-29 16:20] codeboten opened #847 "Release the operator v0.50.0"

[2022-05-03 09:06] yuriolisa commented on #847
@jpkrohling , @pavolloffay

[2022-05-03 20:25] yuriolisa commented on #806
@davidkarlsen, I'll try again tomorrow morning to reproduce your scenario. I'll keep you posted with the results.

[2022-05-06 16:34] axelczk opened #861 "Is the jar library mandatory if using daemonset agent + deployment collector"
We are using a kubernetes cluster with opentelemetry collector as agent (Daemonset) and one collector (deployment).

We want to use the opentelemetry on java services. Do we still need to include the agent inside the jar if we use a daemonset or a sidecar ?

If we use the agent jar inside our build, is it useful to have a daemonset or using a single collector and asking the agent to target the col

[2022-05-07 08:08] biswajit-nanda opened #862 "Not able to auto-instrument sample python app using flask."
Hello, Folks,

I have a very simple python app that I am trying to auto-instrument using the OpenTelemetry Operator. The injection is done and the pod is restarted after adding the annotations, but the python app does not send traces to the otel-collector running as sidecar.

Attached is a zip file [PythonTestCase.zip](https://github.com/open-telemetry/opentelemetry-operator/files/8644696/PythonTe

[2022-05-08 01:35] biswajit-nanda commented on #862
I see the following logs at my application startup:

Distribution distro configuration failed
Traceback (most recent call last):
  File "/otel-auto-instrumentation/opentelemetry/instrumentation/auto_instrumentation/sitecustomize.py", line 37, in _load_distros
    distro = entry_point.load()()
  File "/otel-auto-instrumentation/pkg_resources/__init__.py", line 2470, in load
    self.require(*args,

[2022-05-08 02:05] biswajit-nanda commented on #862
I now used a base image of 3.7 version of python and made progress. AT least the application got instrumented and trying to emit the traces. However, the export fails with the following:

bisnanda@BISNANDA-M-W1CH:/Volumes/Data/AppDynamicsCloud/EKS$ kubectl -n biswa-apps-python logs -f python-downstream-eks-6f95f6f765-xc5gh -c python-downstream-eks
 * Serving Flask app 'downstream-app' (lazy loadin

[2022-05-08 02:50] biswajit-nanda commented on #862
Found a workaround for this. In my Instrumentation Resource configuration, instead of using exporter endpoint as http://localhost:4317 (GRPC), I used http://localhost:4318/v1/traces (HTTP) and now spans from my python application are being exported successfully to my Otel Collector.

However, it still needs to be investigated why the traces fail to export while using GRPC endpoint in my instrument

[2022-05-09 17:29] pavolloffay commented on #861
The auto-instrumentation/javaagent is needed to instrument the application. The javaagent reports trace data/observes the application.

The collector (deployed as daemonset or deployment) receives the data from the javaagent and forwards it to the observability platform - Jaeger/Zipkin/Spunk/Datadog.

I hope this answers the question.

[2022-05-10 09:25] naphta commented on #199
Just adding in my 2¢ on this; we're putting together a centralised approach to instrumenting with otel with sidecars and each team individually has control of a namespace or two. Ideally we'd just tell them to add the annotation to inject the sidecar (which we can then manage the configuration of centrally). There's also the fact that istio supports this pattern to be honest!

I'm happy to pick th

[2022-05-12 02:05] govindarajvenkatesan opened #865 "Invalid value: field is immutable"
Hi Team,

Seeing below error while applying v0.50.0 . Currently have v0.36.0 running and while trying to upgrade to v0.50.0, ran into the error

https://github.com/open-telemetry/opentelemetry-operator/releases/download/v0.50.0/opentelemetry-operator.yaml

[code]

[code]

kubernetes version: 1.19
cert manager: 1.6.1

Can someone please assist  on this issues? Let me know if any details required. T

[2022-05-12 12:08] davidkarlsen commented on #806
0.44.1-1 provided by Red Hat

works

[2022-05-12 12:08] #806 closed

[2022-05-12 14:06] mat-rumian commented on #862
@biswajit-nanda it doesn't have to be investigated :) Python auto-instrumentation is using OTLP HTTP protocol and only this exporter package is installed. You can find a list of all used packages [here](https://github.com/open-telemetry/opentelemetry-operator/blob/main/autoinstrumentation/python/requirements.txt)

[2022-05-12 14:46] biswajit-nanda commented on #862
Thanks for the clarifications, @mat-rumian. I am closing this now.

[2022-05-12 14:46] #862 closed

[2022-05-12 16:51] bogdandrutu opened #868 "Release the operator v0.51.0"

[2022-05-13 12:44] pavolloffay opened #870 "Nominate yuriolisa as approver"
@yuriolisa has been making constant quality contributions to this repository. As such, I think it would be beneficial for the community to add him to the https://github.com/orgs/open-telemetry/teams/operator-approvers group.

@yuriolisa reviewed ~15 PRs https://github.com/open-telemetry/opentelemetry-operator/pulls?q=is%3Apr+reviewed-by%3Ayuriolisa and contributed ~24 PRs https://github.com/open-t

[2022-05-13 14:39] #618 closed

[2022-05-13 16:02] pavolloffay opened #871 "e2e tests are failing"
https://github.com/open-telemetry/opentelemetry-operator/pull/689 broke e2e tests.

cc) @fscellos

[2022-05-13 20:51] fscellos commented on #871
Arg ! Why ? I fix it next monday.

[2022-05-16 05:27] ringerc opened #872 "Write failed manifests to log at debug level"
When the reconciler fails to apply a manifest, there's very little the user can do to figure out exactly what the failed manifest payload was or where it came from.

It would be very helpful to have a debug level log record to capture the manifest payload when apply fails.

For example, this recent error I hit:

is inscrutable at best without being able to access the generated ConfigMap. The value

[2022-05-16 05:31] ringerc opened #873 "Document how to enable debug logging in collector"
The collector docs don't appear to mention how to control the collector's own log verbosity.

It uses Zap logging, and the k8s collector framework, so the admin may pass `--zap-log-level=debug` to set fine grained logging. This is documented for the operator SDK at https://sdk.operatorframework.io/docs/building-operators/golang/references/logging/

Mentioning the `--zap-log-level` param and linkin

[2022-05-16 05:53] ringerc commented on #872
The specific error above seems to arise from https://github.com/open-telemetry/opentelemetry-operator/blob/0dce2dfbdaefa86b0052775641a38263a7599266/pkg/collector/reconcile/configmap.go#L188

with a configmap created by https://github.com/open-telemetry/opentelemetry-operator/blob/0dce2dfbdaefa86b0052775641a38263a7599266/pkg/collector/reconcile/configmap.go#L41

[2022-05-16 06:04] ringerc commented on #840
I wonder if this is what's causing the failure I'm seeing too:

See mention on https://github.com/open-telemetry/opentelemetry-operator/issues/872#issue-1236638714

[2022-05-16 06:14] ringerc commented on #872
See also https://github.com/open-telemetry/opentelemetry-operator/issues/873

[2022-05-16 07:42] devops-42 opened #874 "Multiarch support seems to be incomplete"
Hi,

I tried to install the opentelemetry-operator via helm chart on a microk8s running on Apple M1:
[code]

According to github the image used should be multiarch:
https://github.com/open-telemetry/opentelemetry-operator/pkgs/container/opentelemetry-operator%2Fopentelemetry-operator/21667125?tag=v0.50.0

Immediately after starting the pod crashes with `standard_init_linux.go:228: exec user proces

[2022-05-16 12:04] pavolloffay commented on #871
Done in #875

[2022-05-16 12:04] #871 closed

[2022-05-16 12:19] akayaz opened #877 "Auto instrumentation python issues with OtelInstrumentation on k8s"
I just tried to setup an example project based on the bank-of-anthos demo GCP demo application. I'm trying to use the auto instrumentation for the python frontend service but I'm facing a Module not found error

**Describe your environment**
1.21.10-gke.2000
Bank-of-Anthos-GCP Github page (https://github.com/GoogleCloudPlatform/bank-of-anthos)
Python3.7 for the python services

**Steps to reproduc

[2022-05-16 12:31] pavolloffay commented on #872
What do you mean by manifest? The CR created by user or the OTEL configmap created by the operator. Note that the OTEL configmap should match the collector config from the CR so user has access to it.

[2022-05-16 12:36] pavolloffay commented on #874
I am not familiar how docker/k8s multiarch works.

Did you try to use directly the image SHA for arm64 `$ docker pull ghcr.io/open-telemetry/opentelemetry-operator/opentelemetry-operator:latest@sha256:32ecc752193cbbf049749f826a37a2dd8a08519e03619e869a8aa6e2abf1cfad
` from https://github.com/open-telemetry/opentelemetry-operator/pkgs/container/opentelemetry-operator%2Fopentelemetry-operator/2166712

[2022-05-16 12:42] pavolloffay commented on #877
What is the version of OTEL operator?

Could you provide full deployment spec of the application? This will help maintainers to debug it.

[2022-05-16 12:51] DWonMtl commented on #840
From what I see, I am not sure this is related, you are setting a 65 characters value :

`8f65b4d94bb5290c8fc1540703c06f7a7a12cfd917d2f141bdc8a18803828615`

 and the maximum supported is 63. [see Labels and Selectors](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#syntax-and-character-set)

Thus the error :

[2022-05-16 18:12] edude03 opened #878 "[Feature Request] Would it make sense to have a `none` mode for the collector?"
Now that we support [injecting variables into the pod ](https://github.com/open-telemetry/opentelemetry-operator/pull/832) I'd like to use this functionality without deploying the sidecar.

Reason being, my company writes most of its services in rust, with the rust otel SDK, then we use the resource [detector via the agent ](https://docs.datadoghq.com/tracing/setup_overview/open_standards/otel_col

[2022-05-16 19:27] edude03 commented on #878
Another option would be to have a "custom" type for the auto instrumentation, that could just be a "noop" essentially. I'm doing something like this today by using the `java` auto instrumentation for my rust containers, since of course it'll just ignore the java variables.

[2022-05-17 00:50] ringerc commented on #840
I'll add a test to the test suite

[2022-05-17 01:08] ringerc opened #879 "New "app.kubernetes.io/version" label causes "must be no more than 63 characters" error on reconcile"
PR https://github.com/open-telemetry/opentelemetry-operator/pull/797 added `app.kubernetes.io/version`  to `metadata.labels` . The label value is computed from the image tag.

If the opentelemetry operator is deployed using an image specified by a sha256 hash, this breaks reconciliation with errors like

It is incorrect to parse the image tag to get the version of the component. Instead, the versi

[2022-05-17 01:10] ringerc commented on #840
Filed as https://github.com/open-telemetry/opentelemetry-operator/issues/879

[2022-05-17 04:08] ringerc commented on #840
You'll get the same bug when you downgrade from v0.50.0 to v0.48.0 to avoid this. You can just

[code]

or similar - i.e. delete the `Deployment`s created by the operator - to recover.

[2022-05-17 04:19] ringerc commented on #879
Workaround:

Downgrade your `opentelemetry-operator` Kustomizations and (if overridden from upstream kustomizations) your container image to v0.48.0.

Find and delete all Deployments created by the v0.50.0 operator, which incorrectly add a label to selector, resulting in reconciliation errors on downgrade per #840:

[code]

Omit the `--dry-run=client` to really execute the delete.

[2022-05-17 12:24] DWonMtl commented on #865
an MR is still pending https://github.com/open-telemetry/opentelemetry-operator/pull/849

[2022-05-17 16:12] devops-42 commented on #874
Hi @pavolloffay,

yes, I tried to run a container from that image directly:
[code]

The error will be shown immediately, the container crashes.

[2022-05-18 09:02] #868 closed

[2022-05-18 15:57] codeboten opened #881 "Release version is incorrect"
The 0.51.0 release is titled 1.51.0, this appears to be incorrect

[2022-05-19 10:34] pavolloffay commented on #881
I have pushed `0.51.0` tag and deleted `1.51.0` however I cannot delete the images

[2022-05-19 10:45] pavolloffay commented on #881
fixed https://github.com/open-telemetry/opentelemetry-operator/releases/tag/v0.51.0

[2022-05-19 10:45] #881 closed

[2022-05-19 10:47] pavolloffay commented on #870
@jpkrohling @VineethReddy02 could you please add your votes?

[2022-05-19 10:49] pavolloffay commented on #874
on my linux box I get a different message

[code]

[2022-05-19 11:03] pavolloffay commented on #874
@devops-42 this PR might solve the issue https://github.com/open-telemetry/opentelemetry-operator/pull/882

[2022-05-19 11:06] pavolloffay commented on #870
cc) @open-telemetry/collector-maintainers please vote as well

[2022-05-19 11:08] #840 closed

[2022-05-19 11:11] pavolloffay commented on #846
I don't have objections to add `imagePullSecret` to the collector CR.

@marcules are you interested in submitting a PR?

[2022-05-19 12:20] jasaltvik opened #883 "Update Community OpenTelemetry Operator on OperatorHub to v0.51.0"
Hi,

Sorry if this is already in the works, but it would be great if it was possible to update https://operatorhub.io/operator/opentelemetry-operator with the latest v0.51.0 release (I saw that v0.50.0 is also missing).

Really looking forward to using https://github.com/open-telemetry/opentelemetry-operator/pull/689 :100:

[2022-05-19 12:33] pavolloffay commented on #883
@yuriolisa are you working on this?

[2022-05-20 07:10] pavolloffay commented on #865
Done in #849

[2022-05-20 07:10] #865 closed

[2022-05-20 07:11] pavolloffay commented on #879
This was resolves in #849

please re-open if the issue is still lthere.

[2022-05-20 07:11] #879 closed

[2022-05-20 07:11] pavolloffay commented on #873
@ringerc could you please comment?

[2022-05-20 13:49] mat-rumian commented on #877
@pavolloffay @akayaz What I found in the `gcr.io/bank-of-anthos-ci/frontend:v0.5.4` repository is that it already contains OpenTelemetry packages, please see [requirements.txt](https://github.com/GoogleCloudPlatform/bank-of-anthos/blob/v0.5.4/src/frontend/requirements.txt). I think there could be some dependency mix between Operator dependencies and application OT dependencies which is causing thi

[2022-05-22 17:20] yuriolisa commented on #883
Hi @pavolloffay, I'll submit it tomorrow morning. Could you please assign it for me?

[2022-05-22 17:24] yuriolisa commented on #825
/assign

[2022-05-23 04:52] ringerc commented on #873
@pavolloffay  I'm suggesting that the docs for the operator cover how to raise the debug level of the operator. Managing the log level of the deployed collector is simple and already well documented.

It should IMO at least mention the `--zap-log-level=debug` option in the README, and link to the collector SDK docs for details.

But it'd be really nice to provide a quick explanation of how to enab

[2022-05-23 06:11] ringerc commented on #879
Thanks. I didn't land up working out how to write a kuttl test for it, sorry.

[2022-05-23 06:40] pavolloffay commented on #873
thanks for the clarification. Would you mind opening an issue against the operator-sdk and linking it with this one?

I totally agree that the log level (and other operator flags) should be configurable via env var.

[2022-05-23 06:46] pavolloffay commented on #877
If the app already contains some OTEL runtime libs, that might be the root cause of the problem.

Somebody should try to remove those libraries and run the project with OTEL operator to validate the root cause. Maybe the project will not compile if the OTEL libs are removed, but perhaps we can keep there dependency on the OTEL API and the operator will just provide the SDK - this is how Java agent

[2022-05-23 08:28] davidkarlsen opened #884 "auto-scaling"
The CRD for `OpenTelemetryCollector` when in `mode: deployment` declares a `spec.replicas` field. This will however make the scaling static, and a collector is typically very dynamic in how much traffic it receives, thus it would be valuable if it could support HPA directly from the CR.

[2022-05-23 08:43] yuriolisa commented on #883
https://github.com/redhat-openshift-ecosystem/community-operators-prod/pull/1226

[2022-05-23 08:46] yuriolisa commented on #883
https://github.com/k8s-operatorhub/community-operators/pull/1251

[2022-05-23 09:04] pavolloffay opened #885 "Improve release process by automatically submititng manifests to prod and community operators repositories"
After a new operator version is released somebody has to submit two PRs with CSV and other manifest files to community and prod operators repositories. This is an easy-to-automate task and we should automate it through our release GHA.

 https://github.com/redhat-openshift-ecosystem/community-operators-prod/pull/1226 and https://github.com/k8s-operatorhub/community-operators/pull/1251.

cc) @yurio

[2022-05-23 09:16] pavolloffay commented on #878
cc) @rubenvp8510

@edude03 does your data go through OTEL collector?

The collector can make use of https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/k8sattributesprocessor which should be able to derive the k8s resource attributes from the incoming destination.

I do find your proposal useful and I do agree that the `Instrumentation` kind should be responsible

[2022-05-23 09:16] tKe opened #886 "support cross-namespace instrumentation references in annotations"
**Is your feature request related to a problem? Please describe.**
Currently, it is required to define an `Instrumentation` object in every namespace in which you wish to use the operator to auto-instrument pods. These many `Instrumentation`s may represent duplicate configurations.

**Describe the solution you'd like**
Being able to define an `Instrumentation` in one namespace and reference it in

[2022-05-23 09:54] davidkarlsen commented on #884
@pavolloffay it certainly does. I'm on a lower version so the HPA options aren't present for me yet:
[code]

[2022-05-23 10:22] jpkrohling commented on #870
+1 from side!

[2022-05-23 11:26] VineethReddy02 commented on #870
+1 from my side!

[2022-05-23 11:36] pavolloffay commented on #870
@bogdandrutu / @tigrannajaryan could you please add @yuriolisa to the https://github.com/orgs/open-telemetry/teams/operator-approvers?

[2022-05-23 14:17] edude03 commented on #878
@pavolloffay I probably should explain what led me here actually. So, my company writes rust services that are instrumented with OTEL. We send the data to the local agent, which runs the k8sattributeprocessor, which then forwards to the global collector(s).

We've recently started using knative, and we'd like to do the same but there are some problems:

1) [Knative doesn't support the downward API

[2022-05-23 14:23] #883 closed

[2022-05-24 07:33] #874 closed

[2022-05-24 12:11] yuriolisa opened #888 "Update compatibility Matrix to include Certmanager v1.8.0"
We should provide tests that will ensure the Otel Operator can run using the Certmanager version 1.8.0. Afterward, we should change the compatibility matrix on the Readme page.

[2022-05-24 12:30] yuriolisa commented on #825
Hi @tillig,

I have tested using your `OpenTelemetryCollector` snippet with the Otel Operator v0.51.0 and I didn't get any errors as you can see through the following pictures:
![Screenshot 2022-05-24 at 14 26 52](https://user-images.githubusercontent.com/48062171/170034835-f2ad37f4-69be-4310-bcbf-69f87ff6223b.png)
![Screenshot 2022-05-24 at 14 26 23](https://user-images.githubusercontent.com/4806

[2022-05-24 12:31] pavolloffay commented on #878
The `Instrumentation` also uses k8s downward API for the resource attributes. Would that work for you?

[2022-05-24 14:00] tillig commented on #825
I didn't get any _errors_, I just didn't see the daemonset getting redeployed. At the time I had deployed the operator via Helm chart 0.6.6, which [appears to be using v0.46.0 of the operator](https://github.com/open-telemetry/opentelemetry-helm-charts/blob/opentelemetry-operator-0.6.6/charts/opentelemetry-operator/Chart.yaml), fairly old compared to your 0.51.0.

I guess I'll chalk it up to stale

[2022-05-25 22:01] codeboten opened #890 "Release v0.52.0"
See https://github.com/open-telemetry/opentelemetry-collector/issues/5415

[2022-05-26 17:22] yuriolisa commented on #890
/assign

[2022-05-26 20:57] jacobwalters opened #897 "How do you configure opentelemetry collectors to use a storageclass for pvcs it creates"
I am creating an opentelemetry collector to scrape prometheus metrics in statefulset mode. I am seeing that the operator creates a pvc that the collector pod is going to use. It is creating the pvc with the storageclass "gp2". In our environment we have a custom storageclass. How do I configure the operator or collector to create the pvcs using a different storageclass than gp2.

[2022-05-27 02:13] ringerc commented on #886
It might make sense to do this how Istio does it for its policies.

[2022-05-27 09:14] ringerc opened #895 "Support resources (Requests and Limits) for auto-instrumentation initContainers"
An auto-instrumented Pod may fail to deploy or force a scale-up because no resource `requests` or `limits` are set on the injected `initContainer`, so the namespace defaults are used. These are generally grossly excessive for a trivial `initContainer`, and will force the pod to reserve more than it needs.

The `initContainer` injected by the `Instrumentation` resource by request of the `instrument

[2022-05-27 10:17] ringerc commented on #895
A workaround can be to deploy a very low `LimitRange` to your namespace, then make sure everything else specifies limits and requests explicitly.

E.g.

[code]

[2022-05-27 15:26] abelperezok opened #896 "Allow using custom port for webhook"
Related to https://github.com/open-telemetry/opentelemetry-helm-charts/issues/214

Currently there are command line flags for `metrics` and `health checks` but not for the `webhook` itself

[code]

It'd be good to add another flag something like:

[code]

Which then would be passed to

[code]
In this line https://github.com/open-telemetry/opentelemetry-operator/blob/main/main.go#L151

[2022-05-28 19:39] TBBle opened #898 "OpenTelemetryCollector ClusterIP and Headless Service are indistinguishable to a LabelSelector"
Our use-case is running the Prometheus metrics exporter in the OpenTelemetry Operator-created OpenTelemetry Collector Deployment.

To activate this, we expected to create an `OpenTelemetryCollector` object, which comes with a `Service`, and then we create a `ServiceMonitor` which uses a `LabelSelector` to match that `Service`; then Prometheus Operator extracts the `Endpoints` from the selected Ser

[2022-05-31 09:08] ringerc opened #900 "Propagate annotations to Deployment's PodTemplate"
Annotations on an `OpenTelemetryCollector` resource in `mode: deployment` are propagated to the created `Deployment` object's `metadata.annotations` but not added to the `spec.template.spec.metadata.annotations` for the pods.

As a result annotations to control the behaviour of other components that inject sidecars etc are ineffective on the operator-controlled pods. For example, setting `sidecar.

[2022-05-31 09:12] ringerc opened #901 "Embed a PodTemplate or Container[] list in the OpentelemetryCollector CRD"
The `OpentelemetryCollector` CRD currently defines a few configuration options for env-var injection from `ConfigMap` or `Secret` resources and a couple of other options. But it does not expose most of the configuration of a `Pod`: You cannot control

* the `Pod`'s annotations (https://github.com/open-telemetry/opentelemetry-operator/issues/900)
* its resource limits and ranges (https://github.com

[2022-05-31 09:15] ringerc commented on #573
Are you talking about the Downward API? https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/

[2022-05-31 09:28] ringerc commented on #901
Here's an expanded example of what the `PodTemplate` based `OpentelemetryCollector`  could configure:

[code]

[2022-05-31 09:42] ringerc commented on #901
I'm pretty new to the stack but I could possibly attempt this, if I had some indication the idea would be welcomed. It doesn't look excessively complex.

But I'd really want project owner feedback before I launched into it.

[2022-05-31 09:43] arminru commented on #870
Done. Welcome @yuriolisa!

[2022-05-31 15:38] pavolloffay opened #902 "Expose collector outside of cluster"
Use case: a user wants to send telemetry data to the OTEL collector from outside of the cluster - e.g. mobile clients or just a different cluster.

[2022-05-31 15:47] alexperez52 opened #903 "Update documentation: Update names Load balancer to Target Allocator"
Currently there is outdated documentation in the Target Allocator documentation (comments). One such [example](https://github.com/open-telemetry/opentelemetry-operator/blob/main/cmd/otel-allocator/allocation/allocator.go) .
The task to be done: update by renaming Load Balancer to Target Allocator in documentation wherever applicable in the /cmd/otel-allocator files.

cc: @Aneurysm9

[2022-05-31 19:43] jacobwalters opened #958 "Error creating a collector pod when specifying prometheus labeldrop actions"
**Describe the bug**
I am seeing this error

```2022/05/31 17:54:37 application run finished with error: failed to get config: cannot unmarshal the configuration: error reading receivers configuration for "prometheus": prometheus receiver failed to unmarshal yaml to prometheus config: labeldrop action requires only 'regex', and no other fields```

This is happening when I am loading valid promethe

[2022-06-01 01:02] dcw329 commented on #199
I think this is the direction we want to go @naphta . Please do.

[2022-06-01 02:23] E-Fallar commented on #199
I agree with @dcw329 - We also want to centrally manage our instrumentation configuration. go for it @naphta.

[2022-06-01 07:20] #886 closed

[2022-06-01 07:35] yuriolisa commented on #896
@abelperezok, does #899 close this issue?

[2022-06-01 07:44] yuriolisa commented on #890
Once I finished the #905 , I'll proceed with this release.

[2022-06-01 09:08] #896 closed

[2022-06-01 16:51] kevinearls opened #906 "HorizontalPodAutoscaler continuously creates and terminates pods"
I have been trying to work on #801 and in simply trying to get something to scale I saw some odd behavior.

The collector does seem to scale correctly (at least eventually) but collector pods are repeatedly being created and then immediately terminated.  To reproduce this, do the following, which deploys a simple collector instance and uses *tracegen* to create traffic:

- Create/Login to an OpenS

[2022-06-01 19:47] alexperez52 opened #907 "Update Target Allocator module name to include full github URL"
In [go.mod](https://github.com/open-telemetry/opentelemetry-operator/blob/main/cmd/otel-allocator/go.mod) change module name from `github.com/otel-allocator` to `github.com/open-telemetry/opentelemetry-operator/cmd/otel-allocator` as well as update imports within the module.
Since this is a standalone component which is built into an image, the files in this component are not being imported anywhe

[2022-06-02 14:22] kevinearls commented on #906
I found the problem with minikube: https://github.com/kubernetes/minikube/issues/13969  So the solution is to start minikube with *--extra-config=kubelet.housekeeping-interval=10s*

This enables this problem to be reproduced with minikube.  To reproduce:
- Download the attached files *otel-tracegen.txt* and *otel-collector-simplest.txt* and rename them to *otel-tracegen.yaml* and *otel-collector-s

[2022-06-03 10:12] #834 closed

[2022-06-03 14:14] pavolloffay opened #908 "Add support for golang auto-instrumentation"
The https://github.com/keyval-dev/opentelemetry-go-instrumentation could be used for golang auto-instrumentation.

From the object management perspective it would be better if the project was part of the CNCF/OTEL community.

cc) @edeNFed

[2022-06-04 01:36] ringerc commented on #873
@pavolloffay I opened a PR already @ https://github.com/operator-framework/operator-sdk/pull/5766

[2022-06-04 01:45] ringerc commented on #902
Wouldn't this typically be done on k8s via deployment of a `LoadBalancer` endpoint?

[2022-06-04 01:47] ringerc commented on #873
BTW @pavolloffay I'm thinking of attempting a much bigger change for the operator at https://github.com/open-telemetry/opentelemetry-operator/issues/901 that would address a large set of related open issues. But I really need some project owner input before I do anything, as it's a bit too large to attempt as a throw-away patch that might just get discarded.

I suspect the logging env-var should a

[2022-06-07 07:48] mat-rumian opened #912 "Invalid version of the OpenTelemetry-Operator package in Go Packages"
There's version `v1.51.0` available in the Golang Packages repository. Please see https://pkg.go.dev/github.com/open-telemetry/opentelemetry-operator/apis/v1alpha1?tab=versions This version should be deleted.

[2022-06-07 07:53] pavolloffay opened #913 "Fix flaky target allocator test"
The TA smoke test (https://github.com/open-telemetry/opentelemetry-operator/tree/main/tests/e2e/smoke-targetallocator) seems to be intermittently failing.

Failed test:
* https://github.com/open-telemetry/opentelemetry-operator/runs/6769508605?check_suite_focus=true

[code]

[2022-06-07 08:17] pavolloffay commented on #901
I agree with the design if the objective is to be as flexible as possible. However, the goal of CRD is to abstract deployment and operational details. If the pod spec is exposed in the CRD it gives a lot of flexibility but is more error-prone.

[2022-06-07 14:37] trend-hong-chen opened #915 "Multiple `OpenTelemetryCollector` resources in same namespaces cannot create sidecar container to pods created by deployment"
When provision multiple `OpenTelemetryCollector` resources in same namespace, opentelemetry-operator-controller-manager pod will show `multiple OpenTelemetry Collect or instances available, cannot determine which one to select` error message.

In the [README](https://github.com/open-telemetry/opentelemetry-operator#sidecar-injection) mentioned that `When there are multiple OpenTelemetryCollector r

[2022-06-07 14:58] pavolloffay commented on #915
The name in the annotation e.g.  `sidecar.opentelemetry.io/inject: my-otel`

[2022-06-07 14:59] pavolloffay commented on #915
https://github.com/open-telemetry/opentelemetry-operator#sidecar-injection

I think that is clear. Please open a PR to clarify if the text can be made more understandable.

[2022-06-07 14:59] #915 closed, assigned to nobody

[2022-06-07 20:10] #907 closed

[2022-06-08 07:34] #888 closed

[2022-06-08 09:44] pavolloffay commented on #913
Locally I am getting this output from the TA container

[code]

[2022-06-08 11:06] yuriolisa commented on #897
@jacobwalters , did you try using this:
**https://github.com/open-telemetry/opentelemetry-operator/blob/main/docs/api.md#opentelemetrycollectorspecvolumeclaimtemplatesindexspec** ?

[2022-06-08 12:03] #912 closed

[2022-06-08 12:03] #890 closed

[2022-06-08 20:27] jsirianni opened #922 "Setting maxReplicas (for hpa) results in wrong scaleTargetRef.kind when mode is statefulset"
I have a config like this

[code]

The HPA looks like this (points to a deployment):
[code]

The HPA is correct except for its target.

After re-thinking my approach, I can use a Deployment for my collector, but I think this is still a bug. The operator should create the correct HPA.

[2022-06-09 04:40] ringerc commented on #901
@pavolloffay Yeah, that's definitely a concern. And there are some places where the operator will have to override what's in the pod spec.

But if you look at the list of linked issues, there are lots of different things people are asking for that boil down to "expose elements of the Pod and Container specs for configuration via the operator". That currently involves custom CRD additions and code

[2022-06-09 08:53] yuriolisa opened #923 "Release v0.53.0"
We should prepare the Release v0.53.0:

https://github.com/open-telemetry/opentelemetry-collector/issues/5501

[2022-06-09 11:09] pavolloffay commented on #922
cc) @kevinearls

[2022-06-10 11:26] jkroepke commented on #846
As I know, you can also [attach imagePullSecrets to service accounts](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#add-imagepullsecrets-to-a-service-account) as alternative to define them on the Deamonset

[2022-06-10 20:26] tybalex opened #924 "Auto instrumentation python service - trace data doesn't arrive in Endpoint"
I am trying out the auto-instrumentation feature of Open Telemetry with an example demo application.  I tried to applied auto-instrumentation to the 2 python services `recommendation` and `email`, as well as 2 nodejs services `payment` and `currency`. However I was only able to find trace data from nodejs services in my endpoint (Opensearch), but not python services'.

**My environment**
k3s-1.23

[2022-06-13 15:45] jaronoff97 opened #925 "Target Allocator not working as expected with ServiceMonitor CRDs"
With the merging of #836, I was able to get the target allocator to successfully pull in `PodMonitor` and `ServiceMonitor` CRDs. Each collector is then using their generated http_sd_config as shown below:

[code]

At first glance, this looks fine, but looking at the logs from the collector-o pod:

[code]

To figure out why we the collector was getting a 404, i started up a small curl pod and ran:

[2022-06-13 15:45] jaronoff97 commented on #925
I'm going to be looking in to fixing these issues, but wanted them to be tracked.

[2022-06-13 16:02] pavolloffay opened #926 "Fix OLM upgrade, skipRange, replaces"
The CSV does not contain replaces directive https://github.com/k8s-operatorhub/community-operators/blob/main/operators/opentelemetry-operator/0.52.0/manifests/opentelemetry-operator.clusterserviceversion.yaml

## Docs

https://github.com/operator-framework/operator-lifecycle-manager/blob/master/doc/design/how-to-update-operators.md#replaces--channels

### Replaces

### Skips

### SkipRange

[code]

[2022-06-14 07:56] pavolloffay commented on #926
I have done more digging.

The ci.yaml defines `updateGraph: semver-mode`. This configuration does not require setting `replaces`. The update graph is constructed during the release via `opm` tool.

* https://github.com/redhat-openshift-ecosystem/community-operators-prod/blob/main/operators/opentelemetry-operator/ci.yaml
* https://github.com/k8s-operatorhub/community-operators/blob/main/operators/

[2022-06-14 07:57] pavolloffay commented on #926
Based on the previous comment the `replaces` is not needed.

[2022-06-14 08:00] pavolloffay commented on #924
@tybalex did you try to set the sampling to `1` and then create some requests against the app?

[2022-06-14 11:22] pavolloffay commented on #913
https://github.com/open-telemetry/opentelemetry-operator/runs/6877201778?check_suite_focus=true

[code]

[2022-06-15 07:09] #913 closed

[2022-06-15 11:43] #923 closed

[2022-06-15 12:18] devops-42 opened #931 "[Enhancement] Possibility to add services for custom exporters"
Hi,

with the deployment of the CRD `OpenTelemetryCollector` three services will deployed by default:

* `<APP>-collector`
* `<APP>-collector-headless`
* `<APP>-collector-monitoring`

The documentation is stating, that

[code]

Is this behaviour possible for exporters too? My setup has a prometheus exporter configured listening on port `8889`:

[code]

To access this service, e.g., from a remote P

[2022-06-15 20:42] tybalex commented on #924
Yes I did set the sampling to 1 in the instrumentation like this:
[code]
and then i've re-deployed my services.

[2022-06-16 09:51] sergeyshevch commented on #902
Another option is adding k8s Ingress support. Some ingress controllers have a good support for gRPC as well

[2022-06-20 12:47] mat-rumian commented on #924
@tybalex please set for Python instrumentation different exporter endpoint as Python instrumentation is using [OTLP HTTP exporter by default](https://github.com/open-telemetry/opentelemetry-operator/blob/main/pkg/instrumentation/python.go#L60). Please use eg. `http://collector-hostname:4318`. You can set it only for Python modifying your `Instrumentation CR` e.g.

[code]

[2022-06-20 17:22] pavolloffay commented on #931
Does it have to be an additional service or can the operator open the Prometheus exporter port on the existing collector service?

[2022-06-20 19:02] devops-42 commented on #931
Hi @pavolloffay,

thanks for your response!

There's no real need for an additional service. If the existing collector service would expose the Prometheus exporter it'd be fine :)

Cheers

[2022-06-21 08:57] CatalinAdlerDF opened #937 "Why is cert-manager required?"
Hi,

Why is cert-manager even required?
Can it be made optional?

Thanks!

[2022-06-21 09:14] pavolloffay commented on #937
It's not optional. It's required to secure connections to the webhooks.

[2022-06-21 09:14] #937 closed

[2022-06-21 21:31] blakeromano opened #938 "Override Service Name"
We have a use case where we'd like to overwrite the default `service.name` from the deployment name into a enviornment variable we push into the pod.

I am not sure what the disadvantage would be in terms of adding that ability.

I'd also be okay with an annotation to edit it. Could add an additional if statement here. https://github.com/open-telemetry/opentelemetry-operator/blob/main/pkg/instrume

[2022-06-21 21:43] blakeromano commented on #938
https://github.com/open-telemetry/opentelemetry-operator/pull/939

[2022-06-22 11:04] mat-rumian opened #940 "Auto-instrumentation - never ending pod mutation"
Environment:
* OpenTelemetry-Operator deployed 0.52.0
* some other operator which is modifying environment variables of the pod container

Error Flow:
1. OT Operator adds `environment variables`, `volume` and `init container` with auto-instrumentation
2. other operator takes the same pod and adds some other environment variables
3. OT Operator detects changes in the pod and try to update it (env v

[2022-06-22 11:09] mat-rumian commented on #940
@pavolloffay I will be happy to help with this as already investigated the issue. I'm not sure about solution, how should we check if pod is already mutated by OT Operator:
1. check if env vars are already configured?
2. check if init container is already configured?
3. introduce additional annotation to the pod and check if exists (add annotation to the pod after instrumentation configuration par

[2022-06-22 12:53] kevinearls commented on #931
Hi @devops-42 I'm going to take a look at this.  Can you send me the (possibly simplified) CR that you are using?  It would be helpful as I'm not really that familiar with using the prometheus exporter.

[2022-06-23 06:22] tybalex commented on #924
This worked! thank you @mat-rumian . Just curious why python is treated differently from the other 2...

[2022-06-23 08:28] pavolloffay commented on #924
we should take some action item here and fix the problem for all users.

This should be either documented or the operator can set env var `OTEL_EXPORTER_OTLP_TRACES_ENDPOINT`  for python.

[2022-06-23 15:19] kevinearls opened #942 "Create a test for horizontal pod autoscaling"
Write a test for the changes for #801   This will most likely require changes to the default HPA settings so that it does not take a 5-10 minutes to downscale.

See https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/ for reference.

[2022-06-23 16:14] kevinearls opened #943 "Update HorizontalPodAutoscaler code from v1"
The current HPA code uses version v1 of the API.  We should upgrade to v2 or v2beta2 depending on what is supported in the versions of kubernetes that we need to support.

[2022-06-23 17:09] #925 closed

[2022-06-24 07:05] devops-42 commented on #931
HI @kevinearls,

here we go:

[code]

I omitted the parts for tracing and logging. In this setup I received metrics via OLTP. The collector itself provides two endpoints:
- Port 8888: Provides metrics from the OpenTelemetry collector itself
- Port 8889: Provides Prometheus endpoint for metrics received via OLTP

Hope, that helps!
Cheers

[2022-06-24 07:47] kevinearls commented on #931
@devops-42 Thanks!

[2022-06-24 15:49] pavolloffay commented on #943
What is the reasoning/use-case to migrate to v2beta2 or v2 on our end? Are we using any of the v2 features?

from: https://kubernetes.io/docs/reference/using-api/deprecation-guide/

We cannot use v2 right now because we are supporting k8s 1.19.

`v2beta2` could be intentionally used https://stackoverflow.com/a/62455298

[2022-06-24 15:50] pavolloffay commented on #942
Do you mean e2e test?

[2022-06-24 16:03] pavolloffay commented on #924
From the linked issues it seems like there is no strong opinion what is the default exporter and SDKs might choose one or the other depending on circumstances.

To me it seems like that we should follow what the language SDKs do and choose the right default based on the language.

[2022-06-24 17:34] vukor opened #946 "otc-container sidecar container is restarted infinitely if istio injection is enabled"
### Versions
- opentelemetry-operator version: 0.53.0
- istio version: 1.11.4

### Issue
`otc-container` container is restarted infinitely. Here are the logs:
[code]

Please notice to:
[code]

### How to reproduce
- define instance:
[code]

- add `sidecar.opentelemetry.io/inject: "true"` annotation into namespace
- add `istio-injection: enabled` label into namespace
- deploy any pod in this namesp

[2022-06-26 15:51] CoderPoet opened #948 "[target-allocator] Target-level metadata labels is lost"
When we use the target discovery of prometheus, we can only get the outermost metadata Labels, and lose the metadata Labels of the Targ-level

![Tc7tyfWAne](https://user-images.githubusercontent.com/19374680/175822404-c17aa358-67d8-4ee2-b5cb-ab30b340f5d7.jpg)

![nXVEwRXuwh](https://user-images.githubusercontent.com/19374680/175822411-15352183-b338-4599-bc03-d07025f5b9e6.jpg)

Expect to be able to

[2022-06-26 16:07] CoderPoet opened #950 "[target-allocator] The number of replicas of allocator is modified by the number of replicas of the allocator"
When we set the `maxReplicas` parameter of the collector, the number of replicas of allocator is modified by the number of replicas of the allocator

It is expected to modify only the number of replicas of the collector

At present, when there are multiple replicas of the allocator, it will encounter target job allocation problems

[2022-06-27 06:49] kevinearls commented on #942
@pavolloffay Yes

[2022-06-27 06:56] kevinearls commented on #943
The reason is to be able to add more features which will, among other things, permit us to change the scaledown time in order to run an e2e test (See #942) which does not run for an inordinate amount of time.

v1 is fairly old.  I was not able to find a release date, but I found references to v2beta2 from 2019.  Jaeger Operator uses it, and the code that added that was written in January 2020.  (S

[2022-06-27 08:37] yuriolisa opened #952 "Release v0.54.0"
We have to prepare the release 0.54.0.

[2022-06-27 11:04] pavolloffay commented on #943
`v2beta2` was added in k8s 1.12 based on the link I shared above.

from https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-26

We should migrate to `v2` however the `v2` is supported on k8s 1.23 and above and we must support k8s 1.19 for now (RH requirement). Therefore I would suggest to choose the right autoscaler version at runtime:
* v2beta2 in 1.19-1.22
* v2 1.23 and above

[2022-06-27 13:34] #655 closed

[2022-06-28 03:19] m1o1 commented on #846
I think this would apply to the Deployment (as opposed to DaemonSet) as well. Just tried using a custom collector and couldn't figure out how to add `imagePullSecrets`. Going to try adding to the service account, but afaik that service account is managed by the controller so changes could be overwritten.

[2022-06-28 04:21] m1o1 commented on #846
I [opened a PR](https://github.com/open-telemetry/opentelemetry-operator/pull/954). I need to make sure I follow the contributing guidelines and clean it up, but if it looks like I'm on the right track, I'll fix it up.

[2022-06-28 20:58] mat-rumian opened #956 "Update Instrumentation E2E Tests content"
Currently Instrumentation e2e tests configuration content is random e.g. OTEL_EXPORTER_OTLP_ENDPOINT should always point to the default exporter port used in the supported instrumentation.

e.g. [instrumentatio-python](https://github.com/open-telemetry/opentelemetry-operator/blob/main/tests/e2e/instrumentation-python/00-install-instrumentation.yaml#L30) points to `OTLP gRPC` port but instrumentati

[2022-06-28 21:00] mat-rumian opened #957 "[Documentation] Add information about instrumentations exporters"
Currently [documentation](https://github.com/open-telemetry/opentelemetry-operator#opentelemetry-auto-instrumentation-injection) is not mentioning default exporters. This could be the reason for many issues that users have with spans exporting.

[2022-06-30 08:22] pavolloffay opened #959 "Fix flaky auto-instrumentation multi-container test"
e.g. https://github.com/open-telemetry/opentelemetry-operator/runs/7127161280?check_suite_focus=true

[code]

[2022-07-01 12:49] #952 closed

[2022-07-04 14:53] #940 closed

[2022-07-04 20:52] jpkrohling commented on #937
cert-manager it self is optional, provided that the TLS certs are made available in the right places. One example of that is when installing the operator via Operator Hub (OLM), which provisions the certs in the expected locations, compatible with cert-manager. You don't need cert-manager when running the operator in OpenShift (unless this has recently changed).

[2022-07-05 11:47] jpkrohling commented on #937
Again, you don't need to: just provision the appropriate TLS certs in the right places.

[2022-07-06 16:19] CoderPoet opened #963 "[target-allocator] `ServiceMonitor` must rely on an empty job"
At present, when we use servicemonitor, we must set an empty job as a placeholder for config replace
eg:

[code]

<img width="660" alt="image" src="https://user-images.githubusercontent.com/19374680/177596833-09522c21-0b98-4b87-a9cc-f854bcbf6f5b.png">

servicemonitor is dynamically created, so there is no way to preset an empty job. Can we consider generating these scrape job configurations automa

[2022-07-08 12:32] #308 closed

[2022-07-08 20:02] yuriolisa opened #967 "Release Otel Operator v0.55.0"

[2022-07-11 08:24] CoderPoet opened #968 "[target-allocator] will assign the target to the old collector"
When this log appears, there will be a problem of assigning the target to the old collector
`Collector pod watch event stopped no event`

![origin_img_v2_3914e607-960c-47c7-81fa-6ff8161c1b5g](https://user-images.githubusercontent.com/19374680/178220673-b5d5d917-2408-4b5a-916b-6a02494acc82.jpg)

[2022-07-11 10:58] yuriolisa commented on #383
@pavolloffay, @jpkrohling, @Aneurysm9, do you have any thoughts about that issue? I've seen there are many suggestions but I would like to define the way in which we are going to support the PRom CRDs.

[2022-07-11 11:11] yuriolisa commented on #128
@jpkrohling, is that issue done, or should we implement the following receivers?

[code]

[2022-07-11 11:15] secustor commented on #383
I don't think this has been written down in it's entirety yet.

The current implementation idea, is to support target discovery CRDs only ( PodMonitor, ServiceMonitor ). This part is already implemented in the TargetAllocator.
But to become fully functional the collector needs a way to discovery dynamically new jobs from the TargetAllocator which has been discussed [here](https://github.com/open-t

[2022-07-12 08:40] kevinearls opened #969 "smoke-simplest e2e test fails intermittently"
I have seen this on CI and can reproduce it on my laptop by running the test repeatedly.  The last time I did so it failed on the 11th iteration with the output below.  The key part is:  ".spec.ports.name: value mismatch, expected: jaeger-grpc != actual: otlp-grpc" as if it's confusing the jaeger-grpc and otlp-grpc ports.

[code]

[2022-07-12 09:16] #967 closed

[2022-07-12 09:39] yuriolisa opened #972 "Bump - Upgrade Operator-sdk to latest/1.22.1"

[2022-07-12 09:54] pavolloffay commented on #969
Please provide as well links to the failed jobs. It helps with the "investigation".

[2022-07-12 14:43] keu commented on #665
same issue here.
my steps:
1. install cert-manager (`kubectl apply -f https://github.com/cert-manager/cert-manager/releases/download/v1.8.2/cert-manager.yaml`)
2. install operator  (`kubectl apply -f https://github.com/open-telemetry/opentelemetry-operator/releases/latest/download/opentelemetry-operator.yaml`)
3. deploy service (`kubectl apply -f deployment.yaml`)

I have used the deployment from

[2022-07-13 03:23] CoderPoet commented on #963
Is it possible to automatically generate this type of job without manual pre-creation

[2022-07-13 05:20] CoderPoet opened #974 "[target-allocator] How does allocator itself implement HA"
If the allocator is currently available for production, what gaps are there?

For example:

1. How to ensure its own HA? Whether a leader election is required ?

2. How to do state synchronization? Whether to rely on gossip protocol

[2022-07-13 08:10] kevinearls commented on #969
See: https://github.com/open-telemetry/opentelemetry-operator/actions/runs/2648700881

[2022-07-14 11:14] kadaffy opened #981 "unknown extensions type "oidc" for "oidc" (valid values: [pprof zpages memory_ballast health_check])"
Currently seems it is not possible to configure the extension oidc.

I've installed the operator using helmfile with:

[code]

The operator is install correctly:

[code]

But when I try to add a collector the log shos the next message:

[code]

The collector manifest used is the next(Following the [Oficial documentation](https://opentelemetry.io/docs/collector/configuration/#authentication):

[cod

[2022-07-15 10:45] yuriolisa commented on #199
@pavolloffay, @jpkrohling, I believe we could close this issue based on #889, correct?

[2022-07-15 10:55] yuriolisa commented on #576
I believe this is an issue with Terraform provider which enables us to close that. @jpkrohling?

[2022-07-15 11:03] yuriolisa commented on #665
@keu, could you please confirm the Otel Operator version you have installed?

[2022-07-17 07:24] keu commented on #665
@yuriolisa thank you for the quick response, how can check it?
I just did
[code]

[2022-07-18 07:30] moh-osman3 opened #985 "[target-allocator] unknown fields "serviceAccount" and "prometheusCR" in io.opentelemetry.v1alpha1.OpenTelemetryCollector.spec.targetAllocator"
Hey Otel folks!  I am opening this issue due to unrecognized fields when using the latest image version of the otel target-allocator in collector helm chart.

The error I'm seeing when running a helm upgrade

[code]

Which seems to point to invalid fields in my yaml file for the collector

[code]

For reference, the version of otel operator i am running
[code]
Wondering if this means the changes m

[2022-07-18 08:08] Daklon opened #986 "Add support for hostAliases"
I have an use case where i need to use the [HostAliases](https://kubernetes.io/docs/tasks/network/customize-hosts-file-for-pods/) on the otelcol cr.

If I'm not wrong, after reviewing the [crd](https://github.com/open-telemetry/opentelemetry-operator/blob/main/apis/v1alpha1/opentelemetrycollector_types.go) this isn't currently supported by the operator.

Here is a proposal for it:
[code]

[2022-07-18 09:51] kevinearls commented on #969
It looks like this is an issue with how ports are listed.  Normally "kubectl get service..." for the collector or collector-headless object created returns yaml that looks like:

[code]

Occasionally, however it returns yaml like that below with the jaeger-grpc port listed last instead of first, which causes the test to fail:

[code]

[2022-07-18 11:15] yuriolisa opened #987 "Switch maligned linter to govet fieldalignment"
Since the `maiigned` linter is deprecated we should change to `govet 'fieldalignment' `.

[2022-07-18 12:26] pavolloffay commented on #969
The issue is most likely in the way how the operator derives ports. It might store ports in a map which is used to create port array - this approach can produce different results.

Some code pointers to places where the ports are handled:
https://github.com/open-telemetry/opentelemetry-operator/blob/90e4d31bc619a0ed4f3b206f6272ee66ef4bae72/pkg/collector/adapters/config_to_ports.go#L63
https://gith

[2022-07-18 16:18] pavolloffay commented on #986
@Daklon could you please describe your use-case?

[2022-07-18 16:20] pavolloffay commented on #985
Where does the above error log come from? It seems like helm chart output, so perhaps the issue should be opened against the OTEL helm char repository.

[2022-07-18 16:24] #576 closed

[2022-07-18 19:13] yuriolisa opened #988 "Integrate Cert-Manager installation"
Would it be possible to integrate the `cert-manager` installation into the Otel Operator to avoid an extra-package installation as the first step?

[2022-07-18 19:26] #985 closed

[2022-07-18 19:26] jpkrohling commented on #988
How integrated? I would vote against it, as it should be possible to specify dependencies in OLM if we ever have a hard dependency on cert-manager. At least until recently, we depended only on TLS certs to be placed in specific places, and this was fulfilled by both OpenShift and cert-manager. Has that recently changed?

[2022-07-19 07:40] pavolloffay commented on #988
Operators should not install other operators, for that reason, there is OLM (and perhaps other package managers).

Moving dependency management to the operator will expose another dimension of problems the operator would have to face.

[2022-07-19 12:37] bilbof opened #990 "Set environment variables without injection"
Hey folks, it would be nice for the Instrumentation CRD to support adding OTEL environment variables to a Pod without injecting the init container / updating libraries and modifying env vars such as `NODE_OPTIONS`.

My use case is that I have many services written in Go, Rust, C++, etc. which aren't supported by the Instrumentation CRD but which I'd like to configure in the same way.

I could re-u

[2022-07-19 18:45] yurishkuro opened #991 "Show accurate READMEs for operator packages"
Example: https://github.com/open-telemetry/opentelemetry-operator/pkgs/container/opentelemetry-operator%2Fautoinstrumentation-dotnet

The same story is with other packages - the top boxes are relevant to the package itself, followed by a readme that is for the whole Operator repo. I suggest finding a way to associate individual READMEs to each sub-package.

[2022-07-20 08:51] pavolloffay commented on #991
I am not sure how this can be done, but Github uses image label `org.opencontainers.image.source` to find the source repo. Maybe the path could contain subdirectories.

https://github.com/opencontainers/image-spec/blob/main/annotations.md

[2022-07-20 08:58] pavolloffay commented on #972
done in #982

[2022-07-20 08:58] #972 closed

[2022-07-20 09:01] pavolloffay commented on #991
Also note that right now the auto-instrumentation imaged do not have readmes. Only TA has a readme https://github.com/open-telemetry/opentelemetry-operator/tree/main/cmd/otel-allocator

[2022-07-20 09:05] pavolloffay commented on #990
This use-case has been discussed in the past, but I cannot find the ticket/PR.

I think it makes sense to inject just the SDK config. It could be supported by:

[code]

It would inject only core SDK env vars like the exporter, sampler, propagation, resource attributes. https://github.com/open-telemetry/opentelemetry-operator/blob/main/pkg/instrumentation/sdk.go#L100

[2022-07-20 18:42] dmitryax opened #996 "Release operator v0.56.0"

[2022-07-21 15:04] vukor commented on #946
More details - otel sidecar doesn't pass health check. This solution is a workaround to override trace service name, because queue-proxy sends pod name value. Here is an [active issue](https://github.com/knative/serving/issues/12969) about this.

[2022-07-22 00:20] moh-osman3 opened #998 "[target-allocator] Target allocator missing meta labels for port despite labels being found by Prometheus"
Opening this issue because certain meta port labels that I wish to relabel and scrape metrics for are not showing up when viewing the targets in the target-allocator (but I can see the labels in prometheus).  As a result metrics don't seem to be coming into the collector.

### Background Info
I did portforwarding on my prometheus service to take a look locally.  When I look at http://localhost:909

[2022-07-22 08:13] paulfantom opened #999 "Question: why is there v1.51.0 image in ghcr.io registry?"
We are using renovate to keep our dependencies up-to-date and recently we started pinning opentelemetry-operator image version and let renovate do its job. After doing so we got an automated PR from renovate which tries to update `ghcr.io/open-telemetry/opentelemetry-operator/opentelemetry-operator` image from version `v0.55.0` to `v1.51.0`.

Executing `docker pull ghcr.io/open-telemetry/opentelem

[2022-07-22 08:44] pavolloffay commented on #999
That was an accidentally published image (pushed a wrong tag). We should probably remove it.

@yurishkuro @bogdandrutu would it be possible to remove this version from the registry? I don't have access to do that.

[2022-07-22 11:13] Daklon commented on #986
Yes, of course. I need to deploy open telemetry operator on a cluster where the dns resolution is not available for our kafka servers. The idea is to use kafka as exporter.
[code]
I can set the ip address of the bootstrap server directly on the brokers list. The problem is that the bootstrap kafka server replies with a fqdn, not with an ip addresses, and the collector is unable to resolve them. We

[2022-07-22 15:50] yurishkuro commented on #999
I don't know how to find it - github by default only shows 4-5 versions, and when you switch to All Versions view it shows them by uuids, not with labels.

[2022-07-23 17:36] bilbof commented on #990
@pavolloffay I've added a PR for this at https://github.com/open-telemetry/opentelemetry-operator/pull/1000

[2022-07-25 09:09] pavolloffay commented on #801
done in #984

[2022-07-25 09:09] #801 closed

[2022-07-25 09:10] pavolloffay commented on #922
@kevinearls was this resolved by #984 ?

[2022-07-25 09:45] frzifus opened #1002 "[Enhancement] Option to expose collector outside of cluster"
I may ask first - what is the best way to expose a collector to reach it from an edge device or another cluster?

---

After creating an collector as `deployment`, `daemonset` or `statefulset` this results in three services using the default type `ClusterIP`. Looking at the implementation ([service.go](https://github.com/open-telemetry/opentelemetry-operator/blob/2a66583d739ca3b355cbbcc02052dbc08b

[2022-07-25 11:11] #996 closed

[2022-07-25 11:19] yuriolisa commented on #529
@pavolloffay, are we able to close this PR?

[2022-07-25 11:20] kevinearls commented on #906
@pavolloffay Yes, I just checked.

[2022-07-25 11:22] #906 closed

[2022-07-25 11:24] pavolloffay commented on #529
This is not a PR :)

The issue is not resolved as far as I can tell.

[2022-07-25 11:33] kevinearls commented on #922
@pavolloffay Yes

[2022-07-25 11:46] frzifus commented on #1002
oh i didnt see it :+1:

[2022-07-25 11:46] #1002 closed

[2022-07-25 11:48] frzifus commented on #902
Hey what would be a suitable solution for this? I have summarized my thoughts [here](https://github.com/open-telemetry/opentelemetry-operator/issues/1002#issue-1316552044). Would be very happy about your feedback.

[2022-07-25 11:57] yuriolisa commented on #529
Ok :D

[2022-07-25 11:59] #922 closed

[2022-07-26 10:10] Sorvatus opened #1004 "failed to select an OpenTelemetry Instrumentation instance"
Hi all,

we a trying to enable auto instrumentation for nodejs but we get always "failed to select an OpenTelemetry Instrumentation instance".

The operator, instrumentation crd, deployment are at same namespace.

-----
[code]
-----
[code]
-----

Logs from operator
[code]

we had also tested with
instrumentation.opentelemetry.io/inject-nodejs: "nodejs-instrumentation"
instrumentation.opentelemetry

[2022-07-26 12:00] #756 closed

[2022-07-26 15:38] jaronoff97 commented on #998
this seems to be related to [this issue](https://github.com/open-telemetry/opentelemetry-operator/issues/948) which has a PR being worked on [here](https://github.com/open-telemetry/opentelemetry-operator/pull/949/files)

[2022-07-26 20:00] #998 closed

[2022-07-26 20:01] moh-osman3 commented on #998
This issue was also resolved in https://github.com/open-telemetry/opentelemetry-operator/commit/ab00e8ca433df0c5c752af17b8dbf958729e1d38 for issue #948

[2022-07-26 21:01] jacobwalters opened #1007 "Sigv4 Extension configuration failure for prometheusremotewrite"
I am using the opentelemetryoperator version v0.54.0. I am attempting to configure a prometheus collector that will push metrics to Amazon Managed Prometheus. I am trying to use the mechanism of the sigv4 extension with the prometheusremotewrite as described in this document.

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/extension/sigv4authextension/README.md

The co

[2022-07-27 08:40] #990 closed

[2022-07-27 18:42] jaronoff97 commented on #963
I believe this will be resolved by [this PR](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12586) which allows for dynamic jobs to be found by the prometheus receiver

[2022-07-27 18:43] jaronoff97 commented on #950
I believe this was closed by https://github.com/open-telemetry/opentelemetry-operator/pull/951 cc @pavolloffay

[2022-07-27 19:51] moh-osman3 opened #1008 "[target-allocator] TA pod doesn't restart when changing config settings"
Trying to debug some issues I have in my statefulset cluster, and attempted to disable `prometheusCR`, to stop discovering serviceMonitor jobs.  Ran into an issue when setting `prometheusCR: false`, where the target-allocator does not restart after applying these changes.

In my collector config
[code]

### What I expected
I expected the target-allocator pod to restart and the output of `curl http

[2022-07-28 04:00] avadhut123pisal commented on #1004
As per the log, it seems that, instrumentation resource is not deployed. Because when you deploy a instrumentation resource then it generates a logs like this:
[code]

[2022-07-28 09:39] #987 closed

[2022-07-28 09:49] pavolloffay commented on #1007
@jacobwalters is this related to collector or target allocator?

For a better understanding of the issue could you please share the full CR?

[2022-07-28 09:50] pavolloffay commented on #950
Closing per @jaronoff97 comment

[2022-07-28 09:50] #950 closed

[2022-07-28 09:52] pavolloffay commented on #1004
@Sorvatus any updates or can we close this?

[2022-07-28 11:06] pavolloffay commented on #1004
@Sorvatus what is the OTEL operator version that you are running?

Did you try to create instrumentation CR in the same namespace as where the app deployment is?

[2022-07-28 11:09] pavolloffay commented on #1004
Weird that log line

[code]

Does not have ns or pod name. We should fix that.

[2022-07-28 11:32] Sorvatus commented on #1004
i use opentelemetry-operator:0.55.0

i had tested both  at same namespace and at other one, without success.
Also operator, CR, app deployment at same namespace.
Its always the same error.

[2022-07-28 12:09] pavolloffay commented on #1004
It should work we have even e2e test for it. Maybe it is something related to your environment.

[2022-07-28 12:28] pavolloffay commented on #544
Closing as there is already some status object. Let's improve it case by case.

[2022-07-28 12:28] #544 closed

[2022-07-28 13:11] Sorvatus commented on #1004
Hi i figure out my problem

That has kill me :)
[code]

i had used wildcard "*" as namespace, because i was "conditioned" :)  by other operators to use "*" for watching all namespaces.
so now it works.

By the way there no doc for WATCH_NAMESPACE env variable.

[2022-07-28 13:13] pavolloffay commented on #1004
It is a general operator "pattern" https://sdk.operatorframework.io/docs/building-operators/golang/operator-scope/

Feel free to submit a PR to document it.

[2022-07-28 13:18] #1004 closed

[2022-07-28 14:50] CyberHippo opened #1009 "Webhook timout when creating an Instrumentation on GKE private cluster"
Hi,
When creating an `Instrumentation` resource on a private GKE cluster I encounter the following error:
[code]
This issue is similar to [this issue about `ingress-nginx` on private GKE clusters](https://github.com/kubernetes/ingress-nginx/issues/6147) and is due to GCP firewall rules of private GKE clusters.
I would suggest adding a note about it in the documentation (similarly to https://github

[2022-07-28 14:58] pavolloffay commented on #1009
@CyberHippo would you like to document it?

[2022-07-28 15:08] CyberHippo commented on #1009
@pavolloffay Yes, I will work on a PR to document it.

[2022-07-28 18:25] kristinapathak opened #1011 "Add the ability to expose a port on a collector container"
`collector.Container()` returns a `Container` that doesn't include `Port` information.

https://github.com/open-telemetry/opentelemetry-operator/blob/7ce297de5415486b568d68466a564fd65fe7d462/pkg/collector/container.go#L88-L98

Will this prevent the Prometheus PodMonitor from finding the collector? How can we add the port information? Are the container ports the same as `otelcol.Spec.Ports`?

https

[2022-07-29 06:16] ringerc commented on #901
I'm going to withdraw this, as I've retired my use of the opentelemetry-operator in favour of directly managed manifests.

Would you like the issue left open in case someone else wants to adopt it, or just close it?

[2022-07-29 09:05] pavolloffay commented on #901
We can keep it open and see what other people think.

What was your main pain point to move to the plain manifests?

[2022-07-29 09:07] pavolloffay commented on #1011
I don't know, perhaps if the pod monitor uses port names. Could you please report back if you played with this? I think it's worth fixing this.

[2022-07-29 09:18] jtama commented on #665
Same here using 0.54.0. To be more accurate, If I manually kill the pod, the sidecar does get injected after re-creation...

[2022-07-29 10:03] frzifus commented on #665
@edenkoveshi from my understanding thats intended. There is a request for an auto-update feature https://github.com/open-telemetry/opentelemetry-operator/issues/553

---

@keu could you explain what issue you face? created a new kind cluster and followed your instructions. I end up with `default my-deployment-with-sidecar-fd49d7558-rb494 2/2 Running 0 3m37s`.
It contains:
[code]
Then i changed my

[2022-07-29 11:43] jtama commented on #665
Actually, we found out the annotated deployment was created before the sidecar CRD was. We added an hint to help helm ordering the deployment and now everything works fine.

[2022-07-31 08:48] edenkoveshi opened #1013 "Python Auto-Instrumentation permissions"
Hi,
When setting up OTEL operator on Openshift and using python auto-instrumentation, I am getting the following error in the init container on all files:

[ **Note:** The automatic injection seems to work even with that error. I'm simply trying to understand that]

[code]

My instrumentation YAML:
[code]
The deployment is simply some python container I've made
This works quite well in my test env

[2022-07-31 15:53] #1013 closed

[2022-08-01 17:58] jpkrohling opened #1016 "Release the operator v0.57.2"

[2022-08-02 07:58] pavolloffay commented on #1013
@edenkoveshi would you like to tell us how did you solve the issue?

[2022-08-02 16:50] sathishsoundharajan opened #1017 "Is it possible to use opentelemtry-operator in kubernetes version v1.16.15 ?"
1. If i can use it, what version of operator can be used ?
2. If i cannot use it, what is best deployment mode i can use to deploy to kubernetes ? ( Sidecar, Daemonset, Deployment )

[2022-08-02 17:01] pavolloffay commented on #1017
We don't guarantee compatibility with k8s 1.16 see https://github.com/open-telemetry/opentelemetry-operator#opentelemetry-operator-vs-kubernetes-vs-cert-manager

Create deployment manifest by hand or try helm chart https://github.com/open-telemetry/opentelemetry-helm-charts/tree/main/charts/opentelemetry-collector

[2022-08-02 17:01] #1017 closed

[2022-08-02 17:20] edenkoveshi commented on #1013
After I've noticed that the auto-instrumentation seems to actually work even with that error, it does not really bother me.
This seems to happen as a result of the user change (the user used in the Dockerfile  - which is probably root - owns the files)
This can probably be dealt by setting the pods' security context (running as root is not requried; I don't have the exact solution though) but I'm

[2022-08-02 22:12] kristinapathak commented on #1011
I investigated this more - I set up a pod monitor for the collector while running the collecter as a statefulset.  The ports for the operator could be found in service discovery labels, but there weren't any ports with the collectors' labels.  I tried with `port` and `targetPort` (deprecated), but neither worked.

[2022-08-02 23:58] m1o1 opened #1018 "Option for Service Internal Traffic Policy for Collector Service"
It would be nice if the OpenTelemetryCollector CRD supported setting [topology keys](https://kubernetes.io/docs/concepts/services-networking/service-topology/) for the service that gets created.

I'd like to have the collector deployed twice, once as a DaemonSet (agents) which forward to the second deployment as a Deployment (gateway). However, I'd like to set a topology key for the agents Service

[2022-08-03 09:06] pavolloffay commented on #1018
Could you please describe your use for this topology?

Could node selector solve your use-case https://github.com/open-telemetry/opentelemetry-operator/blob/42a6d6044efaefd568ceeaec2003dbe35ac3d44d/apis/v1alpha1/opentelemetrycollector_types.go#L30?

Note that https://kubernetes.io/docs/concepts/services-networking/service-topology/ is deprecated in v1.21. https://kubernetes.io/docs/concepts/servic

[2022-08-03 10:16] miguelbernadi commented on #901
I'm currently evaluating this operator and one pain point I'm having is that there is no ReadinessProbe. I've seen how to provide that (it's a one line code change) but having the PodTemplate as mentioned in this issue would allow me to do that directly in configuration today with an official release. Right now I either contribute it, get it accepted and wait for next release to include it, or I h

[2022-08-03 10:45] pavolloffay commented on #901
@miguelbernadi  could you please share your readiness probe definition for the OTELcol?

[2022-08-03 14:00] miguelbernadi commented on #901
We have several tenants with diverse background and needs in our systems and we want to evaluate OTEL as a scheme to simplify our internal observability pipelines and custom data processors. So we need to reproduce and support the current setups with just replacing the internal tooling before we can extend into the other features available in OTEL.

The reason we want to use ReadinessProbes is bec

[2022-08-03 14:23] m1o1 commented on #1018
Ah I didn't realize it got deprecated. That's unfortunate.

The two deployments mirror the [options listed here](https://opentelemetry.io/docs/collector/deployment/). The agents serve the purpose of collecting host metrics, as well as aggregating telemetry data on the node before compressing and sending to the gateway. The gateway is configured with the external exporters (ex: honeycomb) and I pla

[2022-08-08 09:32] paulfantom commented on #999
I did some digging. Package tagged as `1.51.0` can be manipulated via GitHub API by using an id of `22436267`. As such it is possible to remove that package with the following command taken from [GitHub Docs](https://docs.github.com/en/rest/packages#delete-package-version-for-an-organization):
[code]

You can double check me by retreiving the object with id `22436267` with the following command (a

[2022-08-09 04:58] Frapschen opened #1025 "Set environment variables only not work"
I want Set environment variables without injection sdk, I use config below as a `Instrumentation`:
[code]

the deployment with annotation:
[code]

after the Pod restart, I don't find the expect env in container object, is there some wrong in my config? By the way, I don't find any log about inject env in manager's container

[2022-08-09 11:04] pavolloffay commented on #1025
The annotation `  instrumentation.opentelemetry.io/inject-sdk: 'true'` has to be put in the pod spec inside deployment not in the deployment annotations. To verify could you please paste here full deployment spec?

[2022-08-09 13:34] svrnm opened #1026 "Auto-instrumentation injection for webservers (nginx, apache)"
For both nginx and apache there are modules that add otel to the webservers ([otel-webserver-module](https://github.com/open-telemetry/opentelemetry-cpp-contrib/tree/main/instrumentation/otel-webserver-module)).

Using them, it should be possible to inject otel into containers running one of them like it is done right now for different languages:

* Provide a docker image that downloads & installs

[2022-08-09 19:09] jaronoff97 commented on #1008
I'm gonna look in to the fix for this

[2022-08-10 06:14] moh-osman3 opened #1028 "[target-allocator] targets assigned to old pod after HPA scaled down"
Observed an issue while load testing with the HPA created from the collector CRD.

Context:

in my collector spec:

[code]

While load testing, the HPA scales the collector statefulset up to 12 pods.  After lowering metric workload for testing, HPA scales back down to a single collector pod in the statefulset.

# What I expected:
I expect the target allocator to assign targets to only remaining po

[2022-08-10 08:22] svrnm commented on #1026
Sure, Will follow up with some details!

Makes sense!

[2022-08-10 12:09] pavolloffay commented on #1025
cc) @Frapschen

[2022-08-10 12:11] #981 closed, assigned to nobody

[2022-08-10 12:12] pavolloffay commented on #999
@yurishkuro could you please remove the image?

[2022-08-10 12:31] #988 closed

[2022-08-10 13:31] jpkrohling commented on #1011
Stupid question, but can't you use a ServiceMonitor instead? From what I remember, we create a service explicitly meant to be used with the ServiceMonitor.

[2022-08-10 15:03] yurishkuro commented on #999
Deleted.

[2022-08-10 15:03] #999 closed

[2022-08-10 16:07] edude03 commented on #1025
Confirmed: I just upgrade to 0.56.0 to test the inject-sdk feature. When I use `inject-sdk: 'namespace/my-inst'` no variables are injected, but when I changed `sdk` to `java` it works, so the annotation is in the right spot, and the manager is working.

[2022-08-10 16:36] edude03 commented on #1025
Scratch that, it works, it's just not released yet 😆 0.56.0 only has commits from 16 days ago, but the inject-sdk went in 14 days ago. Weird that it's mentioned in the docs already, but anyway - if you need it today, you can use `ghcr.io/open-telemetry/opentelemetry-operator/opentelemetry-operator@sha256:2bab7a2dd5f7aee9dabdf85cd040d3bcd3fc29a4175260bd385d8bd5bc75963a` in the manifests

[2022-08-10 18:18] #1008 closed

[2022-08-10 19:17] jaronoff97 opened #1029 "Emit metrics from the target allocator"
Currently, no metrics are emitted by the target allocator which makes it difficult to understand the state of it. Ideally, the TA would emit some metrics about it's success and performance in assigning targets as well as resets to its available collector pool.

The only open question I have is how we would like to instrument the TA. The operator is already instrumented using prometheus which is th

[2022-08-10 19:18] jaronoff97 commented on #1029
note: I am planning on working on this effort to close this issue.

[2022-08-10 19:25] Aneurysm9 commented on #1029
The target allocator is a separate deployable, so it shouldn't need to be tied to the choices the operator has made.  That said, consistency has value and the OTel Go metrics SDK is still in alpha.  I think if we were having this discussion in three months I'd advocate more strongly for using the OTel SDK, but that this time Prometheus is a reasonable choice.  If the implementation can be done in

[2022-08-10 19:27] jaronoff97 commented on #1029
That makes sense to me. I'll try to keep my implementation very minimal to make migration in the future seamless. I will also make a follow up issue after the release so we don't forget.

[2022-08-11 01:07] JaredTan95 commented on #1025
thx, It works!

[2022-08-11 01:17] KevinSnyderCodes opened #1031 "Label "sidecar.opentelemetry.io/injected" value sometimes longer than 63 characters"
With an `OpenTelemetryCollector` in `sidecar` mode, the `sidecar.opentelemetry.io/injected` label gets added to the pod using the format `[otc_namespace].[otc_name]`

https://github.com/open-telemetry/opentelemetry-operator/blob/07b9f22df8a87852464bf4877d793afcddae37c3/pkg/sidecar/pod.go#L48

Under the right conditions, the label value can exceed 63 characters, which causes Kubernetes controllers

[2022-08-11 01:46] KevinSnyderCodes commented on #1031
An implementation of solution 3, which also maintains backwards compatibility, can be found here: https://github.com/open-telemetry/opentelemetry-operator/pull/1032

[2022-08-11 01:50] kristinapathak commented on #1011
I believe this is a problem for both ServiceMonitor and PodMonitor but will try a ServiceMonitor scenario. 🙂

[2022-08-11 08:58] pavolloffay commented on #1025
Closing, please re-open if there will be still the issue in 0.57.x

[2022-08-11 08:58] #1025 closed

[2022-08-11 09:00] pavolloffay commented on #1011
@kevinearls will be working on this sortly.

[2022-08-11 19:26] bogdandrutu opened #1035 "Release the operator v0.58.0"

[2022-08-11 21:14] kristinapathak opened #1034 "Allocator maps accessed outside of their mutex"
https://github.com/open-telemetry/opentelemetry-operator/blob/07b9f22df8a87852464bf4877d793afcddae37c3/cmd/otel-allocator/allocation/allocator.go#L38-L48
`TargetItems` and `collectors` are normally protected by a mutex, but are being accessed in a few places without the mutex being locked first.

TargetItems:
https://github.com/open-telemetry/opentelemetry-operator/blob/07b9f22df8a87852464bf4877d7

[2022-08-15 18:53] #1029 closed

[2022-08-16 15:58] pavolloffay opened #1036 "Create Prometheus ServiceMonitor/PodMonitor for collector"
The operator could create Prometheus ServiceMonitor/PodMonitor which would enable scraping of collector metrics.

This functionality could be conditionally enabled in CR along when the p8s CRDs are present in the cluster.

We should also investigate sending collector internal metrics via {OTLP} exporter configured in the collector.

cc) @kevinearls

[2022-08-16 20:23] jaronoff97 opened #1037 "Target Allocator not allocating all available targets"
Following from #1030 I noticed an issue with the amount of targets allocated to collectors vs the amount of targets discovered by the target allocator. You can see below how the collectors are being allocated a total of 76 targets, despite 142 targets discovered.
<img width="1102" alt="Screen Shot 2022-08-16 at 4 16 23 PM" src="https://user-images.githubusercontent.com/10070047/184976903-a4f23d6a-

[2022-08-16 22:10] kelseyma opened #1038 "[target-allocator] Target allocator assigns target to multiple collectors"
I ran the target allocator with discovery via the config yaml (not using CRDs), and saw the TA assigning the same target to multiple collectors. This resulted in a target being scraped multiple times in a minute even though the `scrape_interval` is set to 1m. Also, I have noticed that sometimes it takes the target allocator 15 minutes to refresh and discover the desired endpoints, while other time

[2022-08-17 04:24] Aneurysm9 commented on #1038
@jaronoff97 any chance this is related to the issue we were discussing earlier?

[2022-08-17 15:30] jaronoff97 commented on #1038
I think this is related to both #1037 and #1034. The first part of the expected behavior

Should be resolved by #1039

I think the second issue here (`TA assigns each collector a unique set of targets.`) is that the TA is returning incorrect data while targets are being assigned. @kelseyma would you be able to provide the configuration for the collector (including the scrape config) you were runni

[2022-08-17 18:55] kelseyma commented on #1038
@jaronoff97 Here is the collector config I'm running:
[code]

[2022-08-18 07:23] #1037 closed

[2022-08-18 07:26] #943 closed

[2022-08-18 13:31] kevinearls commented on #1011
Hi @kristinapathak Do you have an example CR I can use while working on this?  I don't have much experience working with prometheus and none with a collector instance that is using it.  Thanks.

[2022-08-18 17:25] jaronoff97 commented on #1038
with the merging of #1039 that will help with potentially missing targets. I also have a fix in the works to improve the target allocator's stability in allocation to help prevent these scenarios. I also believe the work done by @kristinapathak in #1040 will help resolve this as well.

[2022-08-18 18:17] jaronoff97 commented on #1036
iirc collector internal metrics are currently done only through prometheus? I would love to open an issue in the collector project about emitting OTLP, however.

For the operator creating a CRD, I think making a service monitor would make sense. In the manually created one we generated, we had to specify some extra labels so we didn't double scrape targets between the `-collector` and `-collector-

[2022-08-18 18:45] #1034 closed

[2022-08-19 01:36] kristinapathak commented on #1011
Hi @kevinearls,

My setup is not public, but below is information on how I verified that the lack of ports is a problem.  I've attached my servicemonitor and podmonitor configurations as well as the helm chart and configuration files for prometheus.
[files.zip](https://github.com/open-telemetry/opentelemetry-operator/files/9378579/files.zip)

I am running the collector as a statefulset, using the

[2022-08-19 16:31] bryan-aguilar opened #1047 "Update default view ClusterRole when installing operator"
It would be nice if the default kubernetes [view](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#user-facing-roles) role would get updated with `opentelemetry.io` resources at installation time. Cert-manager installation does this and it is a nice feature. Currently, an additional ClusterRole needs to be created so that these permissions get aggregated.

[code]

[2022-08-19 16:53] bryan-aguilar commented on #1007
We have seen this error before when [IRSA](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html) is not properly setup. Docs [here](https://aws-otel.github.io/docs/getting-started/adot-eks-add-on/installation#use-your-iam-role-to-launch-the-adot-collector) should point you in the correct direction.

[2022-08-19 17:55] jaronoff97 commented on #1047
I think this is done by the operator's [helm chart](https://github.com/open-telemetry/opentelemetry-helm-charts/blob/main/charts/opentelemetry-operator/templates/clusterrole.yaml). How are you currently installing the operator?

[2022-08-19 18:10] bryan-aguilar commented on #1047
Following the [getting-started](https://github.com/open-telemetry/opentelemetry-operator#getting-started) guide on the README.

[2022-08-19 18:12] bryan-aguilar commented on #1047
This is good info though, maybe the `getting-started` guide could be improved to call out the helm chart.

[2022-08-19 18:53] bryan-aguilar commented on #1047
So it doesn't look like the helm chart installation does what I was looking for @jaronoff97. Ideally I would like to have one `ClusterRoleBinding` (shown below) that grants read-only access to cluster resources. It binds to the default `view` ClusterRole mentioned in the original issue comment.

Installing the helm chart does not aggregate these rules up to the default ClusterRole. Does this issue

[2022-08-20 00:19] moh-osman3 opened #1048 "[target-allocator] Targets remain assigned to terminating pod until restart is complete"
When load testing what would happen in a statefulset of 2 collector pods, I noticed some unexpected behavior.  The goal of the test was to see what happened when a pod dies in a pool of 2 collector pods.  I used an avalanche pod to generate a lot of metrics in a single target (this will ensure only one of the collector pods is experiencing the load spike).

e.g.

[code]

and

[code]

## What I exp

[2022-08-22 13:31] #1016 closed

[2022-08-23 08:28] rehanpfmr commented on #986
Hi, I'm new to Opensource contribution. I would like to make some contirbution here.
Can this be assigned to me?

[2022-08-24 05:53] #1035 closed

[2022-08-24 21:29] kristinapathak commented on #1011
Hi @kevinearls, were you able to get prometheus and a pod/service monitor set up? If not, would you rather I work on this issue?

[2022-08-25 07:51] kevinearls commented on #1011
Hi @kristinapathak Sorry, I have been tied up with other things this week.  Yes, please go ahead and work on it.  Thanks.

[2022-08-25 12:22] Yamakaky opened #1058 "Java Instrumentation with runAsNonRoot"
I added `instrumentation.opentelemetry.io/inject-java: "my-instrumentation"` to a pod with `runAsNonRoot` enabled. I get this error: `Error: container has runAsNonRoot and image will run as root (pod: "mypod-58f5d96bbc-tq77x_ns(2eb77116-d336-41ec-a064-eea6b6be10c0)", container: opentelemetry-auto-instrumentation)`. Removing `runAsNonRoot` fixes the issue, but that's not a proper fix. I guess the i

[2022-08-25 16:31] avadhut123pisal opened #1059 "[Bug] - Image of .Net auto-instrumentation can't be pulled"
1. Operator image is using this `ghcr.io/open-telemetry/opentelemetry-operator/autoinstrumentation-dotnet:0.0.0` as the default value for the .Net auto-instrumentation  image.
2. Publish image workflow for the Operator image is not setting the `AUTO_INSTRUMENTATION_DOTNET_VERSION` as a build argument for the Operator docker image, which caused the Operator to use 0.0.0 as a tag for the image.
3. I

[2022-08-25 21:26] jaronoff97 opened #1061 "Implement leader election for the target allocator"
Right now, the target allocator's allocation strategy (least connection) means that you can only run a single TA pod at a time. This proves difficult if a consumer wants a high availability option for their target allocation. In order to make this possible, we could use the built in go [leader election package](https://pkg.go.dev/k8s.io/client-go/tools/leaderelection) for the target allocator.

Th

[2022-08-26 02:29] kelseyma commented on #1038
@jaronoff97 Thank you for working on the fixes!

I ran TA with the latest changes and while the targets assigned to each collector are more consistent now, I believe there is still an issue with duplicate targets due to the prometheus exporter I'm monitoring being run as a sidecar. There are 2 targets being discovered via endpoints: one for the actual exporter container and one for the other conta

[2022-08-26 04:00] Aneurysm9 commented on #1061
Interesting suggestion.  Improving the resiliency of the target allocation layer would definitely be a plus.  Would the followers use the existing API to obtain state from the leader, or would you expect an active-passive setup with failover?

[2022-08-26 07:03] secustor commented on #1061
Yes, some kind of HA is definitely needed for TA.

Regarding leader election and state sharing I throw [memberlist](https://github.com/hashicorp/memberlist) in to the ring. Grafana uses it in all its distributed products ( Mimir, Loki, Tempo, ... ), so it seems stable.

[2022-08-26 17:07] jaronoff97 commented on #1061
@Aneurysm9 I was expecting an active-passive setup with failover so as to not complicate any of the existing logic. @secustor using memberlist, would we instead do state sharing, or would we just use that to determine who the active is?

[2022-08-26 18:24] jeromeinsf commented on #1061
@secustor memberlist might need to be adapted to get to a propagation delay adapted for an HA expectation.

[2022-08-26 19:53] jpkrohling commented on #1038
Reopening as requested by @kelseyma

[2022-08-29 16:22] nlamirault commented on #898
I've got the same problem :

[code]

Resources created :

[code]

[code]

[2022-08-29 20:02] kelseyma opened #1064 "[target-allocator] Apply relabel configs to targets prior to allocation"
Can the target allocator apply the relabel configs prior to allocation so we can drop any unnecessary targets? This would also help reduce load on the collectors and ensure that the allocation is more evenly distributed.
For example in the test setup I have, the `/metrics` endpoint says the TA is allocating 36 targets, but only 3 of those targets are actually valid based on the relabel configs I s

[2022-08-29 20:03] kelseyma commented on #1038
Moving discussion for relabel configs to new issue: #1064. Closing this issue

[2022-08-29 20:03] #1038 closed

[2022-08-29 20:53] jaronoff97 commented on #1064
Hey Kelsey! Thank you for submitting this issue, definitely something I've been thinking about too. I can take a look at implementing this behavior. Not sure when we'll get to it, I may have some time next week.

[2022-08-30 00:58] #1059 closed

[2022-08-30 01:09] VineethReddy02 commented on #897
@jacobwalters Is this still an open question? Can you close the issue, if your question is answered?
Thanks

[2022-08-30 01:10] VineethReddy02 commented on #667
@yuriolisa Is this still an issue with the latest version of Operator?

[2022-08-30 09:40] moh-osman3 opened #1065 "Allow configuration of target CPU Utilization for HPA"
Currently the HPA [code](https://github.com/open-telemetry/opentelemetry-operator/blob/main/pkg/collector/horizontalpodautoscaler.go#L40) hard codes 90% as the target cpu utilization.  I am currently running tests with HPA and it would be helpful to be able to change the target utilization to a custom value.  Opening this issue to track my change to add this field to the collector config.

[2022-08-30 17:41] kamalmarhubi commented on #1009
An alternative that works is to use 10250 for the webhook port. That way the built-in firewall rule allows traffic. Tested that and it works nicely.

[2022-08-31 07:51] pavolloffay commented on #1058
@Yamakaky thanks for reporting the issue.

I am not sure if I understand. The auto-instrumentation uses init-container to copy the auto-instrumentation binaries into the app container. the `securityContext` is defined on the pod level, not on the individual containers in the pod. Could you please be more specific how it should be configured?

[2022-08-31 08:35] pavolloffay commented on #1009
Does this apply only for GKE or is it a commonly used port for webhooks?

[2022-08-31 08:51] Yamakaky commented on #1058
Hum, I'm not completely sure how securityContext works with sidecars. I think the issue is that the init container doesn't define a user id to run as, so the pod configuration `runAsNonRoot` kicks in and prevents the launch.

Here is how `vault-agent` does it, it works fine with `runAsNonRoot`:

https://github.com/hashicorp/vault-k8s/blob/bd9da8fbf249f2b6dce0da6b60f3b6820bfd248e/agent-inject/agent

[2022-08-31 09:27] pavolloffay commented on #1058
Actually the security context is defined in pod level but as well on container level

* pod: https://github.com/kubernetes/api/blob/master/core/v1/types.go#L3183
* container: https://github.com/kubernetes/api/blob/d10499434b5204901e2681f883e988f35b63e2ba/core/v1/types.go#L2435

The container level overrides the pod level. Could you please share your pod spec where the instrumentation was injected?

[2022-08-31 09:49] Yamakaky commented on #1058
https://gist.github.com/Yamakaky/43580abf273d2214feaa17d6a4d21057

I removed some unrelated parts like like resource limits.

[2022-08-31 10:23] pavolloffay commented on #1058
The security context is defined on the pod level https://gist.github.com/Yamakaky/43580abf273d2214feaa17d6a4d21057#file-deployment-yml-L67 therefore I would say all containers would inherit from it.

[2022-08-31 10:49] Yamakaky commented on #1058
Yes, but the init container will still try to run as root since a userid is not defined.

[2022-08-31 14:37] kamalmarhubi commented on #1009
@pavolloffay it's actually the port that the API server uses to talk to the kubelet. I _think_ because of how firewall rules interact with alias IP ranges (used in VPC-native networking), it results in the API server subnet being able to reach the pods at that port. Using it for webhooks seems to be a handy workaround for GKE private clusters without needing to add or edit firewall rules for every

[2022-09-01 17:08] yuriolisa opened #1071 "Release the operator v0.59.0"

[2022-09-01 22:02] kristinapathak commented on #898
I plan to work on this.  I'm not sure if the headless service is always needed? Regardless, I think we still need to add a label.

[2022-09-02 04:51] TBBle commented on #898
I think the headless service is there because there's (I read somewhere) an advantage to using gRPC's load-balancing over k8s' load balancing when using the the gRPC exporter to feed the collector. See #595 for discussion/proposed documentation of this, but note that it didn't actually achieve consensus.

[2022-09-02 12:45] kevinearls opened #1073 "Acquiring leader lease at operator startup can take longer than 2 minutes causing test failures"
I sometimes seem log messages like the ones below which indicates that attempting to acquire a leader lease can take 2.5 minutes or more.  (Normally this will take far less than a second.). This most likely results in CI test failures as described in #959

[code]

[2022-09-02 13:29] pavolloffay commented on #1073
Maybe we should make the lease time configurable and use appropriate value for e2e tests.

[2022-09-05 07:21] pavolloffay commented on #1071
done

[2022-09-05 07:21] #1071 closed

[2022-09-05 08:14] #959 closed

[2022-09-07 16:33] alexdresko commented on #1036
I'm not the smartest kid here, but I wonder if this is what I'm looking for. I've got the kube prometheus stack helm chart, and the otel collector chart running in my cluster. I need prometheus to scrape otel col.

Currentlly, I've configured the prometheus exporter on port 8889. I also created a service to expose this port in the cluster. And now I'm trying to create a ServiceMonitor, but it's no

[2022-09-07 18:57] ajsaclayan commented on #1065
Can I piggy back off this request to scale on memory as well? Otherwise I can create a new issue.

[2022-09-08 03:08] kristinapathak commented on #1036
Hi @alexdresko, creating a ServiceMonitor for the collector may not work until the ports are included for the container (https://github.com/open-telemetry/opentelemetry-operator/issues/1011).  I included my ServiceMonitor file as a part of the `.zip` in [this comment](https://github.com/open-telemetry/opentelemetry-operator/issues/1011#issuecomment-1220143572), but it will only work once that issu

[2022-09-08 05:09] famoushz opened #1080 "Instrumenting of django failed"
Hello
I tried to
https://github.com/SigNoz/sample-django

[2022-09-08 05:36] famoushz commented on #1080
@pavolloffay @jpkrohling @VineethReddy02 can you help ?

[2022-09-08 14:59] frzifus commented on #902
After playing around i have now ended up with this CR extension. What are your thoughts? This would eliminate a few manual steps on the receiver side. In https://github.com/open-telemetry/opentelemetry.io/pull/1684 I wrote all the manual steps down.

[code]

[2022-09-08 19:13] kelseyma opened #1083 "[target-allocator] GetAllTargetsByCollectorAndJob overwrites labels for targets that share the same address"
I noticed some inconsistent scraping behavior, even after the fixes from #1038 and updating my scrape config to remove the duplicate scrapes. Sometimes the target would be scraped multiple times in the scrape interval or not at all.

In the setup I am monitoring, the Prometheus exporter runs as a sidecar and the Prometheus discovery creates multiple targets with the same address but different Labe

[2022-09-08 19:29] jaronoff97 commented on #1083
This is a great find! The only problem i could imagine would arise is how you would set the TargetURL in the resultant JSON object if you remove it as the key. This could probably be solved by changing how the targetgroupJSON is returned

[2022-09-08 19:44] ashpr opened #1084 "InitContainer lacks allowPrivilegeEscalation setting which triggers Azure Gatekeeper OPA"
Hello,

I'm afraid to report that OpenTel instrumentation cannot be used with Azure Gatekeeper OPA because of Privilege Escalation not being explicitly set to False on the instrumentation initContainer securityContext.

![image](https://user-images.githubusercontent.com/10920368/189208685-3df8c627-444c-4e0d-ae53-0a38bdbc4262.png)

Unless I'm mistaken I cant seem to find a way to explicitly overrid

[2022-09-08 21:06] kelseyma commented on #1083
Thanks! And while I was testing locally, I used a hardcoded method of getting the target address for the targetGroupJSON by pulling the `labelSet[v][model.AddressLabel]`. But for a more formal solution, possibly we could update the group map to hold a struct that contains the TargetURL and hash? Open to other suggestions though

[2022-09-08 22:20] jaronoff97 commented on #1083
We could maybe just use the targetItem object itself... @kristinapathak and I were talking earlier about how the current patterns don't lend themselves well to returning this http data and i wonder if there's a way we can use the existing (or a new) structure more effectively

[2022-09-09 14:55] ThaiDangFr commented on #1007
same error here, and I'm sure IRSA is correctly configured as it works when EKS and AMP are in the same account
with different accounts, when I use the assume_role parameter, I end with the bad AWS credentials error

[2022-09-09 15:29] bryan-aguilar commented on #1007
@jacobwalters @ThaiDangFr can you please share the collector configurations you were using?

[2022-09-09 16:54] kelseyma commented on #1083
That's a good point! I think the `group` map could store the TargetItem itself since we already get the TargetItem in the loop.

[2022-09-12 08:43] ThaiDangFr commented on #1007
finally issue solved for me this week end, the trust policy was not set properly

[2022-09-12 16:40] pavolloffay commented on #1084
@ashpr is this related to #1058 ? PRs are welcome to fix the issue.

[2022-09-12 18:05] #1083 closed

[2022-09-12 22:33] ashpr commented on #1084
@pavolloffay Good spot! Its definitely the same area although Azures OPA is a lot stricter and demands more, including runAsNonRoot being explicitly false.

I'm happy to give it a punt and test it against our cluster. Should this issue remain open or consolidate on #1058 ?

[2022-09-13 01:30] kabhanus007 opened #1089 "Opentelemetry operator able to create and mount array of config / configmap [yaml's] instead of single configmap creation"
cc: @pavankrish123 @jpkrohling
Hi Opentelemetry Operator team,

**Background Information**
1. Opentelemetry collector now supports multiple configuration https://github.com/open-telemetry/opentelemetry-collector/pull/4742
2. Currently opentelemetry operator takes single configuration yaml as spec.config for opentelemetry collector CRD
3. We would like to leverage point (1) above, and pass in confi

[2022-09-13 07:14] umarkhan17 commented on #937
How to do this, I am trying to deploy opentelemetry operator without cert-manager(i cannot install cert-manager), please advice. how to achieve this without certmanager?

[2022-09-13 07:22] umarkhan17 commented on #937
I am getting this error, when i try to deploy collector:
Error from server (InternalError): error when creating "collector.yaml": Internal error occurred: failed calling webhook "mopentelemetrycollector.kb.io": Post "https://opentelemetry-operator-webhook-service.opentelemetry-operator-system.svc:443/mutate-opentelemetry-io-v1alpha1-opentelemetrycollector?timeout=10s": **x509: certificate signed b

[2022-09-13 09:37] Yamakaky opened #1093 "Allow image repository configuration in Collector CRD"
The Helm chart allow the separate configuration of the Collector tag and repository, which allow the use of `otel/opentelemetry-collector-contrib` but reuse the image version from the chart. It would be nice to be able to do the same thing in the CRD.

[Values schema](https://artifacthub.io/packages/helm/opentelemetry-helm/opentelemetry-operator?modal=values-schema&path=manager.collectorImage)
[De

[2022-09-13 10:53] Kielek opened #1094 ".NET Intrumentation - validate all env. vars. before start injecting env. vars."
I think this behavior and the log message are misleading.

When `false` is returned then it interrupts processing next env vars.
It could leave the container in a "semi-instrumented" state. Is it expected?

This comment applies also to the code BEFORE the changes introduced in this PR. Therefore, it would be better to make a separate PR to address it.

_Originally posted by @pellared in https://gi

[2022-09-13 23:11] kristinapathak opened #1095 "Configurable receiver types to ignore when parsing ports"
https://github.com/open-telemetry/opentelemetry-operator/blob/e48373c612e5fc9058699aa7139b893bfde58fd0/pkg/collector/parser/receiver.go#L107-L112

Currently, the receivers to skip are hard coded into the `singlePortFromConfigEndpoint()` function.  Instead, we can make this configurable with `kubeletstats` and `prometheus` as the default list of receivers to skip.

This is from @secustor's comment:

[2022-09-14 05:53] famoushz commented on #1080
@pavolloffay @jpkrohling @VineethReddy02 or anyone can you help ?

[2022-09-14 09:29] pavolloffay commented on #1080
I won't be able to help with python. Perhaps you can reach out to somebody form the python community.

[2022-09-15 07:46] svrnm commented on #1026
Apache, by @chrlic: https://github.com/open-telemetry/opentelemetry-operator/pull/1082

[2022-09-15 08:24] pavolloffay commented on #1026
thanks @svrnm, it is great. We will need the commitment to maintain the apache auto-instrumenation in the operator.

The operator supports a wide range of auto-instrumentations, and it is becoming increasingly hard to maintain all these integrations and fix user issues.

[2022-09-15 08:39] svrnm commented on #1026
I understand that, similar situation as with many other pieces of the otel projects.

I think that adding auto-instrumentation through the operator is a key feature end users are looking for, so let me see what we can do to help with the maintenance of them (not only apache)

cc: @pavankrish123 , @kelseyma

[2022-09-15 13:07] pavolloffay commented on #1093
Full collector image can be specified in the CR - https://github.com/open-telemetry/opentelemetry-operator/blob/main/apis/v1alpha1/opentelemetrycollector_types.go#L63. if no image is specified then the default one is used. The default image can be specified as flag https://github.com/open-telemetry/opentelemetry-operator/blob/main/main.go#L93

The operator image can be specified in the operator de

[2022-09-15 13:24] Yamakaky commented on #1093
I don't think that's what I'm talking about. These flags need the complete image including the version/tag, right?

[2022-09-15 13:24] pavolloffay opened #1097 "Setup codeowners/maintainers for operator components: auto-instrumentation, target allocator"
The operator offers 3 main functionality at the moment:
1. collector deployment
2. auto-instrumentation for Java, NodeJS, Python, Dotnet workloads
3. target-allocator for collecting Prometheus metrics

All these components require specialized knowledge (python instrumentation, java instrumentation, prometheus metrics collection) and a single maintainer usually does not have so wide knowledge and i

[2022-09-15 13:26] pavolloffay commented on #1093
Yes, the `spec.image` field gets full image with repo, image name and version tag e.g. `owner/repo:version`.

I don't see what it should be split. Maybe you can describe your use-case why you need to provide those values separately.

[2022-09-15 13:31] pavolloffay commented on #1097
I have as well added labels for each operator component: e.g. `auto-instrumentation:java`, `area:collector`, `area:target-allocator` etc.

[2022-09-15 13:59] Yamakaky commented on #1093
I want to use opentelemetry-collector-contrib without having to specify the version (aka use the version from the operator helm chart), which is what you get when you stick to opentelemetry-collector.

[2022-09-15 15:04] Yamakaky commented on #1093
When I do a helm install for the operator,  I use this override value file:

[code]

If you don't specify `manager.collectorImage.tag`, it will use the default value [here](https://artifacthub.io/packages/helm/opentelemetry-helm/opentelemetry-operator?modal=values). I'd like to be able to do the same thing in the CRD.

[2022-09-15 15:24] Aneurysm9 commented on #1089
Beyond specifying multiple YAML configuration blocks, it might also be nice to be able to reference configuration sources by URI to allow loading config from other than a config map created by the operator.

[2022-09-15 16:15] frpataciertocom opened #1098 "Error level dpanic invalid key "v2beta2","stacktrace"
Hi,

I have deployed OTEL without issues, then I removed the installation to perform some tests, and after when I redeployed OTEL now I get the error below.

1) I have installed like this: https://aws-otel.github.io/docs/getting-started/adot-eks-add-on/installation
2) Then applied this to try to get traces in X-Ray: https://aws-otel.github.io/docs/getting-started/adot-eks-add-on/config-xray

I got

[2022-09-15 16:24] bogdandrutu opened #1099 "Release the operator v0.60.0"

[2022-09-15 18:10] bryan-aguilar commented on #1047
Hi @pavolloffay,

This would be in a situation for when I am trying to use the default k8s view role in a cluster that also has the operator installed. I would like to create single cluster role binding as shown in an above comment. Utilizing the built in aggregation tag would allow me to continue to use the view role without any additional modifications.

[2022-09-15 21:36] kabhanus007 commented on #1089
@Aneurysm9 , maybe if you can add some example to elaborate your point in a much better way to all of them. But yes,
 that's a kind of another good suggestion to add on top of this.

[2022-09-16 07:19] yuriolisa commented on #986
@rehanpfmr, do you still willing to work on that?

[2022-09-16 07:27] yuriolisa commented on #902
@frzifus, +1 for your idea.
would we have an implementation for Routes in Openshift scenario?

[2022-09-16 07:32] sergeyshevch commented on #902
@frzifus Looks like Kubernetes already has all types for ingress. Can we just reuse it in your implementation?

[2022-09-16 07:37] rehanpfmr commented on #986
@yuriolisa No, I'm engaged on other work. Please feel free take up.

[2022-09-16 07:54] yuriolisa commented on #1089
@kabhanus007, bringing the ideas together, I would suggest a third via, like:

[code]

[2022-09-16 08:05] #1061 closed

[2022-09-16 08:09] pavolloffay commented on #1098
@kevinearls was this fixed in https://github.com/open-telemetry/opentelemetry-operator/commit/19c186df1b89a3898169a16f91bd13fab5a6931f ?

[2022-09-16 08:11] pavolloffay commented on #1098
@frpataciertocom please tell us what version of OTEL operator are you running.

[2022-09-16 08:13] #1099 closed

[2022-09-16 08:21] pavolloffay opened #1101 "Make target allocator's allocation strategy a type"
https://github.com/open-telemetry/opentelemetry-operator/blob/main/apis/v1alpha1/opentelemetrycollector_types.go#L127

Benefits of the type:
* documented in the CRD
* automatically validated

cc) @jaronoff97

[2022-09-16 08:31] kevinearls commented on #1098
@pavolloffay @frpataciertocom Yes, this has been fixed.

[2022-09-16 08:47] frpataciertocom commented on #1098
Hi @pavolloffay

Hope that you are doing fine.

I wonder if this is the OTEL version?, when I decided to install this, I have used the steps from this website https://aws-otel.github.io/docs/getting-started/xxxxxx, so I didn't have any chance to pick a version, I just did "kubectl apply -f" (of course change region and so for) on what was present in the yaml files available.

Thank you.

[code]

[2022-09-16 10:16] seankhliao opened #1103 "set resource requests/limits for target-allocator"
Our k8s clusters run with `ResourceQuota`s, but the deployments created by for the target allocator don't have any set, so they're blocked from creation (at the ReplicaSet level which isn't reported back upwards)

[2022-09-16 12:59] frzifus opened #1104 "Add upgrade routine for jaeger remote sampling from 0.60 to 0.61."
In version 0.61.0 the [jaeger remote sampling functionality is removed](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14163) from the receiver. It will be available as an extra extension.

[2022-09-16 14:23] jaronoff97 opened #1105 "Allow the specification of allocation strategy configuration in collector CRD"
The target allocator now has two methods of allocation (least-weighted, and consistent-hashing) the next strategy will be a composite strategy that will only assign targets post relabeling. All of these strategies have some amount of configuration to them, we should allow users of the TA to specify them in the CRD.

This also will allow us to have strategies as typed and not just strings in the CR

[2022-09-16 14:24] frpataciertocom commented on #1098
Hi,

I just wanted to let you know that I have deployed OTEL in a different cluster and I got right the same issue.

Please let me know if you need some more details to understand this, thank you.

[2022-09-16 14:31] pavolloffay commented on #1098
0.59.0 upward should have the fix.

Could you please upgrade and let us know/close the issue if it works?

[2022-09-16 15:23] pavolloffay commented on #1098
Note that this is an upstream community project, not AWS.

Probably @Aneurysm9 could help you.

[2022-09-16 15:36] frpataciertocom commented on #1098
@pavolloffay Honestly I have no idea where to from here, Thank you.

[2022-09-16 16:15] kabhanus007 commented on #1089
thanks for suggesting and adding some extra useful stuff to it, it seems a good addition, but a question, how type parameter will be used and are we going to have some fixed constants for that?

[2022-09-16 22:11] seankhliao opened #1106 "target allocator missing default value for scrape settings for prometheusCR"
Repo with reproducer: https://github.com/seankhliao/testrepo0032

Target Allocator: 0.1.0 and main
Operator: 0.60.0
Collector: 0.60.0

When creating jobs/scrape targets from ServiceMonitors, the target allocator doesn't produce values for:
- `__scrape_interval__`
- `__scrape_timeout__`
- `__scheme__`
- `__metrics_path__`
- maybe also `__param_*`

When the prometheusreceiver reads the HTTP SD confi

[2022-09-17 16:16] jaronoff97 commented on #1106
Thanks for reporting this! I can look in to the fix here.

[2022-09-17 19:11] angelokurtis opened #1107 "Error updating container image version"
I'm facing problems when updating the collector version through the CRD.
Apparently the label `app.kubernetes.io/version` is being updated in the Deployment `spec.template.metadata.labels`
while the Service `spec.selector` is not.
It causes application telemetry not to reach the collector's pod after the update rollout is complete.

### Steps to reproduce

1. Install the collector through the CRD

[2022-09-17 20:51] sweetxiaodai opened #1108 "instrumentation sends too much request to APM backend."
Dear all,

We've deployed the opentelemetry-operator to our k8s cluster and use java instrumentation inject. The result looks great. Just one question, the instrument sends a lot of heart beats or health check request to the backend.
It makes us cannot calculate the actual user request. Is there any way to filter those kinds of request and only keep the request created by the user?

Thanks
Chen